Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

BTO-170 - Split Cortex Read & Write paths into different values (#1161)
  charts/opennms/Chart.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/values.yaml
Due: none

Release v0.0.39 dev (#1163)
  CHANGELOG/changelog-v0.0.39-dev.md
Due: none

adding IF condition to prevent conflict in secret creation when using secrets operator
  charts/opennms/Chart.yaml
  charts/opennms/templates/keycloak/keycloak-initial-cred-secret.yaml
Due: none

adding if condition to control secret creation for inventory
  charts/opennms/templates/opennms/inventory/inventory-encryptionkey-secret.yaml
Due: none

fix to values path
  charts/opennms/templates/opennms/inventory/inventory-encryptionkey-secret.yaml
Due: none

HS-1519 Fix end to end tests, remove 'Default' location fallback from inventory code.
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/LocationData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/FindAllLocationsData.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
  install-local/install-local-opennms-horizon-stream-custom-images-values.yaml
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/InventoryProcessingStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-processing.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
  shared-lib/horizon-grpc-common-constants/src/main/java/org/opennms/horizon/shared/constants/GrpcConstants.java
Due: run-job-external-it

BE - Location Manager: Remove location creation when nodes/minion are added to the inventory
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/CommonStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/active-discovery-tagging.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/azure-discovery.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/icmp-active-discovery.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-metrics.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-processing.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node-tagging.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/NodeMonitoringManager.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/exception/LocationNotFoundException.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/MonitoringSystemService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumerTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/NodeMonitoringManagerTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/MonitoringSystemServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseServiceIntTest.java
Due: none

Update status message, add missing unit test
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/CommonStepDefinitions.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcServiceTest.java
Due: none

HS-1662: Fix lazy initialization exception (#1165)
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumer.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/MonitoringSystemService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumerTest.java
Due: none

HS-1552: Prototype impl of optimized off-heap sink queue.
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowSinkModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/TelemetryRegistryImpl.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/LinkedHydra.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/NaïveHydra.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/OffHeapSendQueueFactory.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/Prefix.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/RocksDbStore.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/HydraTest.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/LinkedHydraTest.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/NaïveHydraTest.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/sink/api/MessageDispatcherFactory.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/sink/api/SendQueueFactory.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/sink/common/AbstractMessageDispatcherFactory.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/sink/common/AsyncDispatcherImpl.java
Due: none

HS-1590: Extract store impl from message queue
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/OffHeapSendQueueFactory.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/Prefix.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/RocksDbStore.java
  minion/minion-grpc/grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/OffHeapSendQueueFactoryTest.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/sink/api/SendQueueFactory.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/sink/common/AsyncDispatcherImpl.java
Due: none

HS-1552: Fix tests
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/OffHeapSendQueueFactory.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/Prefix.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/RocksDbStore.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/OffHeapSendQueueFactoryTest.java
Due: none

HS-1552: Review
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/LinkedHydra.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/Prefix.java
Due: none

HS-1552: Review
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/NaiveHydra.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/RocksDbStore.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/queue/SwappingSendQueueFactory.java
  minion/minion-grpc/grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/NaiveHydraTest.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/SwappingSendQueueFactoryTest.java
  minion/minion-traps/listener/src/main/java/org/opennms/horizon/minion/traps/listener/TrapListener.java
Due: none

add locations page side instructions (#1170)
  ui/components.d.ts
  ui/src/components/Inventory/InventoryIconActionList.vue
  ui/src/components/Locations/LocationsInstructions.vue
  ui/src/components/Locations/LocationsList.vue
  ui/src/components/Locations/LocationsMinionsList.vue
  ui/src/components/Locations/locations.text.ts
  ui/src/containers/Locations.vue
  ui/tests/Locations/locationsAddForm.test.ts
  ui/tests/Locations/locationsEditForm.test.ts
Due: run-job-no-ops

HS-1648: FE - pass long/lat and address to BFF (#1169)
  rest-server/src/main/java/org/opennms/horizon/server/model/inventory/MonitoringLocation.java
  ui/src/components/Common/AddressAutocomplete.vue
  ui/src/components/Discovery/DiscoveryLocationsAutocomplete.vue
  ui/src/components/Locations/LocationsAddForm.vue
  ui/src/components/Locations/LocationsEditForm.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/graphql/Location/locationMutations.gql
  ui/src/graphql/Location/locationQueries.gql
  ui/src/store/Mutations/locationMutations.ts
  ui/src/store/Views/locationStore.ts
  ui/src/store/Views/mapStore.ts
  ui/src/types/graphql.ts
  ui/src/types/locations.d.ts
  ui/tests/fixture/locations.ts
  ui/tests/fixture/minions.ts
Due: run-job-no-ops

HS-1637 End to end test of locations and minion certificates.
  .github/workflows/develop.yml
  charts/opennms/templates/opennms/minion-certificate-manager/minion-certificate-manager-deployment.yaml
  external-it/external-horizon-stream-it/pom.xml
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/FindAllLocationsQueryResult.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/helper/TestsExecutionHelper.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
  install-local/install-local-opennms-horizon-stream-custom-images-values.yaml
  install-local/install-local.sh
Due: run-job-external-it

HS-1665: Update vue and ancillary pckgs (#1168)
  ui/package.json
  ui/tests/Common/headlineSection.test.ts
  ui/tests/mountWithPiniaVillus.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-1669: force plaintext connection for flows (#1172)
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/values.yaml
  metrics-processor/main/src/main/java/org/opennms/horizon/flows/FlowsApplicationConfig.java
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
Due: run-job-no-ops

HS-989: Fix twin update failure when one of the subscriber dies (#1157)
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/GrpcTwinPublisher.java
Due: none

HS-1672: Fix locations edit and delete context menu items (#1177)
  ui/src/components/Locations/LocationsAddForm.vue
  ui/src/components/Locations/LocationsCard.vue
  ui/src/components/Locations/LocationsEditForm.vue
  ui/src/components/Locations/LocationsMinionsCard.vue
  ui/src/store/Views/locationStore.ts
  ui/src/types/locations.d.ts
Due: run-job-no-ops

inventory: add basic span attributes and status handling for minion heartbeat
  inventory/main/pom.xml
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumer.java
Due: none

Add span attributes and set status code in certificate verifier
  minion-certificate-verifier/main/pom.xml
  minion-certificate-verifier/main/src/main/java/org/opennms/horizon/minioncertverifier/controller/CertificateController.java
Due: none

minion-gateway: add location as a span attribute when we have it
  minion-gateway/ipc-grpc-server/src/main/java/org/opennms/horizon/shared/grpc/common/LocationServerInterceptor.java
Due: none

datachoices: @WithSpan example: add tenant_ids_count attribute to span
  datachoices/pom.xml
  datachoices/src/main/java/org/opennms/horizon/datachoices/service/DataChoicesService.java
  parent-pom/pom.xml
Due: none

minion-gateway: improve root span details for dispatch traces
  minion-gateway/ipc-grpc-server/pom.xml
  minion-gateway/ipc-grpc-server/src/main/java/org/opennms/horizon/shared/ipc/grpc/server/OpennmsGrpcServer.java
  parent-pom/pom.xml
Due: none

minion-gateway: heartbeat kafka forwarder: add message to span
  minion-gateway/main/pom.xml
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/heartbeat/HeartbeatKafkaForwarder.java
Due: none

Add jaeger and enable tracing by default in Tilt
  Tiltfile
  tilt-helm-values.yaml
  tilt-jaeger-values.yaml
Due: none

tilt: label all of the resources, put most important in 0_useful
  Tiltfile
Due: none

inventory: quiet: don't spit out stacktrace for LocationNotFoundException
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumer.java
Due: none

Don't regenerate certificates/secrets if they already exist unless -f is passed
  install-local/generate-and-sign-certificate.sh
  install-local/load-or-generate-secret.sh
Due: none

HS-1681: Update readme file in Lokahi repo
  README.md
Due: run-job-no-ops

Release v0.0.40 dev (#1179)
  CHANGELOG/changelog-v0.0.40-dev.md
Due: none

HS-1681: Update readme file in Lokahi repo
  README.md
  images/LokahiExploration.png
  images/Lokahi_small-scale.png
Due: run-job-no-ops

Change Sonarcloud project name to Lokahi
  operator/sonar-project.properties
  ui/sonar-project.properties
Due: run-job-no-ops

Add double colons to match convention used in other projects
  operator/sonar-project.properties
  ui/sonar-project.properties
Due: run-job-no-ops

Change Sonarcloud project keys to start with 'opennms_lokahi_'
  alert/pom.xml
  datachoices/pom.xml
  events/pom.xml
  inventory/pom.xml
  metrics-processor/pom.xml
  minion-gateway/pom.xml
  minion/pom.xml
  notifications/pom.xml
  operator/sonar-project.properties
  rest-server/pom.xml
  shared-lib/pom.xml
  ui/sonar-project.properties
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
