Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

merge develop branch
  inventory/src/main/java/org/opennms/horizon/inventory/model/IpInterface.java
Due: none

Jira/hs 872 fix release cicd wrkflw since merg pipeline refactor (#649)
  .github/workflows/develop.yml
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-parent-pom.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-shared-lib.yml
  .github/workflows/feature-ui.yml
  .github/workflows/release.yml
Due: none

Use test containers instead of docker-maven-plugin for Minion docker-it.
  minion-gateway/docker-it/pom.xml
  minion/docker-it/pom.xml
  minion/docker-it/src/test/java/org/opennms/horizon/dockerit/CucumberRunnerIT.java
  minion/docker-it/src/test/java/org/opennms/horizon/dockerit/testcontainers/TestContainerRunnerClassRule.java
  minion/docker-it/src/test/resources/karaf/etc/org.opennms.core.ipc.grpc.client.cfg
  parent-pom/pom.xml
Due: none

HS-821 - fix condition add, remove, edit
  ui/src/components/Common/BasicDropdown.vue
  ui/src/components/MonitoringPolicies/AddNewRule.vue
  ui/src/components/MonitoringPolicies/AlertConditions.vue
  ui/src/components/MonitoringPolicies/Condition.vue
  ui/src/components/MonitoringPolicies/DetectionMethod.vue
  ui/src/components/MonitoringPolicies/ThresholdAlert.vue
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/src/types/policies.d.ts
Due: run-job-no-ops

Rename changeSet
  inventory/src/main/resources/db/changelog/hs-0.1.0/tables/configuration.xml
Due: none

Remove duplicate changelog
  inventory/src/main/resources/db/changelog/changelog.xml
Due: none

Add generic configuration table and inventory
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/ConfigurationGrpcService.java
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/GrpcConfig.java
  inventory/src/main/java/org/opennms/horizon/inventory/mapper/ConfigurationMapper.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/Configuration.java
  inventory/src/main/java/org/opennms/horizon/inventory/repository/ConfigurationRepository.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/ConfigurationService.java
  inventory/src/main/resources/db/changelog/changelog.xml
  inventory/src/main/resources/db/changelog/hs-0.1.0/tables/configuration.xml
  inventory/src/test/java/org/opennms/horizon/inventory/InventoryCucumberTestSteps.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/ConfigurationGrpcItTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/ConfigurationGrpcTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/repository/ConfigurationRepoTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/service/ConfigurationServiceTest.java
  shared-lib/inventory/src/main/proto/configuration.proto
Due: none

Update to hibernate 6.x
  inventory/src/main/java/org/opennms/horizon/inventory/model/Configuration.java
Due: none

HS-874: Fix multi chart download (#654)
  ui/components.d.ts
  ui/src/components/Graphs/utils.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Discovery/discoveryStepper.test.ts
  ui/tests/Map/mapAlarmsGrid.test.ts
  ui/tests/setupWrapper.ts
Due: run-job-no-ops

HS-812: Initial Discovery Validation (#659)
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/package.json
  ui/src/components/Common/MetricChip.vue
  ui/src/components/Common/Stepper/CustomFeatherStepper.vue
  ui/src/components/Discovery/AzureForm.vue
  ui/src/components/Discovery/DiscoveryStep2.vue
  ui/src/components/Discovery/DiscoveryStepper.vue
  ui/src/components/Discovery/useDiscoveryValidation.ts
  ui/src/containers/Discovery.vue
  ui/src/services/authService.ts
  ui/yarn.lock
Due: run-job-no-ops

review comments and set the managed ip interface as snmp primary
  inventory/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/src/main/resources/db/changelog/changelog.xml
  inventory/src/main/resources/db/changelog/hs-0.1.0/tables/ip-interface-snmp-primary.xml
  inventory/src/main/resources/db/changelog/hs-0.1.0/tables/ip-interface.xml
Due: none

Adjust cache blob store configuration so it does work with PostgreSQL.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/AbstractTwinPublisher.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/TwinTracker.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/ignite/IgniteConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/ignite/PostgresBlobCacheStore.java
Due: none

Update deployment.
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/postgres/postgres-cred-secret.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-secret.yaml
  charts/opennms/values.yaml
Due: none

Fix typos.
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-secret.yaml
Due: none

Force synchronisation of cache and database access.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/ignite/IgniteConfig.java
Due: none

Ignite persistence configuration.
  minion-gateway/main/pom.xml
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/GrpcTwinPublisherConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/AbstractTwinPublisher.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/GrpcTwinPublisher.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/TwinTracker.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/ignite/IgniteConfig.java
  minion-gateway/main/src/main/resources/application.yaml
Due: none

HS-848 Split into comp
  ui/src/components/Common/InputButtonPopover.vue
  ui/src/components/Inventory/InventoryTagManager.vue
  ui/src/store/Mutations/taggingMutations.ts
Due: run-job-no-ops

HS-848 Minor style change
  ui/src/components/Common/InputButtonPopover.vue
  ui/src/components/Inventory/InventoryTagManager.vue
Due: run-job-no-ops

HS-869: Add cucumber tests for notifications
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/config/NotificationServerInterceptor.java
  notifications/src/test/java/org/opennms/horizon/notifications/CucumberRunnerIT.java
  notifications/src/test/java/org/opennms/horizon/notifications/GrpcTestBase.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/config/security/test/TestSecurityConfig.java
  notifications/src/test/java/org/opennms/horizon/notifications/grpc/config/NotificationGrpcIT.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/resources/org/opennms/horizon/notifications/notification-grpc-processing.feature
  notifications/src/test/resources/org/opennms/horizon/notifications/notification-processing.feature
Due: none

HS-849 Split node overlay
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/components/Inventory/InventoryNodeTaggingEditOverlay.vue
  ui/src/components/Inventory/InventoryTagManager.vue
Due: run-job-no-ops

HS-878: Return more descriptive error messages on azure credential create (#662)
  inventory/src/main/java/org/opennms/horizon/inventory/service/AzureCredentialService.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/AzureCredentialGrpcItTest.java
  shared-lib/azure/azure-http/src/main/java/org/opennms/horizon/shared/azure/http/AzureHttpClient.java
  shared-lib/azure/azure-http/src/main/java/org/opennms/horizon/shared/azure/http/AzureHttpException.java
  shared-lib/azure/azure-http/src/main/java/org/opennms/horizon/shared/azure/http/dto/error/AzureErrorDescription.java
  shared-lib/azure/azure-http/src/main/java/org/opennms/horizon/shared/azure/http/dto/error/AzureHttpError.java
  shared-lib/azure/azure-http/src/test/java/org/opennms/horizon/shared/azure/http/AzureHttpClientTest.java
Due: none

HS-876 - Process to pull base img put in github prvt registry (#661)
  .github/actions/jib-maven-sonar/action.yml
  .github/base-image-tag-ref.json
  .github/workflows/base-image-update.yml
  .github/workflows/develop.yml
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-notifications.yml
Due: none

HS-821 - fix build errors
  ui/src/components/Common/BasicSelect.vue
  ui/src/components/MonitoringPolicies/Condition.vue
  ui/src/types/policies.d.ts
Due: run-job-no-ops

RELEASE v0.0.25-dev - updated
  CHANGELOG/changelog-v0.0.25.md
Due: none

RELEASE v0.0.25-dev - update
  .github/workflows/release.yml
Due: none

HS-821 - replace unused component
  ui/src/components/MonitoringPolicies/AddNewRule.vue
Due: run-job-no-ops

fixed review comments issue and osgi issue
  minion/plugins/nodescan-plugin/pom.xml
  minion/plugins/nodescan-plugin/src/main/feature/feature.xml
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScanner.java
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScannerManager.java
  minion/plugins/nodescan-plugin/src/main/resources/OSGI-INF/blueprint/nodescanner-plugin.xml
Due: none

DC-512: Support UDP protocol in minion (#668)
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/values.yaml
  install-local/install-local-external-minion-test/docker-compose.yml
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/rpcrequest/flows/FlowKafkaForwarder.java
  minion/assembly/runInPlace.sh
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/TcpListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/UdpListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/TcpListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/TelemetryRegistry.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/UdpListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ConfigManager.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowSinkModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow5UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow9UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/TelemetryRegistryImpl.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ConfigManagerTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
  minion/minion-flows/flows-parser/src/test/resources/flows-config.json
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/flow/telemetry.proto
Due: none

HS-849 Fix checkbox reactivity
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/components/Inventory/InventoryNodeTaggingEditOverlay.vue
  ui/src/store/Mutations/nodeMutations.ts
Due: run-job-no-ops

HS-870: Use JPA instead of jdbcTemplate for notifications
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/mapper/PagerDutyConfigMapper.java
  notifications/src/main/java/org/opennms/horizon/notifications/model/PagerDutyConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/repository/PagerDutyConfigRepository.java
  notifications/src/main/resources/application.yml
  notifications/src/main/resources/db/changelog/changelog.xml
  notifications/src/main/resources/db/changelog/hs-0.1.0/tables/pagerDutyConfigUpdate.xml
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  parent-pom/pom.xml
Due: none

HS-892: Fix logging on BFF (rest-server) (#672)
  datachoices/pom.xml
  datachoices/src/main/java/org/opennms/horizon/datachoices/model/DataChoices.java
  events/conf/pom.xml
  events/conf/src/main/java/org/opennms/horizon/events/xml/AlarmData.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Autoacknowledge.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Autoaction.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Correlation.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Event.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/EventReceipt.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Events.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Forward.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Log.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Logmsg.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Mask.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Maskelement.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Operaction.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Parm.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Parms.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Script.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Snmp.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Tticket.java
  events/conf/src/main/java/org/opennms/horizon/events/xml/Value.java
  events/persistence/pom.xml
  events/persistence/src/main/java/org/opennms/horizon/events/persistence/model/Event.java
  inventory/pom.xml
  inventory/src/main/java/org/opennms/horizon/inventory/model/AzureCredential.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/IpInterface.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/MonitoredService.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/MonitoredServiceType.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/MonitoringLocation.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/MonitoringSystem.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/Node.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/SnmpInterface.java
  parent-pom/pom.xml
  rest-server/pom.xml
Due: run-job-no-ops

HS-886: Attach tenantId header to TrapsKafkaForwarder (#665)
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/heartbeat/HeartbeatKafkaForwarder.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/tasktresults/TaskResultsKafkaForwarder.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/traps/TrapsKafkaForwarder.java
Due: none

EXTERNAL-IT - add devices and watch for metrics; enhance diagnostics on CICD failure to include better logging.
  .github/workflows/develop.yml
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/MetricsTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/CreateNodeData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/ErrorData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/ErrorLocationData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/GQLQuery.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/CreateNodeResponseData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/CreateNodeResponseWrapper.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/CreateNodeResult.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

Ignite - configure the Kubernetes namespace so ignite can perofrm discovery when the namespace is not "default"
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  minion/assembly/src/main/resources/etc/org.opennms.horizon.minion.ignite.worker.cfg
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/ignite/WorkerIgniteConfiguration.java
  minion/minion-taskset/taskset-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
Due: none

HS-824: Save policies/rules to pinia store (#670)
  ui/auto-feather-resolver.ts
  ui/components.d.ts
  ui/src/components/Map/GridTabs.vue
  ui/src/components/MonitoringPolicies/DetectionMethod.vue
  ui/src/components/MonitoringPolicies/ExistingItems.vue
  ui/src/components/MonitoringPolicies/SaveButtons.vue
  ui/src/containers/MonitoringPolicies.vue
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/src/types/policies.d.ts
Due: run-job-no-ops

HS-850 Add search functionality, fix icon size
  Tiltfile
  ui/src/components/Common/Icon.vue
  ui/src/components/Inventory/InventoryDetectedNodesTabContent.vue
  ui/src/components/Inventory/InventoryFilter.vue
  ui/src/components/Inventory/InventoryIconActionList.vue
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/components/Inventory/InventoryNodeTaggingEditOverlay.vue
  ui/src/components/Inventory/InventoryTagManager.vue
Due: run-job-no-ops

HS-886: Fix bug where events are not associating with nodeId (#674)
  events/consumer/src/main/java/org/opennms/horizon/events/consumer/EventsConsumer.java
Due: none

HS-903: Use correct port number for notifications grpc
  Tiltfile
  rest-server/src/main/resources/application.yml
  rest-server/src/test/resources/application.yml
Due: run-job-no-ops

HS-836: Use new Monitor Type AZURE in Monitor and Collector (#647)
  inventory/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  metrics-processor/main-metrics/src/test/java/org/opennms/horizon/tsdata/TSDataProcessorTest.java
  metrics-processor/timeseries/pom.xml
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/tsdata/TSDataProcessor.java
  minion/plugins/azure-plugin/src/main/java/org/opennms/horizon/minion/azure/AzureCollector.java
  minion/plugins/azure-plugin/src/main/java/org/opennms/horizon/minion/azure/AzureMonitor.java
  minion/plugins/azure-plugin/src/main/java/org/opennms/horizon/minion/azure/AzureScanner.java
  shared-lib/azure/proto/src/main/proto/azure-api.proto
  shared-lib/protobuf/src/main/proto/taskSet.proto
Due: none

Rename methods without tenantId
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/ConfigurationGrpcService.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/Configuration.java
  inventory/src/main/java/org/opennms/horizon/inventory/repository/ConfigurationRepository.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/ConfigurationService.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/ConfigurationGrpcItTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/ConfigurationGrpcTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/repository/ConfigurationRepoTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/service/ConfigurationServiceTest.java
  shared-lib/inventory/src/main/proto/configuration.proto
Due: none
