Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

HS-145: added concurrency to local build to help with performance
  .github/actions/external-it/action.yml
  README.md
  charts/opennms-operator/values.yaml
  local-sample/README.md
  local-sample/config-run
  local-sample/hs-core.sh
  local-sample/hs-grafana.sh
  local-sample/hs-keycloak-ui.sh
  local-sample/hs-rest-server.sh
  local-sample/hs-ui.sh
  local-sample/run.old.sh
  local-sample/run.sh
  tmp.core.sh
  tmp.grafana.sh
  tmp.keycloak-ui.sh
  tmp.rest-server.sh
  tmp.ui.sh
Due: run-job-no-ops

HS-145: concurrent local-sample/ running, testing in pipeline.
  local-sample/README.md
  local-sample/run.sh
Due: none

HS-241: Update location to be Default
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
  platform/docker-it/src/test/resources/minion/minion-config.yaml
Due: run-job-no-ops, run-job-external-it

HS-145: testing updated local-sample/run.sh env
  local-sample/run.sh
Due: none

RELEASE v0.0.13-dev - added grafana to release workflow
  .github/workflows/release.yml
  CHANGELOG/changelog-v0.0.13-dev.md
Due: none

addressed review comments and enable saveOrUpdate on DAO
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/util/AbstractDaoHibernate.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/AbstractService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  shared-lib/dto-model/pom.xml
Due: run-job-no-ops

HS-250 Change bg color coded
  ui/mock-graphql/src/data/minions.ts
  ui/mock-graphql/src/graphql/Queries/minionsQuery.graphql
  ui/mock-graphql/src/typeDefs.ts
  ui/mock-graphql/yarn.lock
  ui/src/App.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/helpers/formatting.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-250 Change bg color coded
  ui/mock-graphql/src/data/minions.ts
Due: run-job-no-ops

HS-250 Change bg color coded
  ui/src/types/graphql-mocks.ts
Due: run-job-no-ops

HS-182: custom image support
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/values.yaml
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/internal/model/values/keycloak_values.go
Due: none

addressed review comments and enable saveOrUpdate on DAO
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/MonitoringLocationDao.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/AbstractService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
Due: run-job-no-ops

fixed the unit test in provision/persistence
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/ForeignSourceRepositoryImplTest.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/RequisitionRepositoryImplTest.java
Due: run-job-no-ops

HS-250 Mod minion test
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

HS-182: bug fixes
  charts/opennms-operator/templates/operator-clusterrole.yaml
  charts/opennms/templates/keycloak/keycloak-operator-sub.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/templates/opennms/opennms-api-deployment.yaml
  charts/opennms/templates/opennms/opennms-core-deployment.yaml
  charts/opennms/values.yaml
  operator/Makefile
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha1/groupversion_info.go
  operator/dependencies/dependency_list.go
  operator/dependencies/load_dependencies.go
  operator/go.mod
  operator/go.sum
  operator/internal/handlers/keycloak.go
  operator/internal/model/values/keycloak_values.go
  operator/local-instance.yaml
Due: none

update code for default location to keep consistency
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/MonitoringLocationDao.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
Due: run-job-no-ops

HS-252: updated build
  local-sample/README.md
  local-sample/run.sh
  local-sample/to-be-added-to-operator.yaml
Due: none

fix mino issue based on PR review
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/AbstractService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
Due: run-job-no-ops

HS-252: updated local-sample/ run.sh and README.md
  local-sample/README.md
  local-sample/run.sh
Due: none

Jira/hs 190 195 graphql for devices (#171)
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/util/AbstractDaoHibernate.java
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/ForeignSourceRepositoryImplTest.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/RequisitionRepositoryImplTest.java
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  rest-server/src/main/resources/application.yml
  shared-lib/dto-model/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceCollectionDTO.java
Due: run-job-no-ops

added snmp community string to device
  platform/db/model/src/main/java/org/opennms/horizon/db/model/OnmsNode.java
  platform/db/schema-liquibase/src/main/liquibase/changelog.xml
  platform/db/schema-liquibase/src/main/liquibase/hs-0.1.0/changelog.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestServiceImpl.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceDTO.java
Due: run-job-no-ops

connect device endpoints
  ui/mock-graphql/src/schema.ts
  ui/mock-graphql/src/typeDefs.ts
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/graphql/Alarms/alarmsQuery.graphql
  ui/src/graphql/Devices/addDeviceMutation.graphql
  ui/src/graphql/Devices/deviceQuery.graphql
  ui/src/graphql/Minions/minionsQuery.graphql
  ui/src/store/Mutations/deviceMutations.ts
  ui/src/store/Queries/alarmsQueries.ts
  ui/src/store/Queries/deviceQueries.ts
  ui/src/store/Queries/minionsQueries.ts
  ui/src/types/graphql.ts
  ui/tests/Appliances/addDeviceCtrl.test.ts
Due: run-job-no-ops

further design changes
  ui/components.d.ts
  ui/src/App.vue
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Appliances/NotificationsCtrl.vue
  ui/src/components/Common/TableCard.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-254 Add device coded bg color
  ui/tests/Appliances/deviceTable.test.ts
  ui/tests/store/deviceQueries.ts
Due: run-job-no-ops

HS-254 Add minions coded bg color
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/helpers/formatting.ts
  ui/tests/Appliances/deviceTable.test.ts
  ui/tests/Appliances/minionsTable.test.ts
  ui/tests/store/minionsQueries.ts
Due: run-job-no-ops

HS-254 Renaming
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/helpers/formatting.ts
  ui/tests/Appliances/deviceTable.test.ts
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

HS-254 Mod tests
  ui/tests/Appliances/deviceTable.test.ts
Due: run-job-no-ops

HS-255 Switch cancel/save btn position
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/NotificationsCtrl.vue
Due: run-job-no-ops

HS-255 Change mock data
  ui/mock-graphql/src/data/device.ts
  ui/mock-graphql/src/helpers/random.ts
Due: run-job-no-ops

HS-255 Align txt center
  ui/src/components/Appliances/DeviceTable.vue
Due: run-job-no-ops

Prometheus and Prometheus push gateway in dev environment
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

add show / hide for minions table
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/containers/Appliances.vue
  ui/src/store/Views/appliancesStore.ts
  ui/tests/Appliances/appliances.test.ts
Due: run-job-no-ops

icon, media query
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

test coverage for appliances store
  ui/.gitignore
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/tests/Appliances/addDeviceCtrl.test.ts
  ui/tests/Appliances/appliances.test.ts
Due: run-job-no-ops

Make Skaffold manage the OpenNMS CRD
  .gitignore
  charts/opennms-operator/crds/opennms.yaml
  charts/opennms/templates/opennms/opennms-core-deployment.yaml
  operator/api/v1alpha1/opennms_types.go
  operator/internal/util/crd/crd_to_values.go
  operator/local-instance.yaml
  skaffold.yaml
  ui/dev/Dockerfile
Due: run-job-no-ops

Add Grafana into Dev environment
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

HS-192: Add metrics api & integreate it with minion RPC/heartbeat
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/monitor/pom.xml
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/monitor/SimpleMinionRpcMonitor.java
  platform/ipc/heartbeat/pom.xml
  platform/ipc/heartbeat/src/main/java/org/opennms/ipc/heartbeat/HeartbeatConsumer.java
  platform/ipc/heartbeat/src/main/java/org/opennms/ipc/heartbeat/HeartbeatModule.java
  platform/ipc/heartbeat/src/main/java/org/opennms/ipc/heartbeat/MinionIdentityDTO.java
  platform/ipc/heartbeat/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/heartbeat/src/test/java/org/opennms/ipc/heartbeat/HeartbeatConsumerTest.java
  platform/ipc/pom.xml
  platform/metrics/api/pom.xml
  platform/metrics/api/src/main/java/org/opennms/horizon/metrics/api/OnmsMetricsAdapter.java
  platform/metrics/impl/pom.xml
  platform/metrics/impl/src/main/java/org/opennms/horizon/metrics/impl/OnmsMetricsAdapterImpl.java
  platform/metrics/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/metrics/pom.xml
  platform/minion/heartbeat/pom.xml
  platform/minion/heartbeat/src/main/java/org/opennms/minion/heartbeat/HeartbeatConsumer.java
  platform/minion/heartbeat/src/main/java/org/opennms/minion/heartbeat/HeartbeatModule.java
  platform/minion/heartbeat/src/main/java/org/opennms/minion/heartbeat/MinionIdentityDTO.java
  platform/minion/heartbeat/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/minion/heartbeat/src/test/java/org/opennms/minion/heartbeat/HeartbeatConsumerTest.java
  platform/pom.xml
Due: run-job-no-ops

update all yarn pckgs, minor css fixes
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/src/assets/Logo.vue
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/yarn.lock
Due: run-job-no-ops

HS-202: Notification service with skaffold
  dev/kubernetes.kafka.yaml
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/NotificationsApplication.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationsRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/INotificationsService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationsService.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationsApplicationTests.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationsServiceTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationsRestControllerTest.java
  skaffold.yaml
Due: run-job-dev

HS-192: Add metrics api feature/ make reference optional
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/minion/heartbeat/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

HS-202: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationsServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationsServiceImplTest.java
Due: none
