Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

HS-202: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/INotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationsServiceImplTest.java
Due: none

update mocks to match, fix table scroll
  ui/.env.development
  ui/mock-graphql/src/data/device.ts
  ui/mock-graphql/src/graphql/Mutations/saveDevice.graphql
  ui/mock-graphql/src/graphql/Queries/deviceQuery.graphql
  ui/mock-graphql/src/typeDefs.ts
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/graphql/Devices/deviceQuery.graphql
  ui/src/types/graphql-mocks.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-193: added prometheus and prometheus pushgateway DevOps
  charts/opennms/templates/prometheus/prometheus-configmap.yaml
  charts/opennms/templates/prometheus/prometheus-deployment.yaml
  charts/opennms/templates/prometheus/prometheus-service.yaml
  charts/opennms/templates/prometheus/pushgateway-deployment.yaml
  charts/opennms/templates/prometheus/pushgateway-service.yaml
  charts/opennms/values.yaml
  operator/internal/handlers/prometheus.go
  operator/internal/model/values/prometheus_values.go
  operator/internal/model/values/values.go
  operator/internal/reconciler/init.go
Due: none

HS-261 Add lat/long to modal
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/graphql/Devices/deviceQuery.graphql
  ui/src/types/graphql.ts
Due: run-job-no-ops

force port 3000
  ui/package.json
Due: run-job-no-ops

changed the interface name to keep consistency
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
Due: none

update feather
  ui/package.json
  ui/yarn.lock
Due: run-job-no-ops

add missing types
  ui/components.d.ts
  ui/src/types/index.ts
  ui/src/types/topology.d.ts
  ui/tsconfig.json
Due: run-job-no-ops

HS-192: Add test for metrics, rearrange features, address review comments
  platform/assemblies/features/src/main/feature/features.xml
  platform/metrics/impl/src/main/java/org/opennms/horizon/metrics/impl/PrometheusPushGatewayAdapter.java
  platform/metrics/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/minion/heartbeat/src/test/java/org/opennms/minion/heartbeat/HeartbeatConsumerTest.java
  platform/minion/rest/pom.xml
Due: run-job-no-ops

HS-193 fixed the error.
  charts/opennms/templates/prometheus/prometheus-configmap.yaml
  charts/opennms/templates/prometheus/prometheus-service.yaml
  charts/opennms/templates/prometheus/pushgateway-deployment.yaml
  charts/opennms/templates/prometheus/pushgateway-service.yaml
  charts/opennms/values.yaml
  operator/internal/handlers/prometheus.go
  operator/internal/model/values/prometheus_values.go
  operator/internal/model/values/values.go
  operator/internal/reconciler/init.go
  operator/values.yaml
Due: none

HS-192: Update config for prom
  dev/kubernetes.kafka.yaml
Due: run-job-dev

HS-261 Add required fields
  ui/src/components/Appliances/AddDeviceCtrl.vue
Due: run-job-no-ops

HS-261 Mod test
  ui/tests/Appliances/addDeviceCtrl.test.ts
Due: run-job-no-ops

HS-191: Schedule Monitors and store time series data
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/monitor/pom.xml
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/IpInterfaceDao.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/IpInterfaceDaoHibernate.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestServiceImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/monitor/SimpleMinionRpcMonitor.java
  platform/metrics/api/src/main/java/org/opennms/horizon/metrics/api/OnmsMetricsAdapter.java
  platform/metrics/impl/pom.xml
  platform/metrics/impl/src/main/java/org/opennms/horizon/metrics/impl/PrometheusPushGatewayAdapter.java
  platform/minion/heartbeat/src/main/java/org/opennms/minion/heartbeat/HeartbeatConsumer.java
  platform/minion/heartbeat/src/test/java/org/opennms/minion/heartbeat/HeartbeatConsumerTest.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/MinionDTO.java
Due: run-job-no-ops

HS-144: update Keycloak image
  keycloak-ui/Dockerfile
Due: none

stub teleport, fix warnings for container tests
  ui/tests/Appliances/addDeviceCtrl.test.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
Due: run-job-no-ops

HS-191: Handle review comments
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/IpInterfaceDao.java
Due: run-job-no-ops

HS-268 Added GraphQL to retrieve latest TS data from Prometheus server
  dev/kubernetes.kafka.yaml
  rest-server/src/main/java/org/opennms/horizon/server/model/TimeSerialsData.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PrometheusTSDBServiceImpl.java
  rest-server/src/main/java/org/opennms/horizon/server/service/TSDBService.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/resources/application.yml
Due: run-job-no-ops, run-job-dev

convert topo vuex store to pinia
  ui/package.json
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Topology/ContextMenu.vue
  ui/src/components/Topology/CtrlHighlightFocusedNodes.vue
  ui/src/components/Topology/CtrlLayers.vue
  ui/src/components/Topology/CtrlSemanticZoomLevel.vue
  ui/src/components/Topology/DrawerBtn.vue
  ui/src/components/Topology/NetworkGraph.vue
  ui/src/components/Topology/NoFocusMsg.vue
  ui/src/components/Topology/SideControls.vue
  ui/src/components/Topology/TopologyLeftDrawer.vue
  ui/src/components/Topology/TopologyModal.vue
  ui/src/components/Topology/TopologyRightDrawer.vue
  ui/src/components/Topology/TopologySearch.vue
  ui/src/components/Topology/ViewSelect.vue
  ui/src/components/Topology/topology.composables.ts
  ui/src/components/Topology/topology.constants.ts
  ui/src/containers/Map.vue
  ui/src/containers/Topology.vue
  ui/src/store/Views/topologyStore.ts
  ui/src/store/index.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/getters.ts
  ui/src/store/topology/index.ts
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
  ui/yarn.lock
Due: run-job-no-ops

Remove kubebuilder from the Operator's make all
  operator/Makefile
Due: none

HS-268 fixed the issue based on review comments
  rest-server/src/main/java/org/opennms/horizon/server/model/TimeSeriesData.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PrometheusTSDBServiceImpl.java
  rest-server/src/main/java/org/opennms/horizon/server/service/TSDBService.java
Due: run-job-no-ops

Update skaffold to add operator builds and deploy with Helm charts
  local-sample/config-kind.yaml
  local-sample/hs-core.sh
  local-sample/hs-rest-server.sh
  local-sample/run.sh
  operator/Dockerfile
  operator/Makefile
  operator/scripts/install-local.sh
  skaffold-setup.sh
  skaffold.yaml
Due: none

Add a starter Tiltfile and Tilt integration
  .tiltignore
  Tiltfile
  platform/tilt-build.sh
Due: run-job-no-ops

HS-265 Add map to nav rail
  ui/src/components/Layout/NavigationRail.vue
  ui/src/router/index.ts
Due: run-job-no-ops

HS-265 App and Map with pinia
  ui/src/containers/Map.vue
  ui/src/store/Views/appStore.ts
  ui/src/store/Views/mapStore.ts
  ui/src/types/map.d.ts
Due: run-job-no-ops

HS-265 Convert vuex to pinia
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/components/Map/MarkerCluster.vue
  ui/src/components/Map/SeverityFilter.vue
  ui/src/containers/Map.vue
  ui/src/store/Views/mapStore.ts
  ui/src/store/Views/searchStore.ts
  ui/src/types/map.d.ts
  ui/src/types/search.d.ts
Due: run-job-no-ops

HS-265 Remove map vuex store
  ui/src/store/map/actions.ts
  ui/src/store/map/getters.ts
  ui/src/store/map/index.ts
  ui/src/store/map/mutations.ts
  ui/src/store/map/state.ts
Due: run-job-no-ops

HS-268 removed unused static fields
  rest-server/src/main/java/org/opennms/horizon/server/service/PrometheusTSDBServiceImpl.java
Due: run-job-no-ops

HS-265 Remove map page padding
  ui/src/App.vue
  ui/src/containers/Map.vue
Due: run-job-no-ops

HS-250 Change bg color coded
  ui/mock-graphql/src/data/minions.ts
  ui/mock-graphql/src/graphql/Queries/minionsQuery.graphql
  ui/mock-graphql/src/typeDefs.ts
  ui/mock-graphql/yarn.lock
  ui/src/App.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/helpers/formatting.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-250 Change bg color coded
  ui/src/types/graphql-mocks.ts
Due: run-job-no-ops

HS-250 Mod minion test
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

added snmp community string to device
  platform/db/model/src/main/java/org/opennms/horizon/db/model/OnmsNode.java
  platform/db/schema-liquibase/src/main/liquibase/changelog.xml
  platform/db/schema-liquibase/src/main/liquibase/hs-0.1.0/changelog.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestServiceImpl.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceDTO.java
Due: run-job-no-ops

HS-182: checkpoint
  charts/opennms/templates/keycloak/keycloak-operator-group.yaml
  charts/opennms/templates/keycloak/keycloak-operator-sub.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  operator/api/keycloak/v1alpha1/groupversion_info.go
  operator/api/keycloak/v1alpha1/keycloak_types.go
  operator/api/keycloak/v1alpha1/zz_generated.deepcopy.go
  ri.yaml
Due: none

Jira/hs 190 195 graphql for devices (#171)
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/util/AbstractDaoHibernate.java
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/ForeignSourceRepositoryImplTest.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/RequisitionRepositoryImplTest.java
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  rest-server/src/main/resources/application.yml
  shared-lib/dto-model/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceCollectionDTO.java
Due: run-job-no-ops

further design changes
  ui/components.d.ts
  ui/src/App.vue
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Appliances/NotificationsCtrl.vue
  ui/src/components/Common/TableCard.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-250 Change bg color coded
  ui/mock-graphql/src/data/minions.ts
Due: run-job-no-ops

HS-182: Models for Keycloak
  charts/opennms-operator-dependencies/Chart.yaml
  charts/opennms-operator-dependencies/templates/keycloak.yaml
  charts/opennms/templates/keycloak/keycloak-cred-secret.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/values.yaml
  operator/Makefile
  operator/api/keycloak/v1alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/groupversion_info.go
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha1/groupversion_info.go
  operator/api/v1alpha1/opennms_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/go.mod
  operator/internal/model/values/keycloak_values.go
  operator/internal/reconciler/values_updater.go
  operator/internal/scheme/scheme.go
  operator/local-instance.yaml
  operator/test/integration/test_instance.yaml
Due: none

HS-182: build fixes
  operator/go.sum
Due: none
