Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

Cleaning up naming in registration module
  minion/plugins/registration/src/main/java/org/opennms/poc/alerting/PluginRegistrationRouting.java
  minion/plugins/registration/src/main/java/org/opennms/poc/alerting/RegistrationService.java
  minion/plugins/registration/src/main/java/org/opennms/poc/alerting/RegistrationServiceImpl.java
  minion/plugins/registration/src/main/resources/OSGI-INF/blueprint/alerting.xml
Due: none

Moving over more plugins
  minion/plugins/ICMP/pom.xml
  minion/plugins/ICMP/src/main/java/org/opennms/poc/icmp/IcmpDetector.java
  minion/plugins/ICMP/src/main/java/org/opennms/poc/icmp/IcmpDetectorManager.java
  minion/plugins/ICMP/src/main/java/org/opennms/poc/icmp/IcmpMonitor.java
  minion/plugins/ICMP/src/main/java/org/opennms/poc/icmp/IcmpMonitorManager.java
  minion/plugins/ICMP/src/main/resources/OSGI-INF/blueprint/icmp-plugins.xml
  minion/plugins/ICMP/src/test/java/org/opennms/poc/icmp/IcmpMonitorTest.java
  minion/plugins/SNMP/pom.xml
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/ConfigFileConstants.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/IPAddressRange.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/IPAddressRangeSet.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/MergeableDefinition.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpConfigManager.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpDetector.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpDetectorManager.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpEventInfo.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpMonitor.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpMonitorManager.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpMonitorStrategy.java
  minion/plugins/SNMP/src/main/java/org/opennms/poc/snmp/SnmpPeerFactory.java
  minion/plugins/SNMP/src/main/resources/OSGI-INF/blueprint/snmp-plugins.xml
  minion/plugins/WEB-LISTEN/pom.xml
  minion/plugins/WEB-LISTEN/src/main/java/org/opennms/poc/weblisten/WebListener.java
  minion/plugins/WEB-LISTEN/src/main/java/org/opennms/poc/weblisten/WebListenerFactory.java
  minion/plugins/WEB-LISTEN/src/main/resources/OSGI-INF/blueprint/web-listener-plugins.xml
  minion/plugins/pom.xml
Due: none

Moving over the scheduler
  minion/minion-grpc/whiteboard/whiteboard-api/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-core/pom.xml
  minion/minion-metrics/pom.xml
  minion/model/pom.xml
  minion/plugins/ICMP/pom.xml
  minion/plugins/SNMP/pom.xml
  minion/plugins/WEB-LISTEN/pom.xml
  minion/plugins/registration/pom.xml
  minion/pom.xml
  minion/scheduler/pom.xml
  minion/scheduler/src/main/java/org/opennms/poc/scheduler/OpennmsScheduler.java
  minion/scheduler/src/main/java/org/opennms/poc/scheduler/impl/OpennmsSchedulerImpl.java
  minion/scheduler/src/main/java/org/opennms/poc/scheduler/impl/ScheduledThreadPoolExecutorFactory.java
  minion/scheduler/src/main/resources/OSGI-INF/blueprint/scheduler.xml
Due: none

Moving over manifests
  minion/manifests/poc-distributed-scheduling.yaml
  minion/manifests/prometheus-manifest.yaml
Due: none

Add devices to geomap
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/graphql/Devices/deviceQuery.graphql
  ui/src/graphql/Minions/minionsQuery.graphql
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/graphql/Views/geomapQueries.graphql
  ui/src/store/Queries/applianceQueries.ts
  ui/src/store/Queries/dashboardQueries.ts
  ui/src/store/Queries/deviceQueries.ts
  ui/src/store/Queries/geomapQueries.ts
  ui/src/store/Queries/minionsQueries.ts
  ui/src/store/Views/topologyStore.ts
  ui/src/types/graphql.ts
  ui/tests/Appliances/deviceTable.test.ts
  ui/tests/Appliances/minionsTable.test.ts
  ui/tests/store/applianceQueries.ts
  ui/tests/store/minionsQueries.ts
Due: run-job-no-ops

HS-144: set path in KC build
  charts/opennms/values.yaml
  keycloak-ui/Dockerfile
Due: none

Moving over the ignite-worker
  minion/ignite-worker/pom.xml
  minion/pom.xml
Due: none

HS-283 Add grid tabs tests
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/composables/useRouter.ts
Due: run-job-no-ops

Fixing some pom problems
  minion/ipc/echo/pom.xml
  minion/ipc/grpc/client/pom.xml
  minion/ipc/grpc/server/pom.xml
  minion/plugins/ICMP/pom.xml
  minion/plugins/plugins-api/pom.xml
Due: none

HS-288: Notification Service Alarm Kafka Consumer
  dev/kubernetes.kafka.yaml
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/KafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/KafkaProducer.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/resources/application.yml
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/KafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
Due: run-job-dev

HS-288: Notification Service Alarm Kafka Consumer
  notifications/src/main/resources/application.yml
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  skaffold.yaml
Due: none

HS-283 Update grid tabs tests
  ui/src/components/Map/GridTabs.vue
  ui/src/router/index.ts
  ui/tests/Map/gridTabs.test.ts
Due: run-job-no-ops

HS-288: Notification Service Alarm Kafka Consumer
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/KafkaConsumerIntegrationTest.java
Due: none

HS-283 Add map node grid test
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/tests/Map/mapNodesGrid.test.ts
Due: run-job-no-ops

HS-283 Add map node grid test
  ui/tests/Map/mapAlarmsGrid.test.ts
Due: run-job-no-ops

HS-144: update
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  operator/Makefile
  operator/api/keycloak/v2alpha1/groupversion_info.go
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  operator/internal/handlers/keycloak.go
  operator/internal/scheme/scheme.go
Due: none

HS-288: Notification Service Alarm Kafka Consumer
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

HS-144: force keycloak build
  keycloak-ui/Dockerfile
Due: none

Fixing some pom problems
  minion/minion-grpc/pom.xml
  minion/minion-grpc/whiteboard/pom.xml
Due: none

HS-283 Add more tests
  ui/tests/Map/gridTabs.test.ts
  ui/tests/Map/mapAlarmsGrid.test.ts
  ui/tests/Map/mapNodesGrid.test.ts
  ui/tests/Map/mapSearch.test.ts
  ui/tests/Map/severityFilter.test.ts
Due: run-job-no-ops

HS-283 Add more tests
  ui/tests/helpers/setupWrapper.ts
Due: run-job-no-ops

Moving the last of the POC
  minion/assembly/pom.xml
  minion/assembly/src/main/filtered-resources/etc/branding.properties
  minion/assembly/src/main/resources/etc/custom.system.properties
  minion/assembly/src/main/resources/etc/org.apache.cxf.osgi.cfg
  minion/assembly/src/main/resources/etc/org.opennms.identity.cfg
  minion/assembly/src/main/resources/etc/org.opennms.poc.ignite.worker.cfg
  minion/assembly/src/main/resources/etc/org.ops4j.pax.logging.cfg
  minion/docker-assembly/pom.xml
  minion/docker-assembly/src/main/docker/app/Dockerfile
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/pom.xml
  minion/tracing-stub/pom.xml
  minion/tracing-stub/src/main/java/org/opennms/poc/tracing/NoopTracingWrapper.java
  minion/tracing-stub/src/main/resources/OSGI-INF/blueprint/tracing-noop.xml
Due: none

Renaming to remove poc from packages, etc
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/ignite/registries/OsgiServiceHolder.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowCommonRetryExecutor.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowExecutorLocalMonitorServiceImpl.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowExecutorLocalServiceFactoryImpl.java
  minion/ignite-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
  minion/scheduler/src/main/java/org/opennms/horizon/minion/scheduler/OpennmsScheduler.java
  minion/scheduler/src/main/java/org/opennms/horizon/minion/scheduler/impl/OpennmsSchedulerImpl.java
  minion/scheduler/src/main/java/org/opennms/horizon/minion/scheduler/impl/ScheduledThreadPoolExecutorFactory.java
  minion/scheduler/src/main/resources/OSGI-INF/blueprint/scheduler.xml
Due: none

Renaming to remove poc from packages, etc
  minion/ignite-worker/src/main/java/org/opennms/horizon/minion/plugin/config/PluginDetector.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/ignite/registries/AlertingPluginRegistry.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/ignite/service/WorkflowService.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/WorkflowExecutorLocalServiceFactory.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/WorkflowLifecycleManager.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/WorkflowRepository.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/MeteredWorkflowLifecycleManager.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/TwinToWorkflowLifecycleManagerAdapter.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowCommonRetryExecutor.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowConnectorRetriable.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowExecutionResultProcessorImpl.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowExecutorIgniteService.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowExecutorLocalMonitorServiceImpl.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowExecutorLocalServiceFactoryImpl.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowLifecycleManagerImpl.java
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/workflows/impl/WorkflowListenerRetriable.java
  minion/ignite-worker/src/test/java/org/opennms/horizon/minion/plugin/config/PluginDetectorTest.java
  minion/minion-grpc/workflow/injector/src/main/java/org/opennms/poc/ignite/grpc/injector/internal/rest/DigitalTwinWorkflowInjector.java
  minion/minion-grpc/workflow/injector/src/main/java/org/opennms/poc/ignite/grpc/injector/internal/rest/WorkflowInjector.java
  minion/minion-grpc/workflow/workflow-publisher/src/main/java/org/opennms/poc/ignite/grpc/publisher/WorkflowPublisher.java
  minion/minion-grpc/workflow/workflow-publisher/src/main/java/org/opennms/poc/ignite/grpc/publisher/internal/GrpcWorkflowPublisher.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/poc/ignite/grpc/subscriber/LoggingWorkflowSubscriber.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/poc/ignite/grpc/subscriber/MeteredConsumer.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/poc/ignite/grpc/subscriber/ResultsConsumer.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/PluginMetadata.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/Result.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/Results.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/Workflow.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/WorkflowType.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/Workflows.java
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/PluginRegistrationRouting.java
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/RegistrationService.java
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/RegistrationServiceImpl.java
Due: none

Renaming to remove poc from packages, etc
  minion/ignite-worker/src/main/java/org/opennms/poc/ignite/worker/ignite/IgniteMetricsAdapter.java
  minion/ignite-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/poc/ignite/grpc/subscriber/MeteredConsumer.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/resources/OSGI-INF/blueprint/workflow-subscriber.xml
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/MetricsProvider.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsProviderWhiteboard.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsServlet.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsWhiteboard.java
  minion/minion-metrics/src/main/resources/OSGI-INF/blueprint/metrics.xml
Due: none

Renaming to remove poc from packages, etc
  minion/minion-features/src/main/resources/features.xml
Due: none

HS-191: Handle review comments
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/minion/heartbeat/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

Renaming to remove poc from packages, etc
  minion/minion-grpc/workflow/injector/src/main/java/org/opennms/horizon/minion/ignite/grpc/injector/internal/rest/DigitalTwinWorkflowInjector.java
  minion/minion-grpc/workflow/injector/src/main/java/org/opennms/horizon/minion/ignite/grpc/injector/internal/rest/WorkflowInjector.java
  minion/minion-grpc/workflow/injector/src/main/resources/OSGI-INF/blueprint/workflow-injector.xml
  minion/minion-grpc/workflow/module/src/main/java/org/opennms/horizon/minion/ignite/grpc/workflow/WorkflowSinkModule.java
  minion/minion-grpc/workflow/module/src/main/proto/opennms/poc/workflow.proto
  minion/minion-grpc/workflow/workflow-publisher/src/main/java/org/opennms/horizon/minion/ignite/grpc/publisher/internal/GrpcWorkflowPublisher.java
  minion/minion-grpc/workflow/workflow-publisher/src/main/resources/OSGI-INF/blueprint/workflow-publisher.xml
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/horizon/minion/ignite/grpc/subscriber/LoggingWorkflowSubscriber.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/horizon/minion/ignite/grpc/subscriber/MeteredConsumer.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/horizon/minion/ignite/grpc/subscriber/ResultsConsumer.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/resources/OSGI-INF/blueprint/workflow-subscriber.xml
Due: none

Renaming to remove poc from packages, etc
  minion/ignite-worker/src/main/java/org/opennms/horizon/minion/ignite/worker/workflows/impl/TwinToWorkflowLifecycleManagerAdapter.java
  minion/ignite-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
  minion/minion-grpc/whiteboard/whiteboard-api/src/main/java/org/opennms/horizon/minion/ignite/grpc/whiteboard/api/MessageListener.java
  minion/minion-grpc/whiteboard/whiteboard-core/src/main/java/org/opennms/horizon/minion/ignite/grpc/whiteboard/internal/GrpcWhiteboard.java
  minion/minion-grpc/whiteboard/whiteboard-core/src/main/resources/OSGI-INF/blueprint/grpc-whiteboard.xml
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/horizon/minion/ignite/grpc/subscriber/LoggingWorkflowSubscriber.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/resources/OSGI-INF/blueprint/workflow-subscriber.xml
Due: none

add minion latency and uptime metrics
  ui/codegen.yml
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/helpers/formatting.ts
  ui/src/store/Queries/applianceQueries.ts
  ui/src/types/device.d.ts
  ui/src/types/graphql.ts
  ui/src/types/minion.d.ts
  ui/tests/Appliances/deviceTable.test.ts
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

HS-269: Separate Device creation/retrieval DTOs
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestServiceImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceCreateDTO.java
Due: run-job-no-ops

HS-283 Add setupWrapper factory
  ui/src/containers/Appliances.vue
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
  ui/tests/Map/gridTabs.test.ts
  ui/tests/Map/mapAlarmsGrid.test.ts
  ui/tests/Map/mapNodesGrid.test.ts
  ui/tests/Map/mapSearch.test.ts
  ui/tests/Map/severityFilter.test.ts
  ui/tests/helpers/setupWrapper.ts
Due: run-job-no-ops

pom cleanup
  minion/docker-assembly/pom.xml
  minion/ignite-worker/pom.xml
  minion/ipc/echo/pom.xml
  minion/ipc/grpc/client/pom.xml
  minion/ipc/grpc/contract/pom.xml
  minion/ipc/grpc/pom.xml
  minion/ipc/grpc/server/pom.xml
  minion/ipc/twin/pom.xml
  minion/ipc/twin/twin-api/pom.xml
  minion/ipc/twin/twin-common/pom.xml
  minion/ipc/twin/twin-grpc/pom.xml
  minion/ipc/twin/twin-grpc/publisher/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/pom.xml
  minion/minion-metrics/pom.xml
  minion/model/pom.xml
  minion/plugins/ICMP/pom.xml
  minion/plugins/SNMP/pom.xml
  minion/plugins/WEB-LISTEN/pom.xml
  minion/plugins/plugins-api/pom.xml
  minion/plugins/pom.xml
  minion/plugins/registration/pom.xml
  minion/scheduler/pom.xml
Due: none

HS-144: keycloak update
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/keycloak/keycloak-operator-sub.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  keycloak-ui/Dockerfile
Due: none

HS-144: updated KC version
  keycloak-ui/Dockerfile
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
