Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Build all of the maven top-level projects in build.sh.
  build.sh
Due: none

HS-304 Fix build failing
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

added unit tests for cache
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/test/java/org/opennms/horizon/server/service/MinionServiceTest.java
Due: run-job-no-ops

update comment
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
Due: run-job-no-ops

HS-347 add cache for BFF backend request.
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
Due: run-job-no-ops

Fixing service reference
  platform/provision/rest/src/main/resources/OSGI-INF/blueprint/provision-rest-blueprint.xml
Due: run-job-no-ops

Simplify (a bit!) rpc api by dividing client and server side.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/GrpcServerConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/RpcPublisherConfig.java
  minion/minion-ipc/ipc-features/src/main/feature/feature.xml
  shared-lib/horizon-ipc/ipc-api/pom.xml
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/rpc/api/RpcResponseHandler.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/rpc/api/client/RpcHandler.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/rpc/api/server/CallFactory.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/rpc/LegacyRpcHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/rpc/RpcRequestHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/rpc/ThinHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/rpc/ThreadedHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/echo/echo.proto
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/ping/ping.proto
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/BasicCallFactory.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/manager/RpcRequestDispatcher.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/manager/impl/RpcRequestTimeoutManagerImpl.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpcstreaming/impl/MinionRpcStreamConnectionImpl.java
Due: none

Working snmp rpc handler with dynamically configured agent.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/RpcPublisherConfig.java
  minion/snmp/snmp-ipc/pom.xml
  minion/snmp/snmp-ipc/src/main/java/org/opennms/horizon/minion/snmp/ipc/internal/SnmpRpcHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/snmp/snmp.proto
  shared-lib/snmp-api/src/main/java/org/opennms/horizon/shared/snmp/SnmpUtils.java
Due: none

Implementation of snmp rpc implementation.
  minion/minion-features/src/main/resources/features.xml
  minion/plugins/snmp-plugin/pom.xml
  minion/plugins/snmp-plugin/src/main/feature/feature.xml
  minion/snmp/pom.xml
  minion/snmp/snmp-ipc/pom.xml
  minion/snmp/snmp-ipc/src/main/java/org/opennms/horizon/minion/snmp/ipc/internal/SnmpRpcHandler.java
  minion/snmp/snmp-ipc/src/main/resources/OSGI-INF/blueprint/minion-snmp-rpc.xml
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/snmp/snmp.proto
Due: none

Switching to protobuf.Any in rpc payloads.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/RpcPublisherConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/AbstractTwinPublisher.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/GrpcTwinPublisher.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoResponse.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRpcModule.java
  minion/minion-ipc/twin-core/src/main/java/org/opennms/horizon/minion/ipc/twin/core/internal/GrpcTwinSubscriber.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/rpc/api/RpcModule.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/rpc/api/server/CallFactory.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/rpc/LegacyRpcHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/rpc/ThinRpcRequestHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms_minion_ipc.proto
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/BasicCallFactory.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/LocationIndependentRpcClient.java
Due: none

Inject RpcRequestHandler into MinionGrpcClient.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/RpcPublisherConfig.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoClient.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRequest.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoResponse.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRpcHandler.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRpcModule.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/monitor/SimpleMinionRpcMonitor.java
  minion/minion-ipc/ipc-echo/src/main/resources/OSGI-INF/blueprint/minion-echo-ipc.xml
  minion/minion-ipc/ipc-features/pom.xml
  minion/minion-ipc/ipc-features/src/main/feature/feature.xml
  minion/minion-ipc/twin-core/src/main/java/org/opennms/horizon/minion/ipc/twin/core/internal/GrpcTwinSubscriber.java
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/rpc/api/client/RpcHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/rpc/ThinRpcRequestHandler.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/echo/echo.proto
Due: none

Implementation of icmp rpc implementation.
  minion/icmp/icmp-ipc/pom.xml
  minion/icmp/icmp-ipc/src/main/java/org/opennms/horizon/minion/icmp/ipc/internal/IcmpRpcHandler.java
  minion/icmp/icmp-ipc/src/main/resources/OSGI-INF/blueprint/minion-icmp-rpc.xml
  minion/icmp/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/plugins/icmp-plugin/pom.xml
  minion/plugins/icmp-plugin/src/main/feature/feature.xml
Due: none

create widget wrappers
  ui/components.d.ts
  ui/src/App.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Layout/Widgetbar.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/SeverityFilter.vue
  ui/src/components/Widgets/DeviceWidget.vue
  ui/src/components/Widgets/MapWidget.vue
  ui/src/components/Widgets/MinionWidget.vue
  ui/src/components/Widgets/utils.ts
  ui/src/store/Views/widgetStore.ts
  ui/src/types/index.ts
Due: run-job-no-ops

fix props TS error
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Map/LeafletMap.vue
Due: run-job-no-ops

fix app context, add widgets tests
  ui/src/components/Layout/Widgetbar.vue
  ui/src/components/Widgets/utils.ts
  ui/tests/Widgets/widgets.test.ts
Due: run-job-no-ops

fix spelling
  ui/src/App.vue
Due: run-job-no-ops

add more comments
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Widgets/utils.ts
Due: run-job-no-ops

Use Spring webclient as bff http client
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/service/AlarmService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/EventService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  rest-server/src/test/java/org/opennms/horizon/server/service/MinionServiceTest.java
Due: run-job-no-ops

Port of ICMP and SNMP client rpc to grpc version.
  minion/icmp/icmp-ipc-client/pom.xml
  minion/icmp/icmp-ipc-client/src/main/java/org/opennms/horizon/minion/icmp/ipc/client/LocationAwarePingClientImpl.java
  minion/icmp/icmp-ipc-client/src/main/java/org/opennms/horizon/minion/icmp/ipc/client/PingRequestBuilderImpl.java
  minion/icmp/icmp-ipc-client/src/main/java/org/opennms/horizon/minion/icmp/ipc/client/RpcDispatcher.java
  minion/icmp/icmp-ipc/src/main/java/org/opennms/horizon/minion/icmp/ipc/internal/PingRpcHandler.java
  minion/icmp/icmp-ipc/src/main/resources/OSGI-INF/blueprint/minion-icmp-rpc.xml
  minion/icmp/pom.xml
  minion/snmp/pom.xml
  minion/snmp/snmp-ipc-client/pom.xml
  minion/snmp/snmp-ipc-client/src/main/java/org/opennms/horizon/minion/snmp/ipc/client/internal/AbstractSNMPRequestBuilder.java
  minion/snmp/snmp-ipc-client/src/main/java/org/opennms/horizon/minion/snmp/ipc/client/internal/LocationAwareSnmpClientRpcImpl.java
  minion/snmp/snmp-ipc-client/src/main/java/org/opennms/horizon/minion/snmp/ipc/client/internal/RpcDispatcher.java
  minion/snmp/snmp-ipc-client/src/main/java/org/opennms/horizon/minion/snmp/ipc/client/internal/SNMPMultiGetBuilder.java
  minion/snmp/snmp-ipc-client/src/main/java/org/opennms/horizon/minion/snmp/ipc/client/internal/SNMPSingleGetBuilder.java
  minion/snmp/snmp-ipc-client/src/main/java/org/opennms/horizon/minion/snmp/ipc/client/internal/SNMPWalkBuilder.java
  minion/snmp/snmp-ipc-client/src/main/java/org/opennms/horizon/minion/snmp/ipc/client/internal/SNMPWalkWithTrackerBuilder.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/ping/ping.proto
Due: none

HS-201: Call PagerDuty on alarm create
  charts/opennms/templates/opennms/core/core-deployment.yaml
  dev/kubernetes.kafka.yaml
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/AlarmSeverity.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/AlarmType.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyPayloadDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutySeverity.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/KafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerUnitTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  platform/alarms/api/src/main/java/org/opennms/horizon/alarms/api/DefaultAlarmEntityListener.java
  platform/alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/notifications/NotificationForwarder.java
  platform/alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/notifications/Utils.java
  platform/alarms/daemon/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/alarms/itests/src/test/java/org/opennms/horizon/alarms/itests/CoreContainer.java
  platform/alarms/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/AlarmMapper.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/IAlarmMapper.java
  platform/docker-it/pom.xml
Due: run-job-no-ops, run-job-dev

Update notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
Due: none

HS-201: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventActionSerializer.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyPayloadDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutySeveritySerializer.java
Due: none

HS-201: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventAction.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventActionSerializer.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyPayloadDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutySeverity.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutySeveritySerializer.java
Due: none

HS-201: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/AlarmSeverity.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventAction.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumer.java
  notifications/src/main/resources/application.yml
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
Due: none

HS-286: Add traps consumer
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/config/service/pom.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/AbstractInterfaceToNodeCache.java
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/InterfaceToNodeCache.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/InterfaceToNodeCacheDaoImpl.java
  platform/db/dao-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/postgres-kvstore/pom.xml
  platform/pom.xml
  platform/traps/pom.xml
  platform/traps/src/main/java/org/opennms/horizon/traps/config/Snmpv3User.java
  platform/traps/src/main/java/org/opennms/horizon/traps/config/TrapdConfig.java
  platform/traps/src/main/java/org/opennms/horizon/traps/config/TrapdConfigBean.java
  platform/traps/src/main/java/org/opennms/horizon/traps/config/TrapdConfiguration.java
  platform/traps/src/main/java/org/opennms/horizon/traps/consumer/TrapSinkConsumer.java
  platform/traps/src/main/java/org/opennms/horizon/traps/consumer/TrapSinkModule.java
  platform/traps/src/main/java/org/opennms/horizon/traps/dto/TrapDTO.java
  platform/traps/src/main/java/org/opennms/horizon/traps/dto/TrapIdentityDTO.java
  platform/traps/src/main/java/org/opennms/horizon/traps/dto/TrapInformationWrapper.java
  platform/traps/src/main/java/org/opennms/horizon/traps/dto/TrapLogDTO.java
  platform/traps/src/main/java/org/opennms/horizon/traps/utils/EventCreator.java
  platform/traps/src/main/java/org/opennms/horizon/traps/utils/SyntaxToEvent.java
  platform/traps/src/main/java/org/opennms/horizon/traps/utils/TrapUtils.java
  platform/traps/src/main/java/org/opennms/horizon/traps/utils/TrapdInstrumentation.java
  platform/traps/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/traps/src/main/resources/trapd-config.json
  platform/traps/src/test/java/org/opennms/horizon/traps/consumer/TrapdConfigJsonTest.java
  platform/traps/src/test/resources/trapd-config.json
Due: run-job-no-ops

add initial tags widget
  ui/auto-feather-resolver.ts
  ui/components.d.ts
  ui/src/components/Layout/Widgetbar.vue
  ui/src/components/Tags/Tags.vue
  ui/src/components/Widgets/TagWidget.vue
  ui/src/directives/v-focus.ts
  ui/src/main.ts
  ui/tests/Tags/tags.test.ts
  ui/tests/Widgets/widgets.test.ts
Due: run-job-no-ops

fixed and added more unit tests
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PrometheusTSDBServiceImpl.java
  rest-server/src/main/java/org/opennms/horizon/server/service/TSDBService.java
  rest-server/src/test/java/org/opennms/horizon/server/service/DeviceServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/LocationServiceTest.java
Due: run-job-no-ops

HS-304 Separate map queries from views
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/containers/Map.vue
  ui/src/store/Queries/mapQueries.ts
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

simplified the gateway and removed cache for now.
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

removed the cache related unit tests
  rest-server/src/test/java/org/opennms/horizon/server/service/DeviceServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/LocationServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/MinionServiceTest.java
Due: run-job-no-ops

HS-304 Cleanup map queries
  ui/src/graphql/Views/mapQueries.graphql
  ui/src/store/Queries/mapQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-304 Complete mapStore refact
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

HS-304 Fix build fail
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

HS-304 Refact map spinner
  ui/src/components/Map/LeafletMap.vue
  ui/src/containers/Map.vue
  ui/src/store/Queries/mapQueries.ts
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

HS-304 Fix tests
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/appliances.helpers.ts
  ui/tests/Appliances/deviceTable.test.ts
Due: run-job-no-ops

HS-358: Use Liquibase for notications database
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-configmap.yaml
  dev/kubernetes.kafka.yaml
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  platform/db/schema-liquibase/src/main/liquibase/hs-0.1.0/tables/pagerDutyConfig.xml
  platform/db/schema-liquibase/src/main/liquibase/notificationchangelog.xml
  platform/db/schema/src/main/java/org/opennms/core/schema/MigratorAdminInitialize.java
  platform/db/schema/src/main/java/org/opennms/core/schema/OpenNMSDatabasePrehook.java
  platform/db/schema/src/main/java/org/opennms/core/schema/migrator/ClassLoaderBasedMigratorResourceProvider.java
  platform/db/schema/src/main/java/org/opennms/core/schema/migrator/Migrator.java
  platform/db/schema/src/main/java/org/opennms/core/schema/migrator/MigratorResourceProvider.java
  platform/db/schema/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops, run-job-dev

HS-304 Add comment
  ui/src/components/Appliances/appliances.helpers.ts
Due: run-job-no-ops

HS-304 Resolve conflict
  ui/src/components/Map/LeafletMap.vue
Due: run-job-no-ops

HS-304 Resolve conflict
  ui/components.d.ts
Due: run-job-no-ops
