Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

jira/HS-145 - starting process, am able to get this running, but needs work for full automation
  local-sample/grafana-a-configmap.yaml
  local-sample/grafana-b-secrets.yaml
  local-sample/grafana-c-deployment.yaml
  local-sample/grafana-d-service.yaml
  local-sample/grafana-e-ingress.yaml
  local-sample/grafana/Dockerfile
  local-sample/imports/grafana-2.json
  local-sample/imports/grafana.json
  local-sample/imports/opennms-realm.json
  local-sample/imports/realm-2.json
  local-sample/imports/realm.json
  local-sample/imports/test-opennms-realm.json
  local-sample/imports/test-realm.json
  local-sample/kc-deployment.yaml
  local-sample/kc-ingress.yaml
  local-sample/kc-service.yaml
  local-sample/postgres.yaml
  local-sample/run.kc-config.sh
  local-sample/run.new.sh
  local-sample/secrets.yaml
  operator/local-instance.yaml
  operator/scripts/create-instance.sh
  operator/scripts/deploy-horizon-stream.sh
  operator/scripts/install-local.sh
  operator/scripts/install.sh
  operator/values.yaml
  ui/dev/entrypoint.sh
Due: run-job-no-ops

Fixing bad blueprint wiring
  platform/provision/snmp/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

HS-207 Add deviceStore unit tests
  ui/src/services/deviceService.spec.ts
  ui/src/services/deviceService.ts
  ui/src/store/deviceStore.ts
Due: run-job-no-ops

HS-207 Add deviceStore unit tests
  ui/src/store/deviceStore.spec.ts
Due: run-job-no-ops

HS-187: Add HeartbeatConsumer, persist Minion
  platform/assemblies/features/src/main/feature/features.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/MinionDao.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/MinionDaoHibernate.java
  platform/db/dao-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/OnmsMinion.java
  platform/ipc/heartbeat/pom.xml
  platform/ipc/heartbeat/src/main/java/org/opennms/ipc/heartbeat/HeartbeatConsumer.java
  platform/ipc/heartbeat/src/main/java/org/opennms/ipc/heartbeat/HeartbeatModule.java
  platform/ipc/heartbeat/src/main/java/org/opennms/ipc/heartbeat/MinionIdentityDTO.java
  platform/ipc/heartbeat/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/pom.xml
Due: run-job-no-ops

HS-207 Formatting
  ui/.eslintrc
  ui/src/store/deviceStore.spec.ts
Due: run-job-no-ops

HS-207 Remove Devices from nav rail
  ui/src/components/Layout/NavigationRail.vue
Due: run-job-no-ops

HS-207 Add appliances test
  ui/src/containers/appliances.spec.ts
  ui/src/services/deviceService.spec.ts
  ui/src/services/deviceService.ts
Due: run-job-no-ops

jira/HS-221 - added action for core and rest-server workflows
  .github/actions/shared-lib/action.yml
  .github/workflows/feature-core.yml
  .github/workflows/feature-rest-server.yml
  rest-server/pom.xml
  shared-lib/pom.xml
Due: run-job-no-ops

HS-187: Add mising horizon-db feature
  platform/assemblies/features/src/main/feature/features.xml
Due: run-job-no-ops

add mail server in dev cluster
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

fixing platform ci-cd build to allow for develop workflow to succeed for merge
  .github/actions/core/action.yml
Due: none

jira/HS-221 - updated develop and release branches as well.
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

jira/HS-221 - updated comment on shared-lib action.
  .github/actions/core/action.yml
Due: none

HS-223 Adjust blueprint for grpc twin subscriber.
  platform/ipc/twin/grpc/subscriber/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

fix the cluster network issue and configured keycloak with mail server.
  dev/README.md
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

fix the cluster network issue and configured keycloak with mail server.
  dev/README.md
Due: run-job-dev

update the ui kubernetes deployment selector label name
  dev/kubernetes.kafka.yaml
Due: run-job-dev

add notifications btn & modal
  ui/components.d.ts
  ui/src/components/Appliances/NotificationsCtrl.vue
  ui/src/components/Common/PrimaryModal.vue
  ui/src/containers/Appliances.vue
  ui/src/store/Mutations/notificationMutations.ts
  ui/src/types/graphql.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
  ui/tests/Layout/menubar.test.ts
  ui/tsconfig.json
Due: run-job-no-ops

Add .editorconfig file based on IntelliJ defaults
  .editorconfig
Due: none

Update PR template to match current standards
  .github/pull_request_template.md
Due: none

Hide text that's intended only for the PR's opener
  .github/pull_request_template.md
Due: none

HS-233 Add graphql mock server
  ui/mock-graphql/Queries/data.js
  ui/mock-graphql/README.md
  ui/mock-graphql/index.js
  ui/mock-graphql/package.json
  ui/mock-graphql/schema.js
  ui/mock-graphql/typeDefs.js
Due: run-job-no-ops

HS-207 Minor changes
  ui/mock-graphql/README.md
  ui/mock-graphql/package.json
Due: run-job-no-ops

HS-207 Minor changes
  ui/mock-graphql/README.md
Due: run-job-no-ops

HS-222: Add rest api for minion
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/MinionDTO.java
  platform/docker-it/src/test/resources-filtered/karaf/etc/org.apache.karaf.features.cfg
  platform/minion/pom.xml
  platform/minion/rest/pom.xml
  platform/minion/rest/src/main/java/org/opennms/horizon/minion/rest/MinionRestService.java
  platform/minion/rest/src/main/java/org/opennms/horizon/minion/rest/internal/MinionRestServiceImpl.java
  platform/minion/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/pom.xml
Due: run-job-no-ops

HS-207 Missing files for GraphQL mock server
  ui/.env.development
  ui/package.json
  ui/yarn.lock
Due: run-job-no-ops

jira/HS-145 - working state, needs github actions external-it/ test to ignore self-signed certs
  local-sample/config-run
  local-sample/kc-deployment.yaml
  local-sample/run.new.sh
Due: none

test outbound notif call with mock gql server
  ui/mock-graphql/schema.js
  ui/mock-graphql/typeDefs.js
  ui/src/components/Appliances/NotificationsCtrl.vue
  ui/src/components/Common/PrimaryModal.vue
  ui/src/composables/useModal.ts
  ui/src/graphql/Notifications/saveRoutingKeyMockMutation.ts
  ui/src/store/Mutations/notificationMutations.ts
Due: run-job-no-ops

update pckgs, notification tests
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/package.json
  ui/src/components/Common/PrimaryModal.vue
  ui/tests/Appliances/notificationsCtrl.test.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-207 Integrate with mock server
  ui/.env.development
  ui/codegen.yml
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/graphql/Queries/appliancesQuery.graphql
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/types/appliances.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-207 Restructure files
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/src/containers/Appliances.vue
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/deviceTable.test.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-207 Add codegen - generation failed
  ui/mock-graphql/Queries/data.js
  ui/mock-graphql/codegen.yml
  ui/mock-graphql/index.js
  ui/mock-graphql/package.json
  ui/mock-graphql/src/graphql/Queries/appliancesQuery.graphql
  ui/mock-graphql/src/schema.js
  ui/mock-graphql/src/store/Queries/devices.js
  ui/mock-graphql/src/typeDefs.js
  ui/mock-graphql/typeDefs.js
  ui/yarn.lock
Due: run-job-no-ops

Bypass the SSL for external IT tests
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/utils/TestTrustManager.java
Due: run-job-external-it

cleaned up a little of dev/
  dev/ci-cd-test.txt
Due: run-job-dev

HS-147: disable image updater pending future redesign
  operator/internal/reconciler/opennms_reconciler.go
  operator/local-instance.yaml
Due: none

HS-207 Adapt unit test
  ui/tests/Appliances/deviceTable.test.ts
Due: run-job-no-ops

jira/HS-145 - Cleaned up some components, running test
  .github/actions/external-it/action.yml
  .github/actions/grafana/action.yml
  .github/workflows/feature-grafana.yml
  grafana/Dockerfile
  keycloak-ui/Dockerfile
  local-sample/config-run
  local-sample/grafana-c-deployment.yaml
  local-sample/run.new.sh
  local-sample/run.sh
Due: none

jira/HS-145 - updating some github actions workflows and the local-sample/run.sh build script.
  .github/workflows/develop.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/release.yml
  local-sample/run.sh
Due: none

HS-147: elasticserach role permissions
  charts/opennms-operator/templates/operator-clusterrole.yaml
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
