Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

cucumber report config
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/HSCucumberRunnerTest.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
  external-it/hs-system-tests/src/test/resources/features/system-tests.feature
Due: run-job-external-it

Moving to JUnit 5
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
Due: run-job-external-it

HS-1259 Fix width for empty list
  ui/src/containers/Alerts.vue
Due: run-job-no-ops

HS-1259 Remove console
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

Generate definition from policy
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/AlertDefinition.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/TriggerEvent.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertDefinitionService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/trigger_event_uei_keys.xml
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: none

Add context prod to liquibase plugin to avoid validation failure on dev env
  alert/src/main/resources/application.yaml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
  alert/src/test/java/org/opennms/horizon/alertservice/CucumberRunnerIT.java
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
Due: none

fix merge
  rest-server/src/main/java/org/opennms/horizon/server/mapper/AlertMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
Due: run-job-no-ops

HS-1259 Add clear acknowledge alerts
  ui/components.d.ts
  ui/src/containers/Alerts.vue
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

HS-1259 Replace alert_id with id
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

Working Charts with BE data
  ui/src/components/Common/BasicChart.vue
  ui/src/components/Flows/LineChart.vue
  ui/src/containers/Flows.vue
  ui/src/graphql/Flows/chartQueries.graphql
  ui/src/store/Queries/flowsQueries.ts
  ui/src/store/Views/flowsStore.ts
  ui/src/types/flows.d.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Add logic for no data and fix date dropdown
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1302: Move detectors to be part of NodeScan (#925)
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/InventoryProcessingStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-processing.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/TaskSetResultsConsumer.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/PassiveDiscoveryService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/DetectorTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/DetectorResponseService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/TaskSetResultsConsumerTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/DetectorResponseServiceIntTest.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/TaskSetResultProcessor.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/detector/TaskSetDetectorResultProcessorTest.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/TaskExecutionResultProcessor.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutionResultProcessorImpl.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutorLocalDetectorServiceImpl.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutorLocalServiceFactoryImpl.java
  minion/plugins/icmp-plugin/src/main/java/org/opennms/horizon/minion/icmp/IcmpDetector.java
  minion/plugins/icmp-plugin/src/main/resources/OSGI-INF/blueprint/icmp-plugins.xml
  minion/plugins/icmp-plugin/src/test/java/org/opennms/horizon/minion/icmp/IcmpDetectorTest.java
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScanner.java
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScannerManager.java
  minion/plugins/nodescan-plugin/src/main/resources/OSGI-INF/blueprint/nodescanner-plugin.xml
  minion/plugins/nodescan-plugin/src/test/java/org/opennms/horizon/minion/nodescan/SnmpConfigMatrixTest.java
  minion/plugins/plugins-api/src/main/java/org/opennms/horizon/minion/plugin/api/ServiceDetector.java
  minion/plugins/shell-commands/src/main/java/org/opennms/horizon/minion/icmp/shell/NodeScanCommand.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpDetector.java
  minion/plugins/snmp-plugin/src/main/resources/OSGI-INF/blueprint/snmp-plugins.xml
  minion/plugins/snmp-plugin/src/test/java/org/opennms/horizon/minion/snmp/SnmpDetectorTest.java
  shared-lib/protobuf/src/main/proto/nodescan.proto
  shared-lib/protobuf/src/main/proto/taskSet.proto
  shared-lib/protobuf/src/main/proto/types.proto
Due: none

HS-1140 Allow matching multiple monitoring policies for alerts
  notifications/src/main/java/org/opennms/horizon/notifications/repository/MonitoringPolicyRepository.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationsServiceImplTest.java
  shared-lib/events/src/main/proto/alerts.proto
Due: none

HS-859: operator will ping the UI as a health check on the instance
  operator/cmd/opennms-operator/main.go
  operator/go.mod
  operator/go.sum
  operator/internal/reconciler/health_check.go
  operator/internal/reconciler/health_check_test.go
  operator/internal/reconciler/opennms_reconciler.go
  operator/scripts/deploy-horizon-stream.sh
Due: none

rollback the change of trigger event id in alert definition for now.
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/TriggerEvent.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/trigger_event_uei_keys.xml
Due: none

Add loading spinner
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Remove console.log
  ui/src/containers/Flows.vue
Due: run-job-no-ops

Remove changes to basic chart watch
  ui/src/components/Common/BasicChart.vue
Due: run-job-no-ops

HS-1382 Temp skip all Alerts tests
  ui/tests/Alerts/alerts.test.ts
  ui/tests/Alerts/alertsCard.test.ts
  ui/tests/Alerts/alertsCardList.test.ts
  ui/tests/Alerts/alertsSeverityCard.test.ts
  ui/tests/Alerts/alertsSeverityFilters.test.ts
  ui/tests/Alerts/alertsSeverityLabel.test.ts
Due: run-job-no-ops

merge
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
Due: run-job-no-ops

ran yarn install
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
Due: run-job-no-ops

HS-1346: Get tags for multiple nodes (#945)
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/graphql/Alerts/alertsQueries.gql
  ui/src/graphql/Tag/tagsByNodeIdQuery.gql
  ui/src/graphql/Tag/tagsQuery.gql
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

add the cucumber test for default alert definition
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/AlertDefinition.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertDefinitionRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertDefinitionService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/trigger_event_uei_keys.xml
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
Due: none

HS-1382: Remove imports from mockgql server for unused tests (#954)
  ui/tests/Alerts/alerts.test.ts
  ui/tests/Alerts/alertsCard.test.ts
  ui/tests/Alerts/alertsCardList.test.ts
Due: run-job-no-ops

HS-1382 Temp
  ui/components.d.ts
  ui/src/containers/Alerts.vue
  ui/src/types/graphql.ts
  ui/tests/Alerts/alerts.test.ts
  ui/tests/Alerts/alertsCard.test.ts
  ui/yarn.lock
Due: run-job-no-ops

PR review and create definition from existing policy
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertDefinitionRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/trigger_event_uei_keys.xml
Due: none

HS-1292 - fix details
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/containers/Alerts.vue
  ui/src/containers/Dashboard.vue
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

HS-1292 - add title
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops

Expose ssl gateway.
  Tiltfile
Due: none

Fix missing cert configuration filename in runInPlaceSsl.sh
  minion/assembly/runInPlaceSsl.sh
Due: none

HS-1311: opennms-minion-ssl-gateway running nginx to terminate SSL from Minion for dev. Tools to create certs. Insecure dev certs. Minion can connect with SSL.
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-configmap.yaml
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-deployment.yaml
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-service.yaml
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-serviceaccount.yaml
  charts/opennms/values.yaml
  minion/assembly/runInPlaceSsl.sh
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/GrpcClientConstants.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/rest/IgniteToolRestController.java
  tools/SSL/CA.cert
  tools/SSL/CA.key
  tools/SSL/README.md
  tools/SSL/client.key
  tools/SSL/client.key.pkcs1
  tools/SSL/client.signed.cert
  tools/SSL/client.unsigned.cert
  tools/SSL/mk-self-signed-CA
  tools/SSL/mk-signed-client-cert
  tools/SSL/mk-signed-server-cert
  tools/SSL/server.key
  tools/SSL/server.signed.cert
  tools/SSL/server.unsigned.cert
Due: run-job-no-ops

HS-1388 Adjust api changes
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

Add a new microservice for managing minion certificates
  Tiltfile
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/minion-certificate-manager/minion-certificate-manager-deployment.yaml
  charts/opennms/templates/opennms/minion-certificate-manager/minion-certificate-manager-service.yaml
  charts/opennms/values.yaml
  metrics-processor/pom.xml
  minion-certificate-manager/pom.xml
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/MinionCertificateManagerApplication.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CertClient.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CertZipper.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/GrpcConfig.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/GrpcServerManager.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/GrpcTenantLookupImpl.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertServerInterceptor.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertificateManagerImpl.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/TenantLookup.java
  minion-certificate-manager/src/main/resources/application.yaml
  minion-certificate-manager/src/test/java/org/opennms/horizon/minioncertmanager/MinionCertificateManagerImplApplicationTests.java
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcMinionCertificateManager.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClient.java
  rest-server/src/main/resources/application.yml
  shared-lib/minion-certificate-manager-api/pom.xml
  shared-lib/minion-certificate-manager-api/src/main/proto/minion-certificate-manager.proto
  shared-lib/pom.xml
Due: run-job-no-ops

more fix when service restart
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/TriggerEventRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/trigger_event_uei_keys.xml
Due: none

update the definition
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
Due: none
