Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

use options syntax for device table tests
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/store/Queries/appliancesQueries.ts
  ui/tests/Appliances/deviceTable.test.ts
Due: run-job-no-ops

HS-207 Minor changes
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/tests/Appliances/deviceTable.test.ts
Due: run-job-no-ops

initial commit for device REST endpoints
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/AbstractService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/inventory/pom.xml
  platform/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/DeviceDTO.java
Due: run-job-no-ops

jira/HS-145 - debugging the external-it actions
  .github/actions/external-it/action.yml
  .github/workflows/develop.yml
  dev/kubernetes.kafka.yaml
  local-sample/run.sh
Due: run-job-dev

HS-207-clean Remove Rest related files
  ui/.env.development
  ui/src/services/deviceService.spec.ts
  ui/src/store/deviceStore.spec.ts
  ui/src/store/deviceStore.ts
Due: run-job-no-ops

HS-207-clean Remove file
  ui/src/services/deviceService.ts
Due: run-job-no-ops

jira/HS-145 - debugging pipeline
  .github/actions/external-it/action.yml
  .github/workflows/develop.yml
Due: none

jira/HS-145 - debugging pipeline
  .github/actions/external-it/action.yml
Due: none

jira/HS-145 - operator working now, running rull develop.yml test
  .github/workflows/develop.yml
Due: none

HS-222: Add BFF API for Minions
  platform/alarms/rest/src/main/java/org/opennms/netmgt/alarmd/rest/AlarmRestService.java
  platform/assemblies/features/src/main/feature/features.xml
  platform/minion/rest/pom.xml
  platform/minion/rest/src/main/java/org/opennms/horizon/minion/rest/internal/MinionRestServiceImpl.java
  platform/minion/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/MinionCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/MinionDTO.java
Due: run-job-no-ops

use typescript for mock gql server
  ui/codegen.yml
  ui/components.d.ts
  ui/mock-graphql/codegen.yml
  ui/mock-graphql/index.ts
  ui/mock-graphql/package.json
  ui/mock-graphql/src/graphql/Mutations/saveRoutingKey.graphql
  ui/mock-graphql/src/graphql/Queries/appliancesQuery.graphql
  ui/mock-graphql/src/schema.ts
  ui/mock-graphql/src/store/Queries/devices.ts
  ui/mock-graphql/src/typeDefs.ts
  ui/mock-graphql/tsconfig.json
  ui/package.json
  ui/src/graphql/Notifications/saveRoutingKeyMockMutation.ts
  ui/src/graphql/Queries/appliancesQuery.graphql
  ui/src/services/deviceService.spec.ts
  ui/src/services/deviceService.ts
  ui/src/store/Mutations/notificationMutations.ts
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/store/deviceStore.spec.ts
  ui/src/store/deviceStore.ts
  ui/src/types/appliances.ts
  ui/src/types/graphql-mocks.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-207-clean Add transition to table
  ui/.env.development
  ui/components.d.ts
  ui/package.json
  ui/src/components/Appliances/DeviceTable.vue
  ui/yarn.lock
Due: run-job-no-ops

HS-207-clean Add transition to table
  ui/.env.development
  ui/src/composables/useTransitionGroup.ts
Due: run-job-no-ops

use transition from cloud
  ui/src/App.vue
  ui/src/components/Appliances/DeviceTable.vue
Due: run-job-no-ops

HS-206 Remove table transition composable
  ui/package.json
  ui/src/composables/useTransitionGroup.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-206 Add minions query to mock server
  ui/mock-graphql/src/schema.js
  ui/mock-graphql/src/store/Queries/devices.js
  ui/mock-graphql/src/store/Queries/minions.js
  ui/mock-graphql/src/typeDefs.js
Due: run-job-no-ops

jira/HS-145 - fixed external-it action with correct creds and domain
  .github/actions/external-it/action.yml
Due: none

jira/HS-145 - debugging external-it, added performance parameter to core for multi threading
  .github/actions/core/action.yml
  .github/actions/external-it/action.yml
Due: none

HS-206 Restruct / rename
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/store/Queries/deviceQueries.ts
  ui/src/types/appliances.ts
  ui/src/types/device.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/deviceTable.test.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
Due: run-job-no-ops

HS-206 Add minion table
  ui/.env.development
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/store/Queries/minionsQueries.ts
  ui/src/types/minions.ts
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

HS-206 Add minion table
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-148: kubernetes-replicator fixed
  charts/opennms-operator-dependencies/Chart.lock
  charts/opennms-operator-dependencies/Chart.yaml
  charts/opennms-operator-dependencies/charts/kubernetes-replicator-2.7.3.tgz
  charts/opennms-operator/Chart.yaml
  charts/opennms/Chart.yaml
  operator/config/.env
  operator/dependencies/dependency_list.go
  operator/scripts/create-instance.sh
  operator/scripts/install-helm-deps-local.sh
  operator/scripts/install-local.sh
Due: none

HS-148: repackage
  charts/packaged/index.yaml
  charts/packaged/opennms-0.1.2.tgz
  charts/packaged/opennms-operator-0.1.2.tgz
  charts/packaged/opennms-operator-dependencies-0.1.2.tgz
Due: none

jira/HS-145 - added some debugging to fix ci-cd pipeline
  .github/actions/core/action.yml
  .github/workflows/develop.yml
  local-sample/run.sh
Due: none

jira/HS-145 - added some more debugging to fix ci-cd pipeline
  local-sample/run.sh
Due: none

check combined err msgs for status codes
  ui/components.d.ts
  ui/mock-graphql/package.json
  ui/src/services/gqlService.ts
Due: run-job-no-ops

HS-222: Derive status for the Minion
  platform/minion/rest/src/main/java/org/opennms/horizon/minion/rest/internal/MinionRestServiceImpl.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/Status.java
Due: run-job-no-ops

jira/HS-145 - added a ssh session to try and debug the operator
  .github/actions/external-it/action.yml
  .github/workflows/develop.yml
Due: none

Open and port forward development ports in Skaffold
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

jira/HS-238 - changed the label for ui service to point to the correct pod
  local-sample/services.yaml
Due: none

HS-206 Update mion fields
  ui/mock-graphql/src/store/Queries/minions.js
  ui/mock-graphql/src/typeDefs.js
Due: run-job-no-ops

jira/HS-238 - debugging
  .github/actions/external-it/action.yml
Due: none

HS-206 Adjustments
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/containers/Appliances.vue
  ui/src/store/Queries/deviceQueries.ts
  ui/src/types/minions.ts
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

jira/HS-145 - minimized resource limits on the opennms operator
  charts/opennms-operator/values.yaml
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
