Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

jira/HS-238 - added ssh debugging session
  .github/workflows/develop.yml
  Tiltfile
Due: none

Update PR template with suggestions
  .github/pull_request_template.md
Due: none

jira/HS-145 - fixed operator install and ingress issues
  local-sample/hs-ingress.yaml
  local-sample/run.sh
  operator/local-instance.yaml
  operator/values.yaml
Due: none

Update prettierrc and editorconfig files to match code style
  .editorconfig
  .github/pull_request_template.md
  ui/.prettierrc
Due: run-job-no-ops

jira/HS-145 - removed ssh session debugger
  .github/workflows/develop.yml
Due: none

jira/HS-145 - testing fix
  .github/workflows/develop.yml
  Tiltfile
  local-sample/run.sh
Due: none

jira/HS-145 - testing fix
  local-sample/hs-ingress.yaml
Due: none

jira/HS-238 - found bug, fixed
  local-sample/run.sh
Due: none

jira/HS-238 - removed debugging info
  .github/workflows/develop.yml
Due: none

REST endpoints for list, get and create devices
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/AbstractService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/BaseMapper.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/DeviceMapper.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  rest-server/PlatformGateway.md
  shared-lib/dto-model/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/DeviceCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/LocationDto.java
Due: run-job-no-ops

HS-206 Add minions query
  ui/.env.development
  ui/codegen.yml
  ui/mock-graphql/README.md
  ui/mock-graphql/codegen.yml
  ui/mock-graphql/src/graphql/Queries/deviceQuery.graphql
  ui/mock-graphql/src/graphql/Queries/minionsQuery.graphql
  ui/mock-graphql/src/schema.ts
  ui/mock-graphql/src/store/Queries/device.ts
  ui/mock-graphql/src/store/Queries/minions.ts
  ui/mock-graphql/yarn.lock
  ui/package.json
  ui/src/graphql/Queries/deviceQuery.graphql
  ui/src/graphql/Queries/minionsQuery.graphql
  ui/src/store/Queries/minionsQueries.ts
  ui/src/types/graphql-mocks.ts
  ui/yarn.lock
Due: run-job-no-ops

jira/HS-145 - added debugging ssh
  .github/workflows/develop.yml
Due: none

initial commit for device REST endpoints
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/AbstractService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/inventory/pom.xml
  platform/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/DeviceDTO.java
Due: run-job-no-ops

HS-187: Add test
  platform/ipc/heartbeat/pom.xml
  platform/ipc/heartbeat/src/test/java/org/opennms/ipc/heartbeat/HeartbeatConsumerTest.java
Due: run-job-no-ops

jira/HS-145 - testing, ssh debugger is still enabled
  .github/actions/external-it/action.yml
  charts/opennms-operator/values.yaml
  local-sample/README.md
  local-sample/run.sh
Due: none

HS-222: Add lastUpdated field
  platform/minion/rest/src/main/java/org/opennms/horizon/minion/rest/internal/MinionRestServiceImpl.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/MinionDTO.java
Due: run-job-no-ops

jira/HS-145 - fixed pipeline
  .github/actions/external-it/action.yml
Due: none

HS-206 Cleanup
  ui/mock-graphql/src/data/device.ts
  ui/mock-graphql/src/data/minions.ts
  ui/mock-graphql/src/schema.ts
  ui/src/graphql/Queries/deviceQuery.graphql
  ui/src/graphql/Queries/minionsQuery.graphql
  ui/src/types/appliances.ts
  ui/src/types/device.ts
  ui/src/types/minions.ts
  ui/src/types/mocks.ts
Due: run-job-no-ops

jira/HS-145 - fixed some more issues
  local-sample/run.kc-config.sh
  local-sample/run.sh
Due: none

HS-241: Add Cucumber IT for /minions
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/internal/EventRestServiceImpl.java
  platform/ipc/pom.xml
Due: run-job-no-ops, run-job-external-it

jira/HS-145 - removed ssh debugging config
  .github/workflows/develop.yml
Due: none

HS-241: Update step
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

HS-206 Add file back
  ui/src/types/mocks.ts
Due: run-job-no-ops

add device btn, form, modal, tests
  ui/components.d.ts
  ui/mock-graphql/src/graphql/Mutations/saveDevice.graphql
  ui/mock-graphql/src/schema.ts
  ui/mock-graphql/src/typeDefs.ts
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/NotificationsCtrl.vue
  ui/src/components/Common/PrimaryModal.vue
  ui/src/composables/useModal.ts
  ui/src/containers/Appliances.vue
  ui/src/store/Mutations/deviceMutations.ts
  ui/src/types/graphql-mocks.ts
  ui/tests/Appliances/addDeviceCtrl.test.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
Due: run-job-no-ops

jira/HS-145 - fixed local-sample/run.sh
  local-sample/run.sh
Due: none

rm gql package in subfolder
  ui/mock-graphql/package.json
  ui/mock-graphql/yarn.lock
Due: run-job-no-ops

jira/HS-145 - fixed local-sample/run.kc-config.sh
  local-sample/run.kc-config.sh
Due: none

HS-240 Adjust device/minion query
  ui/mock-graphql/package.json
  ui/mock-graphql/src/data/device.ts
  ui/mock-graphql/src/data/minions.ts
  ui/mock-graphql/src/graphql/Queries/deviceQuery.graphql
  ui/mock-graphql/src/graphql/Queries/minionsQuery.graphql
  ui/mock-graphql/src/typeDefs.ts
  ui/mock-graphql/yarn.lock
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/types/graphql-mocks.ts
  ui/tests/Appliances/deviceTable.test.ts
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

.github/ - changed base url on external-it
  .github/actions/external-it/action.yml
Due: none

Re-organize the shared dto lib
  platform/alarms/rest/src/main/java/org/opennms/netmgt/alarmd/rest/internal/AlarmRestServiceImpl.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/AlarmMapper.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/EventMapper.java
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/EventRestService.java
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/internal/EventRestServiceImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestAPIImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/DeviceMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/service/AlarmService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/EventService.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/LocationDto.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/AlarmAckDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/AlarmCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/AlarmDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/AlarmSummaryDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/EventCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/EventDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/EventParameterDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/MemoDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/ReductionKeyMemoDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/event/ServiceTypeDTO.java
Due: run-job-no-ops

jira/HS-145 .github/ - ssh session for debuggimg
  .github/workflows/develop.yml
Due: none

HS-241: Revert failing scenario
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

add location mapper
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/DeviceMapper.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/LocationMapper.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/inventory/pom.xml
Due: run-job-no-ops

HS-241: Retry until minion is available
  external-it/external-horizon-stream-it/pom.xml
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

jira/HS-145 - updated local-sample and operator to proper dir and decrease resource usage
  local-sample/run.sh
  operator/local-instance.yaml
Due: none

jira/HS-145 - fixed local-samlpe/run.sh
  local-sample/run.sh
Due: none

added locationDto into deviceDTO
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/AbstractService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/DeviceMapper.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/LocationDto.java
Due: run-job-no-ops

HS-241: Give more time for minion to register
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
Due: run-job-external-it

HS-240 Adjust ui
  ui/mock-graphql/src/data/device.ts
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
