Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

HS-1162 - fix importing scss
  ui/src/App.vue
  ui/src/components/Alerts/AlertsSeverityLabel.vue
Due: run-job-no-ops

Disable develop workflow when PR only touches non-code paths
  .github/workflows/develop.yml
Due: none

Use paths-ignore instead of paths to fix workflows not triggering at all
  .github/workflows/develop.yml
Due: none

Fix paths-ignore syntax
  .github/workflows/develop.yml
Due: none

Ignore .github directory as trigger for develop workflow
  .github/workflows/develop.yml
Due: none

fix deployment environment variables
  charts/opennms/templates/opennms/api/api-deployment.yaml
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

HS-1163 Add markup
  ui/src/components/Alerts/alerts.constant.ts
  ui/src/containers/Alerts.vue
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

HS-1163 Remove unneeded type value
  ui/src/components/Alerts/alerts.constant.ts
  ui/src/containers/Alerts.vue
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

HS-1163 Minor fix
  ui/src/containers/Alerts.vue
Due: run-job-no-ops

HS-1249 Include cxf-karaf-commands in minion software distribution.
  minion/assembly/pom.xml
Due: none

HS-1163 Remove empty class
  ui/src/containers/Alerts.vue
Due: run-job-no-ops

HS-1151: add collection of node_count metrics per tenant.
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/CucumberRunnerIT.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/InventoryHttpStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-metrics.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/InventoryApplication.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/model/TenantCount.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/repository/NodeRepository.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/tenantmetrics/TenantMetricsNodeCountCollector.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/tenantmetrics/TenantMetricsNodeCountCollectorInitializer.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/LocationGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringSystemGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcStartupIntTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/TagGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/AzureActiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/IcmpActiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/PassiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/IcmpActiveDiscoveryRepositoryTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/SnmpConfigRepositoryTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/DetectorResponseServiceIntTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseServiceIntTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/tenantmetrics/TenantMetricsNodeCountCollectorTest.java
Due: none

HS-1212: route reconfigured
  charts/opennms/templates/ingress/openshift/onms-api-route.yaml
  charts/opennms/templates/ingress/openshift/onms-grafana-route.yaml
  charts/opennms/templates/ingress/openshift/onms-keycloak-route.yaml
  charts/opennms/templates/ingress/openshift/onms-minion-route.yaml
  charts/opennms/templates/ingress/openshift/onms-ui-route.yaml
  operator/README.md
Due: none

HS-858: initial documentation
  operator/README.md
  operator/internal/scheme/scheme.go
Due: none

HS-1212: final routes
  charts/opennms/templates/ingress/openshift/onms-api-route.yaml
  charts/opennms/templates/ingress/openshift/onms-grafana-route.yaml
  charts/opennms/templates/ingress/openshift/onms-keycloak-route.yaml
  charts/opennms/templates/ingress/openshift/onms-minion-route.yaml
  charts/opennms/templates/ingress/openshift/onms-ui-route.yaml
Due: none

HS-1212: alarm service was renamed
  operator/scripts/deploy-hs-os.sh
  operator/scripts/local-os-onms-instance.yaml
Due: none

HS-1060;1084;1069: dependency updates
  operator/go.mod
  operator/go.sum
Due: none

First test to check it is working
  external-it/external-horizon-stream-it/pom.xml
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/DiscoveryTest.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

initial commit for monitoring policy
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/policy.xml
  shared-lib/alert/pom.xml
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
  shared-lib/pom.xml
Due: none

HS-1183 - add query for active and passive tags, add preselected for SNMP
  ui/src/components/Common/BasicAutocomplete.vue
  ui/src/components/Discovery/DiscoverySnmpForm.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/graphql/Discovery/tagsByDiscoveryIdQuery.gql
  ui/src/store/Queries/discoveryQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-1032 Cleanup stale/error connections.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/GrpcTwinPublisher.java
Due: none

HS-1169 Restructure alerts main page
  ui/mock-graphql/src/data/alerts.ts
  ui/mock-graphql/src/fixture/alerts.fixture.ts
  ui/mock-graphql/src/graphql/Queries/alertsList.gql
  ui/mock-graphql/src/schema.ts
  ui/mock-graphql/src/typeDefs.ts
  ui/src/components/Alerts/AlertsCardList.vue
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/containers/Alerts.vue
  ui/src/store/Queries/alertsQueries.ts
  ui/src/store/Views/alertsStore.ts
  ui/src/types/graphql-mocks.ts
  ui/tests/Alerts/alerts.test.ts
  ui/tsconfig.json
Due: run-job-no-ops

HS-1169 Rework tests
  ui/components.d.ts
  ui/src/components/Alerts/AlertsCardList.vue
  ui/src/containers/Alerts.vue
  ui/tests/Alerts/alertsCardList.test.ts
Due: run-job-no-ops

HS-1169 Add tests
  ui/tests/Alerts/alertsCard.test.ts
Due: run-job-no-ops

HS-1169 Refact mountWithPiniaVillus
  ui/tests/Alerts/alerts.test.ts
  ui/tests/mountWithPiniaVillus.ts
Due: run-job-no-ops

refact-mountWithPiniaVillus Refact mountWithPiniaVillus
  ui/components.d.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/appliancesNotificationsCtrl.test.ts
  ui/tests/Dashboard/dashboard.test.ts
  ui/tests/Discovery/locationsAutocomplete.test.ts
  ui/tests/Flows/flows.test.ts
  ui/tests/Graphs/graphs.test.ts
  ui/tests/Inventory/tags.test.ts
  ui/tests/Layout/menubar.test.ts
  ui/tests/Map/gridTabs.test.ts
  ui/tests/Map/mapAlarmsGrid.test.ts
  ui/tests/Map/mapNodesGrid.test.ts
  ui/tests/Map/mapSearch.test.ts
  ui/tests/Map/severityFilter.test.ts
  ui/tests/MyDiscovery/myDiscovery.test.ts
  ui/tests/SyntheticTransactions/syntheticTransactions.test.ts
  ui/tests/Topology/networkGraph.test.ts
  ui/tests/UsageStats/usageStats.test.ts
  ui/tests/mountWithPiniaVillus.ts
  ui/tests/setupWrapper.ts
Due: run-job-no-ops

refact-mountWithPiniaVillus Add param info
  ui/tests/mountWithPiniaVillus.ts
Due: run-job-no-ops

refact-mountWithPiniaVillus Add usage info
  ui/tests/mountWithPiniaVillus.ts
Due: run-job-no-ops

.github/workflows/develop.yml - putting update job asyncronous to rest of workflow
  .github/workflows/develop.yml
Due: none

Remove unneeded 'to.string'
  ui/src/components/Flows/TableChart.vue
Due: run-job-no-ops

HS-1215: Add multiple tags to multiple entities (#870)
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/InventoryBackgroundHelper.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/AzureDiscoveryStepDefinitions.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/PassiveDiscoveryStepDefinitions.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/tags/ActiveDiscoveryTaggingStepDefinitions.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/tags/NodeTaggingStepDefinitions.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/tags/PassiveDiscoveryTaggingStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/active-discovery-tagging.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node-tagging.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/passive-discovery-tagging.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/discovery/ActiveDiscoveryGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/discovery/PassiveDiscoveryGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/TagService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/PassiveDiscoveryService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/active/ActiveDiscoveryService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/active/AzureActiveDiscoveryService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/active/IcmpActiveDiscoveryService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/TagGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/PassiveDiscoveryGrpcItTest.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/TagMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/model/inventory/tag/TagCreate.java
  rest-server/src/main/java/org/opennms/horizon/server/model/inventory/tag/TagListNodesAdd.java
  rest-server/src/main/java/org/opennms/horizon/server/model/inventory/tag/TagListNodesRemove.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcTagService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLTagServiceTest.java
  shared-lib/inventory/src/main/proto/activeDiscovery.proto
  shared-lib/inventory/src/main/proto/passiveDiscovery.proto
  shared-lib/inventory/src/main/proto/tag.proto
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/graphql/Tag/addTagsMutation.gql
  ui/src/store/Mutations/nodeMutations.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Expending test methods for Inventory testing
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/DiscoveryTest.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

HS-1161 Add casual package
  ui/package.json
  ui/yarn.lock
Due: run-job-no-ops

HS-1183 - small fix for props chnaging
  ui/src/components/Common/BasicAutocomplete.vue
Due: run-job-no-ops

hotfix - no validation for ip
  ui/src/components/Discovery/DiscoveryContentEditable.vue
Due: run-job-no-ops

HS-1110: Rules and completed policies cards (#874)
  ui/components.d.ts
  ui/src/components/Common/BasicSelect.vue
  ui/src/components/MonitoringPolicies/AlertConditions.vue
  ui/src/components/MonitoringPolicies/Condition.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCard.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCardAlertRow.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesPolicyForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesRuleForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesSaveButtons.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesThresholdCondition.vue
  ui/src/components/MonitoringPolicies/ThresholdAlert.vue
  ui/src/containers/MonitoringPolicies.vue
  ui/src/store/Mutations/monitoringPoliciesMutations.ts
  ui/src/store/Queries/monitoringPoliciesQueries.ts
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/src/styles/_transitionFade.scss
  ui/src/styles/vars.scss
  ui/src/types/policies.d.ts
Due: run-job-no-ops

HS-1151: Minor cleanup - add missing Copyright headers, and remove some unused imports
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/InventoryHttpStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-metrics.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/InventoryApplication.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/model/TenantCount.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/repository/NodeRepository.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/tenantmetrics/TenantMetricsNodeCountCollector.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/tenantmetrics/TenantMetricsNodeCountCollectorInitializer.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/tenantmetrics/TenantMetricsNodeCountCollectorTest.java
Due: none

Added Expanding charts component, Dialog boxes with filter checkboxes, tidied up store, watch on basic table, prettier updates.
  ui/components.d.ts
  ui/src/components/Common/BasicChart.vue
  ui/src/components/Flows/ExpandingChartWrapper.vue
  ui/src/components/Flows/TableChart.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-946: Persist and populate Snmp agent config (#852)
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/CucumberRunnerIT.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/AzureDiscoveryStepDefinitions.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/IcmpDiscoveryStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/icmp-active-discovery.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/mapper/SnmpConfigMapper.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/repository/SnmpConfigRepository.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/SnmpConfigService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/CollectorTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/DetectorTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/MonitorTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/TaskSetHandler.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/SnmpConfigRepositoryTest.java
  inventory/testtools/minion-gateway-wiremock/minion-gateway-wiremock-client/src/main/java/org/opennms/horizon/inventory/testtool/miniongateway/wiremock/client/MinionGatewayWiremockTestSteps.java
  minion/docker-compose.yaml
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScanner.java
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/SnmpConfigDiscovery.java
  minion/plugins/shell-commands/src/main/java/org/opennms/horizon/minion/icmp/shell/SnmpCollectCommand.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpCollector.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpConfigUtils.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpDetector.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitor.java
  minion/plugins/snmp-plugin/src/test/java/org/opennms/horizon/minion/snmp/SnmpAgentConfigTest.java
  minion/plugins/snmp-plugin/src/test/java/org/opennms/horizon/minion/snmp/SnmpDetectorTest.java
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/normalization/Constants.java
  shared-lib/protobuf/src/main/proto/snmp.proto
Due: run-job-no-ops
