Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

HS-811 - fix import
  ui/src/components/Discovery/AzureForm.vue
Due: run-job-no-ops

HS-783 Fix node list after deletion
  ui/src/components/Inventory/InventoryIconActionList.vue
  ui/src/store/Queries/inventoryQueries.ts
Due: run-job-no-ops

DC-431 Flow Handoff from minion to cloud: rebasing
  minion/minion-flows/flows-features/pom.xml
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/TelemetryRegistry.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow5UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow9UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/TelemetryRegistryImpl.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpListenerModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
Due: none

DC-431 Flow Handoff from Minion to Cloud
  minion/minion-flows/flows-parser/pom.xml
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
Due: none

DC-431 Adjust FlowSinkModule and UnmarshalException classes to run in karaf
  minion/minion-flows/flows-parser/pom.xml
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowSinkModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UnmarshalException.java
  minion/minion-flows/flows-parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: none

DC-431 Put Identity Class back as it's needed to determine sender identity
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowSinkModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow5UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow9UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IdentityImpl.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
Due: none

DC-431 Flow Handoff: rebase and update classes
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowSinkModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow5UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow9UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/NMS13006_Test.java
Due: none

HS-783 Add mutation test template
  ui/tests/store/Mutations/nodeMutations.test.ts
Due: run-job-no-ops

Remove deadline for minion
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/GrpcClientConstants.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
  minion/minion-grpc/grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: none

HS-826 - Allow for Disabling of grafana, ingress, and minion-gateway-grpc-proxy Services (#616)
  charts/opennms/templates/grafana/grafana-deployment.yaml
  charts/opennms/templates/grafana/grafana-secret.yaml
  charts/opennms/templates/grafana/grafana-service.yaml
  charts/opennms/templates/ingress/custom-errors/nginx-errors-deployment.yaml
  charts/opennms/templates/ingress/custom-errors/nginx-errors-service.yaml
  charts/opennms/templates/ingress/jobs/job-createsecret.yaml
  charts/opennms/templates/ingress/jobs/job-patchwebhook.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-clusterrole.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-clusterrolebinding.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-configmap.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-deployment.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-grpc-service.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-ingress-class.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-role.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-rolebinding.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-service-admission.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-service.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-serviceaccount.yaml
  charts/opennms/templates/ingress/validating-webhook/validating-webhook.yaml
  charts/opennms/templates/ingress/validating-webhook/webhook-clusterrole.yaml
  charts/opennms/templates/ingress/validating-webhook/webhook-clusterrolebinding.yaml
  charts/opennms/templates/ingress/validating-webhook/webhook-role.yaml
  charts/opennms/templates/ingress/validating-webhook/webhook-rolebinding.yaml
  charts/opennms/templates/ingress/validating-webhook/webhook-serviceaccount.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-deployment.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-service.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-serviceaccount.yaml
  charts/opennms/values.yaml
  install-local/install-local-opennms-horizon-stream-values.yaml
  minion/README.md
Due: none

HS-782 Add delete minion action
  ui/codegen.yml
  ui/components.d.ts
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/graphql/Minions/deleteMinionMutation.gql
  ui/src/graphql/Minions/deleteMinionMutation.graphql
  ui/src/store/Mutations/minionMutations.ts
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/types/graphql.ts
  ui/src/types/modal.d.ts
Due: run-job-no-ops

HS-782 Add mutation test template
  ui/.gitignore
  ui/tests/store/Mutations/minionMutations.test.ts
Due: run-job-no-ops

init monitoring policies page (#620)
  ui/components.d.ts
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/MonitoringPolicies.vue
  ui/src/router/index.ts
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/tests/MonitoringPolicies/monitoringPolicies.test.ts
Due: run-job-no-ops

Refactor develop pipeline to use reusable workflows that run in parallel
  .github/actions/alarm/action.yml
  .github/actions/datachoices/action.yml
  .github/actions/events/action.yml
  .github/actions/external-it/action.yml
  .github/actions/grafana/action.yml
  .github/actions/inventory/action.yml
  .github/actions/java-install-prereqs/action.yml
  .github/actions/java-restore-prereqs/action.yml
  .github/actions/jib-maven-sonar/action.yml
  .github/actions/keycloak-ui/action.yml
  .github/actions/metrics-processor/action.yml
  .github/actions/minion-gateway-grpc-proxy/action.yml
  .github/actions/minion-gateway/action.yml
  .github/actions/minion/action.yml
  .github/actions/notifications/action.yml
  .github/actions/operator/action.yml
  .github/actions/parent-pom/action.yml
  .github/actions/rest-server/action.yml
  .github/actions/shared-lib-prereq/action.yml
  .github/actions/shared-lib/action.yml
  .github/actions/ui/action.yml
  .github/workflows/develop.yml
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-parent-pom.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-shared-lib.yml
  .github/workflows/feature-ui.yml
  .github/workflows/release.yml
Due: none

Fix rogue job dependency
  .github/workflows/develop.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
Due: none

Add image registry prefix to image names
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
Due: none

Remove docker-publish-account from Keycloak workflow
  .github/workflows/feature-keycloak-ui.yml
Due: none

Fix incorrect variables and wrong user in image tag
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
Due: none

Remove opennms from image names
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
Due: none

Switch to using repository_owner instead of actor for docker images
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
Due: none

Fix all the actor references I missed
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
Due: none

Test out docker metadata action for grafana image
  .github/workflows/feature-grafana.yml
Due: none

Fix invalid env var syntax
  .github/workflows/feature-grafana.yml
Due: none

Use docker metadata aciton to generate sanitizd image tags
  .github/workflows/feature-alarm.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
Due: none

HS-783 Remove action from modal type
  ui/components.d.ts
  ui/src/components/Inventory/InventoryIconActionList.vue
  ui/src/types/graphql.ts
  ui/src/types/modal.d.ts
Due: run-job-no-ops

HS-782 Remove action from modal type
  ui/components.d.ts
  ui/src/components/Appliances/AppliancesMinionsTable.vue
  ui/src/types/graphql.ts
  ui/src/types/modal.d.ts
  ui/tests/store/Mutations/minionMutations.test.ts
Due: run-job-no-ops

HS-783 Add responsive to node item width
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/styles/mediaQueriesMixins.scss
Due: run-job-no-ops

HS-783 Add todo for later
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-781 Update ui
  ui/components.d.ts
  ui/src/components/Inventory/InventoryTagManager.vue
  ui/src/containers/Inventory.vue
  ui/src/styles/mediaQueriesMixins.scss
  ui/src/styles/vars.scss
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-781 Update tag maanger ctrl
  ui/src/components/Inventory/InventoryFilter.vue
  ui/src/components/Inventory/InventoryTagManager.vue
  ui/src/components/Inventory/InventoryTagManagerCtrl.vue
  ui/src/store/Views/inventoryStore.ts
  ui/src/styles/btns.scss
  ui/src/styles/mediaQueries.scss
Due: run-job-no-ops

HS-781 Minor change
  ui/src/components/Inventory/InventoryTagManager.vue
Due: run-job-no-ops

HS-782 Change conf text
  ui/src/components/Appliances/AppliancesMinionsTable.vue
Due: run-job-no-ops

HS-783 Change conf text
  ui/src/components/Inventory/InventoryIconActionList.vue
Due: run-job-no-ops

Fix references to wrong actions in develop workflow
  .github/workflows/develop.yml
Due: none

Move jib version to parent-pom pluginManagement
  datachoices/pom.xml
  events/pom.xml
  inventory/pom.xml
  parent-pom/pom.xml
Due: none

HS-819 - add new policy
  ui/src/components/MonitoringPolicies/AddNewPolicy.vue
  ui/src/components/MonitoringPolicies/PolicyTags.vue
  ui/src/containers/MonitoringPolicies.vue
  ui/src/store/Views/monitoringPoliciesStore.ts
Due: run-job-no-ops

DC-431 Fix PropertyName for location in blueprint.xml
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowSinkModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow5UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow9UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/FlowsIdentity.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/FlowsIdentityImpl.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
Due: none

Use maven property for image name in Testcontainer
  alarm/pom.xml
  alarm/src/test/java/org/opennms/horizon/alarmservice/CucumberRunnerIT.java
  alarm/src/test/java/org/opennms/horizon/alarmservice/testcontainers/TestContainerRunnerClassRule.java
  alarm/src/test/resources/application.yaml
Due: none

Fix encoding warnings by adding sourceEncoding to parent-pom
  external-it/external-horizon-stream-it/pom.xml
  minion/pom.xml
  parent-pom/pom.xml
  shared-lib/horizon-grpc-common-constants/pom.xml
Due: run-job-external-it

Remove duplicate awaitility dependency
  inventory/pom.xml
Due: none
