Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

fix the coverage error
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/NodeMonitoringManager.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/NodeMonitoringManagerTest.java
Due: none

RELEASE v0.0.33-dev - updated (#1036)
  CHANGELOG/changelog-v0.0.33-dev.md
Due: none

review comments
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetServiceTest.java
Due: none

HS-1436 - add filter for applications card
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/containers/Dashboard.vue
  ui/src/store/Views/flowsStore.ts
  ui/src/types/flows.d.ts
Due: run-job-no-ops

HS-1423: fix remove tag from node issue
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcTagService.java
Due: run-job-no-ops

Add chart download. Add help drawer.
  ui/components.d.ts
  ui/src/components/Flows/LineChart.vue
  ui/src/components/Flows/TableChart.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
  ui/tests/Flows/flows.test.ts
  ui/tests/Flows/flowsData.ts
Due: run-job-no-ops

Rermove duplicate width
  ui/src/containers/Flows.vue
Due: run-job-no-ops

Fix code smells
  ui/src/components/Flows/LineChart.vue
  ui/src/components/Flows/TableChart.vue
Due: run-job-no-ops

comment
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ApplianceSteps.java
Due: run-job-external-it

HS-1436 - fix autocomplete
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1436 - fix mobile
  ui/src/components/Dashboard/DashboardApplications.vue
Due: run-job-no-ops

[HS-1497] Add authorization check for the instance
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudAuthErrorPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudLeftPanelPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudLoginPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudAuthErrorSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLeftPanelSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/AddNewInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalCloudSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PrepareDataSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/utils/TestDataStorage.java
  external-it/hs-system-tests/src/test/resources/cloud-features/tenant-authorization.feature
Due: run-job-external-it

[HS-1504] Add tests for Delete instance functionality
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/PortalApi.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/PortalEndpoints.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/DeleteInstancePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstanceNamePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudAuthErrorSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/DeleteInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceNameSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalCloudSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PrepareDataSteps.java
  external-it/hs-system-tests/src/test/resources/portal-features/delete-instance.feature
Due: run-job-external-it

Add device test
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/AppliancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ApplianceSteps.java
  external-it/hs-system-tests/src/test/resources/cloud-features/appliance-tests.feature
Due: run-job-external-it

[HS-1521] Add tests for Edit instance functionality
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstanceNamePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalSnackBar.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/AddNewInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceNameSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalSnackBarSteps.java
  external-it/hs-system-tests/src/test/resources/portal-features/create-instance.feature
  external-it/hs-system-tests/src/test/resources/portal-features/edit-instance.feature
Due: run-job-external-it

HS-1445 - unit tests
  ui/components.d.ts
  ui/src/components/Dashboard/DashboardCard.vue
  ui/src/components/Dashboard/DashboardHeaderLinks.vue
  ui/tests/Dashboard/dashboardCard.test.ts
  ui/tests/Dashboard/dashboardEmptyState.test.ts
  ui/tests/Dashboard/dashboardHeaderLinks.test.ts
  ui/tests/Dashboard/dashboardNetworkTraffic.test.ts
Due: run-job-no-ops

Location Manager implements gRPC endpoints to add/edit/delete
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/InventoryBackgroundHelper.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/MonitoringLocationStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/monitoring-location.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/MonitoringLocationGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/MonitoringLocationService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/LocationGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/MonitoringLocationRepoTest.java
Due: none

BE - Location Manager create gRPC endpoints to add/edit/delete (GRPC)
  shared-lib/inventory/src/main/proto/monitoringLocation.proto
Due: none

add unit test for MonitoringLocationGrpcService to satisfy sonar
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringLocationGrpcServiceTest.java
Due: none

add unit test for MonitoringLocationService to satisfy sonar
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/MonitoringLocationServiceTest.java
Due: none

Use Util Method
  ui/src/components/Flows/LineChart.vue
  ui/src/components/Flows/TableChart.vue
Due: run-job-no-ops

HS-1473 Enrich ValueTest with missing test cases
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ValueTest.java
Due: none

Add package for go files
  shared-lib/minion-certificate-manager-api/src/main/proto/minion-certificate-manager.proto
Due: none

HS-1133: Enable UI edit of passive discovery (#1030)
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/PassiveDiscoveryService.java
  ui/src/components/Appliances/AppliancesNotificationsCtrl.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/components/Inventory/InventoryTagManager.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesPolicyForm.vue
  ui/src/containers/Discovery.vue
  ui/tests/Discovery/discoverySyslogSNMPTrapsForm.test.ts
Due: run-job-no-ops

Update Util for canvas download. Add Selectrion limit to autocomplete. Add loading logic.
  ui/src/components/Graphs/utils.ts
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Correct Names for Methods
  ui/src/store/Views/flowsStore.ts
  ui/tests/Flows/flows.test.ts
Due: run-job-no-ops

Correcting Method names
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

update deleteLocation to return boolean
  shared-lib/inventory/src/main/proto/monitoringLocation.proto
Due: none

Split flowStore into multiple stores to handle extra charts in the future.
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsApplicationStore.ts
  ui/src/store/Views/flowsStore.ts
  ui/tests/Flows/flows.test.ts
Due: run-job-no-ops

update deleteLocation to return boolean and add exception to grpc call
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/MonitoringLocationStepDefinitions.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/MonitoringLocationGrpcService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringLocationGrpcServiceTest.java
Due: none

Corrections to the steps and methods
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/AppliancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ApplianceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ConfirmDeleteMinionSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/utils/TestDataStorage.java
  external-it/hs-system-tests/src/test/resources/cloud-features/appliance-tests.feature
Due: run-job-external-it

HS-1436 - unit test
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/store/Views/flowsStore.ts
  ui/tests/Dashboard/dashboardApplication.test.ts
Due: run-job-no-ops

Improve thread management for buffer reader and add comment about not use this in production
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CommandExecutor.java
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/certificate/PKCS8Generator.java
Due: none

Corrections to the steps and methods
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/AppliancePage.java
Due: run-job-external-it

manually set active villus client for dashboard test
  ui/tests/Dashboard/dashboardApplication.test.ts
Due: run-job-no-ops

HS-1436 - remove unused
  ui/tests/Dashboard/dashboardApplication.test.ts
Due: run-job-no-ops

removing assert JUnit
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/AppliancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ApplianceSteps.java
Due: run-job-external-it

corrections to conditions
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/AppliancePage.java
Due: run-job-external-it
