Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

Flow Line App Data DTO
  ui/src/components/Flows/LineChart.vue
  ui/src/dtos/chartJS.dto.ts
  ui/src/store/Views/flowsStore.ts
  ui/src/types/flows.d.ts
Due: run-job-no-ops

Refactor DTO
  ui/src/dtos/chartJS.dto.ts
Due: run-job-no-ops

Update Line Chart Config
  ui/src/components/Flows/LineChart.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1306: refactor tests for the refactored TSDataProcessor.
  metrics-processor/main/pom.xml
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/TSDataProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorAzureResponseProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorResultProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorSnmpResponseProcessor.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/TSDataProcessorTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorAzureResponseProcessorTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorResultProcessorTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorSnmpResponseProcessorTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/detector/TaskSetDetectorResultProcessorTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/monitor/TaskSetMonitorResultProcessorTest.java
  shared-lib/azure/proto/src/main/proto/azure-api.proto
Due: none

HS-1266 - add clear errors for form
  ui/src/components/Discovery/DiscoveryAzureForm.vue
  ui/src/components/Discovery/DiscoverySnmpForm.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
Due: run-job-no-ops

Correct the copyright year in copyright header on inventory-metrics.feature file.
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-metrics.feature
Due: none

HS-1082 Support for propagation of metric collection time.
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumer.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/monitor/TaskSetMonitorResultProcessor.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/monitor/TaskSetMonitorResultProcessorTest.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutionResultProcessorImpl.java
  minion/plugins/icmp-plugin/src/main/java/org/opennms/horizon/minion/icmp/IcmpMonitor.java
  minion/plugins/plugins-api/src/main/java/org/opennms/horizon/minion/plugin/api/ServiceMonitorResponse.java
  minion/plugins/plugins-api/src/main/java/org/opennms/horizon/minion/plugin/api/ServiceMonitorResponseImpl.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitor.java
  shared-lib/protobuf/src/main/proto/taskSet.proto
Due: none

Update to test
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/DiscoveryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/AddDiscoveryResponseData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/AddDiscoveryResponseWrapper.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/AddDiscoveryResult.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/helper/TestsExecutionHelper.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

Update to test returning back feature file
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

default monitoring policy
  alert/src/main/java/org/opennms/horizon/alertservice/db/tenant/TenantIdentifierResolver.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: none

HS-1236 - add test for regex for IPs
  ui/src/components/Discovery/DiscoveryContentEditable.vue
  ui/src/components/Discovery/discovery.constants.ts
  ui/tests/Discovery/discoveryContentEditable.test.ts
Due: run-job-no-ops

Add comments
  ui/src/dtos/chartJS.dto.ts
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Get Time range from dropdown for query
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Refactor getTimeStampMethod
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1236 - remove unused file
  ui/src/components/Discovery/useDiscoveryValidation.ts
Due: run-job-no-ops

HS-1217: Get nodes for a list of tags (#919)
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/tags/NodeTaggingStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node-tagging.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/repository/NodeRepository.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/PassiveDiscoveryService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScanner.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcNodeService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLNodeServiceTest.java
  shared-lib/inventory/src/main/proto/nodeService.proto
  shared-lib/protobuf/src/main/proto/nodescan.proto
Due: run-job-no-ops

HS-906: Expose flows UI end points in the BFF component (#916)
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/repository/IpInterfaceRepository.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/IpInterfaceService.java
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/java/org/opennms/horizon/server/model/flows/Exporter.java
  rest-server/src/main/java/org/opennms/horizon/server/model/flows/FlowingPoint.java
  rest-server/src/main/java/org/opennms/horizon/server/model/flows/RequestCriteria.java
  rest-server/src/main/java/org/opennms/horizon/server/model/flows/TimeRange.java
  rest-server/src/main/java/org/opennms/horizon/server/model/flows/TrafficSummary.java
  rest-server/src/main/java/org/opennms/horizon/server/service/flows/FlowClient.java
  rest-server/src/main/java/org/opennms/horizon/server/service/flows/GrpcFlowService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/resources/application.yml
  shared-lib/inventory/src/main/proto/nodeService.proto
Due: run-job-no-ops

HS-1236 - yarn lock
  ui/yarn.lock
Due: run-job-no-ops

HS-1331: Derive SNMP sysName as Node Label after node scan if available (#920)
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseServiceIntTest.java
Due: none

Review
  alert/pom.xml
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEngine.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/test/java/org/opennms/horizon/alertservice/grpc/AlertGrpcServiceTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/kafkahelper/KafkaTestHelper.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
  parent-pom/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLAlertsServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientDeadlineTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientTest.java
  shared-lib/events/src/main/proto/alerts.proto
Due: run-job-no-ops

fix merge
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
Due: run-job-no-ops

fix logic
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
Due: none

fixed the creating policy error due to the protobuf default enum values
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/MonitorPolicyGrpc.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/MonitorPolicyMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/PolicyRuleMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/SNMPEventMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/test/java/org/opennms/horizon/alertservice/CucumberRunnerIT.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
  rest-server/src/main/java/org/opennms/horizon/server/mapper/alert/MonitorPolicyMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/alert/PolicyRuleMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/alert/TriggerEventMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: run-job-no-ops

graphql query added
  ui/src/graphql/Flows/chartQueries.graphql
Due: run-job-no-ops

HS-1140: Persist Monitoring Policy for Notifications in Postgres
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/MonitoringPolicyKafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/mapper/MonitoringPolicyMapper.java
  notifications/src/main/java/org/opennms/horizon/notifications/model/MonitoringPolicy.java
  notifications/src/main/java/org/opennms/horizon/notifications/repository/MonitoringPolicyRepository.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/MonitoringPolicyService.java
  notifications/src/main/resources/db/changelog/changelog.xml
  notifications/src/main/resources/db/changelog/hs-0.1.0/tables/monitoringPolicy.xml
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/MonitoringPolicyKafkaConsumerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/MonitoringPolicyServiceImplTest.java
  notifications/src/test/resources/application.yml
  notifications/src/test/resources/org/opennms/horizon/notifications/monitoring-policy.feature
Due: none

HS-1140: Add missing file copyrights
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/MonitoringPolicyKafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/model/MonitoringPolicy.java
  notifications/src/main/java/org/opennms/horizon/notifications/repository/MonitoringPolicyRepository.java
Due: none

HS-1341: Add connection for initial BE queries (#921)
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCard.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCardAlertRow.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesEventCondition.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesExistingItems.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesPolicyForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesRuleForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesSaveButtons.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesThresholdCondition.vue
  ui/src/components/MonitoringPolicies/monitoringPolicies.constants.ts
  ui/src/components/MonitoringPolicies/monitoringPolicies.utils.ts
  ui/src/containers/MonitoringPolicies.vue
  ui/src/graphql/MonitoringPolicies/createMonitorPolicy.graphql
  ui/src/graphql/Views/monitoringPolicies.graphql
  ui/src/store/Mutations/monitoringPoliciesMutations.ts
  ui/src/store/Queries/monitoringPoliciesQueries.ts
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/src/types/graphql.ts
  ui/src/types/policies.d.ts
Due: run-job-no-ops

HS-1261 Add AlertDefinition entity (#902)
  .gitignore
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/AlertDefinition.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/EventMatch.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_default.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert_definition.xml
Due: none

HS-1281 - add drawer with instructions
  ui/src/components/Discovery/DiscoveryContentEditable.vue
  ui/src/components/Discovery/DiscoveryInstructions.vue
  ui/src/components/Discovery/DiscoveryListCard.vue
  ui/src/components/Discovery/discovery.text.ts
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-1281 - add constant texts
  ui/src/components/Discovery/DiscoveryInstructions.vue
  ui/src/components/Discovery/discovery.text.ts
Due: run-job-no-ops

test main MP functionality
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCard.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesPolicyForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesRuleForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesSaveButtons.vue
  ui/tests/MonitoringPolicies/monitoringPolicies.test.ts
  ui/tests/mountWithPiniaVillus.ts
Due: run-job-no-ops

fix display of enums in templates
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCardAlertRow.vue
  ui/src/components/utils.ts
Due: run-job-no-ops

HS-1281 - typography
  ui/src/components/Discovery/DiscoveryInstructions.vue
Due: run-job-no-ops

HS-1281 - style link
  ui/src/components/Discovery/DiscoveryInstructions.vue
Due: run-job-no-ops

PR review and mapper Junit tests
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/MonitorPolicyGrpc.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/MonitorPolicyMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/PolicyRuleMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/SNMPEventMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/alert/MonitorPolicyMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/alert/PolicyRuleMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/alert/TriggerEventMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/mapper/alert/MonitorPolicyMapperTest.java
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: run-job-no-ops

Catch exception in AlertGrpcService
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/AlertResponse.java
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/CountAlertResponse.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  shared-lib/events/src/main/proto/alerts.proto
Due: run-job-no-ops

HS-1236 - fix for passive discovery
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/tests/Discovery/discoveryContentEditable.test.ts
Due: run-job-no-ops

Update error message
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
Due: none

add changes for unknown units/events
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCardAlertRow.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesEventCondition.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesPolicyForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesThresholdCondition.vue
  ui/src/components/MonitoringPolicies/monitoringPolicies.constants.ts
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/tests/MonitoringPolicies/monitoringPolicies.test.ts
Due: run-job-no-ops

Extending timeout for the node to be found
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
Due: run-job-external-it

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
