Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Fix Keycloak not using port numbers when necessary and use "admin" as default password in dev env
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/values.yaml
  skaffold-helm-values.yaml
Due: none

Renaming module that only contains shared protobuf definitions
  minion/minion-ipc/ipc-features/src/main/feature/feature.xml
  minion/minion-taskset/taskset-features/src/main/feature/feature.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-worker/pom.xml
  minion/plugins/features/src/main/feature/feature.xml
  minion/plugins/plugins-api/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/monitor/pom.xml
  shared-lib/pom.xml
  shared-lib/protobuf/pom.xml
  shared-lib/protobuf/src/main/proto/icmp.proto
  shared-lib/protobuf/src/main/proto/snmp.proto
  shared-lib/protobuf/src/main/proto/taskSet.proto
  shared-lib/protobuf/src/main/proto/weblisten.proto
  shared-lib/task-set-service/api/pom.xml
  tooling/ignite-tool/pom.xml
Due: run-job-no-ops

add initial graphing components
  ui/components.d.ts
  ui/package.json
  ui/src/components/Graphs/Graph.vue
  ui/src/components/Graphs/utils.ts
  ui/src/containers/Graphs.vue
  ui/src/graphql/Views/graphQueries.graphql
  ui/src/router/index.ts
  ui/src/store/Queries/graphQueries.ts
  ui/src/types/graphql.ts
  ui/src/types/graphs.d.ts
  ui/yarn.lock
Due: run-job-no-ops

Remove old portForwards
  skaffold.yaml
Due: none

fixed the graphql playground target endpoint
  charts/opennms/templates/opennms/api/api-deployment.yaml
Due: none

Add usage of Skaffold's --skip-tests flag to Minion build
  skaffold.yaml
Due: none

checkpoint
  charts/opennms/Chart.yaml
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/templates/opennms/core/core-ignite-service.yaml
  charts/opennms/templates/opennms/minion/minion-configmap.yaml
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-ignite-service.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-service.yaml
  charts/opennms/templates/opennms/minion/minion-service.yaml
  charts/opennms/values.yaml
  dev/kubernetes.kafka.yaml
  operator/go.mod
  operator/internal/handlers/opennms.go
  operator/internal/model/values/opennms_values.go
  parent-pom/pom.xml
Due: run-job-dev

Refactoring MinionRpcMonitorManager for simplicity on builder usage.
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
  platform/ipc/echo-ipc-client/src/main/java/org/opennms/horizon/minion/echo/ipc/client/EchoRequestBuilder.java
  platform/ipc/echo-ipc-client/src/main/java/org/opennms/horizon/minion/echo/ipc/client/LocationAwareEchoClient.java
  platform/ipc/echo-ipc-client/src/main/java/org/opennms/horizon/minion/echo/ipc/client/internal/EchoRequestBuilderImpl.java
  platform/ipc/echo-ipc-client/src/main/java/org/opennms/horizon/minion/echo/ipc/client/internal/LocationAwareEchoClientImpl.java
Due: run-job-no-ops

HS-444/455: new minion config; deployment fixes
  charts/opennms/templates/keycloak/keycloak-initial-cred-secret.yaml
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/templates/opennms/core/core-ignite-service.yaml
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-ignite-service.yaml
  charts/opennms/values.yaml
  operator/go.mod
  operator/go.sum
  operator/internal/handlers/keycloak.go
  operator/internal/handlers/opennms.go
  operator/internal/model/values/keycloak_values.go
  operator/internal/model/values/opennms_values.go
  operator/internal/scheme/scheme.go
  operator/internal/util/template/template.go
  operator/scripts/local-onms-instance.yaml
  operator/test/integration/deploy_test.go
  operator/test/integration/integration_test.go
Due: none

Prevent certain other tests from running on minion when --skip-tests flag is used
  skaffold.yaml
Due: none

Cleaning up blueprint configs for consistency
  minion/minion-grpc/grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-taskset/taskset-scheduler/src/main/resources/OSGI-INF/blueprint/scheduler.xml
  minion/minion-taskset/taskset-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
Due: none

Chart for minion gateway.
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/templates/opennms/core/core-service.yaml
  charts/opennms/templates/opennms/minion-gateway/minion-gateway-configmap.yaml
  charts/opennms/templates/opennms/minion-gateway/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/minion-gateway/minion-gateway-service.yaml
  charts/opennms/values.yaml
Due: none

Disable idempotent producing to Kafka to allow it to work with KRaft
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/KafkaConfig.java
Due: none

Fix some missing values
  charts/opennms/templates/opennms/minion/minion-configmap.yaml
  charts/opennms/values.yaml
Due: none

Add new minion and minion gateway to Skaffold's Helm deployments
  skaffold.yaml
Due: none

Fix failing build caused by grpc/protobuf version skew.
  platform/assemblies/features/src/main/feature/features.xml
  platform/pom.xml
Due: run-job-no-ops

HS-456: Updated protobuf version for arm chip
  parent-pom/pom.xml
Due: none

HS-437 Separate device name and metric on click, change content padding
  ui/src/App.vue
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-437 Change padding to 1rem
  ui/src/App.vue
Due: run-job-no-ops

HS-437 Change graphql schema
  ui/codegen.yml
  ui/components.d.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-437 Add graph modal for device latency and uptime
  ui/src/App.vue
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-444: RBAC for the minion and core
  charts/opennms/templates/endpoints-role.yaml
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/templates/opennms/core/core-rolebinding.yaml
  charts/opennms/templates/opennms/core/core-serviceaccount.yaml
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-rolebinding.yaml
  charts/opennms/templates/opennms/minion/minion-serviceaccount.yaml
  operator/internal/handlers/base.go
  operator/internal/handlers/opennms.go
Due: none

HS-444: rolegroups
  charts/opennms/templates/opennms/core/core-rolebinding.yaml
  charts/opennms/templates/opennms/minion/minion-rolebinding.yaml
Due: none

HS-444: rolebinding namesapce
  charts/opennms/templates/opennms/core/core-rolebinding.yaml
  charts/opennms/templates/opennms/minion/minion-rolebinding.yaml
Due: none

HS-444: uncomment kc deployment
  operator/internal/handlers/keycloak.go
Due: none

HS-437 Refact style
  ui/src/App.vue
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Appliances/utils.ts
  ui/src/components/Common/Spinner.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/styles/_statusBackground.scss
  ui/src/types/device.d.ts
  ui/src/types/minion.d.ts
Due: run-job-no-ops

Fix core not being configured with the Ignite cluster service
  charts/opennms/templates/opennms/core/core-deployment.yaml
  platform/assemblies/core-dynamic-dist/src/main/resources/etc/org.opennms.core.ignite.client.cfg
Due: run-job-no-ops

Fix minion KUBERNETES_SERVICE_NAME env var and port forwards
  minion/assembly/src/main/resources/etc/org.opennms.core.ignite.client.cfg
  skaffold.yaml
Due: none

Switch to karaf feature packaging for feature modules.
  minion/minion-features/pom.xml
  minion/minion-features/src/main/feature/feature.xml
  minion/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/feature.xml
  platform/pom.xml
Due: run-job-no-ops

Update ignite to 2.14 release.
  minion/minion-3rdParty/shaded-ignite/pom.xml
  minion/pom.xml
  parent-pom/pom.xml
  platform/3rdparty/ignite/pom.xml
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/pom.xml
Due: run-job-no-ops

Fix core.ssh/bash scripts.
  tools/CORE.bash
  tools/CORE.ssh
Due: run-job-no-ops

adjust Keycloak probes
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
Due: none

Chnage KC tag in local deployment
  operator/scripts/local-onms-instance.yaml
Due: none

HS-118: have the operator gracefully handle the deletion of instances
  operator/cmd/opennms-operator/main.go
  operator/internal/handlers/base.go
  operator/internal/handlers/grafana.go
  operator/internal/handlers/handler.go
  operator/internal/handlers/ingress.go
  operator/internal/handlers/kafka.go
  operator/internal/handlers/keycloak.go
  operator/internal/handlers/mailserver.go
  operator/internal/handlers/opennms.go
  operator/internal/handlers/postgres.go
  operator/internal/handlers/prometheus.go
  operator/internal/reconciler/init.go
  operator/internal/reconciler/instance.go
  operator/internal/reconciler/instance_updater.go
  operator/internal/reconciler/instance_updater_test.go
  operator/internal/reconciler/opennms_reconciler.go
  operator/internal/reconciler/resource_updater.go
  operator/internal/reconciler/values_updater.go
  operator/internal/util/values/testtmp/test1.yaml
Due: none

Adding cache config for transactions
  minion-gateway/main/src/main/java/org/opennms/miniongateway/router/MinionLookupServiceImpl.java
  minion-gateway/main/src/test/java/org/opennms/miniongateway/router/MinionLookupServiceImplTest.java
Due: none

HS-463: Update stats endpoint to point correctly
  platform/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

add main timeseries query, modify graph.vue, 10 graphs page
  ui/codegen.yml
  ui/src/components/Graphs/Graph.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/composables/useGraphs.ts
  ui/src/containers/Graphs.vue
  ui/src/graphql/Metrics/metricQuery.graphql
  ui/src/graphql/Views/graphQueries.graphql
  ui/src/store/Queries/graphQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

update generated documents
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-474: adding an extra listener to kafka for local development
  charts/opennms/templates/kafka/kafka-deployment.yaml
  charts/opennms/templates/kafka/kafka-service.yaml
  charts/opennms/values.yaml
  operator/internal/handlers/keycloak.go
  operator/internal/model/values/kafka_values.go
Due: none

HS-474: uncomment KC deployment
  operator/internal/handlers/keycloak.go
Due: none
