Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Add DATAGRAM detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/datagram/pom.xml
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/DnsDetector.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/DnsDetectorFactory.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/NtpDetector.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/NtpDetectorFactory.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/client/DatagramClient.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/client/NtpClient.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/dns/DNSAddressRR.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/dns/DNSAddressRequest.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/dns/DNSInputStream.java
  platform/provision/datagram/src/main/java/org/opennms/netmgt/provision/detector/datagram/support/ntp/NtpMessage.java
  platform/provision/datagram/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/provision/pom.xml
Due: run-job-no-ops

HS-171: OperatorHub subscriptions for the HS dependencies
  charts/Makefile
  charts/onms-kafka/Chart.yaml
  charts/onms-kafka/templates/kafka.yaml
  charts/onms-kafka/values.yaml
  charts/onms-keycloak/Chart.yaml
  charts/onms-keycloak/crds/keycloakrealmimports.yaml
  charts/onms-keycloak/crds/keycloaks.yaml
  charts/onms-keycloak/templates/keycloak.yaml
  charts/onms-keycloak/values.yaml
  charts/opennms-operator-dependencies/Chart.yaml
  charts/opennms-operator-dependencies/templates/cert-manager.yaml
  charts/opennms-operator-dependencies/templates/elastic.yaml
  charts/opennms-operator-dependencies/templates/kafka.yaml
  charts/opennms-operator-dependencies/templates/keycloak.yaml
  charts/opennms-operator-dependencies/values.yaml
  charts/packaged/index.yaml
  charts/packaged/onms-kafka-0.0.1.tgz
  charts/packaged/onms-keycloak-0.0.1.tgz
Due: none

HS-171: package
  charts/Makefile
  charts/packaged/index.yaml
  charts/packaged/opennms-operator-dependencies-0.1.0.tgz
Due: none

Add the BSF detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/bsf/pom.xml
  platform/provision/bsf/src/main/java/org/apache/bsf/BSFManagerTerminator.java
  platform/provision/bsf/src/main/java/org/opennms/netmgt/provision/detector/bsf/BSFDetector.java
  platform/provision/bsf/src/main/java/org/opennms/netmgt/provision/detector/bsf/BSFDetectorFactory.java
  platform/provision/bsf/src/main/java/org/opennms/netmgt/provision/detector/bsf/client/BSFClient.java
  platform/provision/bsf/src/main/java/org/opennms/netmgt/provision/detector/bsf/request/BSFRequest.java
  platform/provision/bsf/src/main/java/org/opennms/netmgt/provision/detector/bsf/response/BSFResponse.java
  platform/provision/bsf/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

Correct the artifact name "detector-bsf" from just "bsf".
  platform/assemblies/features/pom.xml
Due: run-job-no-ops

fixed ui to API gateway CORS issue
  dev/kubernetes.kafka.yaml
  ui/src/services/axiosInstances.ts
Due: run-job-no-ops, run-job-dev

fix clear endpoint
  ui/src/services/alarmService.ts
Due: run-job-no-ops

HS-173 - initial cut at foreign source crud and rest
  platform/db/schema-liquibase/src/main/liquibase/changelog.xml
  platform/db/schema-liquibase/src/main/liquibase/provision.foreignSource/foreignSource.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/ForeignSourceDao.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/ForeignSourceRepositoryImpl.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/ForeignSourceDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/ForeignSourceJsonType.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/ForeignSourceRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/HibernateForeignSourceEntity.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/package-info.java
  platform/provision/persistence/src/main/resources/OSGI-INF/blueprint/horizon-provision-persistence.xml
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/ForeignSourceRepositoryImplTest.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestService.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImpl.java
  platform/provision/rest/src/test/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImplTest.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/scan/NodeScannerTest.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
  platform/provision/service/src/test/resources/test_foreign_source.json
Due: run-job-no-ops

HS-157: Email templates (#127)
  dev/kubernetes.kafka.yaml
  keycloak-ui/themes/horizon-stream/email/html/password-reset.ftl
  keycloak-ui/themes/horizon-stream/email/html/template.ftl
  keycloak-ui/themes/horizon-stream/email/messages/messages_en.properties
  keycloak-ui/themes/horizon-stream/email/theme.properties
  keycloak-ui/themes/horizon-stream/login/login-update-password.ftl
  keycloak-ui/themes/horizon-stream/login/messages/messages_en.properties
  keycloak-ui/themes/horizon-stream/login/resources/css/login.css
Due: run-job-dev

jira/HS-179 - working on keycloak for local-sample/, add custom image integration
  .github/actions/keycloak-ui/action.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/release.yml
  keycloak-ui/README.md
  local-sample/run.sh
Due: none

jira/HS-179 - updated .github/actions/keycloak/
  .github/actions/keycloak-ui/action.yml
Due: none

jira/HS-179 - updated .github/workflows/develop.yml
  .github/workflows/develop.yml
Due: none

HS-173 - timer config tweak
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
Due: run-job-no-ops

HS-173 - import cleanup
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/ForeignSourceDTO.java
Due: run-job-no-ops

jira/HS-179 - updated local-sample/run.sh with process change for keycloakrealmimport
  local-sample/run.sh
Due: none

jira/HS-179 - added a separate keycloakrealmimport for local-sample/
  local-sample/crd-keycloakrealmimport.yaml
Due: none

jira/HS-179 - fixed keycloakrealmimport object install
  local-sample/run.sh
Due: none

fix email action template for unique link
  keycloak-ui/themes/horizon-stream/email/html/executeActions.ftl
  keycloak-ui/themes/horizon-stream/email/messages/messages_en.properties
  keycloak-ui/themes/horizon-stream/login/info.ftl
  keycloak-ui/themes/horizon-stream/login/messages/messages_en.properties
  keycloak-ui/themes/horizon-stream/login/resources/css/login.css
Due: none

GraphQL for events
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/RestServerApplication.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/model/AlarmAckDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/EventDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/service/AlarmService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/EventService.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/java/org/opennms/horizon/server/RestServerApplicationTests.java
  rest-server/src/test/resources/application.yml
Due: run-job-no-ops

jira/HS-179 - working on revision of keycloak and added grafana
  keycloak-ui/Dockerfile
  local-sample/certificate.pem
  local-sample/crd-keycloak.yaml
  local-sample/crd-keycloakrealmimport.yaml
  local-sample/grafana/Dockerfile
  local-sample/ingress.keycloak.yaml
  local-sample/key.pem
  local-sample/new-keycloak/README.md
  local-sample/new-keycloak/grafana-sso/README.md
  local-sample/new-keycloak/grafana-sso/grafana-sso-b-configmap.yaml
  local-sample/new-keycloak/grafana-sso/grafana-sso-c-secrets.yaml
  local-sample/new-keycloak/grafana-sso/grafana-sso-d-deployment.yaml
  local-sample/new-keycloak/grafana-sso/grafana-sso-e-service.yaml
  local-sample/new-keycloak/grafana-sso/grafana-sso-f-ingress.yaml
  local-sample/new-keycloak/grafana-sso/ingress-keycloak.yaml
  local-sample/new-keycloak/grafana-sso/keycloak.tf
  local-sample/new-keycloak/imports/grafana.json
  local-sample/new-keycloak/imports/opennms-realm.json
  local-sample/new-keycloak/imports/realm-2.json
  local-sample/new-keycloak/imports/realm.json
  local-sample/new-keycloak/ingress.keycloak.yaml
  local-sample/new-keycloak/keycloak.tf
  local-sample/new-keycloak/namespace.yaml
  local-sample/new-keycloak/pods-and-services.yaml
  local-sample/new-keycloak/postgres.yaml
  local-sample/new-keycloak/run.sh
  local-sample/new-keycloak/secrets.yaml
  local-sample/new-keycloak/terraform.tfstate
  local-sample/operator-keycloak.yaml
  local-sample/postgres.yaml
  local-sample/services-keycloak.yaml
Due: none

jira/HS-179 - updated local-sample/
  local-sample/certificate.pem
  local-sample/key.pem
  local-sample/new-keycloak/kc-deployment.yaml
  local-sample/new-keycloak/kc-ingress.yaml
  local-sample/new-keycloak/kc-service.yaml
  local-sample/new-keycloak/pods-and-services.yaml
  local-sample/new-keycloak/run.sh
  local-sample/run.sh
Due: none

fixed the http client connection leak
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientImpl.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientSessionImpl.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakResponseUtil.java
  platform/pom.xml
Due: run-job-no-ops

fixed the unit test
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakResponseUtil.java
Due: run-job-no-ops

add modal, table, navrail shell code
  ui/components.d.ts
  ui/src/App.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Common/PrimaryModal.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/Appliances.vue
  ui/src/router/index.ts
  ui/src/store/layoutStore.ts
  ui/src/types/appliances.ts
Due: run-job-no-ops

Change API gateway upstream to API server and fixed the API gateway issues
  dev/kubernetes.kafka.yaml
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/exception/GatewayRequestException.java
  rest-server/src/main/java/org/opennms/horizon/server/filter/ResponseHeaderFilter.java
  rest-server/src/test/java/org/opennms/horizon/server/RestServerApplicationTests.java
Due: run-job-no-ops, run-job-dev

jira/HS-179 - Issue with grafana, found solve
  local-sample/new-keycloak/ISSUE.grafana.md
  local-sample/new-keycloak/ISSUE.grafana/dep.graf.yaml
  local-sample/new-keycloak/ISSUE.grafana/dep.kc.yaml
  local-sample/new-keycloak/ISSUE.grafana/ingr.graf.yaml
  local-sample/new-keycloak/ISSUE.grafana/ingr.kc.yaml
  local-sample/new-keycloak/grafana-sso/grafana-sso-b-configmap.yaml
  local-sample/new-keycloak/grafana-sso/grafana-sso-f-ingress.yaml
  local-sample/new-keycloak/imports/test-realm.json
  local-sample/new-keycloak/kc-deployment.yaml
  local-sample/new-keycloak/kc-ingress.yaml
  local-sample/new-keycloak/keycloak.tf
  local-sample/new-keycloak/run.sh
  local-sample/new-keycloak/terraform.tfstate
Due: none

jira/HS-179 - updated grafana, keycloak configs, and local-sample/
  local-sample/new-keycloak/ISSUE.integrating_new_keycloak.md
  local-sample/new-keycloak/imports/realm.json
  local-sample/new-keycloak/imports/test-opennms-realm.json
  local-sample/new-keycloak/imports/test-realm.json
  local-sample/new-keycloak/run.create-realm.sh
  local-sample/new-keycloak/run.sh
  local-sample/run.sh
  ui/dev/entrypoint.sh
Due: run-job-no-ops

HS-210 clean up platform dto by removing all xml related code
  platform/alarms/rest/src/main/java/org/opennms/netmgt/alarmd/rest/internal/AlarmRestServiceImpl.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/AbstractCollectionDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/AlarmCollectionDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/AlarmDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/AlarmSummaryDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/EventCollectionDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/EventDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/EventParameterDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/MemoDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/dto/ServiceTypeDTO.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/AlarmMapper.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/EventMapper.java
  platform/docker-it/pom.xml
  platform/docker-it/src/test/java/org/opennms/horizon/AlarmsDaemonRestTestSteps.java
  platform/docker-it/src/test/resources/org/opennms/horizon/alarmsd-rest.feature
  platform/docker-it/src/test/resources/org/opennms/horizon/test-data/event001.json
  platform/docker-it/src/test/resources/org/opennms/horizon/test-data/event001.xml
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/EventRestService.java
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/internal/EventRestServiceImpl.java
Due: run-job-no-ops
