Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Removing core lib dep
  minion/icmp/jna/pom.xml
  minion/icmp/jna/src/main/java/org/opennms/horizon/minion/icmp/jna/JnaPingRequestId.java
  minion/icmp/jna/src/main/java/org/opennms/horizon/minion/icmp/jna/JnaPinger.java
  minion/icmp/jna/src/main/java/org/opennms/horizon/minion/icmp/jna/V4Pinger.java
  minion/icmp/jna/src/main/java/org/opennms/horizon/minion/icmp/jna/V6Pinger.java
  minion/icmp/jni/pom.xml
  minion/icmp/jni/src/main/java/org/opennms/minion/icmp/jni/JniIcmpMessenger.java
  minion/icmp/jni/src/main/java/org/opennms/minion/icmp/jni/JniPingRequestId.java
  minion/icmp/jni/src/main/java/org/opennms/minion/icmp/jni/JniPinger.java
  minion/icmp/jni6/pom.xml
  minion/icmp/jni6/src/main/java/org/opennms/minion/icmp/jni6/Jni6IcmpMessenger.java
  minion/icmp/jni6/src/main/java/org/opennms/minion/icmp/jni6/Jni6PingRequestId.java
  minion/icmp/jni6/src/main/java/org/opennms/minion/icmp/jni6/Jni6Pinger.java
  minion/ipc/echo/pom.xml
  minion/ipc/twin/twin-common/pom.xml
  minion/ipc/twin/twin-grpc/publisher/pom.xml
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-grpc/workflow/module/pom.xml
  minion/minion-grpc/workflow/workflow-subscriber/pom.xml
  minion/plugins/icmp-plugin/pom.xml
  minion/plugins/registration/pom.xml
  minion/plugins/snmp-plugin/pom.xml
  minion/pom.xml
  minion/snmp/snmp-shell/pom.xml
  minion/snmp/snmp4j/pom.xml
  minion/tracing-stub/pom.xml
  shared-lib/utils/src/main/java/org/opennms/horizon/shared/utils/InetAddressComparator.java
Due: none

Comment out plugin metadata for a bit, move scheduler to taskset module.
  minion/assembly/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-grpc/features/src/main/feature/feature.xml
  minion/minion-ipc/features/pom.xml
  minion/minion-ipc/features/src/main/feature/feature.xml
  minion/minion-taskset/features/pom.xml
  minion/minion-taskset/features/src/main/feature/feature.xml
  minion/minion-taskset/pom.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/LoggingWorkflowSubscriber.java
  minion/minion-taskset/taskset-scheduler/pom.xml
  minion/minion-taskset/taskset-scheduler/src/main/java/org/opennms/horizon/minion/scheduler/OpennmsScheduler.java
  minion/minion-taskset/taskset-scheduler/src/main/java/org/opennms/horizon/minion/scheduler/impl/OpennmsSchedulerImpl.java
  minion/minion-taskset/taskset-scheduler/src/main/java/org/opennms/horizon/minion/scheduler/impl/ScheduledThreadPoolExecutorFactory.java
  minion/minion-taskset/taskset-scheduler/src/main/resources/OSGI-INF/blueprint/scheduler.xml
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/plugin/config/PluginDetector.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/ignite/registries/AlertingPluginRegistry.java
  minion/minion-taskset/taskset-worker/src/test/java/org/opennms/horizon/minion/taskset/plugin/config/PluginDetectorTest.java
  minion/minion-taskset/taskset-worker/src/test/java/org/opennms/horizon/minion/taskset/worker/ignite/registries/AlertingPluginRegistryTest.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/PluginMetadata.java
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/PluginRegistrationRouting.java
  minion/plugins/registration/src/test/java/org/opennms/horizon/minion/registration/PluginRegistrationRoutingTest.java
  minion/pom.xml
Due: none

Fix nginx config to serve files properly
  ui/.dockerignore
  ui/Dockerfile
  ui/nginx-conf/nginx.conf
  ui/nginx/README.md
  ui/nginx/conf.d/default.conf
  ui/nginx/nginx.conf
Due: run-job-no-ops

Move ui Skaffold config into its own module
  skaffold.yaml
  ui/k8s/ui-prod.yaml
  ui/skaffold.yaml
Due: run-job-no-ops

Adding shared lib
  minion/minion-features/src/main/resources/features.xml
Due: none

Comment out plugin metadata for a bit, move scheduler to taskset module.
  minion/assembly/pom.xml
  minion/minion-grpc/features/src/main/feature/feature.xml
  minion/minion-ipc/features/pom.xml
  minion/minion-ipc/features/src/main/feature/feature.xml
  minion/minion-taskset/features/pom.xml
  minion/minion-taskset/features/src/main/feature/feature.xml
  minion/minion-taskset/pom.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/LoggingWorkflowSubscriber.java
  minion/minion-taskset/taskset-scheduler/pom.xml
  minion/minion-taskset/taskset-scheduler/src/main/java/org/opennms/horizon/minion/scheduler/OpennmsScheduler.java
  minion/minion-taskset/taskset-scheduler/src/main/java/org/opennms/horizon/minion/scheduler/impl/OpennmsSchedulerImpl.java
  minion/minion-taskset/taskset-scheduler/src/main/java/org/opennms/horizon/minion/scheduler/impl/ScheduledThreadPoolExecutorFactory.java
  minion/minion-taskset/taskset-scheduler/src/main/resources/OSGI-INF/blueprint/scheduler.xml
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/plugin/config/PluginDetector.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/ignite/registries/AlertingPluginRegistry.java
  minion/minion-taskset/taskset-worker/src/test/java/org/opennms/horizon/minion/taskset/plugin/config/PluginDetectorTest.java
  minion/minion-taskset/taskset-worker/src/test/java/org/opennms/horizon/minion/taskset/worker/ignite/registries/AlertingPluginRegistryTest.java
  minion/model/src/main/java/org/opennms/horizon/minion/ignite/model/workflows/PluginMetadata.java
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/PluginRegistrationRouting.java
  minion/plugins/registration/src/test/java/org/opennms/horizon/minion/registration/PluginRegistrationRoutingTest.java
  minion/pom.xml
Due: none

Move grpc related elements to its own feature set.
  minion/assembly/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-features/pom.xml
  minion/minion-grpc/features/pom.xml
  minion/minion-grpc/features/src/main/feature/feature.xml
  minion/minion-grpc/pom.xml
  shared-lib/ipc/api/src/main/java/org/opennms/horizon/shared/ipc/sink/common/AbstractMessageConsumerManager.java
  shared-lib/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  shared-lib/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionIpcIdentity.java
  shared-lib/ipc/grpc/client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/ipc/pom.xml
Due: none

Extract minion-observability (metrics and tracing), minion-taskset features.
  minion/assembly/pom.xml
  minion/ignite-worker/pom.xml
  minion/ignite-worker/src/main/java/org/opennms/horizon/minion/ignite/worker/ignite/IgniteMetricsAdapter.java
  minion/ignite-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-metrics/pom.xml
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/MetricsProvider.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsProviderWhiteboard.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsServlet.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsWhiteboard.java
  minion/minion-metrics/src/main/resources/OSGI-INF/blueprint/metrics.xml
  minion/minion-observability/features/pom.xml
  minion/minion-observability/features/src/main/feature/feature.xml
  minion/minion-observability/observability-metrics/pom.xml
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/MetricsProvider.java
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/internal/MetricsProviderWhiteboard.java
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/internal/MetricsServlet.java
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/internal/MetricsWhiteboard.java
  minion/minion-observability/observability-metrics/src/main/resources/OSGI-INF/blueprint/metrics.xml
  minion/minion-observability/observability-tracing/pom.xml
  minion/minion-observability/observability-tracing/src/main/java/org/opennms/horizon/minion/observability/tracing/internal/NoopTracingWrapper.java
  minion/minion-observability/observability-tracing/src/main/resources/OSGI-INF/blueprint/tracing-noop.xml
  minion/minion-observability/pom.xml
  minion/minion-taskset/features/pom.xml
  minion/minion-taskset/features/src/main/feature/feature.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/LoggingWorkflowSubscriber.java
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/MeteredConsumer.java
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/ResultsConsumer.java
  minion/minion-taskset/taskset-ipc/src/main/resources/OSGI-INF/blueprint/taskset-result-ipc-publisher.xml
  minion/pom.xml
  minion/tracing-stub/pom.xml
  minion/tracing-stub/src/main/java/org/opennms/poc/tracing/NoopTracingWrapper.java
  minion/tracing-stub/src/main/resources/OSGI-INF/blueprint/tracing-noop.xml
Due: none

Fix blueprint/startup error after rebase.
  minion/plugins/registration/src/main/resources/OSGI-INF/blueprint/registration.xml
Due: none

Injection of twin stuff for testing purposes.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/stub/StubCloudToMinionMessageProcessor.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/GrpcTwinPublisher.java
Due: none

Remove old artifact references, switch to shared-utils.
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-ipc/echo/pom.xml
  minion/minion-ipc/echo/src/main/java/org/opennms/horizon/minion/ipc/echo/monitor/SimpleMinionRpcMonitor.java
  minion/minion-observability/features/src/main/feature/feature.xml
  minion/minion-taskset/features/src/main/feature/feature.xml
  minion/minion-taskset/taskset-worker/pom.xml
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/RetriableExecutor.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/TaskExecutionResultProcessor.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/TaskExecutorLocalService.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/TaskExecutorLocalServiceFactory.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/TaskLifecycleManager.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/TaskRepository.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/ignite/WorkerIgniteConfiguration.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/ignite/registries/OsgiServiceHolder.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/ignite/service/WorkflowService.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/GeneralMonitoredService.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/MeteredWorkflowLifecycleManager.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskCommonRetryExecutor.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskConnectorRetriable.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutionResultProcessorImpl.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutorIgniteService.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutorLocalMonitorServiceImpl.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutorLocalServiceFactoryImpl.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskifecycleManagerImpl.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskistenerRetriable.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TwinToWorkflowLifecycleManagerAdapter.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/rest/IgniteWorkerRestControllerImpl.java
  minion/minion-taskset/taskset-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
  parent-pom/pom.xml
Due: none

Fix UI in Skaffold dev
  dev/kubernetes.kafka.yaml
  ui/skaffold.yaml
Due: run-job-no-ops, run-job-dev

Fix comment
  ui/nginx/nginx.conf
Due: run-job-no-ops

Fix GitHub actions
  .github/actions/ui/action.yml
Due: none

Solve cyclic dependency between platform and snmp-api by moving some of utils to shared-lib.
  minion/snmp/snmp4j/pom.xml
  minion/snmp/snmp4j/src/main/java/org/opennms/horizon/minion/snmp/snmp4j/Snmp4JStrategy.java
  shared-lib/snmp-api/pom.xml
  shared-lib/snmp-api/src/main/java/org/opennms/horizon/shared/snmp/conf/xml/AddressSnmpConfigVisitor.java
  shared-lib/snmp-api/src/main/java/org/opennms/horizon/shared/snmp/conf/xml/SnmpConfig.java
  shared-lib/snmp-api/src/main/java/org/opennms/horizon/shared/snmp/conf/xml/SnmpProfile.java
  shared-lib/snmp-api/src/main/java/org/opennms/horizon/shared/snmp/conf/xml/SnmpProfiles.java
  shared-lib/utils/src/main/java/org/opennms/horizon/shared/utils/IPLike.java
  shared-lib/utils/src/main/java/org/opennms/horizon/shared/utils/LocationUtils.java
  shared-lib/utils/src/main/java/org/opennms/horizon/shared/utils/SystemInfoUtils.java
Due: none

test different parameter
  skaffold.yaml
Due: none

HS-252: fixes and debug
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  operator/to-be-added/README.md
  operator/to-be-added/keycloak-http-service-test.yaml
  operator/to-be-added/nginx-custom.crt
  operator/to-be-added/nginx-custom.key
  operator/to-be-added/org.opennms.core.rest.cfg
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
  platform/core/rest/src/main/java/org/opennms/rest/jaxrs/jwt/KeycloakJaxrsFeature.java
Due: run-job-no-ops

HS-252: Added http on backend to keycloak and removed ingress https backend. Added debugging on keycloak core java
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  platform/core/rest/src/main/java/org/opennms/rest/jaxrs/jwt/KeycloakJaxrsFeature.java
Due: run-job-no-ops

HS-252: Updated ingress and service for keycloak
  charts/opennms/values.yaml
Due: none

add leaflet dark mode tiles, useTheme hook
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/composables/useTheme.ts
Due: run-job-no-ops

Switching from core ipc lib to shared ipc lib
  minion/icmp/rpc-common/pom.xml
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/IPRangeDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingProxyRpcModule.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingRequestDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingResponseDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingSweepRequestDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingSweepResponseDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingSweepResultDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingSweepRpcModule.java
  minion/icmp/rpc-impl/pom.xml
  minion/icmp/rpc-impl/src/main/java/org/opennms/horizon/minion/icmp/proxy/impl/LocationAwarePingClientImpl.java
  minion/icmp/rpc-impl/src/main/java/org/opennms/horizon/minion/icmp/proxy/impl/PingRequestBuilderImpl.java
  minion/icmp/rpc-impl/src/main/java/org/opennms/horizon/minion/icmp/proxy/impl/PingSweepRequestBuilderImpl.java
  minion/icmp/rpc-impl/src/main/java/org/opennms/horizon/minion/icmp/proxy/impl/strategy/MultiplePingExecutionStrategy.java
  minion/icmp/rpc-impl/src/main/java/org/opennms/horizon/minion/icmp/proxy/impl/strategy/SinglePingExecutionStrategy.java
  minion/icmp/rpc-module-impl/pom.xml
  minion/icmp/rpc-module-impl/src/main/java/org/opennms/horizon/minion/icmp/proxy/module/impl/PingProxyRpcModuleImpl.java
  minion/icmp/rpc-module-impl/src/main/java/org/opennms/horizon/minion/icmp/proxy/module/impl/PingSweepRpcModuleImpl.java
  minion/snmp/rpc-impl/pom.xml
  minion/snmp/rpc-impl/src/main/java/org/opennms/horizon/minion/snmp/proxy/common/AbstractSNMPRequestBuilder.java
  minion/snmp/rpc-impl/src/main/java/org/opennms/horizon/minion/snmp/proxy/common/LocationAwareSnmpClientRpcImpl.java
  minion/snmp/rpc-impl/src/main/java/org/opennms/horizon/minion/snmp/proxy/common/SnmpMultiResponseDTO.java
  minion/snmp/rpc-impl/src/main/java/org/opennms/horizon/minion/snmp/proxy/common/SnmpProxyRpcModule.java
  minion/snmp/rpc-impl/src/main/java/org/opennms/horizon/minion/snmp/proxy/common/SnmpRequestDTO.java
  minion/snmp/rpc-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/ipc/grpc/contract/src/main/proto/opennms/taskset/taskset.proto
Due: none

test useTheme composable, dark/light callback
  ui/src/components/Layout/Menubar.vue
  ui/src/composables/useTheme.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Layout/menubar.test.ts
Due: run-job-no-ops

Removing horizon custom tracing wrapper and dependency
  minion/minion-features/src/main/resources/features.xml
  minion/minion-observability/observability-tracing/pom.xml
  minion/minion-observability/observability-tracing/src/main/java/org/opennms/horizon/minion/observability/tracing/internal/NoopTracingWrapper.java
  minion/minion-observability/observability-tracing/src/main/resources/OSGI-INF/blueprint/tracing-noop.xml
Due: none

Removing horizon core ipc twin grpc dep (unused)
  minion/pom.xml
Due: none

HS-304 Highlight selected device
  ui/src/components/Map/MapNodesGrid.vue
Due: run-job-no-ops

Removing event api deps from SNMP
  minion/plugins/snmp-plugin/pom.xml
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpEventInfo.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitor.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpPeerFactory.java
  minion/snmp/pom.xml
  minion/snmp/snmp-shell/pom.xml
  minion/snmp/snmp-shell/src/main/java/org/opennms/horizon/minion/snmp/commands/FitProfileCommand.java
  minion/snmp/snmp-shell/src/main/java/org/opennms/horizon/minion/snmp/commands/GetCommand.java
  minion/snmp/snmp-shell/src/main/java/org/opennms/horizon/minion/snmp/commands/LocalEngineIdCommand.java
  minion/snmp/snmp-shell/src/main/java/org/opennms/horizon/minion/snmp/commands/RemoveFromDefinitionsCommand.java
  minion/snmp/snmp-shell/src/main/java/org/opennms/horizon/minion/snmp/commands/ShowConfigCommand.java
  minion/snmp/snmp-shell/src/main/java/org/opennms/horizon/minion/snmp/commands/SnmpRequestCommand.java
  minion/snmp/snmp-shell/src/main/java/org/opennms/horizon/minion/snmp/commands/WalkCommand.java
Due: none

Removing commented annotations
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/IPRangeDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingRequestDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingResponseDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingSweepRequestDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingSweepResponseDTO.java
  minion/icmp/rpc-common/src/main/java/org/opennms/horizon/minion/icmp/proxy/common/PingSweepResultDTO.java
  minion/plugins/plugins-api/src/main/java/org/opennms/horizon/minion/plugin/api/PollStatus.java
Due: none

HS-304 Remove tab focus on mounted
  ui/src/components/Map/GridTabs.vue
Due: run-job-no-ops

Added initContainer for grafana to wait for db is ready.
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

Update pipelines for Docker builds of UI to use BuildKit
  .github/actions/ui/action.yml
  local-sample/hs-ui.sh
  local-sample/run.old.sh
Due: none

Transparently replace dev build with prod build of UI deployment with Skaffold prod profile
  skaffold.yaml
  ui/skaffold.yaml
Due: run-job-no-ops

More cleanup needed without core in maven repo
  minion/minion-3rdParty/pom.xml
  minion/minion-3rdParty/shaded-grpc/pom.xml
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-grpc/features/src/main/feature/feature.xml
  minion/minion-ipc/echo/pom.xml
  minion/minion-ipc/echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoClient.java
  minion/minion-ipc/echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRequest.java
  minion/minion-ipc/echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoResponse.java
  minion/minion-ipc/echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRpcModule.java
  minion/minion-observability/features/src/main/feature/feature.xml
  minion/minion-taskset/features/src/main/feature/feature.xml
  minion/plugins/registration/pom.xml
  minion/pom.xml
Due: none

Addressing PR comments
  minion/minion-ipc/echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRequest.java
Due: none

Config the horizon stream Grafana initial dashboard for minion
  dev/kubernetes.kafka.yaml
Due: run-job-dev

HS-252: Somewhat working state
  operator/to-be-added/README.md
  operator/to-be-added/internal-reverse-proxy.yaml
  operator/to-be-added/keycloak-http-service-test.yaml
  operator/to-be-added/onmshs.crt
  operator/to-be-added/org.opennms.core.rest.cfg
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/HttpClientRetryUtil.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientImpl.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientSessionImpl.java
  platform/core/rest/src/main/java/org/opennms/rest/jaxrs/jwt/KeycloakJaxrsFeature.java
  platform/core/rest/src/main/java/org/opennms/rest/jaxrs/jwt/impl/KeycloakRoleAssignmentProvider.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

Use "{{ .PUSH_IMAGE | not }}" in build command to set skipPush properly.
  skaffold.yaml
Due: none
