Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

Use helm's wait option instead of checking for ready status explicitly
  install-local/install-local.sh
Due: none

Revert changes to how install-local waits, and output helm values after cicd install
  install-local/install-local.sh
Due: none

Remove execution name to prevent it conflicting with the one from spring boot starter
  parent-pom/pom.xml
Due: none

Send Node scan request when adding new node, gRPC, BFF endpoints to trigger node scan by location id.
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/src/main/java/org/opennms/horizon/inventory/repository/NodeRepository.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetService.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcItTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/repository/NodeRepositoryTest.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutorLocalScannerServiceImpl.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcNodeService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  shared-lib/inventory/src/main/proto/nodeService.proto
Due: run-job-no-ops

Force failures when docker.image is not set with a default invalid value
  parent-pom/pom.xml
Due: none

Adjust order of UI workflow steps so tests happen before image is built/pushed
  .github/workflows/feature-ui.yml
Due: none

fixed unit tests
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcItTest.java
Due: none

use location prop over id
  ui/src/components/Discovery/DiscoveryLocations.vue
  ui/src/components/Discovery/DiscoveryStepper.vue
  ui/src/containers/Discovery.vue
  ui/src/store/Views/discoveryStore.ts
Due: run-job-no-ops

fixed review comments
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetService.java
Due: none

rm callback
  ui/src/components/Discovery/AzureForm.vue
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-821 - detection method added
  ui/src/components/MonitoringPolicies/DetectionMethod.vue
  ui/src/components/MonitoringPolicies/ThresholdAlert.vue
  ui/src/containers/MonitoringPolicies.vue
Due: run-job-no-ops

skip broken inventory tests
  ui/components.d.ts
  ui/tests/Inventory/inventoryIconActionList.test.ts
Due: run-job-no-ops

Update UI build to filter out coverage folder from docker image, and use the git context on the pipeline
  .github/workflows/feature-ui.yml
  ui/.dockerignore
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
Due: run-job-no-ops

Rename docker.image properties to application.docker.image
  .github/actions/jib-maven-sonar/action.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion.yml
  Tiltfile
  alarm/pom.xml
  alarm/src/test/java/org/opennms/horizon/alarmservice/testcontainers/TestContainerRunnerClassRule.java
  build-tools/basic/mk-docker-images.sh
  datachoices/pom.xml
  events/pom.xml
  inventory/pom.xml
  inventory/src/test/java/org/opennms/horizon/inventory/CucumberRunnerIT.java
  metrics-processor/pom.xml
  minion-gateway-grpc-proxy/pom.xml
  minion-gateway/docker-it/pom.xml
  minion-gateway/docker-it/src/test/java/org/opennms/horizon/testcontainers/TestContainerRunnerClassRule.java
  minion-gateway/pom.xml
  minion/docker-assembly/pom.xml
  minion/docker-it/pom.xml
  minion/pom.xml
  notifications/pom.xml
  parent-pom/pom.xml
  rest-server/pom.xml
  tooling/ignite-tool/README.md
  tooling/ignite-tool/pom.xml
Due: run-job-no-ops

fix gql types
  ui/src/graphql/Discovery/addAzureCredentialMutation.graphql
  ui/src/types/graphql.ts
Due: run-job-no-ops

Move template tag to top
  ui/src/components/Inventory/InventoryFilter.vue
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/components/Inventory/InventoryTagManager.vue
  ui/src/components/Inventory/InventoryTagManagerCtrl.vue
Due: run-job-no-ops

Move template tag to top
  ui/src/components/Common/Icon.vue
Due: run-job-no-ops

Jira/hs 865 move keycloak configmap json value to file to be imported (#644)
  charts/Makefile
  charts/opennms/onms-realm.json
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
  charts/packaged/index.yaml
  charts/packaged/opennms-0.6.0.tgz
Due: none

HS-781 Fix fail test
  ui/tests/Inventory/inventoryIconActionList.test.ts
  ui/tests/Inventory/inventoryMonitoredNodesTabContent.test.ts
Due: run-job-no-ops

HS-821 - add conditions
  ui/package.json
  ui/src/components/Common/BasicDropdown.vue
  ui/src/components/MonitoringPolicies/AlertConditions.vue
  ui/src/components/MonitoringPolicies/Condition.vue
  ui/src/components/MonitoringPolicies/ThresholdAlert.vue
  ui/src/containers/MonitoringPolicies.vue
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/src/types/policies.d.ts
  ui/yarn.lock
Due: run-job-no-ops

DC-456 Modularize metrics-processor
  metrics-processor/flows/pom.xml
  metrics-processor/flows/src/main/java/org/opennms/flows/Main.java
  metrics-processor/pom.xml
  metrics-processor/timeseries/pom.xml
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/tsdata/ApplicationConfig.java
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/tsdata/TSDataProcessor.java
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/tsdata/TSDataProcessorApplication.java
  metrics-processor/timeseries/src/main/java/org/opennms/timeseries/cortex/CortexTSS.java
  metrics-processor/timeseries/src/main/java/org/opennms/timeseries/cortex/CortexTSSConfig.java
  metrics-processor/timeseries/src/main/proto/gogoproto/gogo.proto
  metrics-processor/timeseries/src/main/proto/google/protobuf/descriptor.proto
  metrics-processor/timeseries/src/main/proto/prometheus.remote.proto
  metrics-processor/timeseries/src/main/proto/prometheus.types.proto
  metrics-processor/timeseries/src/main/resources/application.yml
  metrics-processor/timeseries/src/test/java/org/opennms/horizon/tsdata/TsdataprocessorApplicationTests.java
Due: none

DC-456 Add third Module containing SpringBoot Application
  metrics-processor/flows/pom.xml
  metrics-processor/main-metrics/pom.xml
  metrics-processor/main-metrics/src/main/java/org/opennms/Main.java
  metrics-processor/main-metrics/src/main/java/org/opennms/TSDataProcessorApplication.java
  metrics-processor/pom.xml
  metrics-processor/timeseries/pom.xml
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/tsdata/Main.java
  minion-gateway/main/pom.xml
  minion/testtools/minion-gateway-wiremock/minion-gateway-wiremock-main/pom.xml
Due: none

DC-456 Rebase from Develop Branch
  metrics-processor/flows/pom.xml
  metrics-processor/main-metrics/pom.xml
  metrics-processor/main-metrics/src/main/java/org/opennms/Main.java
  metrics-processor/pom.xml
  metrics-processor/timeseries/pom.xml
  minion-gateway/main/pom.xml
  minion/testtools/minion-gateway-wiremock/minion-gateway-wiremock-main/pom.xml
Due: none

DC-456 remove extra unnecessary main class
  metrics-processor/main-metrics/src/main/java/org/opennms/Main.java
  metrics-processor/main-metrics/src/test/java/org/opennms/horizon/data/TsdataprocessorApplicationTests.java
Due: none

DC-455: Support accepting flows configuration for TaskSet (#635)
  inventory/src/main/resources/flows-config.json
  inventory/src/test/resources/flows-config.json
  minion/minion-flows/flows-parser/pom.xml
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/FlowsListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/GracefulShutdownListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/Listener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/TcpListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/UdpListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/ListenerDefinitionImpl.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/ListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/ParserDefinition.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/TcpListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/TelemetryBeanFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/TelemetryRegistry.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/UdpListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ConfigManager.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowSinkModule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ListenerHolder.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow5UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow9UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/TelemetryRegistryImpl.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/ParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/shell/InitListener.java
  minion/minion-flows/flows-parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ListenerHolderTest.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-contract/src/main/proto/opennms/flow/telemetry.proto
  shared-lib/protobuf/src/main/proto/taskSet.proto
Due: none

DC-456 Comments second part
  metrics-processor/flows/pom.xml
  metrics-processor/flows/src/main/java/org/opennms/flows/Main.java
  metrics-processor/flows/src/main/java/org/opennms/horizon/flows/Main.java
  metrics-processor/main-metrics/pom.xml
  metrics-processor/main-metrics/src/main/java/org/opennms/horizon/tsdata/TSDataProcessorApplication.java
  metrics-processor/main-metrics/src/test/java/org/opennms/horizon/tsdata/TsdataprocessorApplicationTests.java
  metrics-processor/pom.xml
  metrics-processor/timeseries/pom.xml
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/timeseries/cortex/CortexTSS.java
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/timeseries/cortex/CortexTSSConfig.java
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/tsdata/ApplicationConfig.java
  metrics-processor/timeseries/src/main/java/org/opennms/horizon/tsdata/TSDataProcessor.java
Due: none

Add common btn with spinner component
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/src/components/Common/ButtonWithSpinner.vue
  ui/src/containers/Discovery.vue
  ui/src/store/Mutations/discoveryMutations.ts
Due: run-job-no-ops

fixed review comments and fixed the unit tests
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/src/main/java/org/opennms/horizon/inventory/repository/NodeRepository.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetService.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcItTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/repository/NodeRepositoryTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcNodeService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  shared-lib/inventory/src/main/proto/nodeService.proto
  shared-lib/protobuf/src/main/proto/nodescan.proto
Due: run-job-no-ops

HS-852 Add store queries and mutations
  ui/components.d.ts
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/components/Inventory/InventoryTagManager.vue
  ui/src/store/Components/taggingStore.ts
  ui/src/store/Mutations/nodeMutations.ts
  ui/src/store/Mutations/taggingMutations.ts
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/store/Queries/taggingQueries.ts
  ui/src/types/inventory.d.ts
  ui/src/types/tags.ts
Due: run-job-no-ops

HS-842: removed old REST port
  build-tools/basic/run-port-forwards.sh
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-service.yaml
  charts/opennms/values.yaml
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/test/resources/application.yml
Due: run-job-no-ops

Initial node scan plugin with ICMP detector and SNMP detector
  minion/minion-features/pom.xml
  minion/minion-features/src/main/feature/feature.xml
  minion/plugins/nodescan-plugin/pom.xml
  minion/plugins/nodescan-plugin/src/main/feature/feature.xml
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScanner.java
  minion/plugins/nodescan-plugin/src/main/java/org/opennms/horizon/minion/nodescan/NodeScannerManager.java
  minion/plugins/nodescan-plugin/src/main/resources/OSGI-INF/blueprint/nodescanner-plugin.xml
  minion/plugins/pom.xml
  shared-lib/protobuf/src/main/proto/nodescan.proto
Due: none

External IT - verify minion echo measurements reported by BFF for at least 1 minion in location Default.
  .github/workflows/develop.yml
  charts/opennms/templates/opennms/alarm/alarm-deployment.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/datachoices/datachoices-deployment.yaml
  charts/opennms/templates/opennms/events/events-deployment.yaml
  charts/opennms/templates/opennms/inventory/inventory-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/templates/opennms/ui/ui-deployment.yaml
  external-it/external-horizon-stream-it/README.md
  external-it/external-horizon-stream-it/pom.xml
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/KeycloakTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/MetricsTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/GQLQuery.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/LocationData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/MetricIdentityData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/MinionData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/FindAllMinionsData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/FindAllMinionsQueryResult.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/MetricQueryData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/querywrappers/MetricQueryResult.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/tsdata/TSData.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/tsdata/TSResult.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/tsdata/TimeSeriesQueryResult.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
  install-local/install-local.sh
  minion-gateway-grpc-proxy/main/pom.xml
  minion-gateway/docker-it/src/test/java/org/opennms/horizon/kafkahelper/internals/KafkaProcessor.java
  minion-gateway/docker-it/src/test/java/org/opennms/horizon/testcontainers/TestContainerRunnerClassRule.java
  tools/KC.login
Due: run-job-no-ops, run-job-external-it

fix review comments related minor issues
  shared-lib/protobuf/src/main/proto/nodescan.proto
Due: none

added snmpPrimary column in IpInterface
  inventory/src/main/java/org/opennms/horizon/inventory/mapper/IpInterfaceMapper.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/IpInterface.java
  inventory/src/main/resources/db/changelog/hs-0.1.0/tables/ip-interface.xml
  rest-server/src/main/java/org/opennms/horizon/server/model/inventory/IpInterface.java
  shared-lib/inventory/src/main/proto/ipInterface.proto
  shared-lib/protobuf/src/main/proto/nodescan.proto
Due: run-job-no-ops

HS-875 Third party dependency updates for backend services.
  alarm/pom.xml
  minion/plugins/plugins-api/pom.xml
  parent-pom/pom.xml
Due: none

HS-852 Fix after review
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/components/Inventory/InventoryTagManager.vue
  ui/src/store/Components/taggingStore.ts
  ui/src/store/Mutations/nodeMutations.ts
  ui/src/store/Mutations/taggingMutations.ts
  ui/src/store/Queries/taggingQueries.ts
  ui/src/types/tags.ts
Due: run-job-no-ops

HS-852 Minor change
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
