Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

HS-207 Add devices to nav rail and route
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/containers/Devices.vue
Due: run-job-no-ops

HS-207 Add devices to nav rail and route
  ui/.eslintrc
  ui/.prettierrc
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/router/index.ts
  ui/vite.config.ts
Due: run-job-no-ops

HS-207 Formatting
  ui/.prettierrc
  ui/src/components/Layout/Menubar.vue
  ui/src/containers/Appliances.vue
  ui/src/containers/Devices.vue
  ui/tsconfig.json
Due: run-job-no-ops

HS-210 move dto classes into new module
  platform/alarms/rest/pom.xml
  platform/alarms/rest/src/main/java/org/opennms/netmgt/alarmd/rest/internal/AlarmRestServiceImpl.java
  platform/assemblies/features/src/main/feature/features.xml
  platform/db/common-model/pom.xml
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/AbstractCollectionDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/AlarmAckDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/AlarmCollectionDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/AlarmDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/AlarmSummaryDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/EventCollectionDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/EventDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/EventParameterDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/MemoDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/ReductionKeyMemoDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/ServiceTypeDTO.java
  platform/db/model/pom.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/AlarmMapper.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/EventMapper.java
  platform/db/pom.xml
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/EventRestService.java
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/internal/EventRestServiceImpl.java
  platform/pom.xml
Due: run-job-no-ops

add graphql and use to query alarms
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/index.html
  ui/package.json
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/directives/v-date.ts
  ui/src/graphql/Alarms/clearAlarmMutation.ts
  ui/src/graphql/Events/createEventMutation.ts
  ui/src/graphql/dashboardViewQuery.ts
  ui/src/graphql/generatedTypes.ts
  ui/src/main.ts
  ui/src/services/alarmService.ts
  ui/src/services/eventService.ts
  ui/src/services/index.ts
  ui/src/store/alarmStore.ts
  ui/src/store/alarmsStore.ts
  ui/src/store/dashboardViewStore.ts
  ui/src/store/eventStore.ts
  ui/src/store/eventsStore.ts
  ui/src/types/mocks.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-210 update API server by using shared DTO library
  platform/alarms/rest/pom.xml
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/AlarmCollectionDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/EventCollectionDTO.java
  platform/db/common-model/src/main/java/org/opennms/horizon/db/common/model/EventDTO.java
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/EventController.java
  rest-server/src/main/java/org/opennms/horizon/server/model/AbstractCollectionDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/AlarmAckDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/AlarmCollectionDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/AlarmDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/AlarmSummaryDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/EventCollectionDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/EventDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/EventParameterDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/MemoDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/ReductionKeyMemoDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/ServiceTypeDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/service/AlarmService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/EventService.java
Due: run-job-no-ops

HS-210 remove unused code
  platform/events/api/src/main/java/org/opennms/horizon/events/xml/DateTimeAdapter.java
Due: run-job-no-ops

generate gql types/operations from schema
  ui/.env.development
  ui/codegen.yml
  ui/package.json
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/graphql/Alarms/clearAlarmMutation.graphql
  ui/src/graphql/Alarms/clearAlarmMutation.ts
  ui/src/graphql/Events/createEventMutation.graphql
  ui/src/graphql/Events/createEventMutation.ts
  ui/src/graphql/dashboardViewQuery.graphql
  ui/src/graphql/generatedTypes.ts
  ui/src/graphql/operations.ts
  ui/src/store/alarmsStore.ts
  ui/src/store/dashboardViewStore.ts
  ui/src/store/eventsStore.ts
  ui/src/types/mocks.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-207 Set up devices component with store and BFF pattern
  ui/.env.development
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/src/components/Appliances/Devices/Devices.vue
  ui/src/components/Appliances/Devices/DevicesTable.vue
  ui/src/components/Appliances/Devices/devicesBff.ts
  ui/src/components/Appliances/Devices/devicesService.ts
  ui/src/components/Appliances/Devices/devicesStore.ts
  ui/src/components/Appliances/Devices/devicesTypes.ts
  ui/src/components/Appliances/Devices/mock.ts
  ui/src/containers/Devices.vue
  ui/src/router/index.ts
  ui/src/types/appliances.ts
Due: run-job-no-ops

HS-115: file path, unit test, and deployment fixes
  charts/opennms-operator-dependencies/LICENSE
  charts/opennms-operator/templates/cert/cert-cluster-issuer.yaml
  charts/opennms-operator/templates/operator-dep-clusterrole.yaml
  operator/.gitignore
  operator/Dockerfile
  operator/Makefile
  operator/charts/dependencies/config/NOTE.md
  operator/charts/dependencies/config/cert-manager/cert-cluster-issuer.yaml
  operator/charts/dependencies/config/cert-manager/cert-primary.yaml
  operator/cmd/opennms-operator/main.go
  operator/config/.env
  operator/config/config.go
  operator/dependencies/dependency_list.go
  operator/dependencies/load_dependencies.go
  operator/internal/handlers/certs.go
  operator/internal/reconciler/init.go
  operator/scripts/create-instance.sh
  operator/scripts/deploy-horizon-stream.sh
  operator/scripts/install-local.sh
Due: none

HS-207 Namespacing
  ui/src/components/Appliances/Devices/DevicesTable.vue
  ui/src/components/Appliances/Devices/devicesBff.ts
  ui/src/components/Appliances/Devices/devicesService.ts
  ui/src/components/Appliances/Devices/devicesStore.ts
  ui/src/components/Appliances/Devices/devicesTypes.ts
Due: run-job-no-ops

HS-115: version bump
  charts/opennms-operator/Chart.yaml
  charts/opennms/Chart.yaml
  operator/config/.env
Due: none

HS-115: github action fix maybe?
  .github/workflows/feature-operator.yml
Due: none

HS-115: whitespace change
  operator/Dockerfile
Due: none

HS-207 Restructuring
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/Devices/Devices.vue
  ui/src/components/Appliances/Devices/devicesBff.ts
  ui/src/components/Appliances/Devices/devicesTypes.ts
  ui/src/components/Appliances/Devices/mock.ts
  ui/src/router/index.ts
  ui/src/services/deviceService.ts
  ui/src/store/deviceStore.ts
  ui/src/types/appliances.ts
Due: run-job-no-ops

HS-75: Fix period error on log
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/AcknowledgmentDaoHibernate.java
Due: run-job-no-ops

Correct the parent POM for 3rdparty/jcifs-shaded
  platform/3rdparty/jcifs-shaded/pom.xml
Due: run-job-no-ops

HS-210 shared libray for REST server and platform core
  platform/alarms/rest/pom.xml
  platform/alarms/rest/src/main/java/org/opennms/netmgt/alarmd/rest/internal/AlarmRestServiceImpl.java
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/db/common-model/pom.xml
  platform/db/model/pom.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/AlarmMapper.java
  platform/db/model/src/main/java/org/opennms/horizon/db/model/mapper/EventMapper.java
  platform/db/pom.xml
  platform/events/api/src/main/java/org/opennms/horizon/events/xml/DateTimeAdapter.java
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/EventRestService.java
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/internal/EventRestServiceImpl.java
  platform/pom.xml
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/EventController.java
  rest-server/src/main/java/org/opennms/horizon/server/service/AlarmService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/EventService.java
  rest-server/src/test/java/org/opennms/horizon/server/RestServerApplicationTests.java
  shared-lib/dto-model/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AbstractCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AlarmAckDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AlarmCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AlarmDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AlarmSummaryDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/EventCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/EventDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/EventParameterDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/MemoDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/ReductionKeyMemoDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/ServiceTypeDTO.java
  shared-lib/pom.xml
Due: run-job-no-ops

HS-115: packaging
  charts/packaged/index.yaml
  charts/packaged/opennms-0.1.1.tgz
  charts/packaged/opennms-operator-0.1.1.tgz
  charts/packaged/opennms-operator-dependencies-0.1.0.tgz
Due: none

HS-115: publish
  .github/actions/operator/action.yml
Due: none

HS-115: publish
  .github/workflows/release.yml
Due: none

fix start/stop of loading spinner
  ui/package.json
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/store/alarmsStore.ts
  ui/src/store/dashboardViewStore.ts
  ui/src/store/eventsStore.ts
Due: run-job-no-ops

revert port, rm prebuild
  ui/.env.development
  ui/package.json
Due: run-job-no-ops

HS-210 fixed the duplicated list in the collection DTO error
  platform/events/rest/src/main/java/org/opennms/netmgt/events/rest/internal/EventRestServiceImpl.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AbstractCollectionDTO.java
Due: run-job-no-ops

create gql error handling plugin
  ui/src/components/Layout/Menubar.vue
  ui/src/main.ts
  ui/src/services/axiosInstances.ts
  ui/src/services/errorService.ts
  ui/src/services/gqlService.ts
  ui/src/services/index.ts
  ui/src/store/alarmsStore.ts
  ui/src/store/dashboardViewStore.ts
  ui/src/store/eventsStore.ts
  ui/src/types/alarms.ts
  ui/src/types/events.ts
  ui/src/types/index.ts
  ui/src/types/mocks.ts
Due: run-job-no-ops

organize gql query/store file structure
  ui/codegen.yml
  ui/src/App.vue
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/graphql/Queries/dashboardQuery.graphql
  ui/src/main.ts
  ui/src/store/Mutations/alarmMutations.ts
  ui/src/store/Mutations/eventMutations.ts
  ui/src/store/Queries/dashboardQueries.ts
  ui/src/store/Views/layoutStore.ts
  ui/src/store/index.ts
  ui/src/types/graphql.ts
  ui/src/types/mocks.ts
Due: run-job-no-ops

fixed the CORS issue in the UI with API gateway
  dev/kubernetes.kafka.yaml
Due: run-job-dev

Removed the REST API related code
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/RestServerApplication.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/EventController.java
Due: run-job-no-ops

HS-207 Add deviceService unit tests
  ui/package.json
  ui/src/containers/Appliances.vue
  ui/src/services/deviceService.spec.ts
  ui/src/services/deviceService.ts
  ui/yarn.lock
Due: run-job-no-ops

add build instruction for shared lib and karaf admin user
  README.md
  dev/kubernetes.kafka.yaml
Due: run-job-no-ops, run-job-dev

Adjust blueprint for grpc twin subscriber.
  platform/ipc/twin/grpc/subscriber/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

HS-207 Add deviceTable unit tests
  ui/src/components/Appliances/deviceTable.spec.ts
Due: run-job-no-ops

HS-207 Add deviceTable unit tests
  ui/package.json
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/services/deviceService.spec.ts
  ui/src/store/deviceStore.ts
  ui/yarn.lock
Due: run-job-no-ops

further clean up
  dev/kubernetes.kafka.yaml
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops, run-job-dev
