Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

HS-346 Add Device component and route
  ui/components.d.ts
  ui/src/components/Appliances/Device.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/router/index.ts
Due: run-job-no-ops

HS-346 Remove comment
  ui/src/components/Appliances/DeviceTable.vue
Due: run-job-no-ops

HS-286: Add Twin Publisher to Trap Consumer
  platform/assemblies/features/src/main/feature/features.xml
  platform/ipc/api/src/main/java/org/opennms/horizon/ipc/twin/api/TwinPublisher.java
  platform/ipc/api/src/main/java/org/opennms/horizon/ipc/twin/api/TwinStrategy.java
  platform/ipc/api/src/main/java/org/opennms/horizon/ipc/twin/api/TwinSubscriber.java
  platform/traps/pom.xml
  platform/traps/src/main/java/org/opennms/horizon/traps/consumer/TrapSinkConsumer.java
  platform/traps/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/traps/src/test/java/org/opennms/horizon/traps/consumer/TrapdConfigJsonTest.java
Due: run-job-no-ops

HS-358: code review comment
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDao.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  platform/db/schema-liquibase/src/main/liquibase/hs-0.1.0/tables/pagerDutyConfig.xml
Due: run-job-no-ops

HS-346 Fix after review
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/containers/Node.vue
  ui/src/router/index.ts
Due: run-job-no-ops

removed the unused constractor arg
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
Due: run-job-no-ops

make widgets more dynamic
  ui/components.d.ts
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Layout/Widgetbar.vue
  ui/src/components/Widgets/utils.ts
  ui/src/composables/useWidgets.ts
  ui/src/router/index.ts
Due: run-job-no-ops

rm switch statement
  ui/src/composables/useWidgets.ts
Due: run-job-no-ops

fix tests to use widgets constant
  ui/tests/Widgets/widgets.test.ts
  ui/tests/setupWrapper.ts
Due: run-job-no-ops

Propagate skip-tests into custom maven commands
  shared-lib/skaffold.yaml
  skaffold.yaml
Due: none

HS-362 Add event, node, metric to page
  ui/src/containers/Node.vue
  ui/src/graphql/Events/eventsQueries.graphql
  ui/src/store/Queries/eventsQueries.ts
  ui/src/store/Views/nodeStore.ts
Due: run-job-no-ops

HS-362 Add generated files
  ui/components.d.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-249: fixes for notifications
  charts/opennms/values.yaml
  operator/scripts/install-operator-local.sh
Due: none

HS-249: add Grafana into Operator
  charts/opennms/templates/grafana/grafana-configmap.yaml
  charts/opennms/templates/grafana/grafana-deployment.yaml
  charts/opennms/templates/grafana/grafana-service.yaml
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/postgres/postgres-cred-secret.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-configmap.yaml
  charts/opennms/values.yaml
  operator/internal/model/values/grafana_values.go
  operator/internal/model/values/postgres_values.go
  operator/internal/reconciler/init.go
  operator/internal/reconciler/values_updater.go
Due: none

HS-249: enable notification service
  operator/internal/handlers/opennms.go
Due: none

HS-358: code review comment
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-configmap.yaml
  dev/kubernetes.kafka.yaml
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/config/NotificationsConfig.java
  notifications/src/main/resources/db/changelog/changelog.xml
  notifications/src/main/resources/db/changelog/hs-0.1.0/tables/pagerDutyConfig.xml
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationsApplicationTests.java
  notifications/src/test/resources/application-integration-test.yml
  notifications/src/test/resources/application.yml
  platform/db/schema/src/main/java/org/opennms/core/schema/MigratorAdminInitialize.java
  platform/db/schema/src/main/java/org/opennms/core/schema/OpenNMSDatabasePrehook.java
  platform/db/schema/src/main/java/org/opennms/core/schema/migrator/ClassLoaderBasedMigratorResourceProvider.java
  platform/db/schema/src/main/java/org/opennms/core/schema/migrator/Migrator.java
  platform/db/schema/src/main/java/org/opennms/core/schema/migrator/MigratorResourceProvider.java
  platform/db/schema/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops, run-job-dev

removed the unused cache config
  rest-server/src/main/java/org/opennms/horizon/server/cache/CacheConfig.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/resources/application.yml
Due: run-job-no-ops

Fix environment variable name after migration to spring-webflux
  charts/opennms/templates/opennms/api/api-deployment.yaml
Due: none

HS-362 Add events queries store test
  ui/src/containers/Node.vue
  ui/src/types/device.d.ts
  ui/src/types/minion.d.ts
  ui/tests/fixture/devices.ts
  ui/tests/fixture/events.ts
  ui/tests/fixture/metrics.ts
  ui/tests/store/Views/eventsQueries.test.ts
Due: run-job-no-ops

HS-362 Put pack types files
  ui/src/types/device.d.ts
  ui/src/types/minion.d.ts
Due: run-job-no-ops

Update notifications/pom.xml
  notifications/pom.xml
Due: none

HS-362 Add props to fixtures
  ui/tests/fixture/devices.ts
  ui/tests/fixture/events.ts
  ui/tests/fixture/metrics.ts
  ui/tests/store/Views/eventsQueries.test.ts
Due: run-job-no-ops

HS-362 Move test file
  ui/tests/store/Queries/eventsQueries.test.ts
Due: run-job-no-ops

HS-379: Add support for config updates/ event based discovery of devices
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/config/api/src/main/java/org/opennms/horizon/config/service/api/ConfigConstants.java
  platform/config/api/src/main/java/org/opennms/horizon/config/service/api/ConfigService.java
  platform/config/rest/src/main/java/org/opennms/horizon/config/rest/impl/DefaultConfigRestService.java
  platform/config/service/pom.xml
  platform/config/service/src/main/java/org/opennms/horizon/config/service/impl/DefaultConfigService.java
  platform/config/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/NodeDao.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/NodeDaoHibernate.java
  platform/events/api/src/main/java/org/opennms/horizon/events/api/EventConstants.java
  platform/traps/pom.xml
  platform/traps/src/main/java/org/opennms/horizon/traps/config/SnmpTrapsConfig.java
  platform/traps/src/main/java/org/opennms/horizon/traps/consumer/TrapSinkConsumer.java
  platform/traps/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/traps/src/test/java/org/opennms/horizon/traps/consumer/TrapdConfigJsonTest.java
Due: run-job-no-ops

HS-369: Added pipeline for notifications, running test
  .github/actions/notifications/action.yml
  .github/workflows/develop.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/release.yml
Due: none

HS-369: Testing pipeline
  .github/workflows/develop.yml
Due: none

HS-369: Testing pipeline
  notifications/pom.xml
Due: none

HS-353: Added some changes that help reduce down about 1GB
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/values.yaml
Due: none

HS-383: add grafana and KC to CRD
  charts/opennms-operator/crds/opennms.yaml
  operator/api/v1alpha1/opennms_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/go.mod
  operator/go.sum
  operator/internal/util/crd/crd_to_values.go
  operator/scripts/local-onms-instance.yaml
Due: none

HS-286: Handle review comments
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/InterfaceToNodeCacheDaoImpl.java
Due: run-job-no-ops

RELEASE v0.0.15-dev - new release workflow
  CHANGELOG/changelog-v0.0.15-dev.md
Due: none

HS-380 Add store queries tests
  ui/components.d.ts
  ui/src/components/Map/LeafletMap.vue
  ui/src/containers/Node.vue
  ui/src/store/Queries/alarmsQueries.ts
  ui/src/store/Queries/applianceQueries.ts
  ui/src/store/Queries/eventsQueries.ts
  ui/src/store/Queries/mapQueries.ts
  ui/src/store/Views/mapStore.ts
  ui/src/store/Views/nodeStore.ts
  ui/tests/fixture/alarms.ts
  ui/tests/fixture/devices.ts
  ui/tests/fixture/events.ts
  ui/tests/fixture/locations.ts
  ui/tests/fixture/metrics.ts
  ui/tests/fixture/minions.ts
  ui/tests/store/Queries/alarmsQueries.test.ts
  ui/tests/store/Queries/appliancesQueries.test.ts
  ui/tests/store/Queries/eventsQueries.test.ts
  ui/tests/store/Queries/mapQueries.test.ts
Due: run-job-no-ops

hotfix on release v0.0.15-dev and cleanup of ci-cd pipeline
  .github/workflows/feature-core.yml
  .github/workflows/feature-grafana.yml
  .github/workflows/feature-keycloak-ui.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
  charts/opennms/templates/opennms/ui/ui-deployment.yaml
Due: none

RELEASE v0.0.16-dev - new release workflow
  CHANGELOG/changelog-v0.0.16-dev.md
Due: none

HS-380 Refact/rename queries files
  ui/components.d.ts
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/components/Widgets/DeviceWidget.vue
  ui/src/containers/Appliances.vue
  ui/src/graphql/Events/eventsQueries.graphql
  ui/src/graphql/Metrics/deviceQuery.graphql
  ui/src/graphql/Metrics/metricQuery.graphql
  ui/src/graphql/Metrics/minionQuery.graphql
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/graphql/Views/nodeStatusQueries.graphql
  ui/src/store/Queries/nodeStatusQueries.ts
  ui/src/store/Views/nodeStore.ts
  ui/src/types/graphql.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/devicesTable.test.ts
  ui/tests/Widgets/widgets.test.ts
  ui/tests/store/Queries/eventsQueries.test.ts
Due: run-job-no-ops

hotfix on release v0.0.17-dev, set port on ui correctly and keycloak latest image
  charts/opennms/values.yaml
Due: none

RELEASE v0.0.17-dev - new release
  CHANGELOG/changelog-v0.0.17-dev.md
Due: none

HS-380 Minor change
  ui/components.d.ts
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-380 Use widget to display events
  ui/components.d.ts
  ui/src/components/Events/EventsTable.vue
  ui/src/components/Widgets/EventsWidget.vue
  ui/src/containers/Node.vue
  ui/src/store/Views/widgetStore.ts
Due: run-job-no-ops

HS-362 Refact/rename queries files
  ui/components.d.ts
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/components/Widgets/DeviceWidget.vue
  ui/src/containers/Appliances.vue
  ui/src/graphql/Events/eventsQueries.graphql
  ui/src/graphql/Metrics/deviceQuery.graphql
  ui/src/graphql/Metrics/metricQuery.graphql
  ui/src/graphql/Metrics/minionQuery.graphql
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/graphql/Views/nodeStatusQueries.graphql
  ui/src/store/Queries/nodeStatusQueries.ts
  ui/src/store/Views/nodeStore.ts
  ui/src/types/graphql.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/devicesTable.test.ts
  ui/tests/Widgets/widgets.test.ts
  ui/tests/store/Queries/eventsQueries.test.ts
Due: run-job-no-ops
