Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

changed the interface name to keep consistency
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/INotificationService.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
Due: none

HS-201: Call PagerDuty from notifications service
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyCustomDetailsDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyEventDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyPayloadDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/dto/NotificationDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationsApplicationTests.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
Due: none

HS-201: Save token and integration key to database
  charts/opennms/templates/postgres/postgres-cred-secret.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-configmap.yaml
  charts/opennms/values.yaml
  dev/kubernetes.kafka.yaml
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDao.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyConfigDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/config/JpaConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationsApplicationTests.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationsServiceImplTest.java
  notifications/src/test/resources/application-integration-test.yml
  operator/internal/model/values/postgres_values.go
  operator/internal/reconciler/values_updater.go
  operator/internal/reconciler/values_updater_test.go
Due: run-job-dev

HS-201: code review comments
  charts/opennms/templates/postgres/postgres-cred-secret.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-configmap.yaml
  charts/opennms/values.yaml
  dev/kubernetes.kafka.yaml
  notifications/src/main/java/org/opennms/horizon/notifications/config/JpaConfig.java
  operator/internal/model/values/postgres_values.go
  operator/internal/reconciler/values_updater.go
  operator/internal/reconciler/values_updater_test.go
Due: run-job-dev

HS-279 Use type from generated type file
  ui/src/components/Appliances/AddDeviceCtrl.vue
Due: run-job-no-ops

HS-201: Exception handling for notifications
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDao.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyCustomDetailsDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/config/JpaConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/exceptions/NotificationAPIException.java
  notifications/src/main/java/org/opennms/horizon/notifications/exceptions/NotificationBadDataException.java
  notifications/src/main/java/org/opennms/horizon/notifications/exceptions/NotificationConfigUninitializedException.java
  notifications/src/main/java/org/opennms/horizon/notifications/exceptions/NotificationException.java
  notifications/src/main/java/org/opennms/horizon/notifications/exceptions/NotificationInternalException.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationsServiceImplTest.java
Due: none

HS-279 Remove type
  ui/src/types/appliances.ts
Due: run-job-no-ops

HS-279 Remove device typing, mod test
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/tests/Appliances/addDeviceCtrl.test.ts
Due: run-job-no-ops

use undefined val for generated MaybeInput
  ui/codegen.yml
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-308: List locations/locations by id
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/LocationRestService.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/LocationRestServiceImpl.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/LocationCollectionDTO.java
Due: run-job-no-ops

HS-289: working config for the Minion, adjusted other config
  charts/opennms/templates/opennms/api/opennms-api-deployment.yaml
  charts/opennms/templates/opennms/api/opennms-api-service.yaml
  charts/opennms/templates/opennms/core/opennms-configmap.yaml
  charts/opennms/templates/opennms/core/opennms-core-deployment.yaml
  charts/opennms/templates/opennms/core/opennms-core-service.yaml
  charts/opennms/templates/opennms/mail-server/opennms-ms-deployment.yaml
  charts/opennms/templates/opennms/mail-server/opennms-ms-service.yaml
  charts/opennms/templates/opennms/minion/minion-configmap.yaml
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-service.yaml
  charts/opennms/templates/opennms/ui/opennms-ui-deployment.yaml
  charts/opennms/templates/opennms/ui/opennms-ui-service.yaml
  charts/opennms/templates/prometheus/prometheus-configmap.yaml
  charts/opennms/templates/prometheus/prometheus-deployment.yaml
  charts/opennms/templates/prometheus/prometheus-service.yaml
  charts/opennms/templates/prometheus/pushgateway-deployment.yaml
  charts/opennms/templates/prometheus/pushgateway-service.yaml
  charts/opennms/values.yaml
  local-sample/to-be-added-to-operator.yaml
  operator/internal/handlers/opennms.go
  operator/internal/model/values/common_values.go
  operator/internal/model/values/keycloak_values.go
  operator/internal/model/values/opennms_values.go
  operator/internal/model/values/postgres_values.go
  operator/internal/model/values/prometheus_values.go
  operator/scripts/deploy-horizon-stream.sh
Due: none

Addressing PR comments for protobuf work, backmerged grpc cleanup branch
  minion/ipc/twin/twin-common/pom.xml
  minion/ipc/twin/twin-common/src/main/java/org/opennms/core/ipc/twin/common/AbstractTwinSubscriber.java
  minion/ipc/twin/twin-common/src/main/java/org/opennms/core/ipc/twin/common/LocalTwinSubscriberImpl.java
  minion/ipc/twin/twin-common/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/ipc/twin/twin-grpc/publisher/src/main/java/org/opennms/core/ipc/twin/grpc/publisher/GrpcTwinPublisher.java
  minion/ipc/twin/twin-grpc/subscriber/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/src/main/java/org/opennms/core/ipc/twin/grpc/subscriber/GrpcTwinSubscriber.java
  minion/minion-grpc/workflow/module/pom.xml
  minion/plugins/registration/pom.xml
  minion/pom.xml
  parent-pom/pom.xml
Due: none

HS-252: Final cleaning of this branch from messy rebase
  operator/api/keycloak/v2alpha1/groupversion_info.go
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestService.java
  ui/src/helpers/formatting.ts
Due: run-job-no-ops

Configure Skaffold to build shared-lib and install Keycloak operator
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

replace locations input with select dropdown
  ui/components.d.ts
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/store/Queries/applianceQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Simplify platform Skaffold build, and remove unnecessary Docker plugin from rest-server
  platform/assemblies/docker/pom.xml
  platform/pom.xml
  platform/skaffold-build.sh
  rest-server/pom.xml
  ri.yaml
  skaffold.yaml
Due: run-job-no-ops

Adding unit tests
  minion/plugins/registration/pom.xml
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/PluginRegistrationRouting.java
  minion/plugins/registration/src/main/resources/OSGI-INF/blueprint/alerting.xml
  minion/plugins/registration/src/test/java/org/opennms/horizon/minion/registration/PluginRegistrationRoutingTest.java
Due: none

HS-291 Integrate device metrics
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Appliances/appliances.helpers.ts
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/store/Queries/applianceQueries.ts
  ui/src/types/device.d.ts
  ui/src/types/graphql.ts
  ui/src/types/minion.d.ts
Due: run-job-no-ops

HS-307: Minio RPC should be decoupled from gRPC
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorMinionManagerListener.java
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/minion/heartbeat/src/main/java/org/opennms/minion/heartbeat/HeartbeatConsumer.java
  platform/minion/heartbeat/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/minion/heartbeat/src/test/java/org/opennms/minion/heartbeat/HeartbeatConsumerTest.java
Due: run-job-no-ops

Improving routing test
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/PluginRegistrationRouting.java
  minion/plugins/registration/src/test/java/org/opennms/horizon/minion/registration/PluginRegistrationRoutingTest.java
Due: none

Marking things deprectated
  minion/ignite-worker/src/main/java/org/opennms/horizon/minion/ignite/worker/queue/impl/AsyncProcessingQueueImpl.java
  minion/ignite-worker/src/test/java/org/opennms/horizon/minion/plugin/config/PluginDetectorTest.java
Due: none

update skaffold vars, keycloak-ui version
  keycloak-ui/Dockerfile
  skaffold.yaml
Due: none

add missing generated types
  ui/src/types/graphql.ts
Due: run-job-no-ops

change kc back to v 19.0.1
  keycloak-ui/Dockerfile
Due: none

HS-289: deployment config for Gateway, Notifications, Mail Server
  charts/opennms/templates/api-gateway/api-gateway-configmap.yaml
  charts/opennms/templates/api-gateway/api-gateway-deployment.yaml
  charts/opennms/templates/api-gateway/api-gateway-service.yaml
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/templates/mail-server/mail-server-deployment.yaml
  charts/opennms/templates/mail-server/mail-server-service.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/api/api-service.yaml
  charts/opennms/templates/opennms/api/opennms-api-deployment.yaml
  charts/opennms/templates/opennms/core/core-configmap.yaml
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/templates/opennms/core/core-service.yaml
  charts/opennms/templates/opennms/mail-server/opennms-ms-deployment.yaml
  charts/opennms/templates/opennms/mail-server/opennms-ms-service.yaml
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-service.yaml
  charts/opennms/templates/opennms/ui/ui-deployment.yaml
  charts/opennms/templates/opennms/ui/ui-service.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/prometheus/prometheus-configmap.yaml
  charts/opennms/templates/prometheus/prometheus-deployment.yaml
  charts/opennms/templates/prometheus/pushgateway-deployment.yaml
  charts/opennms/values.yaml
  local-sample/to-be-added-to-operator.yaml
  operator/internal/handlers/apigateway.go
  operator/internal/handlers/mailserver.go
  operator/internal/handlers/opennms.go
  operator/internal/model/values/apigateway_values.go
  operator/internal/model/values/common_values.go
  operator/internal/model/values/mailserver_values.go
  operator/internal/model/values/opennms_values.go
  operator/internal/model/values/values.go
Due: none

HS-307: Fix test
  platform/docker-it/src/test/resources-filtered/karaf/etc/org.apache.karaf.features.cfg
Due: run-job-no-ops

Fixing metrics version
  parent-pom/pom.xml
Due: none

Adding more unit tests
  minion/ignite-worker/src/main/java/org/opennms/horizon/minion/ignite/worker/ignite/registries/DetectorRegistryImpl.java
  minion/ignite-worker/src/test/java/org/opennms/horizon/minion/ignite/worker/ignite/registries/AlertingPluginRegistryTest.java
  minion/plugins/registration/src/test/java/org/opennms/horizon/minion/registration/PluginRegistrationRoutingTest.java
Due: none

HS-313: Don't push metrics when service is Down
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/monitor/SimpleMinionRpcMonitor.java
  platform/metrics/api/src/main/java/org/opennms/horizon/metrics/api/OnmsMetricsAdapter.java
  platform/metrics/impl/src/main/java/org/opennms/horizon/metrics/impl/PrometheusPushGatewayAdapter.java
  platform/minion/heartbeat/src/main/java/org/opennms/minion/heartbeat/HeartbeatConsumer.java
  platform/minion/heartbeat/src/test/java/org/opennms/minion/heartbeat/HeartbeatConsumerTest.java
Due: run-job-no-ops

HS-252: Got things working with ingresses with keycloak and ui, added internal-reverse-proxy.yaml
  operator/scripts/install-operator-local.sh
  skaffold.yaml
  ui/dev/entrypoint.sh
  ui/internal-reverse-proxy.yaml
  ui/package.json
  ui/vite.config.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-314 Add/mod device metrics
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/appliances.helpers.ts
  ui/src/store/Queries/applianceQueries.ts
Due: run-job-no-ops

HS-314 Refact
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Appliances/appliances.helpers.ts
Due: run-job-no-ops

HS-314 Mod css
  ui/src/components/Appliances/DeviceTable.vue
Due: run-job-no-ops

HS-289: removed redundant api gateway
  charts/opennms-operator/Chart.yaml
  charts/opennms-operator/crds/opennms.yaml
  charts/opennms/Chart.yaml
  charts/opennms/templates/api-gateway/api-gateway-configmap.yaml
  charts/opennms/templates/api-gateway/api-gateway-deployment.yaml
  charts/opennms/templates/api-gateway/api-gateway-service.yaml
  charts/opennms/templates/mail-server/mail-server-deployment.yaml
  charts/opennms/values.yaml
  operator/api/v1alpha1/opennms_types.go
  operator/internal/handlers/apigateway.go
  operator/internal/handlers/handler.go
  operator/internal/model/values/apigateway_values.go
  operator/internal/model/values/common_values.go
  operator/internal/model/values/opennms_values.go
  operator/internal/model/values/values.go
  operator/internal/reconciler/init.go
  operator/internal/reconciler/opennms_reconciler.go
  operator/scripts/install-operator-local.sh
  operator/scripts/local-onms-instance.yaml
Due: none

Remove unnecessary step from main README
  README.md
Due: run-job-no-ops

OLM install fix
  operator/scripts/install-local.sh
Due: none

Add task sets and task set service.
  minion-gateway/main/pom.xml
  minion-gateway/main/src/main/java/org/opennms/miniongateway/ignite/IgniteConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/taskset/TaskSetServiceConfig.java
  minion-gateway/pom.xml
  parent-pom/pom.xml
  shared-lib/pom.xml
  shared-lib/task-set-service/api/pom.xml
  shared-lib/task-set-service/api/src/main/java/org/opennms/taskset/service/api/TaskSetListener.java
  shared-lib/task-set-service/api/src/main/java/org/opennms/taskset/service/api/TaskSetService.java
  shared-lib/task-set-service/api/src/main/java/org/opennms/taskset/service/model/LocatedTaskSet.java
  shared-lib/task-set-service/core/pom.xml
  shared-lib/task-set-service/core/src/main/java/org/opennms/taskset/service/impl/TaskSetServiceImpl.java
  shared-lib/task-set-service/ignite-client/pom.xml
  shared-lib/task-set-service/ignite-client/src/main/java/org/opennms/taskset/service/igniteclient/IgniteTaskSetClient.java
  shared-lib/task-set-service/ignite-client/src/main/java/org/opennms/taskset/service/igniteclient/impl/IgniteTaskSetClientImpl.java
  shared-lib/task-set-service/ignite-service/pom.xml
  shared-lib/task-set-service/ignite-service/src/main/java/org/opennms/taskset/service/igniteservice/impl/IgniteTaskSetService.java
  shared-lib/task-set-service/pom.xml
  shared-lib/task-set/pom.xml
  shared-lib/task-set/src/main/java/org/opennms/taskset/model/TaskDefinition.java
  shared-lib/task-set/src/main/java/org/opennms/taskset/model/TaskSet.java
  shared-lib/task-set/src/main/java/org/opennms/taskset/model/TaskType.java
  skaffold.yaml
Due: none

Initial Task Set definitions in Core published to Minion-Gateway via ignite.
  build.sh
  dev/kubernetes.kafka.yaml
  minion-gateway/main/src/main/java/org/opennms/miniongateway/taskset/TaskSetServiceConfig.java
  parent-pom/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/bom/pom.xml
  platform/core/monitor/pom.xml
  platform/core/monitor/src/main/java/org/opennms/horizon/core/ignite/IgnitionFactory.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/ignite/WorkerIgniteConfiguration.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/taskset/LocationBasedTaskSetManager.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/taskset/MonitorTaskSetIdentityUtil.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/taskset/TaskSetManager.java
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/pom.xml
  shared-lib/lang/pom.xml
  shared-lib/lang/src/main/java/org/opennms/horizon/shared/lang/CompoundClassLoader.java
  shared-lib/pom.xml
  shared-lib/task-set-service/api/pom.xml
  shared-lib/task-set-service/api/src/main/java/org/opennms/taskset/service/api/TaskSetForwarder.java
  shared-lib/task-set-service/api/src/main/java/org/opennms/taskset/service/api/TaskSetPublisher.java
  shared-lib/task-set-service/core/pom.xml
  shared-lib/task-set-service/core/src/main/java/org/opennms/taskset/service/impl/TaskSetPublisherImpl.java
  shared-lib/task-set-service/ignite-client/src/main/java/org/opennms/taskset/service/igniteclient/IgniteTaskSetClient.java
  shared-lib/task-set-service/ignite-client/src/main/java/org/opennms/taskset/service/igniteclient/TaskSetIgnitePublisherFactory.java
  shared-lib/task-set-service/ignite-client/src/main/java/org/opennms/taskset/service/igniteclient/impl/TaskSetIgnitePublisherFactoryImpl.java
  shared-lib/task-set-service/ignite-client/src/main/java/org/opennms/taskset/service/igniteclient/impl/TaskSetIgnitePublisherImpl.java
  shared-lib/task-set-service/ignite-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/task-set-service/ignite-service/pom.xml
  shared-lib/task-set-service/ignite-service/src/main/java/org/opennms/taskset/service/igniteservice/impl/TaskSetIgniteMessageListener.java
Due: run-job-no-ops, run-job-dev

Fixing module confusion
  minion/plugins/ICMP/pom.xml
  minion/plugins/minion-snmp/pom.xml
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/ConfigFileConstants.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/IPAddressRange.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/IPAddressRangeSet.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/MergeableDefinition.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpConfigManager.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpDetector.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpDetectorManager.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpEventInfo.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitor.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitorManager.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitorStrategy.java
  minion/plugins/minion-snmp/src/main/java/org/opennms/horizon/minion/snmp/SnmpPeerFactory.java
  minion/plugins/minion-snmp/src/main/resources/OSGI-INF/blueprint/snmp-plugins.xml
  minion/plugins/pom.xml
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
