Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

Remove local-sample folder
  local-sample/README.md
  local-sample/config-kind.yaml
  local-sample/config-run
  local-sample/crd-keycloakrealmimport.yaml
  local-sample/grafana-a-configmap.yaml
  local-sample/grafana-b-secrets.yaml
  local-sample/grafana-c-deployment.yaml
  local-sample/grafana-d-service.yaml
  local-sample/grafana-e-ingress.yaml
  local-sample/hs-core.sh
  local-sample/hs-grafana.sh
  local-sample/hs-ingress.yaml
  local-sample/hs-keycloak-ui.sh
  local-sample/hs-rest-server.sh
  local-sample/hs-ui.sh
  local-sample/imports/grafana-2.json
  local-sample/imports/grafana.json
  local-sample/imports/opennms-realm.json
  local-sample/imports/realm-2.json
  local-sample/imports/realm.json
  local-sample/imports/test-opennms-realm.json
  local-sample/imports/test-realm.json
  local-sample/ingress.TEMPLATE.yaml
  local-sample/kc-deployment.yaml
  local-sample/kc-ingress.yaml
  local-sample/kc-service.yaml
  local-sample/postgres.yaml
  local-sample/run.kc-config.sh
  local-sample/run.keytool.sh
  local-sample/run.old.sh
  local-sample/run.sh
  local-sample/secrets.yaml
  local-sample/services.yaml
Due: none

Update chart to use TLS.Enabled in Keycloak deployment and Ingress
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/templates/opennms/core/core-configmap.yaml
Due: none

Remove Keycloak admin password from logs
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientImpl.java
  platform/core/rest/src/main/java/org/opennms/rest/jaxrs/jwt/impl/KeycloakRoleAssignmentProvider.java
Due: run-job-no-ops

HS-387 Replace nav with app rail
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/package.json
  ui/src/App.vue
  ui/src/assets/Logo.vue
  ui/src/assets/OpenNMS-logo-icon.svg
  ui/src/assets/OpenNMS-logo-text.svg
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/vite.config.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-407: Fix intermittent kafka test failure
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
Due: none

HS-380 Use Villus isFetching boolean ref instead
  ui/src/components/Events/EventsTable.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/store/Queries/mapQueries.ts
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

HS-339: Stats: Implement Phase 1 Metrics collection
  platform/datachoices/pom.xml
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/dto/UsageStatisticsReportDTO.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/DataChoicesTimerTask.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporter.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/dto/UsageStatisticsReportDTOTest.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/DataChoicesTimerTaskTest.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/StateManagerTest.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporterTest.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/web/internal/DataChoiceRestServiceImplTest.java
Due: run-job-no-ops

HS-339: Stats: Implement Phase 1 Metrics collection
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/dto/UsageStatisticsReportDTO.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporter.java
  platform/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/MonitoredServiceDao.java
Due: run-job-no-ops

HS-339: Stats: Implement Phase 1 Metrics collection
  platform/datachoices/pom.xml
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/DataChoicesTimerTaskTest.java
Due: run-job-no-ops

HS-339: Stats: Implement Phase 1 Metrics collection
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/DataChoicesTimerTaskTest.java
Due: run-job-no-ops

HS-339: Stats: Implement Phase 1 Metrics collection
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/dto/UsageStatisticsReportDTO.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporter.java
  platform/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  skaffold.yaml
Due: run-job-no-ops

HS-339: Stats: Implement Phase 1 Metrics collection
  platform/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  skaffold.yaml
Due: run-job-no-ops

Convert ConfigMaps containing passwords to Secrets
  charts/opennms/templates/grafana/grafana-deployment.yaml
  charts/opennms/templates/grafana/grafana-secret.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/postgres/postgres-init-secret.yaml
  operator/internal/handlers/grafana.go
  operator/internal/handlers/postgres.go
Due: none

Enable Postgres authentication
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  platform/alarms/itests/src/test/java/org/opennms/horizon/alarms/itests/CoreContainer.java
  platform/db/schema/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/docker-it/pom.xml
Due: run-job-no-ops

Encode Postgres passwords as base64 to allow the use of special characters
  charts/opennms/templates/postgres/postgres-cred-secret.yaml
  operator/internal/reconciler/values_updater.go
Due: none

Allow configuration of port numbers for ingress-nginx controller in Helm chart
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-deployment.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-service.yaml
  charts/opennms/values.yaml
Due: none

HS-407: Fix intermittent kafka test failure
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTestNoConfig.java
Due: none

Fix ui's usage of environment variables in development stage
  ui/.dockerignore
  ui/.env.development
  ui/Dockerfile
  ui/skaffold.yaml
Due: run-job-no-ops

HS-420: custom ports through the CRD; a bit more cleanup
  charts/opennms-operator/crds/opennms.yaml
  charts/opennms-operator/values.yaml
  charts/opennms/templates/ingress/jobs/job-createsecret.yaml
  charts/opennms/templates/ingress/jobs/job-patchwebhook.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-deployment.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-service.yaml
  charts/opennms/values.yaml
  operator/api/v1alpha1/opennms_types.go
  operator/internal/model/values/ingress_values.go
  operator/internal/model/values/values.go
  operator/internal/util/crd/crd_to_values.go
  operator/scripts/create-kind-cluster.sh
  operator/scripts/kind-config.yaml
  operator/scripts/local-onms-instance.yaml
Due: none

HS-380 Update component generated file
  ui/components.d.ts
Due: run-job-no-ops

Postgres secret fix
  operator/internal/handlers/postgres.go
Due: none

Add missing env var to Core deployment in k8s manifest
  dev/kubernetes.kafka.yaml
Due: run-job-dev

KC fix
  operator/scripts/local-onms-instance.yaml
Due: none

add pagerduty integration key mutation
  ui/.gitignore
  ui/components.d.ts
  ui/src/components/Appliances/NotificationsCtrl.vue
  ui/src/graphql/Notifications/pagerDuty.graphql
  ui/src/store/Mutations/notificationMutations.ts
  ui/src/types/graphql.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
Due: run-job-no-ops

Change Grafana config map to secret
  operator/internal/handlers/grafana.go
Due: none

Fix postgres and kafka connections
  charts/opennms/templates/kafka/kafka-deployment.yaml
  charts/opennms/templates/postgres/postgres-cred-secret.yaml
Due: none

Update Helm charts so they can be deployed through Helm
  charts/.gitignore
  charts/opennms-operator/values.yaml
  charts/opennms/templates/grafana/grafana-deployment.yaml
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/ingress/jobs/job-createsecret.yaml
  charts/opennms/templates/ingress/jobs/job-patchwebhook.yaml
  charts/opennms/templates/ingress/nginx-controller/controller-deployment.yaml
  charts/opennms/templates/kafka/kafka-deployment.yaml
  charts/opennms/templates/keycloak/_keycloak-internal-service.yaml
  charts/opennms/templates/keycloak/keycloak-cred-secret.yaml
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/templates/opennms/ui/ui-deployment.yaml
  charts/opennms/templates/postgres/postgres-deployment.yaml
  charts/opennms/templates/prometheus/prometheus-deployment.yaml
  charts/opennms/templates/prometheus/pushgateway-deployment.yaml
  charts/opennms/values.yaml
Due: none

Change Skaffold to deploy using Helm chart
  operator/local-instance.yaml
  operator/skaffold.yaml
  skaffold-helm-values.yaml
  skaffold.yaml
  ui/skaffold.yaml
Due: run-job-no-ops

Update operator so it doesn't crash with existing Helm values in chart
  charts/opennms/templates/keycloak/keycloak-internal-service.yaml
  operator/.gitignore
  operator/go.mod
  operator/go.sum
  operator/internal/reconciler/opennms_reconciler.go
  operator/internal/util/template/template.go
  operator/internal/util/values/load.go
  operator/internal/util/yaml/load.go
Due: none

Switch to multi-arch Kafka image
  charts/opennms/values.yaml
Due: none

HS-374: Stats: Rest server endpoint to Opt-in/Opt-out
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/dto/UsageStatisticsReportDTO.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/DataChoicesTimerTask.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporter.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/web/internal/DataChoiceRestServiceImpl.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/dto/UsageStatisticsReportDTOTest.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/DataChoicesTimerTaskTest.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporterTest.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/web/internal/DataChoiceRestServiceImplTest.java
  rest-server/src/main/java/org/opennms/horizon/server/model/datachoices/ToggleDataChoicesDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/service/DataChoicesService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/gateway/PlatformGateway.java
  rest-server/src/test/java/org/opennms/horizon/server/RestServerApplicationTests.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/datachoices/UsageStatisticsReportDTO.java
Due: run-job-no-ops

Fix operator not being able to find existing Secret or ConfigMap resources when CR name and namespace don't match
  operator/internal/reconciler/values_updater.go
  operator/internal/reconciler/values_updater_test.go
Due: none

Allow specifying image tag in Operator Makefile
  operator/Makefile
Due: none

Fix operator getting stuck while waiting for Keycloak Deployment
  charts/opennms/templates/cert/cert-secret.yaml
  charts/opennms/templates/opennms/core/cert-secret.yaml
  operator/internal/handlers/base.go
  operator/internal/handlers/opennms.go
Due: none

Update operator to handle Helm-based namespace change
  operator/internal/model/values/values.go
  operator/internal/util/crd/crd_to_values.go
  operator/internal/util/crd/crd_to_values_test.go
  operator/internal/util/template/template_test.go
  operator/internal/util/values/load.go
  operator/internal/util/values/load_test.go
  operator/internal/util/values/testtmp/test1.yaml
  operator/internal/util/yaml/load_test.go
  operator/skaffold.yaml
  operator/test/integration/integration_test.go
Due: none

Fix failing test
  operator/internal/util/yaml/load_test.go
Due: none

Fix invalid Kafka advertised listeners config
  charts/opennms/templates/kafka/kafka-deployment.yaml
Due: none

Move nginx-errors to opennms chart
  charts/opennms-operator/values.yaml
  charts/opennms/templates/ingress/custom-errors/nginx-errors-deployment.yaml
  charts/opennms/templates/ingress/custom-errors/nginx-errors-service.yaml
  charts/opennms/values.yaml
  operator/internal/handlers/base.go
  operator/internal/handlers/ingress.go
  operator/internal/model/values/customerrors_values.go
  operator/internal/model/values/values.go
Due: none

Make Operator chart respect Helm namespace, and clean up values structure
  charts/opennms-operator/templates/operator-clusterrole.yaml
  charts/opennms-operator/templates/operator-clusterrolebinding.yaml
  charts/opennms-operator/templates/operator-serviceaccount.yaml
  charts/opennms-operator/templates/operator.yaml
  charts/opennms-operator/values.yaml
  operator/skaffold.yaml
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
