Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

HS-182: build fixes
  operator/go.mod
  operator/go.sum
  operator/internal/reconciler/values_updater.go
  operator/internal/reconciler/values_updater_test.go
Due: none

HS-182: custom image support
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/values.yaml
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/internal/model/values/keycloak_values.go
Due: none

HS-182: deployment
  operator/Makefile
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  operator/internal/handlers/keycloak.go
Due: none

HS-182: bug fixes
  charts/opennms-operator/templates/operator-clusterrole.yaml
  charts/opennms/templates/keycloak/keycloak-operator-sub.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/templates/opennms/opennms-api-deployment.yaml
  charts/opennms/templates/opennms/opennms-core-deployment.yaml
  charts/opennms/values.yaml
  operator/Makefile
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha1/groupversion_info.go
  operator/dependencies/dependency_list.go
  operator/dependencies/load_dependencies.go
  operator/go.mod
  operator/go.sum
  operator/internal/handlers/keycloak.go
  operator/internal/model/values/keycloak_values.go
  operator/local-instance.yaml
Due: none

HS-144: Keycloak connects to Postgres properly
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/values.yaml
  keycloak-ui/Dockerfile
  operator/internal/handlers/ingress.go
  operator/scripts/install-operator-local.sh
Due: none

HS-144: checkpoint
  charts/opennms/templates/ingress/nginx-controller/controller-deployment.yaml
  charts/opennms/templates/opennms/opennms-core-deployment.yaml
  charts/opennms/templates/postgres/postgres-cred-secret.yaml
  charts/opennms/templates/postgres/postgres-init-configmap.yaml
  charts/opennms/values.yaml
  operator/internal/model/values/postgres_values.go
  operator/internal/reconciler/values_updater.go
Due: none

HS-144: checkpoint
  charts/opennms/values.yaml
  operator/Makefile
  operator/scripts/install-operator-local.sh
Due: none

HS-144: various keycloak fixes
  charts/opennms/templates/keycloak/keycloak-cred-secret.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/values.yaml
  keycloak-ui/Dockerfile
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/internal/model/values/keycloak_values.go
  operator/internal/reconciler/opennms_reconciler.go
  operator/internal/reconciler/values_updater.go
Due: none

HS-268 use post method with label filtering in the query
  rest-server/src/main/java/org/opennms/horizon/server/service/PrometheusTSDBServiceImpl.java
  rest-server/src/main/java/org/opennms/horizon/server/service/TSDBService.java
Due: run-job-no-ops

HS-268 more clean up
  rest-server/src/main/java/org/opennms/horizon/server/model/TSData.java
  rest-server/src/main/java/org/opennms/horizon/server/model/TSResult.java
  rest-server/src/main/java/org/opennms/horizon/server/model/TimeSeriesQueryResult.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PrometheusTSDBServiceImpl.java
Due: run-job-no-ops

HS-144: minor fixes
  charts/opennms/values.yaml
  operator/internal/reconciler/init.go
  operator/internal/reconciler/values_updater_test.go
  operator/scripts/local-operator-values.yaml
Due: none

HS-201: Kafka Consumer for Events and Alarms
  dev/kubernetes.kafka.yaml
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/KafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/KafkaProducer.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/resources/application.yml
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/KafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  skaffold.yaml
Due: run-job-dev

HS-201: Kafka Consumer for Events and Alarms
  dev/kubernetes.kafka.yaml
Due: run-job-dev

HS-265 Cleanup after review
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/components/Map/SeverityFilter.vue
  ui/src/containers/Map.vue
  ui/src/store/Views/appStore.ts
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

HS-265 Keep page header btns on the right
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-265 Add icons
  ui/src/assets/Critical-icon.png
  ui/src/assets/Major-icon.png
  ui/src/assets/Minor-icon.png
  ui/src/assets/Normal-icon.png
  ui/src/assets/Warning-icon.png
Due: run-job-no-ops

HS-265 Minor css change
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-144: TLS cert, ingress fixes, switching to Kind
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/values.yaml
  operator/scripts/add-local-ssl-cert.sh
  operator/scripts/create-kind-cluster.sh
  operator/scripts/deploy-horizon-stream.sh
Due: none

Initial commit of new minion from POC
  minion/pom.xml
Due: none

Adding plugin api and model
  minion/model/pom.xml
  minion/model/src/main/java/org/opennms/poc/ignite/model/workflows/PluginMetadata.java
  minion/model/src/main/java/org/opennms/poc/ignite/model/workflows/Result.java
  minion/model/src/main/java/org/opennms/poc/ignite/model/workflows/Results.java
  minion/model/src/main/java/org/opennms/poc/ignite/model/workflows/Workflow.java
  minion/model/src/main/java/org/opennms/poc/ignite/model/workflows/WorkflowType.java
  minion/model/src/main/java/org/opennms/poc/ignite/model/workflows/Workflows.java
  minion/plugins/api/pom.xml
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/AbstractServiceMonitor.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/FieldConfigMeta.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/Listener.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ListenerFactory.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/MonitoredService.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ParameterMap.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/PollStatus.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceConnector.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceConnectorFactory.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceDetector.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceDetectorManager.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceDetectorRequest.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceDetectorResults.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceMonitor.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceMonitorManager.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceMonitorRequest.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceMonitorResponse.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/ServiceMonitorResponseImpl.java
  minion/plugins/api/src/main/java/org/opennms/poc/plugin/api/annotations/HorizonConfig.java
  minion/plugins/api/src/main/resources/log4j.properties
  minion/plugins/api/src/test/resources/log4j.properties
  minion/plugins/pom.xml
  minion/pom.xml
Due: none

Fixing java version
  minion/model/pom.xml
  minion/plugins/pom.xml
  minion/pom.xml
Due: none

HS-191: Remove latency, response time from MinionDTO
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/MinionDTO.java
Due: none

HS-191: Fix test
  platform/assemblies/features/src/main/feature/features.xml
  platform/docker-it/src/test/resources-filtered/karaf/etc/org.apache.karaf.features.cfg
Due: run-job-no-ops

Adding spotless plugin, pom cleanup
  minion/ipc/echo/pom.xml
  minion/ipc/grpc/client/pom.xml
  minion/ipc/grpc/server/pom.xml
  minion/ipc/pom.xml
  minion/ipc/twin/twin-grpc/pom.xml
  minion/model/pom.xml
  minion/plugins/plugins-api/pom.xml
  minion/plugins/pom.xml
  minion/pom.xml
  minion/spotless/header-java.txt
  minion/spotless/header-xml.txt
Due: none

HS-144: Ingress fixes
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/opennms/opennms-api-deployment.yaml
  charts/opennms/templates/opennms/opennms-core-deployment.yaml
  charts/opennms/templates/opennms/opennms-ui-deployment.yaml
  charts/opennms/values.yaml
  operator/internal/model/values/keycloak_values.go
  ri.yaml
Due: none

Moving dependencies
  minion/ipc/grpc/pom.xml
  minion/ipc/grpc/server/pom.xml
Due: none

HS-144: Keycloak test image and fixes
  .github/actions/keycloak-ui/action.yml
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/values.yaml
  keycloak-ui/Dockerfile
  operator/internal/reconciler/opennms_reconciler.go
Due: none

HS-144: publish env
  .github/workflows/feature-keycloak-ui.yml
Due: none

HS-144: build bump
  keycloak-ui/Dockerfile
Due: none

Working on GRPC module
  minion/minion-grpc/pom.xml
  minion/minion-grpc/whiteboard/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-api/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-api/src/main/java/org/opennms/poc/ignite/grpc/whiteboard/api/MessageListener.java
  minion/minion-grpc/whiteboard/whiteboard-core/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-core/src/main/java/org/opennms/poc/ignite/grpc/whiteboard/internal/GrpcWhiteboard.java
  minion/minion-grpc/whiteboard/whiteboard-core/src/main/resources/OSGI-INF/blueprint/grpc-whiteboard.xml
  minion/pom.xml
Due: none

Adding rest of gRPC module
  minion/minion-grpc/workflow/injector/pom.xml
  minion/minion-grpc/workflow/injector/src/main/java/org/opennms/poc/ignite/grpc/injector/internal/rest/DigitalTwinWorkflowInjector.java
  minion/minion-grpc/workflow/injector/src/main/java/org/opennms/poc/ignite/grpc/injector/internal/rest/WorkflowInjector.java
  minion/minion-grpc/workflow/injector/src/main/resources/OSGI-INF/blueprint/workflow-injector.xml
  minion/minion-grpc/workflow/module/pom.xml
  minion/minion-grpc/workflow/module/src/main/java/org/opennms/poc/ignite/grpc/workflow/WorkflowSinkModule.java
  minion/minion-grpc/workflow/module/src/main/proto/opennms/poc/workflow.proto
  minion/minion-grpc/workflow/pom.xml
  minion/minion-grpc/workflow/workflow-publisher/pom.xml
  minion/minion-grpc/workflow/workflow-publisher/src/main/java/org/opennms/poc/ignite/grpc/publisher/WorkflowPublisher.java
  minion/minion-grpc/workflow/workflow-publisher/src/main/java/org/opennms/poc/ignite/grpc/publisher/internal/GrpcWorkflowPublisher.java
  minion/minion-grpc/workflow/workflow-publisher/src/main/resources/OSGI-INF/blueprint/workflow-publisher.xml
  minion/minion-grpc/workflow/workflow-subscriber/pom.xml
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/poc/ignite/grpc/subscriber/LoggingWorkflowSubscriber.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/poc/ignite/grpc/subscriber/MeteredConsumer.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/poc/ignite/grpc/subscriber/ResultsConsumer.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/resources/OSGI-INF/blueprint/workflow-subscriber.xml
Due: none

Moving over metrics
  minion/minion-grpc/workflow/workflow-subscriber/pom.xml
  minion/minion-metrics/pom.xml
  minion/minion-metrics/src/main/java/org/opennms/poc/metrics/MetricsProvider.java
  minion/minion-metrics/src/main/java/org/opennms/poc/metrics/internal/MetricsProviderWhiteboard.java
  minion/minion-metrics/src/main/java/org/opennms/poc/metrics/internal/MetricsServlet.java
  minion/minion-metrics/src/main/java/org/opennms/poc/metrics/internal/MetricsWhiteboard.java
  minion/minion-metrics/src/main/resources/OSGI-INF/blueprint/metrics.xml
  minion/pom.xml
Due: none

HS-144: docker login
  .github/actions/keycloak-ui/action.yml
Due: none

HS-144: updated docker login
  .github/actions/keycloak-ui/action.yml
  .github/workflows/feature-keycloak-ui.yml
Due: none

HS-144: trigger deployment
  keycloak-ui/README.md
Due: none

Moving alerting module into the plugins module, renaming as "registration"
  minion/ipc/echo/pom.xml
  minion/ipc/grpc/client/pom.xml
  minion/ipc/grpc/pom.xml
  minion/ipc/grpc/server/pom.xml
  minion/ipc/ipc-api/pom.xml
  minion/ipc/pom.xml
  minion/ipc/twin/pom.xml
  minion/ipc/twin/twin-api/pom.xml
  minion/ipc/twin/twin-common/pom.xml
  minion/ipc/twin/twin-grpc/pom.xml
  minion/ipc/twin/twin-grpc/publisher/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/pom.xml
  minion/minion-grpc/pom.xml
  minion/minion-grpc/whiteboard/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-api/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-core/pom.xml
  minion/model/pom.xml
  minion/plugins/plugins-api/pom.xml
  minion/plugins/pom.xml
  minion/plugins/registration/pom.xml
  minion/plugins/registration/src/main/java/org/opennms/poc/alerting/AlertingService.java
  minion/plugins/registration/src/main/java/org/opennms/poc/alerting/AlertingServiceImpl.java
  minion/plugins/registration/src/main/java/org/opennms/poc/alerting/MinionRouting.java
  minion/plugins/registration/src/main/java/org/opennms/poc/alerting/PluginConfigSinkModule.java
  minion/plugins/registration/src/main/proto/plugin.proto
  minion/plugins/registration/src/main/resources/OSGI-INF/blueprint/alerting.xml
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
