Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

add initial widgets / widgets-panel
  ui/auto-feather-resolver.ts
  ui/components.d.ts
  ui/src/App.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Layout/Widgetbar.vue
  ui/src/store/Views/layoutStore.ts
Due: run-job-no-ops

HS-295: Add Postgres Jsonstore
  platform/assemblies/features/src/main/feature/features.xml
  platform/cm/pom.xml
  platform/db/kv-store-api/pom.xml
  platform/db/kv-store-api/src/main/java/org/opennms/horizon/db/kvstore/api/AbstractAsyncKeyValueStore.java
  platform/db/kv-store-api/src/main/java/org/opennms/horizon/db/kvstore/api/AbstractKeyValueStore.java
  platform/db/kv-store-api/src/main/java/org/opennms/horizon/db/kvstore/api/JsonStore.java
  platform/db/kv-store-api/src/main/java/org/opennms/horizon/db/kvstore/api/KeyValueStore.java
  platform/db/pom.xml
  platform/db/postgres-kvstore/pom.xml
  platform/db/postgres-kvstore/src/main/java/org/opennms/horizon/db/kvstore/postgres/AbstractPostgresKeyValueStore.java
  platform/db/postgres-kvstore/src/main/java/org/opennms/horizon/db/kvstore/postgres/PostgresJsonStore.java
  platform/db/postgres-kvstore/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/pom.xml
Due: run-job-no-ops

fixed local install-local.sh
  install-local-operator-values.yaml
  install-local.sh
Due: none

Keep cxf jaxrs and sse feature required by jaxrs-whiteboard.
  minion/minion-taskset/features/src/main/feature/feature.xml
Due: none

minion/grpc - Refactoring module and group names for consistency
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-grpc/grpc-features/pom.xml
  minion/minion-grpc/grpc-features/src/main/feature/feature.xml
  minion/minion-grpc/pom.xml
  minion/minion-ipc/ipc-features/pom.xml
  minion/minion-taskset/taskset-features/pom.xml
  minion/plugins/features/pom.xml
  minion/plugins/icmp-plugin/pom.xml
  minion/plugins/snmp-plugin/pom.xml
Due: none

minion/ipc - Refactoring module and group names for consistency
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-ipc/ipc-echo/pom.xml
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoClient.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRequest.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoResponse.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/EchoRpcModule.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/MyEchoException.java
  minion/minion-ipc/ipc-echo/src/main/java/org/opennms/horizon/minion/ipc/echo/monitor/SimpleMinionRpcMonitor.java
  minion/minion-ipc/ipc-features/pom.xml
  minion/minion-ipc/ipc-features/src/main/feature/feature.xml
  minion/minion-ipc/pom.xml
  minion/minion-ipc/twin-api/pom.xml
  minion/minion-ipc/twin-common/pom.xml
  minion/minion-ipc/twin-core/pom.xml
  minion/minion-ipc/twin-whiteboard/pom.xml
  minion/minion-taskset/features/pom.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-worker/pom.xml
  minion/plugins/features/pom.xml
  minion/plugins/icmp-plugin/pom.xml
  minion/plugins/pom.xml
  minion/plugins/snmp-plugin/pom.xml
  minion/pom.xml
Due: none

minion/observability - Refactoring module and group names for consistency
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-ipc/ipc-features/pom.xml
  minion/minion-observability/observability-features/pom.xml
  minion/minion-observability/observability-features/src/main/feature/feature.xml
  minion/minion-observability/observability-metrics/pom.xml
  minion/minion-observability/observability-tracing/pom.xml
  minion/minion-observability/pom.xml
  minion/minion-taskset/features/pom.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-worker/pom.xml
  minion/plugins/features/pom.xml
  minion/plugins/icmp-plugin/pom.xml
Due: none

minion/tasket - Refactoring module and group names for consistency
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-taskset/pom.xml
  minion/minion-taskset/taskset-features/pom.xml
  minion/minion-taskset/taskset-features/src/main/feature/feature.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-scheduler/pom.xml
  minion/minion-taskset/taskset-worker/pom.xml
Due: none

Fix missing prod profile in main Skaffold config
  skaffold.yaml
Due: none

Fix extra --host in ui development stage
  ui/Dockerfile
Due: run-job-no-ops

Fix horizon-common-utils name in features file. Fix renaming of ipc-grpc-server in minion-gateway.
  minion-gateway/main/pom.xml
  shared-lib/snmp-api/src/main/feature/feature.xml
Due: none

Use location "Default" for the minion to match the UI, so new devices created on the UI will start monitoring on the default minion run with Skaffold.
  dev/kubernetes.kafka.yaml
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-dev

Change current hard-coded period for ICMPMonitor and SNMPMonitor to 5000ms from 120ms.
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
Due: run-job-no-ops

Handling of application level reconnection.
  minion/assembly/src/main/resources/etc/org.ops4j.pax.logging.cfg
  minion/minion-ipc/twin-core/pom.xml
  minion/minion-ipc/twin-core/src/main/java/org/opennms/horizon/minion/ipc/twin/core/internal/GrpcTwinSubscriber.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/ReconnectStrategy.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/java/org/opennms/core/ipc/grpc/client/SimpleReconnectStrategy.java
  shared-lib/horizon-ipc/ipc-grpc/ipc-grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: none

Docker-it ignite - do not use Kubernetes clustering..
  platform/docker-it/src/test/resources/karaf/etc/org.opennms.core.monitor.cfg
Due: run-job-no-ops

HS-343 change the grafana init container script to check grafana db
  dev/kubernetes.kafka.yaml
Due: run-job-dev

plugging detector client into the provision rest service for integration testing
  minion-gateway/ignite-detector/api/pom.xml
  minion-gateway/ignite-detector/client/pom.xml
  minion-gateway/ignite-detector/server/pom.xml
  minion-gateway/main/pom.xml
  platform/provision/ignite-service/src/main/java/org/opennms/netmgt/provision/rpc/ignite/impl/IgniteLocationAwareDetectorClient.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestService.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImpl.java
  platform/provision/rest/src/main/resources/OSGI-INF/blueprint/provision-rest-blueprint.xml
  platform/provision/rest/src/test/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImplTest.java
Due: run-job-no-ops

HS-304 Rename geomap to map
  ui/src/components/Map/LeafletMap.vue
  ui/src/containers/Map.vue
  ui/src/graphql/Views/mapQueries.graphql
  ui/src/store/Views/mapStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-304 Use types from generated file
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/store/Views/mapStore.ts
  ui/src/types/map.d.ts
Due: run-job-no-ops

HS-304 Use types from generated file
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/containers/Map.vue
  ui/src/store/Views/mapStore.ts
  ui/src/types/map.d.ts
Due: run-job-no-ops

HS-304 Fix build errors
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/containers/Map.vue
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

HS-304 Minor changes
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
Due: run-job-no-ops

Fixing group names per project convention
  minion-gateway/ignite-detector/api/pom.xml
  minion-gateway/ignite-detector/client/pom.xml
  minion-gateway/ignite-detector/pom.xml
  minion-gateway/ignite-detector/server/pom.xml
  minion-gateway/main/pom.xml
  minion-gateway/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/ignite-service/pom.xml
Due: run-job-no-ops

Fixing group names per project convention
  shared-lib/pom.xml
Due: none

HS-304 Minor changes
  ui/src/components/Appliances/appliances.helpers.ts
  ui/src/components/Map/MapAlarmsGrid.vue
Due: run-job-no-ops

HS-304 Minor changes
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

HS-304 Highlight device selected row
  ui/src/components/Map/MapNodesGrid.vue
Due: run-job-no-ops

HS-347 add cache for BFF backend request.
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
Due: run-job-no-ops

update comment
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
Due: run-job-no-ops

HS-304 Fix error when device has no location
  ui/src/containers/Map.vue
  ui/src/store/Views/mapStore.ts
Due: run-job-no-ops

updated no limits on resources of crd.
  install-local-onms-instance.yaml
Due: none

HS-295: Add config service
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/config/api/pom.xml
  platform/config/api/src/main/java/org/opennms/horizon/config/service/api/ConfigConstants.java
  platform/config/api/src/main/java/org/opennms/horizon/config/service/api/ConfigService.java
  platform/config/pom.xml
  platform/config/rest/pom.xml
  platform/config/rest/src/main/java/org/opennms/horizon/config/rest/api/ConfigRestService.java
  platform/config/rest/src/main/java/org/opennms/horizon/config/rest/impl/DefaultConfigRestService.java
  platform/config/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/config/service/pom.xml
  platform/config/service/src/main/java/org/opennms/horizon/config/service/impl/DefaultConfigService.java
  platform/config/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/kvstore-api/pom.xml
  platform/db/kvstore-api/src/main/java/org/opennms/horizon/db/kvstore/api/AbstractAsyncKeyValueStore.java
  platform/db/kvstore-api/src/main/java/org/opennms/horizon/db/kvstore/api/AbstractKeyValueStore.java
  platform/db/kvstore-api/src/main/java/org/opennms/horizon/db/kvstore/api/JsonStore.java
  platform/db/kvstore-api/src/main/java/org/opennms/horizon/db/kvstore/api/KeyValueStore.java
  platform/db/pom.xml
  platform/pom.xml
Due: run-job-no-ops

HS-304 Add comment
  ui/src/components/Map/GridTabs.vue
Due: run-job-no-ops

Fixing group names per project convention
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/ipc/grpc/client/pom.xml
  platform/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorRequestExecutorImpl.java
Due: run-job-no-ops

Fix Skaffold file sync for UI
  ui/skaffold.yaml
Due: run-job-no-ops

Fixing skaffold yaml duplication
  skaffold.yaml
Due: none

added unit tests for cache
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/test/java/org/opennms/horizon/server/service/MinionServiceTest.java
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
