Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Change parent-pom sonar project key to be non-secret, and use Lokahi
  .github/actions/jib-maven-sonar/action.yml
  .github/actions/maven-install-sonar/action.yml
  .github/workflows/feature-parent-pom.yml
Due: none

HS-1660: wire up download certificate (#1182)
  ui/src/components/Locations/LocationsCertificateDownload.vue
  ui/src/components/Locations/LocationsEditForm.vue
  ui/src/graphql/Location/locationQueries.gql
  ui/src/store/Queries/locationQueries.ts
  ui/src/store/Views/locationStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

updated lokahi name ref and image versions (#1193)
  install-local/install-local-opennms-lokahi-values.yaml
  install-local/install-local.sh
Due: none

updating references in tilt and opennms-operator to lokahi helm-chart
  .tiltignore
  Tiltfile
  build-tools/basic/run-cluster.sh
  name_change_locations.txt
  operator/Dockerfile
  operator/config/.env
  operator/internal/handlers/base/base_test.go
  operator/internal/handlers/handler.go
  operator/internal/handlers/ingress/ingress_test.go
  operator/internal/handlers/opennms/opennms_test.go
  operator/internal/handlers/testutil/testutil.go
  operator/internal/handlers/thirdparty/cortex_test.go
  operator/internal/handlers/thirdparty/grafana_test.go
  operator/internal/handlers/thirdparty/kafka_test.go
  operator/internal/handlers/thirdparty/keycloak_test.go
  operator/internal/handlers/thirdparty/mailserver_test.go
  operator/internal/handlers/thirdparty/postgres_test.go
  operator/internal/handlers/thirdparty/prometheus_test.go
  operator/internal/reconciler/instance_test.go
Due: none

fix line 195
  name_change_locations.txt
Due: none

HS-1687: Disable failing tests (#1189)
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/GrpcTestBase.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringSystemGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcStartupIntTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/TagGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseServiceIntTest.java
  metrics-processor/flows/src/test/java/org/opennms/horizon/flows/integration/FlowRepositoryImplTest.java
  metrics-processor/flows/src/test/java/org/opennms/horizon/flows/processing/DocumentEnricherTest.java
Due: none

renaming opennms-operator to lokahi-operator and respective references
  .tiltignore
  charts/lokahi-operator/.helmignore
  charts/lokahi-operator/Chart.yaml
  charts/lokahi-operator/LICENSE
  charts/lokahi-operator/crds/opennms.yaml
  charts/lokahi-operator/templates/operator-clusterrole.yaml
  charts/lokahi-operator/templates/operator-clusterrolebinding.yaml
  charts/lokahi-operator/templates/operator-serviceaccount.yaml
  charts/lokahi-operator/templates/operator.yaml
  charts/lokahi-operator/values.yaml
  name_change_locations.txt
  operator/Dockerfile
  operator/README.md
  operator/scripts/install-operator-local.sh
  operator/scripts/install-operator-os.sh
  operator/test/integration/deploy_test.go
Due: none

Apply suggestions from code review
  README.md
Due: run-job-no-ops

HS-1682: Update readme file in Lokahi repo
  README.md
Due: run-job-no-ops

HS-1629: Filter minions by location and search input (#1178)
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/MonitoringSystemGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/MonitoringSystemService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringSystemGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringSystemServiceGrpcTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/MonitoringSystemRepositoryTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/MonitoringSystemServiceTest.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcMinionService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  shared-lib/inventory/src/main/proto/monitoringSystem.proto
  ui/src/components/Common/EmptyList.vue
  ui/src/components/Common/HoverMenu.vue
  ui/src/components/Locations/LocationsCard.vue
  ui/src/components/Locations/LocationsEditForm.vue
  ui/src/components/Locations/LocationsMinionsList.vue
  ui/src/graphql/Minions/findMinionsByLocationId.gql
  ui/src/store/Queries/minionsQueries.ts
  ui/src/store/Views/locationStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Update README.md
  README.md
Due: run-job-no-ops

HS-1407: Show cert screen after location creation (#1198)
  ui/package.json
  ui/src/components/Common/HoverMenu.vue
  ui/src/components/Locations/LocationsAddForm.vue
  ui/src/components/Locations/LocationsCard.vue
  ui/src/components/Locations/LocationsCertificateDownload.vue
  ui/src/components/Locations/LocationsEditForm.vue
  ui/src/components/Locations/LocationsMinionsList.vue
  ui/src/components/utils.ts
  ui/src/containers/Locations.vue
  ui/src/store/Mutations/locationMutations.ts
  ui/src/store/Queries/minionsQueries.ts
  ui/src/store/Views/locationStore.ts
  ui/src/types/index.ts
  ui/src/types/locations.d.ts
  ui/tests/Common/emptyList.test.ts
  ui/tests/Locations/locations.test.ts
  ui/tests/Locations/locationsEditForm.test.ts
  ui/yarn.lock
Due: run-job-no-ops

Tilt local env update (#1199)
  Tiltfile
  charts/lokahi/templates/postgres/postgres-init-secret.yaml
  tests/.gitignore
  tests/docker-compose-install-local.yml
  tests/docker-compose-tilt.yml
  tests/minion-cert.sh
  tests/setup-env.sh
  tests/snmpd.conf
  tilt-helm-values.yaml
Due: none

Release v0.0.41 dev (#1202)
  CHANGELOG/changelog-v0.0.41-dev.md
  README.md
  build-tools/release/release.sh
  charts/lokahi/values.yaml
Due: run-job-no-ops

HS-1690 Align minion-certificate-manager and verifier contract with cloud PKI.
  Tiltfile
  external-it/external-lokahi-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-lokahi-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-lokahi-it/src/main/resources/org/opennms/horizon/it/lokahi.feature
  install-local/install-local-opennms-lokahi-custom-images-values.yaml
  minion-certificate-manager/docker-it/src/test/java/org/opennms/horizon/minioncertmanager/stepdefs/MinionCertificateManagerTestSteps.java
  minion-certificate-manager/docker-it/src/test/resources/org/opennms/horizon/minioncertmanager/minion-certificate-manager.feature
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/certificate/PKCS12Generator.java
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertificateManagerImpl.java
  minion-certificate-manager/main/src/test/java/org/opennms/horizon/minioncertmanager/certificate/PKCS12GeneratorTest.java
  minion-certificate-manager/main/src/test/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertificateManagerImplTest.java
  minion-certificate-verifier/docker-it/pom.xml
  minion-certificate-verifier/docker-it/src/test/java/org/opennms/horizon/minioncertverifier/stepdefs/MinionCertificateVerifierTestSteps.java
  minion-certificate-verifier/docker-it/src/test/java/org/opennms/horizon/minioncertverifier/testcontainers/TestContainerRunnerClassRule.java
  minion-certificate-verifier/docker-it/src/test/resources/logback.xml
  minion-certificate-verifier/docker-it/src/test/resources/org/opennms/horizon/minioncertverifier/minion-certificate-verifier.feature
  minion-certificate-verifier/docker-it/src/test/resources/tenant_locations.properties
  minion-certificate-verifier/main/pom.xml
  minion-certificate-verifier/main/src/main/java/org/opennms/horizon/minioncertverifier/controller/CertificateController.java
  minion-certificate-verifier/main/src/main/java/org/opennms/horizon/minioncertverifier/grpc/BasicLocationClient.java
  minion-certificate-verifier/main/src/main/java/org/opennms/horizon/minioncertverifier/grpc/LocationClient.java
  minion-certificate-verifier/main/src/main/java/org/opennms/horizon/minioncertverifier/grpc/StaticLocationClient.java
  minion-certificate-verifier/main/src/main/resources/application.yaml
  minion-certificate-verifier/main/src/test/java/org/opennms/horizon/minioncertverifier/grpc/StaticLocationClientTest.java
  minion-certificate-verifier/main/src/test/resources/tenant_locations.properties
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcMinionCertificateManager.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLMinionCertificateManagerTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClientTest.java
  tilt-helm-values.yaml
  ui/src/graphql/Location/locationQueries.gql
  ui/src/store/Views/locationStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops, run-job-external-it

HS-1690: we should always set the default profile
  charts/lokahi/templates/opennms/spring-boot-env-configmap.yaml
Due: none

HS-1560: Fix inventory loading, minion polling on locations (#1203)
  ui/src/components/Inventory/InventoryFilter.vue
  ui/src/components/Locations/LocationsCard.vue
  ui/src/containers/Inventory.vue
  ui/src/containers/Locations.vue
  ui/src/router/index.ts
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/store/Queries/minionsQueries.ts
  ui/src/store/Views/locationStore.ts
  ui/templates/index.vue
  ui/templates/layout/headlineTwoColumns.vue
Due: run-job-no-ops

HS-1703: Lōkahi pull request template references Horizon Stream
  .github/pull_request_template.md
Due: none

Fix issue rendering minion list (#1207)
  ui/src/containers/Locations.vue
  ui/src/store/Views/locationStore.ts
Due: run-job-no-ops

BTO-535: Add default-container annotation for all Deployments
  charts/lokahi-operator/Chart.yaml
  charts/lokahi-operator/templates/operator.yaml
  charts/lokahi/Chart.yaml
  charts/lokahi/templates/cortex/cortex-deployment.yaml
  charts/lokahi/templates/grafana/grafana-deployment.yaml
  charts/lokahi/templates/ingress/custom-errors/nginx-errors-deployment.yaml
  charts/lokahi/templates/ingress/nginx-controller/controller-deployment.yaml
  charts/lokahi/templates/kafka/kafka-deployment.yaml
  charts/lokahi/templates/keycloak/keycloak-deployment.yaml
  charts/lokahi/templates/mail-server/mail-server-deployment.yaml
  charts/lokahi/templates/opennms/alert/alert-deployment.yaml
  charts/lokahi/templates/opennms/api/api-deployment.yaml
  charts/lokahi/templates/opennms/datachoices/datachoices-deployment.yaml
  charts/lokahi/templates/opennms/events/events-deployment.yaml
  charts/lokahi/templates/opennms/inventory/inventory-deployment.yaml
  charts/lokahi/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/lokahi/templates/opennms/minion-certificate-manager/minion-certificate-manager-deployment.yaml
  charts/lokahi/templates/opennms/minion-certificate-manager/minion-certificate-verifier-deployment.yaml
  charts/lokahi/templates/opennms/minion/minion-deployment.yaml
  charts/lokahi/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/lokahi/templates/opennms/notification/notification-deployment.yaml
  charts/lokahi/templates/opennms/ui/ui-deployment.yaml
  charts/lokahi/templates/postgres/postgres-deployment.yaml
  charts/lokahi/templates/prometheus/prometheus-deployment.yaml
  install-local/install-local-snmpd-device.yaml
  install-local/postgres-for_testing_keycloak_realm_update.yaml
  ui/internal-reverse-proxy.yaml
Due: run-job-no-ops

HS-1703: Fix GH org name in wiki links of PR template
  .github/pull_request_template.md
Due: none

HS-1703 - triggering workflow
  alert/README.md
Due: none

Remove path filtering for develop workflow so status checks pass
  .github/workflows/develop.yml
Due: none

Fix URL in pull request template: Jira is now in Atlassian Cloud
  .github/pull_request_template.md
Due: none

Add a new GitHub workflow to test 'tilt ci'
  .github/workflows/tilt.yaml
Due: none

external-it job: Pull namespace into an env variable
  .github/workflows/develop.yml
Due: none

Move ingress-nginx to Helm chart and version match dev environment
  Tiltfile
  tilt-helm-values.yaml
  tilt-ingress-nginx-values.yaml
Due: none

Increase nginx error log level to info so we see SSL handshake errors
  tilt-ingress-nginx-values.yaml
Due: none

Upgrade ingress-nginx to controller 1.8.0, Helm chart 4.7.0
  Tiltfile
  tilt-ingress-nginx-values.yaml
Due: none

opennms-minion-gateway ingress: Add missing ingressClassName
  charts/lokahi/templates/opennms/minion/minion-gateway-ingress.yaml
Due: none

BTO-517: Fix the build-and-test step name
  .github/workflows/feature-minion-certificate-verifier.yml
Due: none

Tilt: --values to specify additional Helm values.yaml files
  Tiltfile
Due: none

Tilt: Add a Helm reload button
  Tiltfile
Due: none

When running `tilt ci` in CI, have it chill a little bit, resource-wise
  Tiltfile
Due: none
