Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

HS-1323: Add call to remove tags from nodes (#974)
  ui/src/components/Inventory/InventoryMonitoredNodesTabContent.vue
  ui/src/graphql/Nodes/addNodeMutation.graphql
  ui/src/graphql/Nodes/deleteNodeMutation.gql
  ui/src/graphql/Nodes/nodeMutations.graphql
  ui/src/graphql/Tag/addTagsMutation.gql
  ui/src/store/Mutations/nodeMutations.ts
  ui/src/types/graphql.ts
  ui/src/types/inventory.d.ts
Due: run-job-no-ops

HS-1413: simplify exporter parameter and add includeOther (#976)
  rest-server/src/main/java/org/opennms/horizon/server/model/flows/ExporterFilter.java
  rest-server/src/main/java/org/opennms/horizon/server/service/flows/FlowClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/flows/FLowClientTest.java
Due: run-job-no-ops

Add autocomplete applications and add colour fix for graph.
  ui/src/components/Flows/LineChart.vue
  ui/src/components/Flows/TableChart.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Inventory test changed
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/gqlmodels/MinionData.java
Due: run-job-external-it

Metric test changed
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/MetricsTestSteps.java
Due: run-job-external-it

Disabled shallow clones for operator and ui workflows
  .github/workflows/base-image-update.yml
  .github/workflows/feature-alert.yml
  .github/workflows/feature-datachoices.yml
  .github/workflows/feature-events.yml
  .github/workflows/feature-inventory.yml
  .github/workflows/feature-metrics-processor.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/feature-minion-gateway.yml
  .github/workflows/feature-minion.yml
  .github/workflows/feature-notifications.yml
  .github/workflows/feature-operator.yml
  .github/workflows/feature-parent-pom.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-shared-lib.yml
  .github/workflows/feature-ui.yml
Due: none

Add new text radio button. Tidy up code.
  ui/components.d.ts
  ui/src/components/Common/TextRadioButtons.vue
  ui/src/components/Flows/LineChart.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Removed the test data in liquibase file and fixed alert definition error.
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/application.yaml
  alert/src/test/java/org/opennms/horizon/alertservice/AlertGrpcClientUtils.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: none

disable local debug
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
Due: none

Fix typo
  doc/architecture/decisions/0002-store-cross-project-api-contracts-in-a-separate-repository.md
Due: none

review comment
  alert/src/test/java/org/opennms/horizon/alertservice/AlertGrpcClientUtils.java
Due: none

cortex-config-update-helm (#981)
  charts/opennms/templates/cortex/cortex-configmap.yaml
  charts/opennms/templates/cortex/cortex-deployment.yaml
  charts/opennms/templates/cortex/cortex-service.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/values.yaml
Due: none

Cortex config update helm (#982)
  charts/opennms/values.yaml
Due: none

HS-1294 - add endpoint data, styles fixes
  ui/package.json
  ui/src/components/Common/BasicChart.vue
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/containers/Dashboard.vue
  ui/src/store/Views/flowsStore.ts
  ui/yarn.lock
Due: run-job-no-ops

HS-1294 - fix empty data
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1259 Fix pill colours
  ui/src/components/Alerts/AlertsSeverityLabel.vue
  ui/src/styles/_severities.scss
Due: run-job-no-ops

HS-1259 Use rbga
  ui/src/styles/_severities.scss
Due: run-job-no-ops

Minion cert manager
  minion-certificate-manager/pom.xml
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CertClient.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CertZipper.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertificateManagerImpl.java
  minion-certificate-manager/src/main/resources/application.yaml
  shared-lib/minion-certificate-manager-api/src/main/proto/minion-certificate-manager.proto
Due: none

Add search inventory nodes by label (#983)
  ui/package.json
  ui/src/components/Inventory/InventoryFilter.vue
  ui/src/containers/Inventory.vue
  ui/src/graphql/Views/inventoryQueries.graphql
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/types/graphql.ts
  ui/src/types/index.ts
  ui/yarn.lock
Due: run-job-no-ops

PR changes and broken test fix
  ui/src/components/Common/TextRadioButtons.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
  ui/tests/Flows/flows.test.ts
  ui/tests/Flows/flowsState.ts
Due: run-job-no-ops

HS-1294 - add constants and link
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Add tests for Flow Methods.
  ui/src/components/Common/TextRadioButtons.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
  ui/tests/Flows/flows.test.ts
Due: run-job-no-ops

Merge changes
  ui/components.d.ts
Due: run-job-no-ops

Add More test coverage for flows
  ui/src/store/Views/flowsStore.ts
  ui/tests/Flows/flows.test.ts
  ui/tests/Flows/flowsData.ts
Due: run-job-no-ops

HS-1435 - card component and empty states
  ui/src/assets/Alert-dark.svg
  ui/src/assets/Alert.svg
  ui/src/assets/AreaChart-dark.svg
  ui/src/assets/AreaChart.svg
  ui/src/assets/PolarChart-dark.svg
  ui/src/assets/PolarChart.svg
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/components/Dashboard/DashboardCard.vue
  ui/src/components/Dashboard/DashboardEmptyState.vue
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/containers/Dashboard.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1435 - fix texts and links
  ui/src/components/Dashboard/DashboardCard.vue
  ui/src/components/Dashboard/DashboardEmptyState.vue
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops

HS-1311: Bootstrap unpack zip file. Cleanup of property names, configuration injection. Other cleanup.
  charts/opennms/templates/opennms/minion/minion-configmap.yaml
  minion-gateway/ipc-grpc-server/src/main/java/org/opennms/horizon/shared/ipc/grpc/server/GrpcLocalDispatcherFactory.java
  minion/assembly/runInPlaceSsl.sh
  minion/assembly/src/main/resources/etc/org.opennms.core.ipc.grpc.client.cfg
  minion/assembly/src/main/resources/etc/org.opennms.minion.bootstrap.cfg
  minion/minion-bootstrap/minion-bootstrap-api/pom.xml
  minion/minion-bootstrap/minion-bootstrap-api/src/main/java/org/opennms/horizon/minion/bootstrap/CertificatePackageBootstrap.java
  minion/minion-bootstrap/minion-bootstrap-features/pom.xml
  minion/minion-bootstrap/minion-bootstrap-features/src/main/feature/feature.xml
  minion/minion-bootstrap/minion-bootstrap-impl/pom.xml
  minion/minion-bootstrap/minion-bootstrap-impl/src/main/java/org/opennms/horizon/minion/bootstrap/impl/CertificatePackageBootstrapImpl.java
  minion/minion-bootstrap/minion-bootstrap-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-bootstrap/pom.xml
  minion/minion-features/src/main/feature/feature.xml
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/GrpcClientConstants.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactory.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImpl.java
  minion/minion-grpc/grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-grpc/grpc-features/src/main/feature/feature.xml
  minion/pom.xml
  parent-pom/pom.xml
  shared-lib/horizon-ipc/ipc-api/src/main/java/org/opennms/horizon/shared/ipc/sink/common/AbstractMessageDispatcherFactory.java
  tools/SSL/minion-cert.insecure.zip
Due: run-job-no-ops

HS-1311: Minion - add support for PKCS12 files for the client key, and password encryption to go with it.
  minion/assembly/runInPlace.sh
  minion/assembly/src/main/resources/etc/org.opennms.core.ipc.grpc.client.cfg
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImpl.java
  minion/minion-grpc/grpc-client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  tools/SSL/client.p12
  tools/SSL/mk-pkcs12-signed-client-cert
Due: run-job-no-ops

HS-1311: Unit testing of the new functionality.
  minion/minion-bootstrap/minion-bootstrap-impl/pom.xml
  minion/minion-bootstrap/minion-bootstrap-impl/src/main/java/org/opennms/horizon/minion/bootstrap/impl/CertificatePackageBootstrapImpl.java
  minion/minion-bootstrap/minion-bootstrap-impl/src/test/java/org/opennms/horizon/minion/bootstrap/impl/CertificatePackageBootstrapImplTest.java
  minion/minion-grpc/grpc-client/pom.xml
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImpl.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/MinionGrpcClientTest.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImplTest.java
  minion/minion-grpc/grpc-client/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: none

HS-1311: more UNIT CODE coverage for MinionGrpcClient
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/MinionGrpcClientTest.java
Due: none

Fix missing cert configuration filename in runInPlaceSsl.sh
  minion/assembly/runInPlaceSsl.sh
Due: none

HS-1311: Minion Cucumber SIT tests using SSL (mTLS) with PEM certificates + keys.
  minion/docker-it/src/test/java/org/opennms/horizon/dockerit/testcontainers/TestContainerRunnerClassRule.java
  minion/docker-it/src/test/resources/minion-cert.insecure.zip
  minion/docker-it/src/test/resources/ssl-gateway/CA.cert
  minion/docker-it/src/test/resources/ssl-gateway/certificate-passwords
  minion/docker-it/src/test/resources/ssl-gateway/nginx.conf
  minion/docker-it/src/test/resources/ssl-gateway/server.key
  minion/docker-it/src/test/resources/ssl-gateway/server.signed.cert
Due: none

HS-1311: opennms-minion-ssl-gateway running nginx to terminate SSL from Minion for dev. Tools to create certs. Insecure dev certs. Minion can connect with SSL.
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-configmap.yaml
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-deployment.yaml
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-service.yaml
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-serviceaccount.yaml
  charts/opennms/values.yaml
  minion/assembly/runInPlaceSsl.sh
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/GrpcClientConstants.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/rest/IgniteToolRestController.java
  tools/SSL/CA.cert
  tools/SSL/CA.key
  tools/SSL/README.md
  tools/SSL/client.key
  tools/SSL/client.key.pkcs1
  tools/SSL/client.signed.cert
  tools/SSL/client.unsigned.cert
  tools/SSL/mk-self-signed-CA
  tools/SSL/mk-signed-client-cert
  tools/SSL/mk-signed-server-cert
  tools/SSL/server.key
  tools/SSL/server.signed.cert
  tools/SSL/server.unsigned.cert
Due: run-job-no-ops

HS-1311: only 1 runInPlace.sh with support for TLS or not (defaults to plain text). Added runInDocker.sh test script.
  minion/assembly/runInDocker.sh
  minion/assembly/runInPlace.sh
  minion/assembly/runInPlaceSsl.sh
Due: none

HS-1421: wip: Add total network bytes query
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/TSDBMetricsService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/normalization/Constants.java
Due: run-job-no-ops

Fixed the initial alert list pagination index error.
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

Switch to static gradient for login screens (#985)
  keycloak-ui/themes/horizon-stream/login/resources/css/login.css
  keycloak-ui/themes/horizon-stream/login/resources/js/theme.js
  keycloak-ui/themes/horizon-stream/login/template.ftl
  keycloak-ui/themes/horizon-stream/login/theme.properties
Due: none

HS-860: CRD changes to support future autoupdates; HS-1453: adding the minion SSL gateway to the operator
  charts/opennms-operator/crds/opennms.yaml
  operator/api/v1alpha1/opennms_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/internal/handlers/ingress/ingress.go
  operator/internal/handlers/opennms/minion.go
  operator/internal/model/values/cortex_values.go
  operator/internal/model/values/opennms_values.go
  operator/scripts/local-onms-instance.yaml
Due: none

HS-1435 - change links
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/components/Dashboard/DashboardCard.vue
  ui/src/components/Dashboard/DashboardHeaderLinks.vue
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops
