Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

HS-362 Use widget to display events
  ui/components.d.ts
  ui/src/components/Events/EventsTable.vue
  ui/src/components/Widgets/EventsWidget.vue
  ui/src/containers/Appliances.vue
  ui/src/containers/Node.vue
  ui/src/store/Views/widgetStore.ts
Due: run-job-no-ops

HS-362 Fix fail test
  ui/components.d.ts
  ui/tests/store/Queries/eventsQueries.test.ts
Due: run-job-no-ops

HS-362 Refact node queries with node id
  ui/components.d.ts
  ui/src/components/Events/EventsTable.vue
  ui/src/containers/Node.vue
  ui/src/graphql/Views/nodeStatusQueries.graphql
  ui/src/store/Queries/nodeStatusQueries.ts
  ui/src/store/Views/nodeStore.ts
  ui/src/types/graphql.ts
  ui/tests/fixture/devices.ts
  ui/tests/store/Queries/eventsQueries.test.ts
Due: run-job-no-ops

HS-362 Minor change
  ui/components.d.ts
  ui/src/store/Mutations/alarmMutations.ts
  ui/src/store/Mutations/eventMutations.ts
  ui/src/store/Queries/applianceQueries.ts
Due: run-job-no-ops

fix path
  ui/src/composables/useWidgets.ts
Due: run-job-no-ops

HS-363 Intergrate events table
  ui/components.d.ts
  ui/src/components/Events/EventsTable.vue
  ui/src/containers/Node.vue
  ui/src/graphql/Views/nodeStatusQueries.graphql
  ui/src/store/Queries/nodeStatusQueries.ts
  ui/src/styles/_listCard.scss
  ui/src/styles/_transitionFade.scss
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-363 Fix test
  ui/components.d.ts
  ui/tests/fixture/events.ts
  ui/tests/store/Queries/eventsQueries.test.ts
Due: run-job-no-ops

HS-337: Stats: Create platform module for data choices
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/datachoices/pom.xml
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/dto/UsageStatisticsReportDTO.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/StateManager.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporter.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/web/DataChoicesRestService.java
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/web/internal/DataChoiceRestServiceImpl.java
  platform/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/DataChoicesDao.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/DataChoicesDaoHibernate.java
  platform/db/dao-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/OnmsDataChoices.java
  platform/db/schema-liquibase/src/main/liquibase/hs-0.1.0/changelog.xml
  platform/docker-it/src/test/resources-filtered/karaf/etc/org.apache.karaf.features.cfg
  platform/pom.xml
Due: run-job-no-ops

HS-337: Stats: Create platform module for data choices
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporter.java
Due: run-job-no-ops

HS-337: Stats: Create platform module for data choices
  platform/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/OnmsDataChoices.java
Due: run-job-no-ops

HS-358: add extra tests
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestIntegrationTest.java
Due: none

HS-394: add alarm to PagerDuty custom details
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyConfigDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/main/resources/db/changelog/hs-0.1.0/tables/pagerDutyConfig.xml
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestIntegrationTest.java
Due: none

fix dynamic imports from dist files
  ui/src/composables/useWidgets.ts
Due: run-job-no-ops

Revert "HS-358: add extra tests"
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutyConfigDTO.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/main/resources/db/changelog/hs-0.1.0/tables/pagerDutyConfig.xml
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestIntegrationTest.java
Due: none

HS-366: checkpoint
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/templates/keycloak/keycloak-internal-service.yaml
  charts/opennms/templates/keycloak/keycloak-operator-group.yaml
  charts/opennms/templates/keycloak/keycloak-operator-sub.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/values.yaml
  operator/Makefile
  operator/internal/handlers/keycloak.go
  operator/scripts/install-operator-local.sh
Due: none

HS-358: add extra tests back in
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestIntegrationTest.java
Due: none

HS-366: remove the KC operator
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  operator/internal/handlers/keycloak.go
Due: none

fix dynamic imports in prod take 2
  ui/src/composables/useWidgets.ts
Due: run-job-no-ops

HS-380 Refact tests
  ui/components.d.ts
  ui/tests/fixture/devices.ts
  ui/tests/store/Queries/appliancesQueries.test.ts
  ui/tests/store/Queries/mapQueries.test.ts
Due: run-job-no-ops

attempt to fix dynamic async imports on skaffold take 3
  ui/src/composables/useWidgets.ts
Due: run-job-no-ops

HS-379: Handle review comments
  platform/config/service/src/main/java/org/opennms/horizon/config/service/impl/DefaultConfigService.java
Due: run-job-no-ops

HS-394: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
Due: none

initialize jmx config on platform core startup and store in config service
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/config/api/src/main/java/org/opennms/horizon/config/service/api/ConfigConstants.java
  platform/jmx/api/pom.xml
  platform/jmx/api/src/main/java/org/opennms/horizon/jmx/dao/JmxConfigDaoImpl.java
  platform/jmx/api/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/jmx/api/src/test/java/org/opennms/horizon/jmx/dao/JmxConfigDaoTest.java
  rest-server/pom.xml
Due: run-job-no-ops

initialize jmx config on platform core startup and store in config service
  platform/assemblies/core-dynamic-dist/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/config/api/src/main/java/org/opennms/horizon/config/service/api/ConfigConstants.java
  platform/jmx/api/pom.xml
  platform/jmx/api/src/main/java/org/opennms/horizon/jmx/dao/JmxConfigDaoImpl.java
  platform/jmx/api/src/main/resources/META-INF/opennms/component-dao.xml
  platform/jmx/api/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/jmx/api/src/test/java/org/opennms/horizon/jmx/dao/JmxConfigDaoTest.java
  rest-server/pom.xml
Due: run-job-no-ops

HS-366: checkpoint
  charts/opennms-operator-dependencies/Chart.yaml
  charts/opennms-operator-dependencies/templates/keycloak.yaml
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/templates/keycloak/keycloak-internal-service.yaml
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
  charts/opennms/templates/keycloak/keycloak-service.yaml
  operator/internal/handlers/keycloak.go
  operator/internal/model/values/keycloak_values.go
Due: none

HS-394: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
Due: none

initialize move the Jmx config implementation to impl module and wired with karaf on startup
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/jmx/api/pom.xml
  platform/jmx/impl/pom.xml
  platform/jmx/impl/src/main/java/org/opennms/horizon/jmx/impl/dao/JmxConfigDaoImpl.java
  platform/jmx/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/jmx/impl/src/main/resources/jmx-config.json
  platform/jmx/impl/src/test/java/org/opennms/horizon/jmx/impl/dao/JmxConfigDaoTest.java
Due: run-job-no-ops

HS-380 Refact appliance to appliances
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Events/EventsTable.vue
  ui/src/containers/NodeStatus.vue
  ui/src/router/index.ts
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/store/Views/nodeStatusStore.ts
  ui/tests/Appliances/devicesTable.test.ts
  ui/tests/Appliances/minionsTable.test.ts
  ui/tests/store/Queries/appliancesQueries.test.ts
  ui/tests/store/Queries/nodeStatusQueries.test.ts
  ui/tests/store/applianceQueries.ts
  ui/tests/store/setVillusPiniaStore.ts
Due: run-job-no-ops

HS-366: remove KC operator
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
  charts/opennms/templates/keycloak/keycloak-service.yaml
Due: none

Chart repackage
  charts/opennms-operator-dependencies/Chart.yaml
  charts/opennms-operator/Chart.yaml
  charts/opennms/Chart.yaml
  charts/packaged/index.yaml
  charts/packaged/opennms-0.3.0.tgz
  charts/packaged/opennms-operator-0.3.0.tgz
  charts/packaged/opennms-operator-dependencies-0.3.0.tgz
Due: none

update all pckgs, fix feather + vitest
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/src/components/Events/EventsTable.vue
  ui/src/components/Topology/NetworkGraph.vue
  ui/vite.config.ts
  ui/yarn.lock
Due: run-job-no-ops

fix async imports - final
  ui/src/composables/useWidgets.ts
Due: run-job-no-ops

HS-380 Minor change
  ui/tests/store/setVillusPiniaStore.ts
Due: run-job-no-ops

HS-380 Refact tests
  ui/tests/Appliances/devicesTable.test.ts
  ui/tests/Appliances/minionsTable.test.ts
  ui/tests/store/setVillusPiniaStore.ts
Due: run-job-no-ops

HS-380 Remove unuse import
  ui/tests/store/setVillusPiniaStore.ts
Due: run-job-no-ops

HS-354: expose notification endpoint through graphQL
  dev/kubernetes.kafka.yaml
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDao.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPIImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoImplTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestIntegrationTest.java
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/java/org/opennms/horizon/server/service/AlarmService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/EventService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/NotificationsService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/gateway/GatewayBase.java
  rest-server/src/main/java/org/opennms/horizon/server/service/gateway/NotificationGateway.java
  rest-server/src/main/java/org/opennms/horizon/server/service/gateway/PlatformGateway.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/java/org/opennms/horizon/server/RestServerApplicationTests.java
  rest-server/src/test/resources/application.yml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/notifications/PagerDutyConfigDTO.java
Due: run-job-no-ops, run-job-dev

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
