Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Fixing module confusion
  minion/plugins/minion-icmp/pom.xml
  minion/plugins/minion-icmp/src/main/java/org/opennms/horizon/minion/icmp/IcmpDetector.java
  minion/plugins/minion-icmp/src/main/java/org/opennms/horizon/minion/icmp/IcmpDetectorManager.java
  minion/plugins/minion-icmp/src/main/java/org/opennms/horizon/minion/icmp/IcmpMonitor.java
  minion/plugins/minion-icmp/src/main/java/org/opennms/horizon/minion/icmp/IcmpMonitorManager.java
  minion/plugins/minion-icmp/src/main/resources/OSGI-INF/blueprint/icmp-plugins.xml
  minion/plugins/minion-icmp/src/test/java/org/opennms/horizon/minion/icmp/IcmpMonitorTest.java
  minion/plugins/pom.xml
Due: none

Add toos: CORE.ssh, MINION.ssh, CORE.bash and MINION.bash
  tools/CORE.bash
  tools/CORE.ssh
  tools/MINION.bash
  tools/MINION.ssh
Due: run-job-no-ops

HS-314 Mod metric display
  ui/src/components/Appliances/appliances.helpers.ts
  ui/src/store/Queries/applianceQueries.ts
Due: run-job-no-ops

Add tools/DB.populate-test-data script
  tools/DB.populate-test-data
Due: run-job-no-ops

More module cleanup
  minion/plugins/icmp-plugin/pom.xml
  minion/plugins/icmp-plugin/src/main/java/org/opennms/horizon/minion/icmp/IcmpDetector.java
  minion/plugins/icmp-plugin/src/main/java/org/opennms/horizon/minion/icmp/IcmpDetectorManager.java
  minion/plugins/icmp-plugin/src/main/java/org/opennms/horizon/minion/icmp/IcmpMonitor.java
  minion/plugins/icmp-plugin/src/main/java/org/opennms/horizon/minion/icmp/IcmpMonitorManager.java
  minion/plugins/icmp-plugin/src/main/resources/OSGI-INF/blueprint/icmp-plugins.xml
  minion/plugins/icmp-plugin/src/test/java/org/opennms/horizon/minion/icmp/IcmpMonitorTest.java
  minion/plugins/snmp-plugin/pom.xml
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/ConfigFileConstants.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/IPAddressRange.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/IPAddressRangeSet.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/MergeableDefinition.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpConfigManager.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpDetector.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpDetectorManager.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpEventInfo.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitor.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitorManager.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpMonitorStrategy.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpPeerFactory.java
  minion/plugins/snmp-plugin/src/main/resources/OSGI-INF/blueprint/snmp-plugins.xml
Due: none

More module cleanup
  minion/plugins/pom.xml
Due: none

HS-313: Update ttl for ICMP/SNMP
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
Due: run-job-no-ops

HS-314 Mod metric display
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/appliances.helpers.ts
Due: run-job-no-ops

HS-314 Mod metric display
  ui/src/components/Appliances/appliances.helpers.ts
Due: run-job-no-ops

HS-304 Testing
  ui/src/components/Appliances/appliances.helpers.ts
Due: run-job-no-ops

Added opennms-ignite-tool to query/interact with an Ignite cluster.
  tooling/ignite-tool/README.md
  tooling/ignite-tool/pom.xml
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/IgniteConfig.java
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/IgniteToolMain.java
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/message/IgniteMessageConsumerManager.java
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/message/IgniteMessageHandler.java
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/rest/IgniteToolRestController.java
  tooling/ignite-tool/tools/example-task-set.001.json
  tooling/ignite-tool/tools/example-task-set.002.json
  tooling/ignite-tool/tools/publish-task-set
Due: none

Move grpc related elements to its own feature set.
  minion/assembly/pom.xml
  minion/ipc/twin/twin-grpc/publisher/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-grpc/features/pom.xml
  minion/minion-grpc/features/src/main/feature/feature.xml
  minion/minion-grpc/pom.xml
  shared-lib/ipc/api/src/main/java/org/opennms/horizon/shared/ipc/sink/common/AbstractMessageConsumerManager.java
  shared-lib/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  shared-lib/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionIpcIdentity.java
  shared-lib/ipc/grpc/client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  shared-lib/ipc/pom.xml
Due: none

Extract minion-observability (metrics and tracing), minion-taskset features.
  minion/assembly/pom.xml
  minion/ignite-worker/pom.xml
  minion/ignite-worker/src/main/java/org/opennms/horizon/minion/ignite/worker/ignite/IgniteMetricsAdapter.java
  minion/ignite-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-metrics/pom.xml
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/MetricsProvider.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsProviderWhiteboard.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsServlet.java
  minion/minion-metrics/src/main/java/org/opennms/horizon/minion/metrics/internal/MetricsWhiteboard.java
  minion/minion-metrics/src/main/resources/OSGI-INF/blueprint/metrics.xml
  minion/minion-observability/features/pom.xml
  minion/minion-observability/features/src/main/feature/feature.xml
  minion/minion-observability/observability-metrics/pom.xml
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/MetricsProvider.java
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/internal/MetricsProviderWhiteboard.java
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/internal/MetricsServlet.java
  minion/minion-observability/observability-metrics/src/main/java/org/opennms/horizon/minion/observability/metrics/internal/MetricsWhiteboard.java
  minion/minion-observability/observability-metrics/src/main/resources/OSGI-INF/blueprint/metrics.xml
  minion/minion-observability/observability-tracing/pom.xml
  minion/minion-observability/observability-tracing/src/main/java/org/opennms/horizon/minion/observability/tracing/internal/NoopTracingWrapper.java
  minion/minion-observability/observability-tracing/src/main/resources/OSGI-INF/blueprint/tracing-noop.xml
  minion/minion-observability/pom.xml
  minion/minion-taskset/features/pom.xml
  minion/minion-taskset/features/src/main/feature/feature.xml
  minion/minion-taskset/taskset-ipc/pom.xml
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/LoggingWorkflowSubscriber.java
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/MeteredConsumer.java
  minion/minion-taskset/taskset-ipc/src/main/java/org/opennms/horizon/minion/taskset/ipc/internal/ResultsConsumer.java
  minion/minion-taskset/taskset-ipc/src/main/resources/OSGI-INF/blueprint/taskset-result-ipc-publisher.xml
  minion/pom.xml
  minion/tracing-stub/pom.xml
  minion/tracing-stub/src/main/java/org/opennms/poc/tracing/NoopTracingWrapper.java
  minion/tracing-stub/src/main/resources/OSGI-INF/blueprint/tracing-noop.xml
Due: none

Injection of twin stuff for testing purposes.
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/stub/StubCloudToMinionMessageProcessor.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/twin/GrpcTwinPublisher.java
Due: none

Fix blueprint/startup error after rebase.
  minion/plugins/registration/src/main/resources/OSGI-INF/blueprint/registration.xml
Due: none

HS-197 Grafana configure database using postgres.
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

add more log information
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
Due: run-job-no-ops

HS-313: Fix build
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
Due: run-job-no-ops

Refactor Dockerfile into multistage and produce production build/image
  ui/.dockerignore
  ui/Dockerfile
  ui/dev/Dockerfile
  ui/dev/entrypoint.sh
Due: run-job-no-ops

Refactor usage of env vars
  ui/.env
  ui/.env.development
  ui/.env.development.local
  ui/keycloak.config.ts
  ui/nginx-conf/nginx.conf
  ui/src/services/gqlService.ts
  ui/vite.config.ts
Due: run-job-no-ops

Remove local env file
  ui/.env.development
  ui/.env.development.local
Due: run-job-no-ops

Add topology reporting endpoint to the opennms-ignite-tool.
  tooling/ignite-tool/README.md
  tooling/ignite-tool/src/main/java/org/opennms/tooling/ignitetool/rest/IgniteToolRestController.java
Due: none

Correct port numbers used for the UI to match the updated port numbering scheme. New tools to list/create devices using the CORE rest api.
  dev/kubernetes.kafka.yaml
  tools/CORE.create-device
  tools/CORE.list-devices
Due: run-job-no-ops, run-job-dev

- Add org.opennms.horizon.shared/utils dep to snmp-api - Restore horizon-tracing feature - Remove minion feature definitions from core
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  shared-lib/snmp-api/pom.xml
Due: run-job-no-ops

Renaming icmp rpc-impl
  platform/assemblies/features/pom.xml
  platform/icmp/rpc-impl/pom.xml
Due: run-job-no-ops

HS-252: updated for working env, see operator/to-be-added/
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/core/core-deployment.yaml
  charts/opennms/values.yaml
  operator/scripts/local-onms-instance.yaml
  operator/to-be-added/README.md
  operator/to-be-added/internal-reverse-proxy.yaml
  operator/to-be-added/nginx-custom.crt
  operator/to-be-added/nginx-custom.key
  operator/to-be-added/onms.keystore
Due: none

HS-252: Updated operator/to-be-added/README.md
  operator/to-be-added/README.md
Due: none

Removing icmp features, making sure platform builds
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
Due: run-job-no-ops

marking core dependencies
  minion/icmp/jna/pom.xml
  minion/icmp/jni/pom.xml
  minion/icmp/jni6/pom.xml
  minion/icmp/rpc-common/pom.xml
  minion/icmp/rpc-module-impl/pom.xml
  minion/plugins/snmp-plugin/pom.xml
  minion/pom.xml
  minion/snmp/rpc-impl/pom.xml
  minion/snmp/snmp-shell/pom.xml
  minion/snmp/snmp4j/pom.xml
  minion/tracing-stub/pom.xml
Due: none

Fix favicon on Keycloak login screen
  keycloak-ui/themes/horizon-stream/common/resources/img/OpenNMS_Favicon.svg
  keycloak-ui/themes/horizon-stream/login/template.ftl
Due: none

Add idea folder to gitignore
  .gitignore
Due: none
