Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.github/ - updated release workflow
  .github/workflows/release.yml
Due: none

RELEASE v0.0.0-dev - testing new release workflow
  .github/workflows/release.yml
Due: none

RELEASE v0.0.0-dev - testing new release workflow
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

RELEASE v0.0.9-dev - testing new release workflow
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

RELEASE v0.0.9-dev - testing new release workflow
  .github/workflows/develop.yml
Due: none

HS-158: Simple Helm charts for supporting services
  charts/Makefile
  charts/onms-kafka/Chart.yaml
  charts/onms-kafka/templates/kafka.yaml
  charts/onms-kafka/values.yaml
  charts/onms-keycloak/Chart.yaml
  charts/onms-keycloak/crds/keycloakrealmimports.yaml
  charts/onms-keycloak/crds/keycloaks.yaml
  charts/onms-keycloak/templates/keycloak.yaml
  charts/onms-keycloak/values.yaml
Due: none

HS-158: packaged helm charts
  charts/packaged/index.yaml
  charts/packaged/onms-kafka-0.0.1.tgz
  charts/packaged/onms-keycloak-0.0.1.tgz
Due: none

.github/ - testing revised ci-cd trigger
  .github/workflows/develop.yml
Due: none

.github/ - updated ci-cd workflow
  .github/workflows/develop.yml
Due: none

.github/ - updating ci-cd workflows, cleaning output and remove debuggin statements
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

RELEASE v0.0.10-dev - testing ci-cd workflow
  CHANGELOG/changelog-v0.0.10-dev.md
Due: none

HS-156 - adding node and nested entites processing
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/MonitoringLocationDao.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/MonitoringLocationDaoHibernate.java
  platform/db/dao-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/repository-api/src/main/java/org/opennms/horizon/repository/api/NodeRepository.java
  platform/db/repository-impl/src/main/java/org/opennms/horizon/repository/impl/NodeRepositoryImpl.java
  platform/db/repository-impl/src/main/resources/OSGI-INF/blueprint/horizon-repository.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/RequisitionRepositoryImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
  platform/provision/service/src/test/resources/import_dummy-empty.json
Due: run-job-no-ops

HS-130 add REST API docs with springdoc-openapi framework
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/RestServerApplication.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/AbstractController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/EventController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/MonitorLocationController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/NodeController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/UserController.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/MonitoringLocationDto.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserBaseDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserSearchDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeycloakSecurityConfig.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MonitoringLocationService.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

HS-130 add REST API docs with springdoc-openapi framework
  rest-server/README.md
Due: run-job-no-ops

HS-156 - adding scheduling for node scan task
  platform/db/repository-api/src/main/java/org/opennms/horizon/repository/api/BasicCRUD.java
  platform/db/repository-api/src/main/java/org/opennms/horizon/repository/api/NodeRepository.java
  platform/db/repository-impl/src/main/java/org/opennms/horizon/repository/impl/NodeRepositoryImpl.java
  platform/provision/persistence/pom.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/ForeignSourceRepositoryImpl.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/ForeignSourceDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionNodeDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/ForeignSourceRepository.java
  platform/provision/persistence/src/main/resources/OSGI-INF/blueprint/horizon-provision-persistence.xml
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/scan/NodeScannerTest.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
  platform/provision/service/src/test/resources/import_dummy-empty.json
  platform/provision/service/src/test/resources/import_dummy_requisition.json
Due: run-job-no-ops

Refactor of the OpennmsGrpcServer for better separation of responsibilities, and easier maintenance.
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/RpcConnectionTracker.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/RpcRequestTimeoutManager.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/adapter/InboundRpcAdapter.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/adapter/MinionRSTransportAdapter.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/impl/RpcConnectionTrackerImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/impl/RpcRequestTimeoutManagerImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/LocationIndependentRpcClient.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/RemoteRegistrationHandler.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpcstreaming/MinionRpcStreamConnection.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpcstreaming/MinionRpcStreamConnectionManager.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpcstreaming/impl/MinionRpcStreamConnectionImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpcstreaming/impl/MinionRpcStreamConnectionManagerImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/util/ThreadExecutorManager.java
  platform/ipc/grpc/server/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/DetectorRunner.java
Due: run-job-no-ops

Initial refactoring of OpennmsGrpcServer
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/LocationIndependentRpcClientFactory.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/RpcConnectionTracker.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/impl/RpcConnectionTrackerImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/LocationIndependentRpcClient.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/LocationIndependentRpcClientFactoryImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/RemoteRegistrationHandler.java
  platform/ipc/grpc/server/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

Minor cleanup and code readability improvements.
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
Due: run-job-no-ops

Started modularizing OpennmsGrpcServer
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/RpcConnectionTracker.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/RpcRequestTracker.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/impl/RpcConnectionTrackerImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/impl/RpcRequestTrackerImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/LocationIndependentRpcClient.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/rpc/RemoteRegistrationHandler.java
Due: run-job-no-ops

HS-156 - code tweaks
  dev/kubernetes.kafka.yaml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/ForeignSourceDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/StringIntervalAdapter.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/scan/NodeScannerTest.java
  platform/provision/service/src/test/resources/log4j.properties
Due: run-job-no-ops, run-job-dev

HS-156 - handling nested inventory
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
Due: run-job-no-ops

HS-156 - back merge with develop
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/RequisitionRepositoryImpl.java
Due: run-job-no-ops

HS-162 added kong api gateway into the kubernetes cluster
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

Working EntitySCopeProvider; added MonitoredServiceDao and SnmpInterfaceDao impls. Use in detector configs. Better home for scope classes.
  platform/assemblies/features/src/main/feature/features.xml
  platform/bom/pom.xml
  platform/common/common-config-vars/pom.xml
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/ContextKey.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/EmptyScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/FallbackScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/Interpolator.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/MapScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/ObjectScope.java
  platform/common/common-config-vars/src/main/java/org/opennms/configvars/Scope.java
  platform/common/pom.xml
  platform/core/config-vars/pom.xml
  platform/core/config-vars/src/main/java/org/opennms/horizon/core/configvars/EntityScopeContexts.java
  platform/core/config-vars/src/main/java/org/opennms/horizon/core/configvars/EntityScopeProvider.java
  platform/core/config-vars/src/main/java/org/opennms/horizon/core/configvars/impl/EntityScopeProviderImpl.java
  platform/core/config-vars/src/main/resources/OSGI-INF/blueprint/config-vars-blueprint.xml
  platform/core/pom.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/IpInterfaceDao.java
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/MonitoredServiceDao.java
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/SnmpInterfaceDao.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/IpInterfaceDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/MonitoredServiceDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/SnmpInterfaceDaoHibernate.java
  platform/db/dao-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/pom.xml
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorRequestBuilderImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/LocationAwareDetectorClientRpcImpl.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
Due: run-job-no-ops

HS-162 added Nginx API gateway deployment in skaffold cluster
  dev/kubernetes.kafka.yaml
  skaffold.yaml
Due: run-job-dev

HS-156 - Switching to camel quartz for scheduling
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/scan/NodeScannerTest.java
Due: run-job-no-ops

HS-162 added cors header
  dev/kubernetes.kafka.yaml
Due: run-job-dev

Interface node isManaged is an enum value; mapping from boolean to 'M' or 'F'
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
Due: run-job-no-ops

HS-156 - adding back in route deletion on duplicates
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
Due: run-job-no-ops

HS-156 - adding comment on alternative scheduling config
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/scan/NodeScannerTest.java
Due: run-job-no-ops

HS-156 - better logging
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/scan/NodeScanner.java
Due: run-job-no-ops

Add JDBC detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/jdbc/pom.xml
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/AbstractJdbcDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcDetectorFactory.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcQueryDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcQueryDetectorFactory.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcStoredProcedureDetector.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/JdbcStoredProcedureDetectorFactory.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/client/JDBCClient.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/request/JDBCRequest.java
  platform/provision/jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/response/JDBCResponse.java
  platform/provision/jdbc/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/provision/pom.xml
Due: run-job-no-ops

Add SSH detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/lib/src/main/java/org/opennms/horizon/core/lib/parameters/ParameterMapUtil.java
  platform/core/lib/src/main/java/org/opennms/horizon/core/lib/poller/PollStatus.java
  platform/core/lib/src/main/java/org/opennms/horizon/core/lib/timeout/TimeoutTracker.java
  platform/provision/pom.xml
  platform/provision/ssh/pom.xml
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/SshDetector.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/SshDetectorFactory.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/client/SshClient.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/request/NullRequest.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/response/SshResponse.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/AbstractPoll.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/InsufficientParametersException.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/Poll.java
  platform/provision/ssh/src/main/java/org/opennms/netmgt/provision/detector/ssh/support/ssh/Ssh.java
  platform/provision/ssh/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

Add the DHCP detector.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/bom/pom.xml
  platform/dhcpd/pom.xml
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/Dhcpd.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/Transaction.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/DhcpdImpl.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/Listener.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/Response.java
  platform/dhcpd/src/main/java/org/opennms/horizon/dhcpd/impl/TransactionImpl.java
  platform/pom.xml
  platform/provision/dhcp/pom.xml
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/DhcpDetector.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/DhcpDetectorFactory.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/client/DhcpClient.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/request/DhcpRequest.java
  platform/provision/dhcp/src/main/java/org/opennms/netmgt/provision/detector/dhcp/response/DhcpResponse.java
  platform/provision/pom.xml
Due: run-job-no-ops

Add ActiveMQ detector
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/pom.xml
  platform/provision/activemq/pom.xml
  platform/provision/activemq/src/main/java/org/opennms/netmgt/provision/detector/jms/ActiveMQDetector.java
  platform/provision/activemq/src/main/java/org/opennms/netmgt/provision/detector/jms/ActiveMQDetectorFactory.java
  platform/provision/activemq/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

change port, add /list
  ui/.env.development
  ui/src/services/alarmService.ts
Due: run-job-no-ops

update the API URL in UI deployment
  dev/kubernetes.kafka.yaml
Due: run-job-dev

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
