Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Fix tests
  ui/tests/Flows/flows.test.ts
  ui/tests/Graphs/graphs.test.ts
Due: run-job-no-ops

Update deprecated for :deep
  ui/src/components/Common/TextRadioButtons.vue
Due: run-job-no-ops

Update Exporter naming format
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Add no data screen.
  ui/src/components/Flows/flows.text.ts
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsApplicationStore.ts
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

BE - Location Manager expose gRPC endpoints to add/edit/delete (BFF)
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcLocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLLocationServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/InventoryClientTest.java
Due: run-job-no-ops

Update code after merge
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/containers/Dashboard.vue
  ui/src/store/Views/flowsApplicationStore.ts
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1488: fix empty node id issue (#1047)
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/normalization/Constants.java
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/normalization/NormalizationService.java
Due: run-job-no-ops

Update broken test because of the new store.
  ui/tests/Dashboard/dashboardApplication.test.ts
Due: run-job-no-ops

Monitoring policy tags in the alert service
  alert/pom.xml
  alert/src/main/java/org/opennms/horizon/alertservice/component/TagOperationConsumer.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/Tag.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/TagRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/GrpcConfig.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/GrpcTagServiceImpl.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/TagMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/TagService.java
  alert/src/main/resources/application.yaml
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert_tag.xml
  alert/src/test/java/org/opennms/horizon/alertservice/AlertGrpcClientUtils.java
  alert/src/test/java/org/opennms/horizon/alertservice/service/routing/MonitoringPolicyKafkaProducerTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/TagTestSteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
  alert/src/test/resources/org/opennms/horizon/alertservice/tag.feature
  parent-pom/pom.xml
  shared-lib/alert/src/main/proto/tag.proto
  shared-lib/horizon-common-tag/pom.xml
  shared-lib/horizon-common-tag/src/main/proto/common-tag.proto
  shared-lib/pom.xml
Due: none

[HS-1526] Add tests for Summary page functionality, add small fixes to existed scenarios to be more specific.
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/ServiceGenerator.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/models/BtoInstancesResponse.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/AddNewInstancePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/DeleteInstancePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstanceNamePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceNameSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalCloudSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PrepareDataSteps.java
  external-it/hs-system-tests/src/test/resources/portal-features/cloud-summary.feature
  external-it/hs-system-tests/src/test/resources/portal-features/create-instance.feature
  external-it/hs-system-tests/src/test/resources/portal-features/delete-instance.feature
  external-it/hs-system-tests/src/test/resources/portal-features/edit-instance.feature
Due: run-job-external-it

HS-1398 Cleanup unused imports and reorganize
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/dto/PagerDutySeverity.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/EmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/SmtpEmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/Velocity.java
  notifications/src/main/java/org/opennms/horizon/notifications/config/NotificationsConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/exceptions/NotificationAPIRetryableException.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/config/GrpcConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/service/NotificationGrpcService.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/MonitoringPolicyKafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/model/MonitoringPolicy.java
  notifications/src/main/java/org/opennms/horizon/notifications/model/PagerDutyConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/TenantLookup.java
Due: none

HS-1398 Explicitly define email body as HTML
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/ACSEmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/EmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/SmtpEmailAPI.java
Due: none

HS-1398 Add support for Azure Communication Service Email
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/ACSEmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/config/EmailConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/email/ACSEmailAPITest.java
  notifications/src/test/java/org/opennms/horizon/notifications/config/EmailConfigTest.java
  parent-pom/pom.xml
Due: none

Remove duplicated method
  ui/src/store/Views/flowsApplicationStore.ts
Due: run-job-no-ops

[HS-1526] add missed copy-rights
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudAuthErrorPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/ConfirmDeleteMinionPopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstanceNamePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ApplianceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudAuthErrorSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ConfirmDeleteMinionSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/UdpGenSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/AddNewInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/DeleteInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceNameSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PrepareDataSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/utils/TestDataStorage.java
  external-it/hs-system-tests/src/test/java/testcontainers/MinionContainer.java
  external-it/hs-system-tests/src/test/java/testcontainers/UpdGenContainer.java
  external-it/hs-system-tests/src/test/resources/portal-features/delete-instance.feature
Due: run-job-external-it

Update tests
  ui/tests/Flows/flows.test.ts
  ui/tests/Flows/flowsData.ts
Due: run-job-no-ops

Update tests
  ui/tests/Flows/flows.test.ts
Due: run-job-no-ops

Update loading logic
  ui/src/containers/Flows.vue
Due: run-job-no-ops

Update types.
  ui/src/store/Views/flowsApplicationStore.ts
Due: run-job-no-ops

HS-1350 Add FlowKafka Integration Test for MetricProcessor
  metrics-processor/main/pom.xml
  metrics-processor/main/src/main/java/org/opennms/horizon/flows/FlowsApplicationConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorIntegrationTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/KafkaConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/KafkaProducer.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/grpc/client/GrpcInventoryMockServer.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/grpc/client/InventoryApplicationConfigTest.java
Due: none

Fix node status page for azure types (#1065)
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/components/NodeStatus/EventsTable.vue
  ui/src/components/NodeStatus/IPInterfacesTable.vue
  ui/src/components/NodeStatus/NodeInfoTable.vue
  ui/src/components/NodeStatus/SNMPInterfacesTable.vue
  ui/src/containers/Discovery.vue
  ui/src/containers/NodeStatus.vue
  ui/src/graphql/Views/nodeStatusQueries.graphql
  ui/src/store/Queries/discoveryQueries.ts
  ui/src/store/Views/nodeStatusStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-1350 remove wrong reference to test-application.yml
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorIntegrationTest.java
Due: none

HS-1350 Shut down grpc servers after test execution
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorIntegrationTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorTestConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/KafkaProducer.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/KafkaTestConfig.java
  metrics-processor/main/src/test/resources/application-test.yml
Due: none

HS-1532 Include trap description and log message in event
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  events/traps/src/main/java/org/opennms/horizon/events/traps/EventFactory.java
  events/traps/src/main/java/org/opennms/horizon/events/traps/TrapsConsumer.java
  events/traps/src/test/java/org/opennms/horizon/events/traps/EventFactoryTest.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/resources/alert.html.vm
  shared-lib/events/src/main/proto/events.proto
Due: none

HS-1384: More logs, less locks
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/SimpleReconnectStrategy.java
Due: none

HS-1384: Improve stability/recovery of gRPC connections
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/SimpleReconnectStrategy.java
  minion/minion-ipc/ipc-heartbeat/src/main/java/org/opennms/horizon/minion/ipc/heartbeat/internal/HeartbeatProducer.java
  parent-pom/pom.xml
Due: none

Update server pckgs to fix security issues (#1072)
  ui/mock-graphql/index.ts
  ui/mock-graphql/package.json
  ui/mock-graphql/yarn.lock
Due: run-job-no-ops

HS-1511: Back end work to display monitoring policy rule event name in alerts list
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/Alert.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertMapper.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/update_alert_trigger_event.xml
  shared-lib/alert/src/main/proto/alerts.proto
Due: none

HS-1350 small refactoring
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorTestConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/KafkaProducer.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/KafkaTestConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/grpc/client/IngestorApplicationConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/grpc/client/IngestorClientTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/grpc/client/InventoryApplicationConfig.java
  metrics-processor/main/src/test/java/org/opennms/horizon/metrics/FlowProcessorIntegrationTest.java
  metrics-processor/main/src/test/resources/application-test.yml
Due: none

Add spring-boot-app-config ConfigMap that is mounted in /app/config
  alert/pom.xml
  charts/opennms/templates/opennms/alert/alert-deployment.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/datachoices/datachoices-deployment.yaml
  charts/opennms/templates/opennms/events/events-deployment.yaml
  charts/opennms/templates/opennms/inventory/inventory-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/templates/opennms/spring-boot-app-configmap.yaml
  datachoices/pom.xml
  events/main/pom.xml
  inventory/main/pom.xml
  metrics-processor/main/pom.xml
  minion-gateway-grpc-proxy/main/pom.xml
  minion-gateway/main/pom.xml
  notifications/pom.xml
  parent-pom/pom.xml
  rest-server/pom.xml
Due: run-job-no-ops

Add spring-boot-env ConfigMap that adds env to all Spring Boot services
  charts/opennms/templates/opennms/alert/alert-deployment.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/datachoices/datachoices-deployment.yaml
  charts/opennms/templates/opennms/events/events-deployment.yaml
  charts/opennms/templates/opennms/inventory/inventory-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/templates/opennms/spring-boot-env-configmap.yaml
Due: none

HS-1419: Add spring-boot-logback-json to support JSON logging
  charts/opennms/templates/opennms/spring-boot-app-configmap.yaml
  charts/opennms/templates/opennms/spring-boot-env-configmap.yaml
  charts/opennms/values.yaml
  parent-pom/pom.xml
  shared-lib/pom.xml
  shared-lib/spring-boot-logback-json/pom.xml
Due: none

Clean up a System.out.println
  datachoices/src/main/java/org/opennms/horizon/datachoices/service/DataChoicesService.java
Due: none

HS-1419: Add spring-boot-logback-json to our spring-boot services
  alert/pom.xml
  datachoices/pom.xml
  events/main/pom.xml
  inventory/main/pom.xml
  metrics-processor/pom.xml
  minion-gateway-grpc-proxy/main/pom.xml
  minion-gateway/main/pom.xml
  notifications/pom.xml
  rest-server/pom.xml
  tooling/ignite-tool/pom.xml
Due: run-job-no-ops

This looks like it accidentally had application.docker.image.name set
  inventory/docker-it/pom.xml
Due: none

Add .helmignore files so vim's .swp files don't mess up Tilt/Helm
  charts/opennms-operator/.helmignore
  charts/opennms/.helmignore
Due: none

Ooops, looks like we were building events and tagging it as datachoices
  build-tools/basic/mk-docker-images.sh
Due: none

Enable OpenTelemtry Java agent and conditionally send traces over OTLP
  charts/opennms/templates/opennms/alert/alert-deployment.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/datachoices/datachoices-deployment.yaml
  charts/opennms/templates/opennms/events/events-deployment.yaml
  charts/opennms/templates/opennms/inventory/inventory-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/templates/opennms/spring-boot-env-configmap.yaml
  charts/opennms/values.yaml
Due: none

Add maven-dependency-plugin to pluginManagement
  minion/docker-assembly/pom.xml
  parent-pom/pom.xml
Due: none

Add OpenTelemetry agent to all Java containers
  alert/pom.xml
  datachoices/pom.xml
  events/main/pom.xml
  inventory/main/pom.xml
  metrics-processor/main/pom.xml
  minion-gateway-grpc-proxy/main/pom.xml
  minion-gateway/main/pom.xml
  notifications/pom.xml
  parent-pom/pom.xml
  rest-server/pom.xml
Due: run-job-no-ops
