Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

Remove namespace from operator deployment and add a comment
  charts/opennms/templates/_namespace.yaml
  operator/skaffold.yaml
Due: none

Fix test
  operator/internal/util/values/load_test.go
Due: none

Remove unused dev folder
  dev/kubernetes.kafka.yaml
  dev/run.sh
Due: run-job-dev

HS-387 Remove border on nav rail and menu bar
  ui/src/App.vue
Due: run-job-no-ops

HS-387 Remove no longer needed navRailOpen store
  ui/src/App.vue
  ui/src/containers/Map.vue
  ui/src/store/Views/layoutStore.ts
Due: run-job-no-ops

HS-387 Remove last child margin right
  ui/src/components/Layout/Menubar.vue
Due: run-job-no-ops

HS-387 Fix device table with new data
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/DevicesTable.vue
  ui/src/store/Queries/appliancesQueries.ts
Due: run-job-no-ops

HS-387 Minor css change
  ui/src/App.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

HS-274: couple quick bug fixes
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  operator/internal/reconciler/values_updater.go
  operator/internal/util/maps/convert_map_test.go
  operator/internal/util/security/password_generator_test.go
  operator/scripts/local-operator-values.yaml
Due: none

HS-387 Fix overlapped severity element
  ui/src/components/Map/SeverityFilter.vue
Due: run-job-no-ops

HS-387 Remove unneeded margin/padding in map page
  ui/src/containers/Map.vue
Due: run-job-no-ops

fix choppy gradient
  keycloak-ui/themes/horizon-stream/common/resources/css/style.css
  keycloak-ui/themes/horizon-stream/login/resources/js/gradient.js
Due: none

HS-374: Stats: Rest server endpoint to Opt-in/Opt-out
  platform/datachoices/src/main/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporter.java
  platform/datachoices/src/test/java/org/opennms/horizon/datachoices/internal/UsageStatisticsReporterTest.java
Due: run-job-no-ops

Fixing race condition by locking cache on location key
  minion-gateway/main/src/main/java/org/opennms/miniongateway/router/MinionLookupServiceImpl.java
  minion-gateway/main/src/test/java/org/opennms/miniongateway/router/MinionLookupServiceImplTest.java
Due: none

Fixing race condition by locking cache on location key
  minion/minion-3rdParty/shaded-grpc/pom.xml
  minion/minion-3rdParty/shaded-ignite/pom.xml
Due: none

Adding comments for clarification
  minion/minion-3rdParty/shaded-grpc/pom.xml
  minion/plugins/plugins-api/src/main/java/org/opennms/horizon/minion/plugin/api/DummyRegistrationService.java
Due: none

Removing Thread.sleep from unit tests
  minion/plugins/registration/src/test/java/org/opennms/horizon/minion/plugin/registration/PluginRegistrationRoutingTest.java
Due: none

Refactor Keycloak Secret handling, remove unnecessary UUIDs from realm
  charts/opennms/templates/keycloak/keycloak-cred-secret.yaml
  charts/opennms/templates/keycloak/keycloak-initial-cred-secret.yaml
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
  charts/opennms/values.yaml
  operator/internal/model/values/keycloak_values.go
  operator/internal/reconciler/values_updater.go
Due: none

Split Keycloak image into development and production stages
  keycloak-ui/Dockerfile
Due: none

Fix some config in KC deployment
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
Due: none

Reuse existing Secret values, or generate them, in Helm chart
  charts/opennms/templates/keycloak/keycloak-cred-secret.yaml
Due: none

Fix values_updater unit test not finding Keycloak Secret properly
  operator/internal/reconciler/values_updater_test.go
Due: none

Remove unused data from core-configmap
  charts/opennms/templates/opennms/core/core-configmap.yaml
Due: none

Remove keycloak-internal-service
  charts/opennms/templates/keycloak/_keycloak-internal-service.yaml
  operator/internal/handlers/keycloak.go
Due: none

Update Skaffold to use new Keycloak image
  skaffold.yaml
Due: none

Update Keycloak deployment to use HTTP for backchannel communication
  charts/opennms/templates/keycloak/_keycloak-internal-service.yaml
  charts/opennms/templates/keycloak/keycloak-deployment.yaml
  charts/opennms/templates/keycloak/keycloak-realm-configmap.yaml
Due: none

Remove checks for user password from values_updater test
  operator/internal/model/values/keycloak_values.go
  operator/internal/reconciler/values_updater.go
  operator/internal/reconciler/values_updater_test.go
Due: none

Remove rogue console.log
  ui/src/main.ts
Due: run-job-no-ops

Make handling of theme in Keycloak more type safe
  keycloak-ui/themes/horizon-stream/common/resources/js/mode.js
  ui/src/main.ts
  ui/src/services/authService.ts
Due: run-job-no-ops

Update Keycloak to v19.0.2, where possible
  keycloak-ui/Dockerfile
  platform/docker-it/pom.xml
  platform/pom.xml
Due: run-job-no-ops

Enable buildkit for Keycloak image in pipeline
  .github/actions/keycloak-ui/action.yml
Due: none

Use HTTP to communicate with Keycloak and remove redundant config files
  charts/opennms/templates/opennms/core/core-configmap.yaml
  charts/opennms/templates/opennms/core/core-deployment.yaml
Due: none

Remove cluster role rule for Keycloak Operator, which is now unused
  charts/opennms-operator/templates/operator-clusterrole.yaml
Due: none

Fix Keycloak in k8s yaml
  dev/kubernetes.kafka.yaml
  ui/.env.development
Due: run-job-no-ops, run-job-dev

Fix Core not connecting to Keycloak
  dev/kubernetes.kafka.yaml
Due: run-job-dev

Remove frontendUrl from Keycloak realm
  dev/kubernetes.kafka.yaml
Due: run-job-dev

Fix dockerignore exception not working because of an attempted inline comment
  ui/.dockerignore
Due: run-job-no-ops

Make UI use the ingress instead of port forwarding Keycloak
  ui/.env
  ui/.env.development
  ui/skaffold.yaml
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
