Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

fixed the core docker-it by restore the missing schema and comment out alarm verification.
  platform/db/schema-liquibase/src/main/liquibase/1.11.1/AlarmNotes.xml
  platform/docker-it/src/test/resources/org/opennms/horizon/alarmsd-rest.feature
Due: run-job-no-ops

Address PR review comments
  inventory/src/main/java/org/opennms/horizon/inventory/component/MinionRpcManager.java
  inventory/src/main/java/org/opennms/horizon/inventory/model/MonitoringSystemBean.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/MonitoringSystemService.java
  inventory/src/test/java/org/opennms/horizon/inventory/component/MinionRpcManagerTest.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
Due: run-job-no-ops

Restore the memos table in platform (aka core) DB for now. Core will be dropped wholesale when it is no longer needed.
  platform/db/schema-liquibase/src/main/liquibase/1.11.1/AlarmNotes.xml
Due: run-job-no-ops

fix operator error.
  operator/api/v1alpha1/opennms_types.go
Due: none

More tweaks for docker-it
  alarm/pom.xml
  alarm/src/test/resources/db-init.sql
Due: none

More tweaks for docker-it
  alarm/pom.xml
Due: none

add test scope for test lib
  inventory/pom.xml
Due: none

HS-624 Fix dynamic node metrics
  ui/src/containers/Inventory.vue
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-624 Fix failing build
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/types/graphql.ts
  ui/src/types/metric.d.ts
Due: run-job-no-ops

HS-624 Fix failing build
  ui/src/containers/Inventory.vue
  ui/src/store/Queries/inventoryQueries.ts
Due: run-job-no-ops

HS-624 Minor change
  ui/src/store/Queries/inventoryQueries.ts
Due: run-job-no-ops

fix code analysis report errors
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
Due: run-job-no-ops

change the monitor type to ECHO for minion monitoring
  inventory/src/main/java/org/opennms/horizon/inventory/component/MinionRpcManager.java
  inventory/src/test/java/org/opennms/horizon/inventory/component/MinionRpcManagerTest.java
  shared-lib/protobuf/src/main/proto/taskSet.proto
Due: none

Fix broken unit test
  operator/api/v1alpha1/opennms_types.go
  operator/internal/reconciler/instance_updater.go
  operator/internal/reconciler/instance_updater_test.go
Due: none

use findByNodeId for events on node status page
  ui/components.d.ts
  ui/src/components/Events/EventsTable.vue
  ui/src/graphql/Views/nodeStatusQueries.graphql
  ui/src/store/Queries/nodeStatusQueries.ts
  ui/src/types/graphql.ts
  ui/tests/fixture/events.ts
  ui/tests/store/Queries/nodeStatusQueries.test.ts
Due: run-job-no-ops

More tweaks for docker-it
  alarm/pom.xml
  alarm/src/main/resources/application.yaml
  alarm/src/test/java/org/opennms/horizon/alarmservice/dockerit/CucumberRunnerIT.java
  alarm/src/test/resources/org/opennms/horizon/alarmservice/dockerit/alarm.feature
Due: none

fix the UI sonar bugs
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Events/EventsTable.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Topology/NetworkGraph.vue
  ui/src/components/Topology/TopologyModal.vue
Due: run-job-no-ops

HS-624 Changes after review
  ui/src/components/Inventory/Filter.vue
  ui/src/components/Inventory/TextAnchorList.vue
  ui/src/containers/Inventory.vue
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/store/Views/inventoryStore.ts
  ui/src/types/inventory.d.ts
  ui/tests/Inventory/detectedNodesTabContent.test.ts
  ui/tests/Inventory/monitoredNodesTabContent.test.ts
  ui/tests/Inventory/textAnchorList.test.ts
Due: run-job-no-ops

add aria-labels to tables
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Events/EventsTable.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
Due: run-job-no-ops

More tweaks for docker-it
  alarm/pom.xml
  alarm/src/test/java/org/opennms/horizon/alarmservice/dockerit/AlarmTestSteps.java
  alarm/src/test/resources/org/opennms/horizon/alarmservice/dockerit/alarm.feature
Due: none

add basic mount test for network graph
  ui/tests/Topology/networkGraph.test.ts
  ui/tests/setupWrapper.ts
Due: run-job-no-ops

Remove the core APIs in BFF
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/EventService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/LocationService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/MinionService.java
  rest-server/src/test/java/org/opennms/horizon/server/RestServerApplicationTests.java
Due: run-job-no-ops

Making cucumber tests send directly to Kafka
  alarm/pom.xml
  alarm/src/test/java/org/opennms/horizon/alarmservice/dockerit/AlarmTestSteps.java
  alarm/src/test/resources/org/opennms/horizon/alarmservice/dockerit/alarm.feature
Due: none

HS-656: add the Minion Gateway gRPC Gateway to the Operator
  operator/internal/handlers/opennms.go
  operator/internal/model/values/opennms_values.go
Due: none

More tweaks to kafka docker setup
  alarm/pom.xml
  alarm/src/test/resources/org/opennms/horizon/alarmservice/dockerit/alarm.feature
Due: none

replace listLocations, listMinions with findAll...
  ui/mock-graphql/codegen.yml
  ui/mock-graphql/src/graphql/Queries/minionsQuery.graphql
  ui/src/components/Appliances/AddNodeCtrl.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/types/graphql.ts
  ui/src/types/minion.d.ts
  ui/tests/Appliances/minionsTable.test.ts
  ui/tests/fixture/locations.ts
  ui/tests/fixture/minions.ts
  ui/tests/store/Queries/appliancesQueries.test.ts
Due: run-job-no-ops

More complete alarm test, validating creation
  alarm/src/main/java/org/opennms/horizon/alarmservice/api/AlarmRestService.java
  alarm/src/main/java/org/opennms/horizon/alarmservice/rest/AlarmRestServiceImpl.java
  alarm/src/test/java/org/opennms/horizon/alarmservice/dockerit/AlarmTestSteps.java
  alarm/src/test/resources/org/opennms/horizon/alarmservice/dockerit/alarm.feature
Due: none

Removing duplicate REST annotations, removing interface, standardizing on spring rest
  alarm/src/main/java/org/opennms/horizon/alarmservice/api/AlarmRestService.java
  alarm/src/main/java/org/opennms/horizon/alarmservice/rest/AlarmRestServiceImpl.java
Due: none

query for minion latency
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/containers/Graphs.vue
  ui/src/graphql/Metrics/minionQuery.graphql
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/store/Queries/usageStatsQueries.ts
  ui/src/types/graphql.ts
  ui/tests/fixture/metrics.ts
  ui/tests/fixture/minions.ts
  ui/tests/store/Queries/appliancesQueries.test.ts
Due: run-job-no-ops

HS-657 Fix error on empty latency metric
  ui/src/components/Common/MetricChip.vue
  ui/src/store/Queries/inventoryQueries.ts
Due: run-job-no-ops

Rolling in arts kafka REST approach, fine tuning to get cucumber tests to work
  alarm/pom.xml
  alarm/src/main/java/org/opennms/horizon/alarmservice/api/AlarmService.java
  alarm/src/main/java/org/opennms/horizon/alarmservice/rest/AlarmRestServiceImpl.java
  alarm/src/main/java/org/opennms/horizon/alarmservice/service/AlarmServiceImpl.java
  alarm/src/test/java/org/opennms/horizon/alarmservice/dockerit/AlarmTestSteps.java
  alarm/src/test/resources/org/opennms/horizon/alarmservice/dockerit/alarm.feature
Due: none

HS-657 Fix test value error
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Appliances/utils.ts
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/types/minion.d.ts
  ui/tests/fixture/minions.ts
  ui/tests/store/Queries/appliancesQueries.test.ts
Due: run-job-no-ops

add response_time_msec graph, link from inventory card
  ui/src/components/Events/EventsTable.vue
  ui/src/components/Inventory/IconActionList.vue
  ui/src/components/Inventory/MonitoredNodesTabContent.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/composables/useGraphs.ts
  ui/src/containers/Graphs.vue
  ui/src/graphql/Metrics/chartQuery.graphql
  ui/src/graphql/Nodes/nodesQuery.graphql
  ui/src/graphql/Views/graphQueries.graphql
  ui/src/router/index.ts
  ui/src/store/Queries/graphsQueries.ts
  ui/src/types/graphql.ts
  ui/src/types/graphs.d.ts
Due: run-job-no-ops

fix TS error, graphs tests
  ui/src/components/Inventory/DetectedNodesTabContent.vue
  ui/tests/Graphs/graphs.test.ts
Due: run-job-no-ops

HS-657 Fix faling tests
  ui/src/components/utils.ts
  ui/tests/Appliances/minionsTable.test.ts
  ui/tests/Appliances/nodesTable.test.ts
Due: run-job-no-ops

HS-660 Apply propagation of tenant identifier across places.
  minion-gateway/ipc-grpc-server/src/main/java/org/opennms/horizon/shared/ipc/grpc/server/manager/MinionManager.java
  minion-gateway/ipc-grpc-server/src/main/java/org/opennms/horizon/shared/ipc/grpc/server/manager/rpcstreaming/impl/MinionRpcStreamConnectionManagerImpl.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/MinionManagerImpl.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/heartbeat/HeartbeatKafkaForwarder.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/tasktresults/TaskResultsKafkaForwarder.java
Due: none

disable ignite notifier
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  minion/docker-assembly/src/main/docker/app/Dockerfile
Due: none

External-IT - only say "Hello World" for now; remove tests that are outdated
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it
