Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

rebase jira/HS-139-tag-release-workflow
  .github/workflows/develop.yml
Due: none

.github/ - update develop and release workflows to work of labels and more automation and pre-test releases.
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

hotfix - test on local-sample/ dir using develop branch
  local-sample/run.sh
Due: none

jira/HS-139-tag-release-workflow - testing release
  .github/workflows/release.yml
Due: none

jira/HS-139-tag-release-workflow - release test 2
  .github/workflows/release.yml
Due: none

Log statement fix: add missing {} for argument
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorRequestBuilderImpl.java
Due: run-job-no-ops

Add missing XML annotations on DTOs. Add trace-logging of detector response.
  dev/kubernetes.kafka.yaml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorAttributeDTO.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorRequestBuilderImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorRequestDTO.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/detector/client/DetectorResponseDTO.java
  platform/provision/web/src/main/java/org/opennms/netmgt/provision/detector/web/WebDetector.java
Due: run-job-no-ops, run-job-dev

Add missing package import causing provisioning persistence to fail to load.
  platform/provision/persistence/pom.xml
Due: run-job-no-ops

HS-156 - adding more repository layering, Nodes created on requisition import.
  platform/assemblies/features/src/main/feature/features.xml
  platform/db/model/src/main/java/org/opennms/horizon/db/model/OnmsIpInterface.java
  platform/db/pom.xml
  platform/db/repository-api/pom.xml
  platform/db/repository-api/src/main/java/org/opennms/horizon/repository/api/BasicCRUD.java
  platform/db/repository-api/src/main/java/org/opennms/horizon/repository/api/NodeRepository.java
  platform/db/repository-impl/pom.xml
  platform/db/repository-impl/src/main/java/org/opennms/horizon/repository/impl/NodeRepositoryImpl.java
  platform/db/repository-impl/src/main/resources/OSGI-INF/blueprint/horizon-repository.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dao/HibernateRequisitionEntity.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionNodeDTO.java
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
  platform/provision/service/src/test/resources/import_dummy-empty.json
Due: run-job-no-ops

added user management endpoints
  rest-server/src/main/java/org/opennms/horizon/server/controller/UserController.java
  rest-server/src/main/java/org/opennms/horizon/server/exception/UserManagementException.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/ResetPasswordDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserSearchDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/mapper/KeycloakUserMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/KeycloakInitialSteps.java
Due: run-job-no-ops

github/ - developing workflow develop.yml
  .github/workflows/develop.yml
Due: none

HS-91 - Addressing PR comments
  platform/db/schema-liquibase/src/main/liquibase/provision/requisitions.xml
Due: run-job-no-ops

HS-35 Added unit tests for user service
  rest-server/src/main/java/org/opennms/horizon/server/service/UserService.java
  rest-server/src/test/java/org/opennms/horizon/server/service/UserServiceTest.java
  rest-server/src/test/resources/cucumber/user-management.feature
Due: run-job-no-ops

HS-35 User management endpoints
  rest-server/src/main/java/org/opennms/horizon/server/controller/UserController.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/main/java/org/opennms/horizon/server/service/UserService.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/APIClientSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/KeycloakInitialSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationEndpointsIntegrationSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationGraphQLSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/NodeIntegrationSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/UserManagementSteps.java
  rest-server/src/test/resources/cucumber/location-graphql.feature
  rest-server/src/test/resources/cucumber/location-rest-api.feature
  rest-server/src/test/resources/cucumber/node-rest-api.feature
  rest-server/src/test/resources/cucumber/user-management.feature
Due: run-job-no-ops

HS-91 - Addressing PR comments, re-org of the DAO and repos.
  platform/assemblies/features/src/main/feature/features.xml
Due: run-job-no-ops

HS-91 - Addressing PR comments, re-org of the DAO and repos.
  platform/assemblies/features/src/main/feature/features.xml
  platform/db/dao-api/src/main/java/org/opennms/horizon/db/dao/api/EntityManagerHolder.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/AcknowledgmentDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/AlarmDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/DistPollerDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/EntityManagerHolderImpl.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/EventDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/IpInterfaceDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/MonitoringSystemDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/NodeDaoHibernate.java
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/util/AbstractDaoHibernate.java
  platform/db/dao-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/RequisitionDao.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/RequisitionRepositoryImpl.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/EntityManagerHolderImpl.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/HibernateRequisitionEntity.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/RequisitionPostgreSQL95Dialect.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/RequisitionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/RequsitionJsonType.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/package-info.java
  platform/provision/persistence/src/main/resources/META-INF/persistence.xml
  platform/provision/persistence/src/main/resources/OSGI-INF/blueprint/horizon-provision-persistence.xml
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/RequisitionRepositoryImplTest.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
Due: run-job-no-ops

HS-156 - working on inventory generation
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/HibernateRequisitionEntity.java
Due: run-job-no-ops

HS-156 - backmerging from develop
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/model/HibernateRequisitionEntity.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
Due: run-job-no-ops

HS-156 - fixing build order for assembly, bp fixes
  platform/assemblies/features/src/main/feature/features.xml
  platform/ipc/twin/grpc/subscriber/pom.xml
  platform/pom.xml
  platform/provision/rest/src/main/resources/OSGI-INF/blueprint/provision-rest-blueprint.xml
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
Due: run-job-no-ops

jira/HS-139-tag-release-workflow - develop workflow test 3
  .github/workflows/develop.yml
Due: none

jira/HS-139-tag-release-workflow - develop workflow test 4
  .github/workflows/develop.yml
Due: none

jira/HS-139-tag-release-workflow - develop workflow test 5
  .github/workflows/develop.yml
Due: none

jira/HS-139-tag-release-workflow - develop workflow test 6
  .github/workflows/develop.yml
Due: none

jira/HS-139-tag-release-workflow - develop workflow test 7
  .github/workflows/develop.yml
Due: none

jira/HS-139-tag-release-workflow - develop workflow test 8
  .github/workflows/develop.yml
Due: none

jira/HS-139-tag-release-workflow - develop workflow test 9
  .github/workflows/release.yml
Due: none

jira/HS-139-tag-release-workflow - develop workflow test 10
  .github/workflows/develop.yml
Due: none

.github/ - updating release
  .github/workflows/release.yml
Due: none

.github/ - updated release workflow
  .github/workflows/release.yml
Due: none
