Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

HS-1384: re-enable the MinionGrpcClientTest.
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/MinionGrpcClientTest.java
Due: none

Remove labels from dashboard application chart
  ui/src/components/Dashboard/DashboardApplications.vue
Due: run-job-no-ops

Update LineGraph
  ui/src/components/Graphs/LineGraph.vue
Due: run-job-no-ops

HS-1473 Add different Fields Data to second Template
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ValueTest.java
Due: none

HS-1317: Send node from inventory to alerts on create/update
  alert/pom.xml
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/Alert.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/Node.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/NodeRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/NodeMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertServiceImpl.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/routing/NodeConsumer.java
  alert/src/main/resources/application.yaml
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/node.xml
  alert/src/test/java/org/opennms/horizon/alertservice/grpc/AlertGrpcServiceTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/NodeTestSteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/node.feature
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/RetryUtils.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/kafkahelper/KafkaTestHelper.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/kafkahelper/internals/KafkaProcessor.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/NodeStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/NodeKafkaProducer.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/config/KafkaConfig.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/model/Node.java
  inventory/main/src/main/resources/application.yml
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/LocationGrpcTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitorSystemGrpcTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringLocationGrpcServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringSystemGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcStartupIntTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/TagGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/AzureActiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/IcmpActiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/PassiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/IpInterfaceRepositoryTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/NodeRepositoryTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseServiceIntTest.java
  inventory/main/src/test/resources/application.yml
Due: none

Release v0.0.34 dev (#1101)
  CHANGELOG/changelog-v0.0.34-dev.md
Due: none

HS-1363: cleanup all the streams on disconnect.
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
Due: none

HS-1363: additional tests
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/MinionGrpcClientTest.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/queue/OffHeapSendQueueFactoryTest.java
Due: none

Add graphs for interfaces (#1094)
  ui/src/components/Appliances/AppliancesMinionsTable.vue
  ui/src/components/Graphs/LineGraph.vue
  ui/src/components/NodeStatus/NodeStatusMetricsModal.vue
  ui/src/composables/useGraphs.ts
  ui/tests/fixture/metrics.ts
Due: run-job-no-ops

HS-1379: Fix minion cleanup (#1099)
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/RpcConnectionTrackerImpl.java
Due: none

HS-1575: Add unmonitored / detected UI states (#1087)
  ui/components.d.ts
  ui/src/components/Inventory/InventoryDetectedNodesTabContent.vue
  ui/src/components/Inventory/InventoryFilter.vue
  ui/src/components/Inventory/InventoryIconActionList.vue
  ui/src/components/Inventory/InventoryNodeTagEditOverlay.vue
  ui/src/components/Inventory/InventoryTabContent.vue
  ui/src/components/Inventory/InventoryTextAnchorList.vue
  ui/src/components/Inventory/inventory.utils.ts
  ui/src/components/MyDiscovery/DiscoveryInfo.vue
  ui/src/containers/Inventory.vue
  ui/src/containers/MyDiscovery.vue
  ui/src/graphql/Views/inventoryQueries.graphql
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/store/Views/inventoryStore.ts
  ui/src/types/graphql.ts
  ui/src/types/index.ts
  ui/src/types/inventory.d.ts
  ui/tests/Inventory/inventoryMonitoredNodesTabContent.test.ts
  ui/tests/Inventory/inventoryTabContent.test.ts
Due: run-job-no-ops

HS-1587: Retrieve timestamp from collector (#1100)
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorAzureResponseProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorSnmpResponseProcessor.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorSnmpResponseProcessorTest.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/impl/TaskExecutionResultProcessorImpl.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpCollector.java
  shared-lib/protobuf/src/main/proto/taskSet.proto
Due: none

Release v0.0.35 dev (#1104)
  CHANGELOG/changelog-v0.0.35-dev
Due: none

HS-1589 - skip the OK HTTP ssl context custom configuration when not needed.
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/MinionGrpcClient.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImpl.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImplTest.java
Due: none

HS-1512 Enable ad-hoc certificate generation for embedded dev-time minion.
  .github/workflows/develop.yml
  .github/workflows/feature-minion-gateway-grpc-proxy.yml
  .github/workflows/release.yml
  Tiltfile
  build-tools/basic/compile.sh
  build-tools/basic/mk-docker-images.sh
  build-tools/basic/push-images-to-kind.sh
  build-tools/basic/run-cluster.sh
  build-tools/basic/stop-dev-pods.sh
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-deployment.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-service.yaml
  charts/opennms/templates/opennms/minion-gateway-grpc-proxy/minion-gateway-grpc-proxy-serviceaccount.yaml
  charts/opennms/templates/opennms/minion/minion-configmap.yaml
  charts/opennms/templates/opennms/minion/minion-deployment.yaml
  charts/opennms/values.yaml
  install-local/install-local-opennms-horizon-stream-custom-images-values.yaml
  install-local/install-local-opennms-horizon-stream-values.yaml
  install-local/install-local.sh
  tilt-helm-values.yaml
Due: none

HS-1310 Update run in docker script so it behaves similar to runInPlace.
  minion/assembly/runInDocker.sh
Due: none

publish tag operation on node
  inventory/docker-it/pom.xml
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/InventoryBackgroundHelper.java
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/tags/NodeTaggingStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node-tagging.feature
  inventory/main/pom.xml
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/TagPublisher.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/TagService.java
  inventory/main/src/main/resources/application.yml
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
Due: none

fixed the kafka template name
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/TagPublisher.java
Due: none

add one more test case
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/tags/NodeTaggingStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node-tagging.feature
Due: none

fixed the docker-it test
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/InventoryBackgroundHelper.java
Due: none

fixed the unit tests
  inventory/main/src/test/java/org/opennms/horizon/inventory/SpringContextTestInitializer.java
Due: none

HS-1567: Validate Inventory Encryption key length on inventory application startup (#1096)
  inventory/main/src/main/java/org/opennms/horizon/inventory/mapper/EncryptAttributeConverter.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/mapper/EncryptAttributeConverterTest.java
Due: none

HS-1509: more tests
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/TagPublisherTest.java
Due: none

Fix top 10 legend on smaller screens (#1105)
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/components/Dashboard/DashboardCard.vue
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops

HS-1594: Remove components from outdated designs (#1106)
  ui/components.d.ts
  ui/src/components/MonitoringPolicies/MonitoringPoliciesExistingItems.vue
  ui/src/components/MyDiscovery/DiscoveryInfo.vue
  ui/src/containers/MyDiscovery.vue
  ui/src/router/index.ts
  ui/tests/MyDiscovery/myDiscovery.test.ts
Due: run-job-no-ops

HS-1509: more tests
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/TagPublisher.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/TagPublisherTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
Due: none

HS-1370 - Fix Broken tests (#1108)
  ui/src/components/Graphs/LineGraph.vue
  ui/tests/Flows/flows.test.ts
Due: run-job-no-ops

Release v0.0.36 dev (#1110)
  CHANGELOG/changelog-v0.0.36-dev
Due: none

Add Certificate download component.
  ui/components.d.ts
  ui/src/components/Common/InstructionsStepper.vue
  ui/src/components/Locations/LocationsCertificateDownload.vue
  ui/src/components/Locations/LocationsEditForm.vue
  ui/src/store/Views/locationStore.ts
Due: run-job-no-ops

HS-1598: Add link from node status page to flows (#1111)
  ui/src/components/NodeStatus/IPInterfacesTable.vue
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/store/Views/flowsStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Add hasCert state
  ui/src/components/Locations/LocationsCertificateDownload.vue
  ui/src/components/Locations/LocationsEditForm.vue
Due: run-job-no-ops

HS-1247 NetflowV5 doesn't have tag
  metrics-processor/flows/src/main/java/org/opennms/horizon/flows/processing/DocumentEnricherImpl.java
  metrics-processor/flows/src/test/java/org/opennms/horizon/flows/processing/DocumentEnricherTest.java
Due: none

add catch
  ui/src/components/Locations/LocationsCertificateDownload.vue
Due: run-job-no-ops

HS-1605: Disable failing test (#1121)
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/AzureActiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/IcmpActiveDiscoveryGrpcItTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/discovery/PassiveDiscoveryGrpcItTest.java
  inventory/main/src/test/resources/logback-test.xml
Due: none

HS-1606: Remove publishing of tags on Application start
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/TagPublisher.java
Due: none

Clean up duplicate dependencies and missing versions in pom files
  alert/pom.xml
  minion-certificate-verifier/docker-it/pom.xml
  minion-gateway/main/pom.xml
  minion/plugins/registration/pom.xml
  minion/pom.xml
  parent-pom/pom.xml
  shared-lib/azure/azure-http/pom.xml
  shared-lib/azure/proto/pom.xml
  shared-lib/horizon-common-lang/pom.xml
  shared-lib/horizon-common-logging/pom.xml
  shared-lib/horizon-ipc/ipc-api/pom.xml
  shared-lib/protobuf/pom.xml
  shared-lib/snmp/proto/pom.xml
Due: none

Use parent-pom pluginManagement for versioning maven-compiler-plugin everywhere
  datachoices/pom.xml
  events/persistence/pom.xml
  events/pom.xml
  external-it/external-horizon-stream-it/pom.xml
  inventory/main/pom.xml
  inventory/testtools/minion-gateway-wiremock/minion-gateway-wiremock-api/pom.xml
  inventory/testtools/minion-gateway-wiremock/minion-gateway-wiremock-client/pom.xml
  inventory/testtools/minion-gateway-wiremock/minion-gateway-wiremock-main/pom.xml
  metrics-processor/pom.xml
  minion-certificate-manager/pom.xml
  minion-certificate-verifier/pom.xml
  minion-gateway-grpc-proxy/pom.xml
  minion-gateway/pom.xml
  minion/docker-it/pom.xml
  minion/pom.xml
  minion/testtools/minion-gateway-wiremock/minion-gateway-wiremock-api/pom.xml
  minion/testtools/minion-gateway-wiremock/minion-gateway-wiremock-client/pom.xml
  minion/testtools/minion-gateway-wiremock/minion-gateway-wiremock-main/pom.xml
  notifications/pom.xml
  rest-server/pom.xml
  tooling/ignite-tool/pom.xml
Due: run-job-no-ops, run-job-external-it

HS-1317: Added node label as search parameter for listAlerts
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/NodeRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/test/java/org/opennms/horizon/alertservice/grpc/AlertGrpcServiceTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/node.feature
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/Alert.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLAlertsServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientDeadlineTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientTest.java
  shared-lib/alert/src/main/proto/alerts.proto
Due: run-job-no-ops

HS-1529: Remove hard coded alerts topic
  alert/src/main/java/org/opennms/horizon/alertservice/service/routing/KafkaConfig.java
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
