Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          # TODO: Need to make workflows for all the above except the
          # .circleci/ dir.

          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Generate signed certificate WIP
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CertFileUtils.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/PKCS8Generator.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertificateManagerImpl.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/certificate/CertificateMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/model/certificate/CertificateResponse.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcMinionCertificateManager.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClient.java
Due: run-job-no-ops

Add exporter autocomplete, add flow totals, add refresh button, refactor code
  ui/src/containers/Flows.vue
  ui/src/store/Queries/flowsQueries.ts
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

reset dashboard value to 10
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

add OR value
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

Change the trigger event type name match those defined in events
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/update_trigger_event_type.xml
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
  shared-lib/alert/src/main/proto/alerts.proto
Due: none

fix value format
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

add docker image property
  minion-certificate-manager/pom.xml
Due: none

Generate signed certificate
  minion-certificate-manager/README.md
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/MinionCertificateManagerApplication.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CertClient.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CertFileUtils.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/certificate/PKCS8Generator.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/GrpcConfig.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/GrpcServerManager.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertServerInterceptor.java
  minion-certificate-manager/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertificateManagerImpl.java
  minion-certificate-manager/src/main/resources/application.yaml
  minion-certificate-manager/src/test/java/org/opennms/horizon/minioncertmanager/certificate/CertFileUtilsTest.java
  minion-certificate-manager/src/test/java/org/opennms/horizon/minioncertmanager/certificate/PKCS8GeneratorTest.java
  minion-certificate-manager/src/test/java/org/opennms/horizon/minioncertmanager/grpc/AbstractGrpcUnitTest.java
  minion-certificate-manager/src/test/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertificateManagerImplTest.java
Due: none

Remove pebble
  Tiltfile
  charts/opennms/templates/pebble/pebble-deployment.yaml
  charts/opennms/templates/pebble/pebble-service.yaml
  charts/opennms/values.yaml
  install-local/install-local.sh
  tilt-custom-resource.yaml
Due: none

Fix rest-server context
  rest-server/src/test/resources/application.yml
Due: run-job-no-ops

HS-1397 Add support for SMTP email notifications
  Tiltfile
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/EmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/SmtpEmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/keycloak/DefaultTenantKeyCloakAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/keycloak/KeyCloakAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/resources/application.yml
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/SpringContextTestInitializer.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/email/SmtpEmailAPITest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/keycloak/SingleTenantKeyCloakAPITest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationServiceImplTest.java
  notifications/src/test/resources/application.yml
  notifications/src/test/resources/org/opennms/horizon/notifications/notification-processing.feature
Due: none

HS-1397 Use JUnit5 for unit tests
  notifications/src/test/java/org/opennms/horizon/notifications/api/email/SmtpEmailAPITest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/keycloak/SingleTenantKeyCloakAPITest.java
Due: none

[HS-1434] Add 'Create instance' test suit
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/AddNewInstancePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/DeleteInstancePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalLoginPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalSnackBar.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/AddNewInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/EditInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalCloudSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalLoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalSnackBarSteps.java
  external-it/hs-system-tests/src/test/resources/features/create-instance.feature
  external-it/hs-system-tests/src/test/resources/selenide.properties
Due: run-job-external-it

HS-1450: translate nodeId to interfaceId for flow querier (#987)
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/java/org/opennms/horizon/server/service/flows/FlowClient.java
  rest-server/src/main/java/org/opennms/horizon/server/service/flows/GrpcFlowService.java
  rest-server/src/test/java/org/opennms/horizon/server/RestServerApplicationTests.java
  rest-server/src/test/java/org/opennms/horizon/server/service/flows/FLowClientTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/flows/GrpcFlowServiceTest.java
Due: run-job-no-ops

[HS-1463] Add Azure KeyVault storage to keep all sensetive values
  external-it/hs-system-tests/README.md
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/HSCucumberRunnerTest.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/keyvalue/SecretsStorage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/AddNewInstanceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/portal/PortalLoginSteps.java
  external-it/hs-system-tests/src/test/resources/features/create-instance.feature
Due: run-job-external-it

HS-1293 - graph config
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
Due: run-job-no-ops

add filter by tags to inventory page (#993)
  ui/src/components/Common/BasicAutocomplete.vue
  ui/src/components/Inventory/InventoryFilter.vue
  ui/src/graphql/Views/inventoryQueries.graphql
  ui/src/store/Queries/inventoryQueries.ts
  ui/src/types/graphql.ts
  ui/tests/Inventory/inventoryFilter.test.ts
Due: run-job-no-ops

alerts-api-base-index Fix pagination count
  ui/.gitignore
  ui/components.d.ts
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

alerts-api-base-index Minor change
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

HS-1468 Create HeadLineSection and refact PageHeadline
  ui/components.d.ts
  ui/src/components/Common/HeadlinePage.vue
  ui/src/components/Common/HeadlineSection.vue
  ui/src/containers/Alerts.vue
  ui/src/containers/Dashboard.vue
  ui/src/containers/Discovery.vue
  ui/src/containers/Flows.vue
  ui/src/containers/Graphs.vue
  ui/src/containers/Inventory.vue
  ui/src/containers/MonitoringPolicies.vue
  ui/src/containers/MyDiscovery.vue
  ui/src/containers/SyntheticTransactions.vue
  ui/tests/Common/pageHeadline.test.ts
Due: run-job-no-ops

HS-1468 Make slot generic
  ui/src/components/Common/HeadlineSection.vue
Due: run-job-no-ops

HS-1468 Add/fix tests
  ui/components.d.ts
  ui/src/components/Common/HeadlinePage.vue
  ui/src/components/Common/HeadlineSection.vue
  ui/tests/Common/headlinePage.test.ts
  ui/tests/Common/headlineSection.test.ts
Due: run-job-no-ops

HS-1403 Create common pill color and refactor Alerts pills
  ui/components.d.ts
  ui/src/components/Alerts/AlertsCard.vue
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/components/Common/PillColor.vue
  ui/src/styles/pillColor.scss
  ui/tests/Alerts/alertsSeverityLabel.test.ts
  ui/tests/Common/pillColor.test.ts
Due: run-job-no-ops

HS-1421: Add range query
  charts/opennms/templates/grafana/grafana-secret.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  rest-server/src/main/java/org/opennms/horizon/server/model/TSResult.java
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/TSDBMetricsService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/normalization/Constants.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

Update timezone tests
  ui/tests/Flows/flows.test.ts
Due: run-job-no-ops

Add default tag for discovery forms (#1006)
  ui/src/components/Common/BasicAutocomplete.vue
  ui/src/components/Discovery/DiscoveryAzureForm.vue
  ui/src/components/Discovery/DiscoverySnmpForm.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/tests/Discovery/discoveryAzureForm.test.ts
  ui/tests/Discovery/discoverySyslogSNMPTrapsForm.test.ts
Due: run-job-no-ops

HS-1425: add snmp trap thresholding for alerts
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/ThresholdedEvent.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/ThresholdedEventRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/thresholded_event.xml
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
  alert/src/test/resources/org/opennms/horizon/alertservice/threshold.feature
Due: none

Remove unused event types and modified the UI with new type names
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/delete_unreachable_event.xml
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
  rest-server/src/test/java/org/opennms/horizon/server/mapper/alert/MonitorPolicyMapperTest.java
  shared-lib/alert/src/main/proto/alerts.proto
  ui/src/components/MonitoringPolicies/MonitoringPoliciesEventCondition.vue
  ui/src/components/MonitoringPolicies/monitoringPolicies.constants.ts
Due: run-job-no-ops

HS-1425: code review comment
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
Due: none

Make routing from NavigationRail smoother
  ui/src/components/Layout/NavigationRail.vue
Due: run-job-no-ops

Extend router-link rather than using a slot to prevent nested anchors
  ui/src/components/Layout/NavigationRail.vue
Due: run-job-no-ops

HS-1421: Update charts
  charts/opennms/templates/grafana/grafana-secret.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/TSDBMetricsService.java
Due: run-job-no-ops

correct the management types
  ui/src/components/MonitoringPolicies/MonitoringPoliciesEventCondition.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesRuleForm.vue
  ui/src/components/MonitoringPolicies/monitoringPolicies.constants.ts
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/tests/MonitoringPolicies/monitoringPolicies.test.ts
Due: run-job-no-ops

HS-1470 Add generic component
  ui/components.d.ts
  ui/src/components/Common/InstructionsStepper.vue
Due: run-job-no-ops

more type changes
  ui/src/components/MonitoringPolicies/MonitoringPoliciesEventCondition.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesRuleForm.vue
Due: run-job-no-ops

Move router-link wrapped NavItems to new component
  ui/src/components/Layout/NavigationRail.vue
  ui/src/components/Layout/NavigationRailNavItem.vue
Due: run-job-no-ops

Use router-link on AppRail icon
  ui/src/components/Layout/NavigationRail.vue
Due: run-job-no-ops

HS-1293 - format improvements
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
Due: run-job-no-ops

fixed the UI test
  ui/tests/MonitoringPolicies/monitoringPolicies.test.ts
Due: run-job-no-ops

HS-1470 Add tests
  ui/src/components/Common/InstructionsStepper.vue
  ui/tests/Common/instructionsStepper.test.ts
Due: run-job-no-ops
