Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

added unit test and some clean up
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/DeviceMapper.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/utils/LocationMapper.java
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
  platform/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/LocationDTO.java
Due: run-job-no-ops

HS-240 Item with bg color
  ui/mock-graphql/src/data/device.ts
  ui/mock-graphql/src/data/minions.ts
  ui/mock-graphql/src/graphql/Queries/minionsQuery.graphql
  ui/mock-graphql/src/helpers/random.ts
  ui/mock-graphql/src/typeDefs.ts
  ui/src/App.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/helpers/formatting.ts
  ui/src/types/graphql-mocks.ts
Due: run-job-no-ops

change logout txt to logout icon
  ui/src/components/Layout/Menubar.vue
Due: run-job-no-ops

HS-182: checkpoint
  charts/opennms/templates/keycloak/keycloak-operator-group.yaml
  charts/opennms/templates/keycloak/keycloak-operator-sub.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  operator/api/keycloak/v1alpha1/groupversion_info.go
  operator/api/keycloak/v1alpha1/keycloak_types.go
  operator/api/keycloak/v1alpha1/zz_generated.deepcopy.go
  ri.yaml
Due: none

Type fix in Operator helm chart
  charts/opennms-operator/crds/opennms.yaml
Due: none

change to text icon btns
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Appliances/NotificationsCtrl.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

make appliances the main route
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/Alarms.vue
  ui/src/router/index.ts
Due: run-job-no-ops

HS-240 Add meaningful name
  ui/mock-graphql/src/data/device.ts
  ui/mock-graphql/src/data/minions.ts
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
Due: run-job-no-ops

HS-240 Cleanup
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/containers/Appliances.vue
  ui/src/helpers/formatting.ts
Due: run-job-no-ops

HS-240 Mod test
  ui/mock-graphql/src/data/device.ts
  ui/tests/Appliances/minionsTable.test.ts
Due: run-job-no-ops

Remove shared library note from top-level README
  README.md
Due: run-job-no-ops

jira/HS-145 - testing changes, updated operator configs
  .github/actions/external-it/action.yml
Due: none

Remove dev/README
  dev/README.md
Due: run-job-dev

jira/HS-145 - works, one final test
  .github/workflows/develop.yml
  local-sample/run.sh
Due: none

add graphql for devices and code cleaning
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/service/DeviceService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  shared-lib/dto-model/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AbstractCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceCollectionDTO.java
Due: run-job-no-ops

HS-240 Adjust to the real minion endpoint
  ui/mock-graphql/src/data/minions.ts
  ui/mock-graphql/src/graphql/Queries/minionsQuery.graphql
  ui/mock-graphql/src/helpers/random.ts
  ui/mock-graphql/src/typeDefs.ts
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/helpers/formatting.ts
  ui/src/store/Queries/minionsQueries.ts
  ui/src/types/graphql-mocks.ts
Due: run-job-no-ops

fixed the merge error
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
Due: run-job-no-ops

RELEASE v0.0.11-dev - new images for local-sample/ setup.
  CHANGELOG/changelog-v0.0.11-dev.md
Due: none

updated .github workflows develop and release
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

.github/ changing order of actions in develop workflow
  .github/workflows/develop.yml
Due: none

use cards for device list
  ui/mock-graphql/src/data/device.ts
  ui/src/App.vue
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/containers/Appliances.vue
Due: run-job-no-ops

rm column test
  ui/tests/Appliances/deviceTable.test.ts
Due: run-job-no-ops

fix test for columns
  ui/src/components/Appliances/DeviceTable.vue
  ui/tests/Appliances/deviceTable.test.ts
Due: run-job-no-ops

.github/ - temporarily commented out operator build, needs fixing.
  .github/workflows/develop.yml
Due: none

HS-247: added ssh session for debugging
  .github/workflows/develop.yml
Due: none

fixed the GraphQL schema error, save the new location if not in the database and add user role authorization control
  platform/inventory/device/pom.xml
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/api/DeviceRestAPI.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  rest-server/src/main/resources/application.yml
  shared-lib/dto-model/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AbstractCollectionDTO.java
Due: run-job-no-ops

HS-247: fixed pipeline for operator, running test.
  .github/actions/operator/action.yml
  .github/workflows/develop.yml
Due: none

remove unused import
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
Due: run-job-no-ops

fix the unit test
  platform/inventory/device/src/test/java/org/opennms/horizon/inventory/device/service/DeviceServiceTest.java
Due: run-job-no-ops

RELEASE v0.0.11-dev - publishing somewhat stable images for local-sample/ setup.
  CHANGELOG/changelog-v0.0.11-dev.md
Due: none

RELEASE v0.0.12-dev - fixing release workflow
  CHANGELOG/changelog-v0.0.12-dev.md
Due: none

RELEASE v0.0.12-dev - fixing release workflow
  .github/workflows/release.yml
Due: none

HS-145: added bash script tests
  tmp.core.sh
  tmp.grafana.sh
  tmp.keycloak-ui.sh
  tmp.rest-server.sh
  tmp.sh
  tmp.ui.sh
Due: none

HS-182: Models for Keycloak
  charts/opennms-operator-dependencies/Chart.yaml
  charts/opennms-operator-dependencies/templates/keycloak.yaml
  charts/opennms/templates/keycloak/keycloak-cred-secret.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak.yaml
  charts/opennms/values.yaml
  operator/Makefile
  operator/api/keycloak/v1alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/groupversion_info.go
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha1/groupversion_info.go
  operator/api/v1alpha1/opennms_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/go.mod
  operator/internal/model/values/keycloak_values.go
  operator/internal/reconciler/values_updater.go
  operator/internal/scheme/scheme.go
  operator/local-instance.yaml
  operator/test/integration/test_instance.yaml
Due: none

HS-182: deployment
  operator/Makefile
  operator/api/keycloak/v2alpha1/keycloak_types.go
  operator/api/keycloak/v2alpha1/zz_generated.deepcopy.go
  operator/internal/handlers/keycloak.go
Due: none

HS-188: Minion location should be `Default`
  dev/kubernetes.kafka.yaml
Due: run-job-dev

HS-182: build fixes
  operator/go.sum
Due: none

HS-182: build fixes
  operator/go.mod
  operator/go.sum
  operator/internal/reconciler/values_updater.go
  operator/internal/reconciler/values_updater_test.go
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
