Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

fix severity filter & grid tabs tests
  ui/src/composables/useRouter.ts
  ui/tests/Map/gridTabs.test.ts
  ui/tests/Map/severityFilter.test.ts
  ui/tests/helpers/utils.ts
Due: run-job-no-ops

move types out of component
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/types/device.d.ts
  ui/src/types/minion.d.ts
Due: run-job-no-ops

rm comment, fix type
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
Due: run-job-no-ops

HS-144: keycloak updates
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  charts/opennms/templates/keycloak/keycloak-service.yaml
  charts/opennms/values.yaml
  operator/README.md
  operator/internal/handlers/keycloak.go
  operator/internal/handlers/prometheus.go
  operator/internal/model/values/prometheus_values.go
  operator/scripts/local-onms-instance.yaml
Due: none

HS-144: updated ingress with backend protocol https.
  charts/opennms/templates/ingress/ingresses/opennms-ingress.yaml
Due: none

More cleanup - additional premature platform changes for GRPC.
  platform/core/identity/src/main/java/org/opennms/horizon/core/identity/Identity.java
  platform/core/identity/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/GrpcLocalDispatcherFactory.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
Due: run-job-no-ops

Update github actions to build the parent pom before use.
  .github/actions/parent-pom/action.yml
  .github/workflows/develop.yml
  .github/workflows/feature-core.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/release.yml
Due: none

Parent POM to share dependency versions, including version properties.
  parent-pom/README.md
  parent-pom/pom.xml
Due: none

Cleanup: remove parent-pom README.md left-over from now-unused dual-parent-pom approach; lombok dependency is optional. Remove unused shared lib dependency from platform that is yet unused.
  parent-pom/README.md
  platform/core/identity/pom.xml
  shared-lib/dto-model/pom.xml
Due: run-job-no-ops

HS-284 Refactor following current structure
  ui/src/components/Appliances/DeviceTable.vue
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/components/Appliances/appliances.helpers.ts
  ui/tests/Appliances/appliances.test.ts
  ui/tests/Appliances/notificationsCtrl.test.ts
  ui/tests/Map/gridTabs.test.ts
  ui/tests/Map/mapAlarmsGrid.test.ts
  ui/tests/Map/mapNodesGrid.test.ts
  ui/tests/Map/mapSearch.test.ts
  ui/tests/Map/severityFilter.test.ts
  ui/tests/setupWrapper.ts
  ui/tests/utils.ts
Due: run-job-no-ops

HS-284 Typo
  ui/src/components/Appliances/appliances.helpers.ts
Due: run-job-no-ops

HS-144: reenable prometheus
  charts/opennms/values.yaml
Due: none

HS-252: Changes to help get system working, some will need to be added to images.
  charts/opennms/templates/keycloak/keycloak-realmimport.yaml
  operator/local-instance.yaml
  operator/scripts/install-operator-local.sh
  operator/scripts/local-onms-instance.yaml
  ui/vite.config.ts
Due: run-job-no-ops

Add minion gateway to kubernetes/skaffold setup. Add GRPC server to the gateway using STUB cloudToMinionMessage and minionToCloudRpc.
  dev/kubernetes.kafka.yaml
  minion-gateway/pom.xml
  minion-gateway/src/main/java/org/opennms/miniongateway/grpc/server/GrpcIpcServerConfig.java
  minion-gateway/src/main/java/org/opennms/miniongateway/grpc/server/GrpcServerConfig.java
  minion-gateway/src/main/java/org/opennms/miniongateway/grpc/server/MetricsConfig.java
  minion-gateway/src/main/java/org/opennms/miniongateway/grpc/server/stub/StubCloudToMinionMessageProcessor.java
  minion-gateway/src/main/java/org/opennms/miniongateway/grpc/server/stub/StubMinionToCloudProcessor.java
  skaffold.yaml
Due: run-job-dev

Initial Minion Gateway spring-boot application - stub only. Added spring-boot.version to parent pom.
  minion-gateway/pom.xml
  minion-gateway/src/main/java/org/opennms/miniongateway/MinionGatewayMain.java
  parent-pom/pom.xml
Due: none

fix remaining topo ts errors, modify device create payload
  ui/package.json
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Topology/NoFocusMsg.vue
  ui/src/containers/Map.vue
  ui/src/declarations.d.ts
  ui/src/graphql/Devices/addDeviceMutation.graphql
  ui/src/store/Views/mapStore.ts
  ui/src/types/graphql.ts
  ui/yarn.lock
Due: run-job-no-ops

fix tests
  ui/src/components/Map/GridTabs.vue
  ui/tests/Appliances/addDeviceCtrl.test.ts
Due: run-job-no-ops

HS-303: Add groupingKeys for push gateway
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/monitor/SimpleMinionRpcMonitor.java
  platform/metrics/api/src/main/java/org/opennms/horizon/metrics/api/OnmsMetricsAdapter.java
  platform/metrics/impl/src/main/java/org/opennms/horizon/metrics/impl/PrometheusPushGatewayAdapter.java
  platform/minion/heartbeat/src/main/java/org/opennms/minion/heartbeat/HeartbeatConsumer.java
  platform/minion/heartbeat/src/test/java/org/opennms/minion/heartbeat/HeartbeatConsumerTest.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PrometheusTSDBServiceImpl.java
Due: run-job-no-ops

Align pom versions.
  minion/assembly/pom.xml
  minion/docker-assembly/pom.xml
  minion/ignite-worker/pom.xml
  minion/ipc/echo/pom.xml
  minion/ipc/grpc/client/pom.xml
  minion/ipc/grpc/contract/pom.xml
  minion/ipc/grpc/pom.xml
  minion/ipc/grpc/server/pom.xml
  minion/ipc/ipc-api/pom.xml
  minion/ipc/pom.xml
  minion/ipc/twin/pom.xml
  minion/ipc/twin/twin-api/pom.xml
  minion/ipc/twin/twin-common/pom.xml
  minion/ipc/twin/twin-grpc/pom.xml
  minion/ipc/twin/twin-grpc/publisher/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/pom.xml
  minion/minion-features/pom.xml
  minion/minion-grpc/pom.xml
  minion/minion-grpc/whiteboard/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-api/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-core/pom.xml
  minion/minion-grpc/workflow/injector/pom.xml
  minion/minion-grpc/workflow/module/pom.xml
  minion/minion-grpc/workflow/pom.xml
  minion/minion-grpc/workflow/workflow-publisher/pom.xml
  minion/minion-grpc/workflow/workflow-subscriber/pom.xml
  minion/minion-metrics/pom.xml
  minion/model/pom.xml
  minion/plugins/ICMP/pom.xml
  minion/plugins/SNMP/pom.xml
  minion/plugins/WEB-LISTEN/pom.xml
  minion/plugins/plugins-api/pom.xml
  minion/plugins/pom.xml
  minion/plugins/registration/pom.xml
  minion/pom.xml
  minion/scheduler/pom.xml
  minion/tracing-stub/pom.xml
Due: none

Add the new Minion to Kubernetes / Skaffold setup.
  dev/kubernetes.kafka.yaml
  minion/assembly/src/main/resources/etc/org.opennms.poc.ignite.worker.cfg
  minion/docker-assembly/pom.xml
  minion/skaffold-build.sh
  skaffold.yaml
Due: run-job-dev

Rename MinionHeader to Identity, introduce new structs.
  minion-gateway/src/main/java/org/opennms/miniongateway/grpc/server/GrpcServerConfig.java
  minion-gateway/src/main/java/org/opennms/miniongateway/grpc/server/stub/StubCloudToMinionMessageProcessor.java
  shared-lib/ipc/grpc/client/src/main/java/org/opennms/poc/ignite/grpc/client/internal/StubGrpcClient.java
  shared-lib/ipc/grpc/contract/src/main/proto/opennms/rpc/echo/echo.proto
  shared-lib/ipc/grpc/contract/src/main/proto/opennms/sink/heatbeat/heartbeat.proto
  shared-lib/ipc/grpc/contract/src/main/proto/opennms_minion_ipc.proto
  shared-lib/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  shared-lib/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/adapter/CloudServiceDelegate.java
  shared-lib/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/adapter/DelegateAdapter.java
  shared-lib/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/adapter/MinionRSTransportAdapter.java
Due: none

Solve startup errors related to 'Inspection of class failed'.
  minion/minion-features/src/main/resources/features.xml
  minion/pom.xml
Due: none

HS-306: Fix SNMP RPC failure
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/DeviceMonitorManager.java
  platform/snmp/snmp4j/pom.xml
Due: run-job-no-ops

HS-279 Fix post error on field with empty value
  ui/src/components/Appliances/AddDeviceCtrl.vue
  ui/src/graphql/Devices/addDeviceMutation.graphql
  ui/src/types/appliances.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Refactoring to use shared-lib ipc
  minion/ignite-worker/src/main/java/org/opennms/horizon/minion/identity/MinionIdentity.java
  minion/ignite-worker/src/main/resources/OSGI-INF/blueprint/horizon-ignite.xml
  minion/ipc/twin/twin-common/pom.xml
  minion/ipc/twin/twin-grpc/publisher/pom.xml
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-grpc/workflow/module/pom.xml
  minion/minion-grpc/workflow/module/src/main/java/org/opennms/horizon/minion/ignite/grpc/workflow/WorkflowSinkModule.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/java/org/opennms/horizon/minion/ignite/grpc/subscriber/ResultsConsumer.java
  minion/minion-grpc/workflow/workflow-subscriber/src/main/resources/OSGI-INF/blueprint/workflow-subscriber.xml
  minion/plugins/registration/pom.xml
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/PluginConfigSinkModule.java
  minion/plugins/registration/src/main/java/org/opennms/horizon/minion/registration/PluginRegistrationRouting.java
  minion/plugins/registration/src/main/resources/OSGI-INF/blueprint/registration.xml
  minion/pom.xml
  parent-pom/pom.xml
Due: none

Add permissions so ignite can query the Kubernetes API to locate other cluster members.
  dev/kubernetes.kafka.yaml
Due: run-job-dev

get all metrics for all minions
  ui/src/components/Appliances/MinionsTable.vue
  ui/src/graphql/Views/applianceQueries.graphql
  ui/src/store/Queries/applianceQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

New local port mapping scheme for Skaffold.
  skaffold.yaml
Due: none

HS-269: Retrieve managementIp for the node
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/rest/impl/DeviceRestServiceImpl.java
  platform/inventory/device/src/main/java/org/opennms/horizon/inventory/device/service/DeviceService.java
  platform/inventory/device/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: run-job-no-ops

Moving to horizon parent pom
  minion/assembly/pom.xml
  minion/docker-assembly/pom.xml
  minion/ignite-worker/pom.xml
  minion/ipc/echo/pom.xml
  minion/ipc/pom.xml
  minion/ipc/twin/pom.xml
  minion/ipc/twin/twin-api/pom.xml
  minion/ipc/twin/twin-common/pom.xml
  minion/ipc/twin/twin-grpc/pom.xml
  minion/ipc/twin/twin-grpc/publisher/pom.xml
  minion/ipc/twin/twin-grpc/subscriber/pom.xml
  minion/minion-features/pom.xml
  minion/minion-features/src/main/resources/features.xml
  minion/minion-grpc/pom.xml
  minion/minion-grpc/whiteboard/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-api/pom.xml
  minion/minion-grpc/whiteboard/whiteboard-core/pom.xml
  minion/minion-grpc/workflow/injector/pom.xml
  minion/minion-grpc/workflow/module/pom.xml
  minion/minion-grpc/workflow/pom.xml
  minion/minion-grpc/workflow/workflow-publisher/pom.xml
  minion/minion-grpc/workflow/workflow-subscriber/pom.xml
  minion/minion-metrics/pom.xml
  minion/model/pom.xml
  minion/plugins/ICMP/pom.xml
  minion/plugins/SNMP/pom.xml
  minion/plugins/WEB-LISTEN/pom.xml
  minion/plugins/plugins-api/pom.xml
  minion/plugins/pom.xml
  minion/plugins/registration/pom.xml
  minion/pom.xml
  minion/scheduler/pom.xml
  minion/tracing-stub/pom.xml
  parent-pom/pom.xml
Due: none

Moving to horizon parent pom
  minion/pom.xml
Due: none

Remove apiGroup "*" from K8S api permissions.
  dev/kubernetes.kafka.yaml
Due: run-job-dev

Minion Gateway as a multi-module project.
  minion-gateway/main/pom.xml
  minion-gateway/main/src/main/java/org/opennms/miniongateway/MinionGatewayMain.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/GrpcIpcServerConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/GrpcServerConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/MetricsConfig.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/stub/StubCloudToMinionMessageProcessor.java
  minion-gateway/main/src/main/java/org/opennms/miniongateway/grpc/server/stub/StubMinionToCloudProcessor.java
  minion-gateway/pom.xml
  skaffold.yaml
Due: none

HS-252: Updated ingress with ssl backend to get keycloak working
  charts/opennms/templates/opennms/opennms-api-deployment.yaml
  charts/opennms/templates/opennms/opennms-configmap.yaml
  charts/opennms/templates/opennms/opennms-ui-deployment.yaml
  charts/opennms/values.yaml
  local-sample/run.keytool.sh
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

HS-202: Notification service with skaffold
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationsRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/INotificationsService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationsService.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationsServiceTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationsRestControllerTest.java
Due: none

HS-202: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationsService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationsServiceImpl.java
Due: none

HS-202: code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/rest/NotificationRestController.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/INotificationService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/INotificationsService.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationsServiceImpl.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationRestControllerTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/rest/NotificationsRestControllerTest.java
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
