Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

Corrections to the tests names
  external-it/external-horizon-stream-it/pom.xml
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/DiscoveryTest.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

add pagination to alerts/listAlerts
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
Due: none

Add ADR for moving API contracts to a new repository
  doc/architecture/decisions/0002-store-cross-project-api-contracts-in-a-separate-repository.md
Due: none

HS-1061: Explicitly handle tenantId in notifications
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDao.java
  notifications/src/main/java/org/opennms/horizon/notifications/repository/PagerDutyConfigRepository.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPITest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumerTestHelper.java
  notifications/src/test/resources/org/opennms/horizon/notifications/notification-processing.feature
  rest-server/src/main/java/org/opennms/horizon/server/service/NotificationService.java
  shared-lib/notifications/src/main/proto/pagerDutyConfigDTO.proto
Due: run-job-no-ops

HS-1061: Decouple Tenant Resolver from GRPC context
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyAPIImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDao.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/PagerDutyDaoImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/config/GrpcConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/config/NotificationServerInterceptor.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/config/TenantContextLookupImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/config/TenantIdentifierResolver.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/service/NotificationGrpcService.java
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/TenantContext.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/WithTenant.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/WithTenantAspect.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyAPITest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumerIntegrationTestNoConfig.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumerTestHelper.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationsServiceImplTest.java
  notifications/src/test/resources/org/opennms/horizon/notifications/notification-grpc-processing.feature
  notifications/src/test/resources/org/opennms/horizon/notifications/notification-processing.feature
Due: none

code review comments
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/config/GrpcConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/grpc/service/NotificationGrpcService.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/TenantConfig.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/TenantContextLookupImpl.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/TenantIdentifierResolver.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/TenantLookup.java
  notifications/src/main/java/org/opennms/horizon/notifications/tenant/WithTenantAspect.java
Due: none

PR changes
  ui/src/components/Flows/ExpandingChartWrapper.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
Due: run-job-no-ops

HS-1259 Rework expansion panel
  ui/src/components/Alerts/AlertsCard.vue
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/components/Alerts/AlertsSeverityLabel.vue
  ui/src/containers/Alerts.vue
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/styles/vars.scss
Due: run-job-no-ops

HS-1183 - add to azure and passive discovery
  ui/src/components/Discovery/DiscoveryAzureForm.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
Due: run-job-no-ops

Added radio buttons filters for the charts. Added icon buttons. Added new Feather Object type.
  ui/src/components/Common/BasicChart.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
  ui/src/types/index.ts
Due: run-job-no-ops

HS-1183 - fix ts errors
  ui/src/components/Common/BasicAutocomplete.vue
  ui/src/components/Discovery/DiscoverySnmpForm.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

Rename FeatherType
  ui/src/containers/Flows.vue
  ui/src/types/index.ts
Due: run-job-no-ops

change back to postgressql db for testing
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
Due: none

HS-1259 Add tests
  ui/mock-graphql/src/helpers/random.ts
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/components/Alerts/AlertsSeverityLabel.vue
  ui/src/graphql/Alerts/alertsQueries.gql
  ui/src/store/Views/alertsStore.ts
  ui/tests/Alerts/alertsSeverityCard.test.ts
  ui/tests/Alerts/alertsSeverityFilters.test.ts
  ui/tests/Alerts/alertsSeverityLabel.test.ts
Due: run-job-no-ops

Add pagination to listAlerts
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
Due: run-job-no-ops

Discovery test
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/DiscoveryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/GQLQueryConstants.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

cleanup code
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
Due: none

data model and gRPC to create new policy
  alert/pom.xml
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/MonitorPolicy.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/PolicyRule.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/SNMPEvent.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/MonitorPolicyRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/MonitorPolicyGrpc.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/MonitorPolicyMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/PolicyRuleMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/SNMPEventMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/policy.xml
  alert/src/test/java/org/opennms/horizon/alertservice/AlertGrpcClientUtils.java
  shared-lib/alert/pom.xml
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: none

.github/ - added PrivateRepoEnabled condition to templates
  charts/opennms/templates/opennms/alert/alert-deployment.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/datachoices/datachoices-deployment.yaml
  charts/opennms/templates/opennms/events/events-deployment.yaml
  charts/opennms/templates/opennms/inventory/inventory-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
  charts/opennms/values.yaml
Due: none

.github/ - added PrivateRepoEnabled condition to templates
  charts/opennms/templates/opennms/alert/alert-deployment.yaml
  charts/opennms/templates/opennms/api/api-deployment.yaml
  charts/opennms/templates/opennms/datachoices/datachoices-deployment.yaml
  charts/opennms/templates/opennms/events/events-deployment.yaml
  charts/opennms/templates/opennms/inventory/inventory-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-deployment.yaml
  charts/opennms/templates/opennms/notification/notification-deployment.yaml
Due: none

update Tests and remove unused method
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLAlertsServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientDeadlineTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientTest.java
Due: run-job-no-ops

HS-1236 - using ip regex expressions
  ui/src/components/Discovery/DiscoveryContentEditable.vue
  ui/src/components/Discovery/discovery.constants.ts
Due: run-job-no-ops

trigger update
  charts/opennms/values.yaml
Due: none

Remove event param
  ui/src/containers/Flows.vue
Due: run-job-no-ops

move the background steps into the another class to shared with injection
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/BackGroundSteps.java
Due: none

HS-1218: As a user I want a list of nodes by a given name so that I can view them (#895)
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/NodeStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/node.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/repository/NodeRepository.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcNodeService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLNodeServiceTest.java
  shared-lib/inventory/src/main/proto/nodeService.proto
Due: run-job-no-ops

fix (#896)
  charts/opennms/values.yaml
Due: none

HS-1305: notifications test tidy up
  notifications/src/test/java/org/opennms/horizon/notifications/api/PagerDutyDaoTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/tenant/AspectTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/tenant/AspectTestHelper.java
Due: none

HS-1272: remove code related to TenantID annotation from inventory
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumer.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/IcmpActiveDiscoveryRepositoryTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/IpInterfaceRepositoryTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/repository/SnmpConfigRepositoryTest.java
Due: none

Discovery test changed
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/DiscoveryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/HorizonStreamTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/helper/TestsExecutionHelper.java
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

Discovery test corrections to cucumber test feature
  external-it/external-horizon-stream-it/src/main/resources/org/opennms/horizon/it/horizon-stream.feature
Due: run-job-external-it

HS-1183 - CR fixes and cleaning, fixing bugs
  ui/src/components/Common/BasicAutocomplete.vue
  ui/src/components/Discovery/DiscoveryAzureForm.vue
  ui/src/components/Discovery/DiscoverySnmpForm.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/components/Discovery/DiscoveryTypeSelector.vue
  ui/src/containers/Discovery.vue
  ui/src/graphql/Discovery/tagsByDiscoveryIdQuery.gql
  ui/src/graphql/Views/discoveryQueries.graphql
  ui/src/store/Queries/discoveryQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-1154 Tenant usage metrics.
  Tiltfile
  charts/opennms/templates/grafana/grafana-deployment.yaml
  charts/opennms/templates/grafana/grafana-secret.yaml
  charts/opennms/templates/opennms/events/events-deployment.yaml
  charts/opennms/templates/opennms/inventory/inventory-deployment.yaml
  charts/opennms/templates/opennms/metricsprocessor/metricsprocessor-deployment.yaml
  events/consumer/pom.xml
  events/consumer/src/main/java/org/opennms/horizon/events/consumer/EventsConsumer.java
  events/consumer/src/main/java/org/opennms/horizon/events/consumer/metrics/TenantMetricsTracker.java
  events/consumer/src/main/java/org/opennms/horizon/events/consumer/metrics/TenantMetricsTrackerImpl.java
  events/main/pom.xml
  events/main/src/main/resources/application.yml
  metrics-processor/main/pom.xml
  metrics-processor/main/src/main/java/org/opennms/horizon/flows/FlowProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tenantmetrics/TenantMetricsTracker.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tenantmetrics/impl/TenantMetricsTrackerImpl.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/MetricNameConstants.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/TSDataProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/TaskSetResultProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorAzureResponseProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorResultProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorSnmpResponseProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/detector/TaskSetDetectorResultProcessor.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/monitor/TaskSetMonitorResultProcessor.java
  metrics-processor/main/src/main/resources/application.yml
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/tsdata/TSDataProcessorTest.java
  metrics-processor/pom.xml
  metrics-processor/timeseries/pom.xml
Due: none

HS-1236 - cleaning
  ui/package.json
  ui/src/components/Discovery/DiscoveryContentEditable.vue
  ui/src/components/Discovery/DiscoverySnmpForm.vue
Due: run-job-no-ops

HS-1071: Add tags to discovered nodes (#893)
  inventory/docker-it/src/test/java/org/opennms/horizon/inventory/cucumber/steps/IcmpDiscoveryStepDefinitions.java
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/icmp-active-discovery.feature
  inventory/docker-it/src/test/resources/org/opennms/horizon/inventory/inventory-processing.feature
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/discovery/active/IcmpActiveDiscoveryService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
Due: none

Add filter to list alerts
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEngine.java
  alert/src/main/resources/application.yaml
  alert/src/test/java/org/opennms/horizon/alertservice/grpc/AbstractGrpcUnitTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/grpc/AlertGrpcServiceTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/AlertResponse.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLAlertsServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientDeadlineTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientTest.java
  shared-lib/events/src/main/proto/alerts.proto
Due: run-job-no-ops

cleanup code
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/resources/application.yaml
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
Due: none

HS-1304: Correct the deployment names in tools/MINION.add-ssh and tools/MINION.bash
  tools/MINION.add-ssh
  tools/MINION.bash
Due: run-job-no-ops

WTF: Simplify Flow parsers
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/FlowsListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/GracefulShutdownListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/Listener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/TcpListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/UdpListener.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/ListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/TcpListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/listeners/factory/UdpListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/FlowsListenerFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixTcpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/IpfixUdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ListenerHolder.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow5UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/Netflow9UdpParser.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/TelemetryRegistry.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/TelemetryRegistryImpl.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/UdpParserBase.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixTcpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/IpfixUdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow5UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/factory/Netflow9UdpParserFactory.java
  minion/minion-flows/flows-parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/FlowsListenerTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ListenerHolderTest.java
Due: none

Line Chart created
  ui/components.d.ts
  ui/src/components/Flows/LineChart.vue
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
  ui/src/types/flows.d.ts
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
