Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

minor change
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
Due: none

HS-1382 Fix tests
  ui/src/containers/Alerts.vue
  ui/src/store/Views/alertsStore.ts
  ui/tests/Alerts/alertsCard.test.ts
  ui/tests/Alerts/alertsCardList.test.ts
  ui/tests/Alerts/alertsSeverityCard.test.ts
  ui/tests/Alerts/alertsSeverityFilters.test.ts
  ui/tests/Alerts/alertsSeverityLabel.test.ts
  ui/tests/fixture/alerts.ts
  ui/tests/fixture/data/alerts.ts
  ui/tests/fixture/data/discovery.ts
  ui/tests/fixture/data/minions.ts
  ui/tests/helpers/random.ts
Due: run-job-no-ops

Get latest. Add PR comments
  ui/components.d.ts
  ui/src/containers/Flows.vue
  ui/src/store/Views/flowsStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-1380 Send monitoring policy to Notification service over Kafka
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/MonitorPolicy.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/routing/KafkaConfig.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/routing/KafkaProducer.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/routing/MonitoringPolicyKafkaProducer.java
  alert/src/main/resources/application.yaml
  alert/src/test/java/org/opennms/horizon/alertservice/service/routing/MonitoringPolicyKafkaProducerTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/BackgroundSteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
Due: none

disable the flaking tests for demo
  alert/src/test/java/org/opennms/horizon/alertservice/CucumberRunnerIT.java
Due: none

HS-1378: Default policy call & copy template (#962)
  ui/src/components/Common/BasicAutocomplete.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCard.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCardAlertRow.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesEventCondition.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesPolicyForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesRuleForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesSaveButtons.vue
  ui/src/components/MonitoringPolicies/monitoringPolicies.constants.ts
  ui/src/graphql/Views/monitoringPolicies.graphql
  ui/src/store/Queries/monitoringPoliciesQueries.ts
  ui/src/store/Views/monitoringPoliciesStore.ts
  ui/src/types/graphql.ts
  ui/src/types/policies.d.ts
  ui/tests/MonitoringPolicies/monitoringPolicies.test.ts
Due: run-job-no-ops

Only call pagerDuty once if there are multiple monitoring policies for an alert that have the pager duty flag set
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationServiceImplTest.java
Due: none

HS-1343: Updates required to get snmp metrics for all interfaces (#947)
  Tiltfile
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/model/IpInterface.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/IpInterfaceService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/SnmpConfigService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/CollectorTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/ScannerTaskSetService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/main/resources/db/changelog/hs-0.1.0/tables/node-scan-schema.xml
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/publiser/ScannerTaskSetServiceTest.java
  metrics-processor/main/src/main/java/org/opennms/horizon/tsdata/collector/TaskSetCollectorSnmpResponseProcessor.java
  minion/minion-taskset/taskset-worker/src/main/java/org/opennms/horizon/minion/taskset/worker/ignite/IgniteMetricsAdapter.java
  minion/minion-traps/listener/src/main/java/org/opennms/horizon/minion/traps/listener/TrapListener.java
  minion/plugins/snmp-plugin/src/main/java/org/opennms/horizon/minion/snmp/SnmpCollector.java
  shared-lib/protobuf/src/main/proto/snmp.proto
Due: none

First UI test to login into the cloud env
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/HSCucumberRunnerTest.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/TextReport.java
  external-it/hs-system-tests/src/test/resources/features/system-tests.feature
Due: run-job-external-it

HS-859: code review; added extra test case, refactored test structure
  operator/internal/reconciler/health_check_test.go
  operator/internal/reconciler/opennms_reconciler.go
Due: none

HS-859: compile error fix
  operator/internal/reconciler/health_check_test.go
Due: none

HS-859: added preconditions and results to test method names
  operator/internal/reconciler/health_check_test.go
Due: none

HS-859: use method case in test method name
  operator/internal/reconciler/health_check_test.go
Due: none

HS-859: test method name adjustment
  operator/internal/reconciler/health_check_test.go
Due: none

Fixed the error and cucumber test: short term solution
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertDefinitionRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/MonitorPolicyMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/PolicyRuleMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/TriggerEventMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
  alert/src/test/java/org/opennms/horizon/alertservice/CucumberRunnerIT.java
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
Due: none

HS-1382 Fix tests
  ui/components.d.ts
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/containers/Alerts.vue
  ui/src/store/Views/alertsStore.ts
  ui/tests/Alerts/alerts.test.ts
Due: run-job-no-ops

HS-1382 Some cleanup
  ui/tests/Alerts/alertsCard.test.ts
  ui/tests/Alerts/alertsCardList.test.ts
  ui/tests/fixture/data/alerts.ts
  ui/tests/fixture/data/discovery.ts
  ui/tests/fixture/data/minions.ts
Due: run-job-no-ops

HS-1382 Cleanup
  ui/tests/helpers/random.ts
Due: run-job-no-ops

Fix property not overwritten by env variable
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops

HS-1388: Fix azure location, add test, fix test directive warnings (#965)
  ui/src/components/Discovery/DiscoveryAzureForm.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesRuleForm.vue
  ui/tests/Discovery/discoveryAzureForm.test.ts
  ui/tests/Discovery/discoverySyslogSNMPTrapsForm.test.ts
  ui/tests/MonitoringPolicies/monitoringPolicies.test.ts
  ui/tests/mountWithPiniaVillus.ts
Due: run-job-no-ops

add more debug message (#967)
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
Due: none

Update with more explanations and adding properties file, Locators file
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/utils/Locators.java
  external-it/hs-system-tests/src/test/resources/selenide.properties
Due: run-job-external-it

Use wrapper chartjs library
  ui/package.json
  ui/src/components/Flows/LineChart.vue
  ui/src/components/Flows/TableChart.vue
  ui/yarn.lock
Due: run-job-no-ops

HS-1259 Adjust colours
  ui/src/containers/Alerts.vue
  ui/src/styles/_severities.scss
Due: run-job-no-ops

HS-1259 Set pagination first page on filter change, fix pills colour for dark mode
  ui/components.d.ts
  ui/src/containers/Alerts.vue
  ui/src/graphql/Alerts/alertsQueries.gql
  ui/src/store/Queries/alertsQueries.ts
  ui/src/store/Views/alertsStore.ts
  ui/src/types/alerts.d.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Add Data type, Update Bytes method to handle 0
  ui/src/components/Flows/LineChart.vue
  ui/src/components/Flows/TableChart.vue
  ui/src/store/Views/flowsStore.ts
  ui/src/types/index.ts
Due: run-job-no-ops

RELEASE v0.0.32-dev - release
  CHANGELOG/changelog-v0.0.32-dev.md
Due: none

HS-1259 Tweak severity pills css colors
  ui/src/components/Alerts/AlertsSeverityLabel.vue
  ui/src/styles/_severities.scss
Due: run-job-no-ops

HS-1390: fix flaky test (#968)
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumer.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/IpInterfaceService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/MinionHeartbeatConsumerTest.java
  metrics-processor/main/src/test/java/org/opennms/horizon/flows/FlowProcessorTest.java
Due: none

HS-1259 Pills colour are still not good visually
  ui/src/components/Alerts/AlertsSeverityLabel.vue
  ui/src/styles/_severities.scss
Due: run-job-no-ops

update Copyrights
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/HSCucumberRunnerTest.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/TextReport.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/utils/Locators.java
Due: run-job-external-it

HS-1294 - add graph with mock data
  ui/src/components/Common/BasicChart.vue
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/components/Dashboard/DashboardHeaderLinks.vue
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops

Update minion gateway ingress configuration to rely on dedicated TLS secrets.
  Tiltfile
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-client-secret.yaml
  charts/opennms/templates/opennms/minion-ssl-gateway/minion-ssl-gateway-tls-secret.yaml
  charts/opennms/templates/opennms/minion/minion-gateway-ingress.yaml
  charts/opennms/values.yaml
  tools/SSL/keystore.p12
Due: run-job-no-ops

Additional validation endpoint for client certs.
  charts/opennms/values.yaml
Due: none

HS-1294 - fix color
  ui/src/components/Dashboard/DashboardApplications.vue
Due: run-job-no-ops

HS-1382 Rename alerts list query
  ui/src/graphql/Alerts/alertsQueries.gql
  ui/src/store/Queries/alertsQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

Fixed the alert definition schema and rollback the UEI/keys in TriggerEvent
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/AlertDefinition.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/TriggerEvent.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/TriggerEventRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert_definition_trigger_fk.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/remove_uei_keys_trigger_event.xml
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: none

Updating to more clearly specify client certificate used with the minions.
  doc/architecture/decisions/0003-always-use-secure-minion-connections.md
Due: none

Reword and reorder some of the Decision section
  doc/architecture/decisions/0002-store-cross-project-api-contracts-in-a-separate-repository.md
Due: none

HS-1294 - mobile and dark mode config
  ui/src/components/Common/BasicChart.vue
  ui/src/components/Dashboard/DashboardApplications.vue
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
