Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

fixed the UI test
  ui/src/store/Views/monitoringPoliciesStore.ts
Due: run-job-no-ops

[HS-1430] Prepare an instance and minion before cloud tests
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudLeftPanelPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudLoginPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/MinionSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/AppliancesSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLeftPanelSteps.java
  external-it/hs-system-tests/src/test/java/testcontainers/MinionContainer.java
  external-it/hs-system-tests/src/test/resources/cloud-features/system-tests.feature
  external-it/hs-system-tests/src/test/resources/features/system-tests.feature
  external-it/hs-system-tests/src/test/resources/portal-features/create-instance.feature
Due: run-job-external-it

Adjust router variable name to be less ambiguous, use markRaw
  ui/src/components/Layout/NavigationRail.vue
  ui/src/components/Layout/NavigationRailNavItem.vue
Due: run-job-no-ops

[HS-1480] Add Udpgen container that sends flows traffic to test minion
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/UdpGenSteps.java
  external-it/hs-system-tests/src/test/java/testcontainers/MinionContainer.java
  external-it/hs-system-tests/src/test/java/testcontainers/UpdGenContainer.java
Due: run-job-external-it

PR review comments
  ui/src/components/MonitoringPolicies/MonitoringPoliciesEventCondition.vue
Due: run-job-no-ops

Improve test coverage for rest-server
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClientTest.java
Due: run-job-no-ops

Add Line chart traffic. Refactor performance.
  ui/src/components/Flows/LineChart.vue
  ui/src/components/Flows/TableChart.vue
  ui/src/containers/Flows.vue
  ui/src/dtos/chartJS.dto.ts
  ui/src/store/Views/flowsStore.ts
  ui/tests/Flows/flows.test.ts
Due: run-job-no-ops

fix code smells
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLMinionCertificateManagerTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClientTest.java
Due: run-job-no-ops

Fixed cucumber tests
  alert/src/test/resources/org/opennms/horizon/alertservice/threshold.feature
Due: none

HS-1399 Add Velocity template for alert notification emails
  notifications/pom.xml
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/EmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/SmtpEmailAPI.java
  notifications/src/main/java/org/opennms/horizon/notifications/api/email/Velocity.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/main/resources/alert.html.vm
  notifications/src/main/resources/application.yml
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/email/SmtpEmailAPITest.java
  notifications/src/test/java/org/opennms/horizon/notifications/api/email/VelocityTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationServiceImplTest.java
  notifications/src/test/resources/application.yml
  notifications/src/test/resources/test.txt.vm
  parent-pom/pom.xml
Due: none

HS-1376 Address review feedback
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
Due: none

HS-1376 Include monitoring policy ID in generated alerts
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/Alert.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/MonitorPolicyRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertMapper.java
  alert/src/test/java/org/opennms/horizon/alertservice/service/AlertEventProcessorTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/service/AlertMapperTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
Due: none

Remove uri-query-based theme in favour of localStorage
  keycloak-ui/themes/horizon-stream/common/resources/js/mode.js
  ui/src/App.vue
  ui/src/composables/useTheme.ts
  ui/src/main.ts
Due: run-job-no-ops

[HS-1489] Update locators for portal
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/AddNewInstancePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/DeleteInstancePopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/EditInstancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalLoginPage.java
Due: run-job-external-it

[HS-1461] Add cleanup step.
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/ServiceGenerator.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/OktaEndpoints.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/PortalApi.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/PortalEndpoints.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/models/AuthnRequest.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/models/AuthnResponse.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/models/BtoInstanceRequest.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/models/BtoInstancesResponse.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/api/portal/models/TokenResponse.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/keyvalue/SecretsStorage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/PortalCloudPage.java
Due: run-job-external-it

HS-1309: pure white-box unit test for MinionCertificateManagerClient.
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClientTest.java
  rest-server/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: run-job-no-ops

HS-1293 - add endpoint, get data, fix types
  ui/src/components/Dashboard/DashboardApplications.vue
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/components/Dashboard/dashboardNetworkTraffic.config.ts
  ui/src/graphql/Views/dashboardQueries.graphql
  ui/src/store/Queries/dashboardQueries.ts
  ui/src/store/Views/dashboardStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-1293 - add time range for alerts in dashboard
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops

HS-1421: Add Total network bytes IN/OUT with range query (#1007)
  charts/opennms/values.yaml
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/TSDBMetricsService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/normalization/Constants.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/java/org/opennms/horizon/server/metrics/DurationRangeTest.java
Due: run-job-no-ops

HS-1475: Allow for clearing thresholded alerts
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEngine.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/test/resources/org/opennms/horizon/alertservice/threshold.feature
Due: none

HS-1475: add test
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEventProcessor.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/threshold.feature
Due: none

HS-1451 Reenable ClockSkew test and remove IllegalFlowTest
  minion/docker-it/src/test/java/org/opennms/horizon/dockerit/testcontainers/TestContainerRunnerClassRule.java
  minion/minion-flows/flows-parser/src/main/java/org/opennms/horizon/minion/flows/parser/ParserBase.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ClockSkewTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/IllegalFlowTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/ParserTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/PayloadTest.java
  minion/minion-flows/flows-parser/src/test/java/org/opennms/horizon/minion/flows/parser/RecordEnricherTest.java
Due: none

prevent create multiple nodes when receiving trap events for the same IP in short time.
  alert/src/main/java/org/opennms/horizon/alertservice/service/routing/EventConsumer.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/NodeMonitoringManager.java
Due: none

HS-1293 - add to alerts subtitle, dark mode fix for network
  minion/assembly/runInPlace.sh
  ui/src/components/Dashboard/DashboardCard.vue
  ui/src/components/Dashboard/DashboardNetworkTraffic.vue
  ui/src/components/Dashboard/dashboard.text.ts
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops

HS-1293 - fix indent in java files, fix some styles
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/TSDBMetricsService.java
  ui/src/components/Dashboard/DashboardCard.vue
  ui/src/components/Dashboard/dashboardNetworkTraffic.config.ts
Due: run-job-no-ops

fixed the unit test
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/NodeMonitoringManagerTest.java
Due: none

HS-1293 - fix paddings
  ui/src/components/Dashboard/DashboardCard.vue
Due: run-job-no-ops

Appliances page object
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudLeftPanelPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/portal/AppliancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/MinionSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ApplianceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLeftPanelSteps.java
  external-it/hs-system-tests/src/test/resources/cloud-features/appliance-tests.feature
  external-it/hs-system-tests/src/test/resources/cloud-features/system-tests.feature
Due: run-job-external-it

Code cleanup
  minion-certificate-manager/docker-it/src/test/java/org/opennms/horizon/minioncertmanager/DynamicTenantIdInterceptor.java
  minion-certificate-manager/docker-it/src/test/java/org/opennms/horizon/minioncertmanager/MinionCertificateManagerGrpcClientUtils.java
  minion-certificate-manager/docker-it/src/test/java/org/opennms/horizon/minioncertmanager/stepdefs/BackgroundSteps.java
  minion-certificate-manager/docker-it/src/test/java/org/opennms/horizon/minioncertmanager/stepdefs/MinionCertificateManagerTestSteps.java
  minion-certificate-manager/docker-it/src/test/java/org/opennms/horizon/minioncertmanager/testcontainers/TestContainerRunnerClassRule.java
  minion-certificate-manager/docker-it/src/test/resources/org/opennms/horizon/minioncertmanager/minion-certificate-manager.feature
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/certificate/CommandExecutor.java
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/grpc/GrpcConfig.java
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/grpc/GrpcTenantLookupImpl.java
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/grpc/MinionCertServerInterceptor.java
  minion-certificate-manager/main/src/main/java/org/opennms/horizon/minioncertmanager/grpc/TenantLookup.java
Due: none

HS-1293: Revert formatting
  rest-server/src/main/java/org/opennms/horizon/server/service/metrics/TSDBMetricsService.java
Due: run-job-no-ops

Check after each test that MINION has only DEFAULT minion, and start new one previous test stopped it.
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/CucumberHooks.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/AppliancePage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/CloudLeftPanelPage.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/pages/cloud/ConfirmDeleteMinionPopup.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/MinionSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ApplianceSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/CloudLeftPanelSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/steps/cloud/ConfirmDeleteMinionSteps.java
  external-it/hs-system-tests/src/test/java/testcontainers/MinionContainer.java
  external-it/hs-system-tests/src/test/resources/cloud-features/appliance-tests.feature
Due: run-job-external-it

Add deadline to grpc call for getMinionCert
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClient.java
Due: run-job-no-ops

Revert "HS-1309: pure white-box unit test for MinionCertificateManagerClient."
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClientTest.java
  rest-server/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: run-job-no-ops

Add deadline to grpc call for getMinionCert
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/MinionCertificateManagerClientTest.java
Due: run-job-no-ops

review comments
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/NodeMonitoringManager.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/NodeMonitoringManagerTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
Due: none

HS-1496 Make sure ssl context is configured only if input files do exist.
  minion/assembly/src/main/resources/etc/org.opennms.core.ipc.grpc.client.cfg
  minion/docker-it/src/test/java/org/opennms/horizon/dockerit/testcontainers/TestContainerRunnerClassRule.java
  minion/minion-grpc/grpc-client/src/main/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImpl.java
  minion/minion-grpc/grpc-client/src/test/java/org/opennms/horizon/minion/grpc/ssl/MinionGrpcSslContextBuilderFactoryImplTest.java
Due: none

review comments
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
Due: none

throw exception when IP address exist for the same tenant and location
  inventory/main/src/main/java/org/opennms/horizon/inventory/component/NodeMonitoringManager.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/exception/EntityExistException.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/grpc/NodeGrpcService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/NodeService.java
  inventory/main/src/main/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseService.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/component/NodeMonitoringManagerTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/grpc/NodeGrpcServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/NodeServiceTest.java
  inventory/main/src/test/java/org/opennms/horizon/inventory/service/taskset/response/ScannerResponseServiceIntTest.java
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
