Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

Adding more logging to tests
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/InventoryTestSteps.java
Due: run-job-external-it

Alerts - Endpoint changes required for FE
  alert/src/main/java/org/opennms/horizon/alertservice/api/AlertService.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEngine.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertServiceImpl.java
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/AlertMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/AlertError.java
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/DeleteAlertResponse.java
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/ListAlertResponse.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLAlertsServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientDeadlineTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientTest.java
  shared-lib/events/src/main/proto/alerts.proto
Due: run-job-no-ops

HS-907: Integrate BFF with Flows Querier APIs (gRPC) (#924)
  parent-pom/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/config/ConfigurationUtil.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/flows/FlowingPointMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/mapper/flows/TrafficSummaryMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/model/flows/FlowingPoint.java
  rest-server/src/main/java/org/opennms/horizon/server/service/flows/FlowClient.java
  rest-server/src/main/java/org/opennms/horizon/server/service/flows/GrpcFlowService.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/java/org/opennms/horizon/server/service/flows/FLowClientTest.java
Due: run-job-no-ops

HS-1354 - fix tooltip for ip/port
  ui/src/components/Discovery/DiscoveryContentEditable.vue
  ui/src/components/Discovery/DiscoverySnmpForm.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/components/Discovery/discovery.text.ts
Due: run-job-no-ops

rename next_page and last_page add timeRange to graphql request fix unit test
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/TimeRange.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLAlertsServiceTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientDeadlineTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/grpc/AlertsClientTest.java
  shared-lib/events/src/main/proto/alerts.proto
Due: run-job-no-ops

fix basic autocomplete preselected items
  ui/src/components/Common/BasicAutocomplete.vue
  ui/src/components/MonitoringPolicies/MonitoringPoliciesCard.vue
Due: run-job-no-ops

add latest generated types
  ui/src/types/graphql.ts
Due: run-job-no-ops

Add all endpoints
  ui/src/graphql/Flows/chartQueries.graphql
  ui/src/store/Queries/flowsQueries.ts
  ui/src/store/Views/flowsStore.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

add default monitoring policy
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/TriggerEvent.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/MonitorPolicyRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/MonitorPolicyGrpc.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/PolicyRuleMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/mapper/TriggerEventMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/test/java/org/opennms/horizon/alertservice/AlertGrpcClientUtils.java
  alert/src/test/java/org/opennms/horizon/alertservice/CucumberRunnerIT.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
  rest-server/src/main/java/org/opennms/horizon/server/mapper/alert/TriggerEventMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcAlertService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/AlertsClient.java
  rest-server/src/test/java/org/opennms/horizon/server/mapper/alert/MonitorPolicyMapperTest.java
  shared-lib/alert/src/main/proto/monitoringPolicy.proto
Due: run-job-no-ops

HS-1259 Adjust with endpoint updates
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/components/Alerts/alerts.constant.ts
  ui/src/containers/Alerts.vue
  ui/src/graphql/Alerts/alertsMutations.gql
  ui/src/graphql/Alerts/alertsQueries.gql
  ui/src/store/Queries/alertsQueries.ts
  ui/src/store/Views/alertsStore.ts
  ui/src/types/alerts.d.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

remove TenantId annotation in alert service, remove dto-model from shared-lib
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/Alert.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/AlertDefinition.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/EventMatch.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/MonitorPolicy.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/PolicyRule.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/TenantAwareEntity.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/TriggerEvent.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/tenant/TenantIdentifierResolver.java
  shared-lib/dto-model/pom.xml
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/AbstractCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/datachoices/UsageStatisticsReportDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceCreateDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/DeviceDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/LocationCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/device/LocationDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/MinionCollectionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/MinionDTO.java
  shared-lib/dto-model/src/main/java/org/opennms/horizon/shared/dto/minion/Status.java
  shared-lib/pom.xml
Due: none

HS-1259 Adjust pagination
  ui/src/containers/Alerts.vue
  ui/src/store/Queries/alertsQueries.ts
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

fix/rename nextPage in ListAlertResponse.java
  rest-server/src/main/java/org/opennms/horizon/server/model/alerts/ListAlertResponse.java
Due: run-job-no-ops

create default policy with system-tenant and add endpoint to retrieve the default policy with any tenant
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/test/java/org/opennms/horizon/alertservice/CucumberRunnerIT.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/MonitorPolicySteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/monitor-policy.feature
Due: none

HS-1354
  ui/src/components/Discovery/DiscoveryListCard.vue
Due: run-job-no-ops

HS-1259 Update findAllAlerts api
  ui/src/components/Alerts/AlertsSeverityCard.vue
  ui/src/graphql/Alerts/alertsQueries.gql
  ui/src/store/Queries/alertsQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-1353 - Added yaml for postgres keycloak testing (#931)
  install-local/postgres-for_testing_keycloak_realm_update.yaml
Due: none

HS-1140: Use monitoring policy to send notifications
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumer.java
  notifications/src/main/java/org/opennms/horizon/notifications/service/NotificationService.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlertKafkaConsumerUnitTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/service/NotificationsServiceImplTest.java
  notifications/src/test/resources/org/opennms/horizon/notifications/notification-processing.feature
  shared-lib/events/src/main/proto/alerts.proto
Due: none

Adding ADR on only allowing secure minion connections.
  doc/architecture/decisions/0003-always-use-secure-minion-connections.md
Due: none

HS-1354 - fix ts errors
  ui/src/components/Discovery/DiscoveryContentEditable.vue
Due: run-job-no-ops

HS-1094 - fix texts
  ui/src/components/Discovery/DiscoveryListCard.vue
  ui/src/components/Discovery/DiscoverySuccessModal.vue
  ui/src/components/Discovery/discovery.text.ts
Due: run-job-no-ops

HS-1329: GRPC logging of connection attempts and failures. Uses a work-around to get logging with SLF4J at INFO level instead of JUL logging at TRACE (FINER / FINEST) level.
  alert/pom.xml
  datachoices/pom.xml
  events/grpc/pom.xml
  inventory/main/pom.xml
  inventory/testtools/minion-gateway-wiremock/minion-gateway-wiremock-main/pom.xml
  metrics-processor/flows/pom.xml
  minion-gateway-grpc-proxy/main/pom.xml
  minion-gateway/ipc-grpc-server/pom.xml
  minion-gateway/rpc-request-server/pom.xml
  minion/minion-3rdParty/shaded-grpc/pom.xml
  minion/minion-grpc/grpc-client/pom.xml
  minion/minion-ipc/twin-core/pom.xml
  minion/pom.xml
  minion/testtools/minion-gateway-wiremock/minion-gateway-wiremock-main/pom.xml
  notifications/pom.xml
  parent-pom/pom.xml
  rest-server/pom.xml
  shared-lib/pom.xml
  shared-lib/shaded-grpc-core/pom.xml
  shared-lib/shaded-grpc-core/src/main/java/io/grpc/internal/ChannelLoggerImpl.java
Due: run-job-no-ops

HS-1356: Add relation between alert definitions and trigger events (#935)
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/TriggerEvent.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_default.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert_definition_trigger.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert_definition_trigger_fk.xml
Due: none

HS-1094 - clean unused and add space
  ui/src/components/Discovery/DiscoverySuccessModal.vue
Due: run-job-no-ops

HS-1371 Fix missing fallback value for configuration property.
  notifications/src/main/resources/application.yml
Due: none

PR review
  alert/src/main/java/org/opennms/horizon/alertservice/service/MonitorPolicyService.java
  alert/src/test/java/org/opennms/horizon/alertservice/AlertGrpcClientUtils.java
  alert/src/test/java/org/opennms/horizon/alertservice/testcontainers/TestContainerRunnerClassRule.java
Due: none

HS-1259 Add required contrained layout width of 1128px
  ui/src/components/Alerts/AlertsSeverityFilters.vue
  ui/src/containers/Alerts.vue
Due: run-job-no-ops

Remove AlertList
  shared-lib/events/src/main/proto/alerts.proto
Due: none

Fix cucumber test
  alert/src/main/resources/db/changelog/hs-0.1.0/data/alert_definition_test_data.xml
Due: none

HS-1291 - add dashboard and links
  ui/src/components/Dashboard/HeaderLinks.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/Dashboard.vue
  ui/src/router/index.ts
Due: run-job-no-ops

HS-1291 - small fix and cleaning
  ui/src/containers/Dashboard.vue
Due: run-job-no-ops

Rename primary key for alert to id
  alert/src/main/java/org/opennms/horizon/alertservice/api/AlertService.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/entity/Alert.java
  alert/src/main/java/org/opennms/horizon/alertservice/db/repository/AlertRepository.java
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertEngine.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertMapper.java
  alert/src/main/java/org/opennms/horizon/alertservice/service/AlertServiceImpl.java
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert.xml
  alert/src/test/java/org/opennms/horizon/alertservice/service/AlertMapperTest.java
Due: none

Fix unit test
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLAlertsServiceTest.java
Due: run-job-no-ops

HS-1259 Add max-width constrained
  ui/src/containers/Alerts.vue
  ui/src/styles/vars.scss
Due: run-job-no-ops

Adding Selenic to manage Selenium driver download
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/main/java/org/opennms/horizon/systemtests/CucumberRunner.java
  external-it/hs-system-tests/src/main/java/org/opennms/horizon/systemtests/SystemTestMain.java
  external-it/hs-system-tests/src/main/java/org/opennms/horizon/systemtests/utils/HSWebDriver.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/HSCucumberRunnerTest.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/TextReport.java
  external-it/hs-system-tests/src/test/resources/org.opennms.horizon.systemtests/system-tests.feature
Due: run-job-external-it

HS-1259 Remove commented line
  ui/src/components/Layout/NavigationRail.vue
Due: run-job-no-ops

Remove redundant dependencies
  external-it/hs-system-tests/pom.xml
  external-it/hs-system-tests/src/main/java/org/opennms/horizon/systemtests/CucumberRunner.java
  external-it/hs-system-tests/src/main/java/org/opennms/horizon/systemtests/SystemTestMain.java
  external-it/hs-system-tests/src/main/java/org/opennms/horizon/systemtests/utils/HSWebDriver.java
  external-it/hs-system-tests/src/test/java/org/opennms/horizon/systemtests/LoginSteps.java
  external-it/hs-system-tests/src/test/resources/org.opennms.horizon.systemtests/system-tests.feature
Due: run-job-external-it

HS-1259 Init commit
  ui/src/store/Views/alertsStore.ts
Due: run-job-no-ops

Put the update id in another changeset
  alert/src/main/java/org/opennms/horizon/alertservice/grpc/AlertGrpcService.java
  alert/src/main/resources/db/changelog/changelog.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/alert.xml
  alert/src/main/resources/db/changelog/hs-0.1.0/tables/update_alert_id.xml
  alert/src/test/java/org/opennms/horizon/alertservice/CucumberRunnerIT.java
  alert/src/test/java/org/opennms/horizon/alertservice/grpc/AlertGrpcServiceTest.java
  alert/src/test/java/org/opennms/horizon/alertservice/stepdefs/AlertTestSteps.java
  alert/src/test/resources/org/opennms/horizon/alertservice/alert.feature
Due: none

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
