Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

HS-927: add IPAddressRange & IPPortRange for flow classification (#724)
  shared-lib/horizon-common-utils/src/main/java/org/opennms/horizon/shared/utils/IPAddressRange.java
  shared-lib/horizon-common-utils/src/main/java/org/opennms/horizon/shared/utils/IPPortRange.java
  shared-lib/horizon-common-utils/src/test/java/org/opennms/horizion/shared/utils/IPAddressRangeTest.java
Due: none

HS-980 - fix passive discovery, add responsive, remove custom variable
  ui/src/components/Discovery/DiscoveryMenu.vue
  ui/src/containers/Discovery.vue
  ui/src/styles/vars.scss
Due: run-job-no-ops

HS-940 Update notifications topic and use tenant id header (#725)
  notifications/src/main/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumer.java
  notifications/src/main/resources/application.yml
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTestNoConfig.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerUnitTest.java
  notifications/src/test/resources/application.yml
Due: none

HS-991 - fix CR
  ui/src/components/Discovery/DiscoveryListCard.vue
  ui/src/components/Discovery/EditDiscovery.vue
  ui/src/containers/Discovery.vue
  ui/src/types/discovery.d.ts
Due: run-job-no-ops

HS-991 - remove duplicated
  ui/src/components/Discovery/EditDiscovery.vue
Due: run-job-no-ops

HS-953 - location autocomplete
  ui/src/components/Discovery/EditDiscovery.vue
  ui/src/components/Discovery/LocationsAutocomplete.vue
  ui/tests/Discovery/locationsAutocomplete.test.ts
Due: run-job-no-ops

HS-1007 Initial
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
Due: run-job-no-ops

HS-1007 Add basic syslog snmp traps component
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/components/Discovery/discovery.constants.ts
  ui/src/components/Discovery/discovery.text.ts
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-1007 Add style
  ui/src/components/Common/Icon.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/containers/Discovery.vue
  ui/src/types/index.ts
Due: run-job-no-ops

HS-955 Rework layout to be used as-is
  ui/src/components/Common/Icon.vue
  ui/src/components/Common/PageHeadline.vue
  ui/src/components/Discovery/discovery.constants.ts
  ui/src/components/Discovery/discovery.text.ts
  ui/src/containers/Discovery.vue
  ui/src/types/index.ts
Due: run-job-no-ops

HS-955 Remove commented element
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-955 Minor change
  ui/src/components/Discovery/discovery.text.ts
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-1007 Minor text change
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/components/Discovery/discovery.text.ts
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-1007 Remove unnecessary import
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-955 Remove unnecessary import
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

HS-572 Need to validate
  Tiltfile
Due: none

HS-959: Remove HSQL in memory database in tests in favour of postgres
  notifications/pom.xml
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationCucumberTestSteps.java
  notifications/src/test/java/org/opennms/horizon/notifications/NotificationsApplicationTests.java
  notifications/src/test/java/org/opennms/horizon/notifications/SpringContextTestInitializer.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTest.java
  notifications/src/test/java/org/opennms/horizon/notifications/kafka/AlarmKafkaConsumerIntegrationTestNoConfig.java
  notifications/src/test/resources/application.yml
  notifications/src/test/resources/logback.xml
Due: none

HS-994: Inventory Security Vulnerabilities (#733)
  charts/opennms/values.yaml
  install-local/install-local-opennms-horizon-stream-custom-images-values.yaml
  install-local/install-local-opennms-horizon-stream-values.yaml
  inventory/src/main/java/org/opennms/horizon/inventory/mapper/EncryptAttributeConverter.java
  inventory/src/main/resources/application.yml
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/AzureCredentialGrpcItTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/mapper/EncryptAttributeConverterTest.java
  inventory/src/test/resources/application.yml
Due: none

HS-993: Remove locations when all monitoring systems are deleted (#717)
  inventory/src/main/java/org/opennms/horizon/inventory/repository/MonitoringSystemRepository.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/ConfigUpdateService.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/FlowsConfigService.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/MonitoringSystemService.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/TrapConfigService.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/GrpcTestBase.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/MonitoringSystemGrpcItTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/service/taskset/response/DetectorResponseServiceIntTest.java
Due: none

HS-962 Bump keycloak version (#731)
  external-it/external-horizon-stream-it/pom.xml
  parent-pom/pom.xml
Due: run-job-external-it

HS-1014: Inventory - Get All Tags: Fetch a list of tags (#737)
  external-it/external-horizon-stream-it/src/main/java/org/opennms/horizon/it/KeycloakTestSteps.java
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/TagGrpcService.java
  inventory/src/main/java/org/opennms/horizon/inventory/repository/TagRepository.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/TagService.java
  inventory/src/test/java/org/opennms/horizon/inventory/cucumber/steps/NodeTaggingStepDefinitions.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/TagGrpcItTest.java
  inventory/src/test/resources/org/opennms/horizon/inventory/node-tagging.feature
  rest-server/src/main/java/org/opennms/horizon/server/service/GrpcTagService.java
  rest-server/src/main/java/org/opennms/horizon/server/service/grpc/InventoryClient.java
  rest-server/src/test/java/org/opennms/horizon/server/service/GraphQLTagServiceTest.java
  shared-lib/inventory/src/main/proto/tagService.proto
Due: run-job-no-ops, run-job-external-it

Add scaffolding for synthetic transactions (#734)
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/SyntheticTransactions.vue
  ui/src/router/index.ts
  ui/src/store/Views/syntheticTransactionsStore.ts
  ui/tests/SyntheticTransactions/syntheticTransactions.test.ts
Due: run-job-no-ops

Created local snmpd instance deployment in docker for BTO and Kind cluster.
  install-local/install-local-external-minion-test/docker-compose.yml
  install-local/install-local-external-minion-test/snmpd.conf
  install-local/install-local-snmpd-device.yaml
Due: none

HS-1007 Add tags search/add mock
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/components/Discovery/discovery.text.ts
  ui/src/containers/Discovery.vue
  ui/src/graphql/Tag/tagsByNodeIdQuery.gql
  ui/src/store/Queries/appliancesQueries.ts
  ui/src/store/Queries/discoveryQueries.ts
  ui/src/types/graphql.ts
Due: run-job-no-ops

HS-980 - add constants and add the component to layout
  ui/src/components/Discovery/DiscoveryTypeSelector.vue
  ui/src/components/Discovery/discovery.text.ts
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

Azure form changes for new designs
  ui/src/components/Discovery/AzureForm.vue
  ui/src/components/Discovery/discovery.text.ts
  ui/src/store/Views/discoveryStore.ts
Due: run-job-no-ops

HS-953 - small fixes and merge main layout
  ui/src/components/Discovery/EditDiscovery.vue
  ui/src/components/Discovery/LocationsAutocomplete.vue
Due: run-job-no-ops

HS-953 - remove mock values
  ui/src/components/Discovery/LocationsAutocomplete.vue
Due: run-job-no-ops

HS-953 - remove parameter
  ui/src/components/Discovery/EditDiscovery.vue
Due: run-job-no-ops

gRPC endpoints for initial discovery and snmp config
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/DiscoveryConfigGrpcService.java
  inventory/src/main/java/org/opennms/horizon/inventory/grpc/GrpcConfig.java
  inventory/src/main/java/org/opennms/horizon/inventory/service/DiscoveryConfigService.java
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/DiscoveryConfigGrpcItTest.java
  inventory/src/test/java/org/opennms/horizon/inventory/service/DiscoveryConfigServiceTest.java
  shared-lib/inventory/src/main/proto/discovery.proto
Due: none

clean code
  inventory/src/test/java/org/opennms/horizon/inventory/grpc/DiscoveryConfigGrpcItTest.java
Due: none

HS-953 - fix double value
  ui/src/components/Discovery/LocationsAutocomplete.vue
Due: run-job-no-ops

HS-1007 Create a generic autocomplete component
  ui/src/components/Discovery/DiscoveryAutocomplete.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/store/Queries/discoveryQueries.ts
Due: run-job-no-ops

HS-1007 Add generic autocomplete component
  ui/src/components/Discovery/DiscoveryAutocomplete.vue
  ui/src/components/Discovery/DiscoverySyslogSNMPTrapsForm.vue
  ui/src/store/Queries/discoveryQueries.ts
Due: run-job-no-ops

HS-1020 - rename form, add to layout
  ui/src/components/Discovery/DiscoverySnmpForm.vue
  ui/src/components/Discovery/EditDiscovery.vue
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

add discovery modal & options
  ui/src/components/Discovery/AzureForm.vue
  ui/src/components/Discovery/DiscoverySuccessModal.vue
  ui/src/components/Discovery/discovery.text.ts
Due: run-job-no-ops

add form to discovery, locations select
  ui/src/components/Discovery/AzureForm.vue
  ui/src/components/Discovery/LocationsAutocomplete.vue
  ui/src/containers/Discovery.vue
Due: run-job-no-ops

add missing header check icon
  ui/src/components/Discovery/AzureForm.vue
  ui/src/components/Discovery/DiscoverySuccessModal.vue
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
